/* .sub04_1_3_2 */
.sub04_1_3_2 .input_form li + li {
    margin-top: clamp(1.7rem, 1.823vw, 3.5rem);
}
.sub04_1_3_2 .table_layout_wrap {
    margin-top: clamp(5rem, 5.2084vw, 10rem);
}
.sub04_1_3_2 .table_layout_wrap .table_body .is_data {
    height: 8rem;
}
.sub04_1_3_2 .table_layout_wrap .table_body .isnt_data {
    height: 13rem;
    position: relative;
}
.sub04_1_3_2 .table_layout_wrap .table_body .isnt_data:after {
    content: '';
    display: block;
    background-color: #e0e0e0;
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
    height: 1px;
}
.sub04_1_3_2 .pagination_wrap {
    margin: 5rem 0 0;
}

/* .sub04_1_3_1 */
.step_cont_wrap {
    display: flex;
    gap: 6rem;
    max-width: 140rem;
    margin: 0 auto;
}
.step_cont_wrap .step_cont + .step_cont::before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../../../../img/cms/common/ic_arrow_right_defult_gray2.webp) no-repeat center / 1.8rem;
    left: -4.5rem;
    top: 50%;
    transform: translateY(-50%);
}
.step_cont_wrap .step_cont {
    justify-content: space-between;
    position: relative;
    width: 23rem;
    height: 34rem;
    border-radius: 2rem;
    background-color: #fff;
    padding: 4rem 2.5rem 6rem;
    gap: .4rem;
}
.step_cont_wrap .step_cont .img_box {
    border-radius: 50%;
}
.step_cont_wrap .step_cont.n1.act {
    background-color: #667696;
}
.step_cont_wrap .step_cont.n2.act {
    background-color: #ffc50f;
}
.step_cont_wrap .step_cont.n3.act {
    background-color: #a336b0;
}
.step_cont_wrap .step_cont.n4.act {
    background-color: #0064dd;
}
.step_cont_wrap .step_cont.n5.act {
    background-color: #1c0bde;
}
.step_cont_wrap .step_cont.act .num {
    color: #fff;
}
.step_cont_wrap .step_cont.act .txt {
    color: #fff;
    font-size: 2rem;
    margin-top: 1rem;
}
.step_cont_wrap .step_cont.act .img_box {
    background-color: #fff;
}
.step_cont_wrap .step_cont.act .img_box img {
    transform: scale(.93);
}
.sub04_1_3_1 .table_layout_wrap .table_body .is_data {
    height: 13rem;
}
.sub04_1_3_1 .t_box {
    margin: 0 3rem 10rem;
}
@media screen and (max-width: 1024px) {
    .step_cont_wrap {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 768px) {
    .step_cont_wrap {
        gap: 1.5rem 2.5rem;
    }
    .step_cont_wrap .step_cont {
        width: 26%;
        height: auto;
        padding: 2rem 1.5rem;
    }
    .step_cont_wrap .step_cont + .step_cont::before {
        left: -1.8rem;
        width: 1.1rem;
        height: 1.1rem;
        background-size: contain;
    }
    .step_cont_wrap .step_cont .num {
        font-size: 1.1rem;
    }
    .step_cont_wrap .step_cont .img_box {
        display: none;
    }
    .step_cont_wrap .step_cont.act .txt,
    .step_cont_wrap .step_cont .txt {
        font-size: 1.8rem;
        margin-top: 0;
    }
    .sub04_1_3_1 .t_box {
        margin: 0 1.5rem 5rem;
    }
}