.mypage_wrap.ver2 .page_title_box{
    background-color: #fcd9c3;
}
.mypage_wrap.ver3 .page_title_box{
    background-color: #f8ecf9;
}

.mypage_wrap.ver3 .tab_menu li.on a::before {
    background-color: #a336b0;
}
.mypage_wrap.ver4 .page_title_box{
    background-color: #dff9f2;
}

.mypage_wrap.ver4 .tab_menu li.on a::before {
    background-color: #23c197;
}

.white_box {
    background-color: #fff;
    box-shadow: var(--boxShadow01);
    border-radius: 3rem;
}
.btn_popup_wrap {
    background-color: transparent;
}
.required_label > span,
.required_label .input_subject{
    padding-left: 1.5rem;
}
.required_label > span:not(.calender_mouse,.password_mouse):before,
.required_label .input_subject::before  {
    content: '*';
    color: var(--mainColor);
    position: absolute;
    top: 0.5rem;
    left: 0;
}
.required_label > span.reset_btn:before {
    content: '';
}
.form_num_tit,
.corp_finance,
.service_chc_tit {
    position: relative;
    display: block;
    font-size: clamp(1.5rem, 1.1459vw, 2.2rem);
    font-weight: 500;
    color: #222;
    margin-bottom: 1.3rem;
    padding-left: 1.5rem;
}

.service_chc_tit {
    padding-left: 0;
}

.form_num_tit::before,
.corp_finance::before {
    content: '*';
    color: var(--mainColor);
    position: absolute;
    top: 0.5rem;
    left: 0;
}


.request_box li.type02 {
    margin-top: 2rem;
}
.request_box li + li {
    margin-top: clamp(1.7rem, 1.823vw, 3.5rem);
}
.request_box li.head_table {
    margin-bottom: 5rem;
}
.request_box li + .table_box {
    margin-top: 4rem;
}
.label02 {
    flex-direction: column;
}
.label02 > span:not(.ic_hover_box,.calender_mouse,.f_c,.password_mouse) {
    position: relative;
    display: block;
    font-size: clamp(1.5rem, 1.1459vw, 2.2rem);
    font-weight: 500;
    color: #222;
    margin-bottom: 1rem;
}
.label02 + .btn{
    margin-left: 1rem;
}
.sub_wrap .page_title_box .page_title {
    font-size: 5.4rem;
}
.mypage_wrap .page_title_box {
    position: relative;
    background-color: #fcd9c3;
}
.mypage_wrap.type02 .page_title_box {
    background-color: #fff0c2;
}
.mypage_wrap .page_title_box .img_bg {
    position: absolute;
}
.mypage_wrap .page_title_box .img_bg.n1 {
    right: clamp(15rem, 11.9272vw, 22.9rem);
    bottom: 0;
    width: clamp(20rem, 21.3022vw, 40.9rem);
    left: unset;
}
.mypage_wrap .page_title_box .img_bg.n2 {
    left: clamp(21rem ,16.3022vw, 31.3rem);
    width: clamp(12rem, 10.4689vw, 20.1rem);
    bottom: 0;
}
.gray_txt_box .main_color {
    font-weight: normal;
}
/* 이용기관 정보 조회 */
.mypage_wrap .page_title_box .type01.img_bg.n1 {
    right: clamp(13.8rem, 10.9272vw, 21.8rem);
    width: clamp(35.2rem, 27.1876vw, 52.2rem);
}
.mypage_wrap .page_title_box .type02.img_bg.n1 {
    right: clamp(8rem, 6.9793vw, 13.4rem);
    width: clamp(34.2rem, 27.1876vw, 52.2rem);
}
.mypage_wrap .sub04_page {
    padding-bottom: 17rem;
    margin: 0 3rem;
}
.mypage_wrap .sub04_page .cont_wrap {
    max-width: 111.4rem;
    margin: 0 auto;
    padding: 7rem 13rem 8rem;
}
.mypage_wrap .sub04_page .cont_wrap.type02 {
    max-width: 140rem;
    padding: 7rem 8rem;
}
.search_condition .btn03{
    margin: 4rem auto 0;
}
.input_form .btn.address_find{
    color: #fff;
    border-radius: 1rem;
}
.btn_popup_wrap .tit_box {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #000;
}
/* 토글 컨텐츠 */
.toggle_box .toggle_tit {
    cursor: pointer;
    border-bottom: 1.5px solid #000;
    padding: 1.5rem 0;
}
.toggle_box .toggle_tit .title1 {
    gap: 1rem;
}
.toggle_box .toggle_tit .title1 span {
    font-size: 1.6rem;
    font-weight: normal;
}
.toggle_box .toggle_tit .title1 > span {
    color: #616161;
}
.toggle_box .toggle_tit .title1 label {
    margin-left: 1rem;
}
.toggle_box .toggle_tit .title1 .main_color {
    margin-right: .3rem;
    font-weight: 500;
}
.toggle_box .toggle_tit.on .toggle_arr .open,
.toggle_box .toggle_tit .toggle_arr .close {
    display: none;
}
.toggle_box .toggle_tit .toggle_arr .open,
.toggle_box .toggle_tit.on .toggle_arr .close {
    display: block;
}

.sub04_2_2 .toggle_contents_wrap {
    margin-top: 0;
}

/* 납부자 번호 체계 테이블 스타일 */
.input_form input[type=text].input_txt_type03 {
    width: 20rem;
    height: 3.6rem;
    border-radius: .5rem;
    padding: 0 1.5rem;
    font-size: 1.6rem;
}
.radio_box {
    gap: 2rem;
}
.radio_box label {
    cursor: pointer;
}
input[type="radio"]+span::before {
    content: '';
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    /* border: 1px solid #e0e0e0; */
    /* background: url(../../../../img/cms/sub/sub04/ic_radio_off.png) no-repeat center / cover; */
    transition: all 0.5s;
    box-sizing: border-box;
    margin-right: 0.9rem;
}
input[type="radio"]:checked+span::before {
    border-color: transparent;
    background: url(../../../../img/cms/sub/sub04/ic_radio_on.webp) no-repeat center / cover;
}
.table_layout_wrap {
    justify-content: flex-end;
    margin-top: 3.2rem;
    flex-direction: column;
    gap: 0.8rem;
}
.input_form .radio_box {
    margin-top: 0;
    justify-content: center;
}
.input_form label + label {
    margin-left: 0;
}
.input_form .table_layout td {
    padding: 1.2rem 0;
}
/* 231214 뮤자인 태일 게시판 구조 통일 start */
.board_list.input_form .table_layout td{
    padding: 0
}
.mypage_wrap .sub04_page .sec01 .board_list .white_box{
    padding: 6rem 6rem 8rem;
}
/* 231214 뮤자인 태일 게시판 구조 통일 end */

.input_form .table_layout .Inter {
    font-weight: bold;
}
.input_form .table_layout .n4 {
    padding: 1.2rem;
}
.input_form .table_layout .n4 .input_txt_type03 {
    width: 13.2rem;
}
.input_form .table_layout .n4 label {
    gap: .3rem;
    color: #616161;
}
.input_form .table_layout .n5 label {
    gap: .7rem;
}
.input_form .table_layout .n5 label .reset_btn {
    background-color: #000;
    border-radius: .5rem;
    color: #fff;
    font-size: 1.2rem;
    width: 6.8rem;
    height: 3.2rem;
    line-height: 3.2rem;
    cursor: pointer;
    padding-left: unset;
}

.sub04_2_1 .pagination_wrap,
.sub04_1_4 .pagination_wrap {
    margin-top: 5rem;
    margin-bottom: 0;
}

/* 뮤자인 태일 sub04 공통 */

.sub04_page #com_name.input_txt_type02,
.sub04_page #co_address01.input_txt_type02{
    width: 34rem;
}

.input_form li:not(.toggle_box) fieldset:not(.search_condition){
    margin-top: 4rem;
}
.toggle_btn,
.field_title + ul,
.request_box{margin: 0;}

.btn_box{
    margin-top: 10rem;
    width: 100%;
}
/* .btn_box.type02 {
    margin-top: 1rem;
} */
.request_box {
    margin: 4.5rem 0 0;
}
.toggle_contents_wrap:last-child .request_box{
    margin-bottom: 0;
}
.toggle_contents {
    border-bottom: none;
}
/* .toggle_btn.f_fs {
    align-items: center;
    gap: 2rem;
} */
.toggle_btn span:not(.f_c,.require_mark) {
    padding-top: 0.7rem;
    margin-left: 0.7rem;
    display: inline-block;
    vertical-align: top;
}
/* .toggle_btn span > .main_color {
    padding: 0;
    margin: 0;
} */
.toggle_btn .info_copy {
    margin-left: 3rem;
  }
  
.toggle_btn .info_copy span.f_c {
    display: flex;
  }

.toggle_btn span {
    font-size: 1.6rem;
    font-weight: normal;
}

.cont_wrap.type02 .input_form li fieldset {
    margin-top: 0;
}
.cont_wrap.type02 .field_title {
    padding-top: 0;
}
.tab_menu li a {
    font-size: clamp(1.8rem, 1.1459vw, 2rem);
}

/* 에러코드 */
.form_error {
    color: #D8250E;
    margin-top: 1rem;
}
.form_error.active {
    display: block;
}
.form_error.active.f_c {
    display: flex;
}
.mypage_wrap .sub04_page .sec01 .white_box {
    padding: 4rem 3.2rem;
}
.mypage_wrap .sub04_page .sec01 .txt_box + .txt_box {
    margin-top: 3rem;
}
.mypage_wrap .sub04_page .sec01 .txt_box .sub_tit {
    color: #2588ff;
    font-weight: 500;
    margin-bottom: .8rem;
}

/* 종 텍스트 박스 및 체크 텍스트 박스 */
.mypage_wrap .sub04_page .bell_txt_box {
    padding: 2.2rem 2.8rem;
    margin: 0 auto 1.4rem;
    background-color: #f2f4f8;
    border-radius: 1rem;
}
.mypage_wrap .sub04_page .bell_txt_box p {
    color: #616161;
}
.mypage_wrap .sub04_page .bell_txt_box p::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.5rem;
    background: url(../../../../img/cms/sub/sub04/ic_cms_guide.webp) no-repeat center / cover;
}
/* 벨 텍스트 박스 스타일 2번째 */
.mypage_wrap .sub04_page .bell_txt_box.type02 {
    text-align: center;
}
.mypage_wrap .sub04_page .bell_txt_box.type02 p::before{
    display: none;
}
/* 벨 텍스트 박스 스타일 3번째 */
.mypage_wrap .sub04_page .bell_txt_box.type03 {
    width: fit-content;
    padding: 2.2rem 6rem;
    background: #fdeae7;
}

.mypage_wrap .sub04_page .bell_info_txt_box {
    padding: 2.2rem 3rem;
    margin: 0 auto 5.6rem;
    background-color: var(--lightBlue);
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
}

.mypage_wrap .sub04_page .bell_info_txt_box.type02 {
    margin: 0;
}

.mypage_wrap .sub04_page .bell_txt_box.type03 p::before {
    background: url(../../../../img/cms/sub/sub04/ic_cms\ guide.webp) no-repeat center / cover;
}

.mypage_wrap .sub04_page .bell_txt_box.type03 p {
   color: #d8250e;
   font-size: 1.8rem;
   font-weight: 500;
}

.mypage_wrap .sub04_page .bell_info_txt_box dd {
    color: #666;
}

.mypage_wrap .sub04_page .bell_info_txt_box dd:not(:last-of-type) {
    margin-bottom: 0.8rem;
}
.mypage_wrap .sub04_page .bell_info_txt_box dd::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.5rem;
    background: url(../../../../img/cms/sub/login/ic_check_blue.webp) no-repeat center / cover;
}

/* 셀렉트 박스 */
.select02 {
    width: 49rem;
    height: 6rem;
    background-color: transparent;
    border: 1px solid #000;
    justify-content: space-between;
    padding: 0 2rem;
    color: #000;
    font-size: 1.8rem;
    margin: 0;
}
.select02 option{
    font-size: 1.4rem;
}

.select02.on {
    border: 1px solid #000;
}
.select02 .fake_selected {
    font-size: 1.8rem;
}
.select02 .select_box .select_box_inner li {
    font-size: 1.8rem;
    padding: 0.5rem 0 0.5rem 2.4rem;
}
.select02.type02 .select_box .select_box_inner li {
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: 1.4rem;
    color: #222;
}
/* 조회버튼 */
.btn_box  {
    margin-top: clamp(5rem, 5.2084vw, 10rem);
}

/* 테이블 내 파랑 빨강 텍스트 */
.is_data .color_txt {
    color: var(--mainColor);
}
.is_data.type02 .color_txt {
    color: var(--errorColor);
}
.table_layout.mo + .table_layout {
    margin-top: 4.8rem;
}
.table_layout.mo .table_body th,
.table_layout.mo tfoot th {
    color: #222;    
    font-weight: normal;
}
.table_layout.mo .table_body tr,
.table_layout.mo tfoot tr {
    height: 4rem;
}
.table_layout.mo .table_body tr.mo_hei {
    height: 6.2rem;
}
.table_layout.mo .table_body tr td {
    font-weight: 500;
}
.table_layout.mo .table_body tr td.request_txt {
    font-weight: bold;
}
.table_layout.mo colgroup + .table_body tr:first-child td::before {
    width: 100%;
    height: 1px;
    top: 0;
}
/* .table_layout.mo tfoot > tr::before {
    content: '';
    display: block;
} */
.table_layout.mo tfoot {
    margin-top: 3.4rem;
    height: 5rem;
}
.table_layout.mo tfoot .foot_tit {
    font-size: 1.6rem;
    font-weight: 500;
}
.table_layout.mo tfoot tr th::after {
    content: '';
    display: block;
    background-color: #fafafa;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    right: 2.5px;
    bottom: 2.5px;
    border-radius: .5rem;
    z-index: -1;
}
.service_cont_box {
    margin-top: 7.5rem;
}
.service_cont_wrap {
    display: none;
}
.service_cont_wrap.active {
    display: block;
}
.logo_wrap {
    margin-top: 10rem;
}
.input_form .table_layout.n2 td {
    height: 8rem;
}
.input_form .table_layout td.txt_left {
    text-align: left;
    padding: 1.2rem 1.4rem;
}
.sub04_1_4 .input_form .radio_box,
.sub04_1_8 .input_form .radio_box {
    justify-content: flex-start;
    gap: 6.8rem
}
/* 스크롤 박스 */
.scroll {
    max-height: 52rem;
    overflow: auto;
    padding-right: 1rem;
}
.scroll::-webkit-scrollbar-thumb {
    background: #dfe2e9;
    border-radius: 5rem;
}
.scroll::-webkit-scrollbar {
    width: .4rem;
}
/* white box 상단 블루 버튼 */
.mypage_wrap .sub04_page .change_btn_box {
    max-width: 140rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2rem;
}
.mypage_wrap .sub04_page .change_btn_box a + a {
    margin-left: 1.2rem;
}
.gray_txt_box02 {
    padding: 1rem 0 0 3rem;
}
.gray_txt_box02 span {
    font-weight: bold;
}
.gray_txt_box02::before {
    top: 1rem;
    left: 0;
}

.sub04_page .tab_menu2 {
    padding-top: 3.3rem;
    margin-bottom: 6rem;
}
.sub04_page .tab_menu2 li a{
    font-size: inherit;
    color: inherit;
}

.sub04_3_2 .pagination_wrap,
.sub04_3_3_1 .pagination_wrap {
    margin:5rem 0 4rem;
}
@media screen and (max-width:1024px) {
    .mypage_wrap .sub04_page {
        margin: 0;
        padding-bottom: 10rem;
    }
    .mypage_wrap .sub04_page .bell_txt_box.type02 p{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }
    .mypage_wrap .sub04_page .bell_txt_box.type02 p img{
        padding-right: 1rem;
    }
    .mypage_wrap .sub04_page .cont_wrap.type02 {
        margin: 0 3rem;
        padding: 4rem 2.6rem;
    }
    .mypage_wrap .sub04_page .change_btn_box {
        margin: 0 3rem 2rem 3rem;
    }
    .mypage_wrap .page_title_box .img_bg.n1 {
        right: auto;
        width: 32.1rem;
    }
    .mypage_wrap .page_title_box .img_bg.n2 {
        display: none;
    }
    .sub04_page #com_name.input_txt_type02,
    .sub04_page #co_address01.input_txt_type02,
    .input_txt_type02 {
        width: 39rem;
    }
    
}
@media screen and (max-width:768px) {
    .toggle_btn span:not(.f_c){
        padding-top: 0.5rem;
    }
    .request_box{
        margin: 2rem 0 0;
    }
    .label02 {
        width: 100%;
    }
    .calender_wrap .label02 {
        width: auto;
    }
    .tab_menu li a {
        font-size: 1.2rem;
    }
    .mypage_wrap .sub04_page {
        padding-top: 3.2rem;
    }    
    .mypage_wrap .sub04_page .bell_txt_box{
        text-align: left;
    }
    .mypage_wrap .sub04_page .bell_txt_box p{
        font-size: 1.2rem !important;
    }
    .mypage_wrap .sub04_page .cont_wrap.type02 {
        margin: 0 1.5rem;
        padding: 2rem 1.3rem 4.4rem;
    }
    .mypage_wrap .sub04_page .change_btn_box {
        margin: 0 1.5rem 1.5rem 1.5rem;
    }
    .input_txt_type02 {
        width: 100%;
    }
    .calender_label span img {
        width: 60%;
        margin: -0.7rem 0 0 1rem;
    }
    .calender_label .calender_mouse {
        bottom: 0.3rem;
        right: 0.5rem;
    }
    .input_form label + label, .input_form .radio_box li + li {
        margin: 0;
    }
    .input_form .input_box {
        width: 100%;
    }
    .btn_popup_wrap .btn_popup.print {
        width: 15rem;
    }
    .btn_box {
        margin-top: 3.4rem;
    }
    .sub04_page #com_name.input_txt_type02,
    .sub04_page #co_address01.input_txt_type02{
        width: 100%;
    }
    .mypage_wrap .sub04_page .bell_txt_box.type03 {
        padding: 2rem;
        margin-bottom: 5rem;
    }
    .mypage_wrap .sub04_page .bell_txt_box p::before {
        height: 2rem;
    }

    .table_layout.mo {
        margin-right: 1.3rem;
        width: calc(100% - 1.3rem);
    }
    .cont_inner {
        height: 100%;
    }
    .mypage_wrap .sub04_page .cont_wrap .section .tit_box {
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      margin-right: 1.3rem;
    }
    /* 스크롤 박스 */
    .scroll {
        max-height: 30rem;
        padding-right: 0;
    }
    .scroll::-webkit-scrollbar {
        height: 0.4rem;
    }
    /* 데이트 피커 반응형 */
    #ui-datepicker-div {
        width: 30rem;
        border-radius: 1rem;
        padding-bottom: 1rem;
    }
    #ui-datepicker-div .ui-datepicker-header {
        padding: 1.2rem 1.6rem;
    }
    #ui-datepicker-div .ui-datepicker-header .ui-datepicker-year {
        width: 9rem;
    }
    #ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
        display: flex;
        align-items: center;
    }
    #ui-datepicker-div .ui-datepicker-header .ui-datepicker-month {
        width: 9rem;
        margin: 0 1rem 0 0.5rem;
    }
    #ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev span {
        margin-left: 0.2rem;
    }
    .ui-datepicker-calender td .ui-state-default {
        font-size: 1.4rem;
        height: 3.8rem;
        line-height: 3.8rem;
        width: 3.8rem;
    }
}
@media screen and (max-width:500px) {
    .label02,
    .calender_wrap .label02 {
        width: 100%;
    }

    .sub04_1_8 .label02 {
        width: 90%;
    }
    .input_form .calender_wrap {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.6rem;
    }
    .sub04_1_4 .input_form .radio_box,
    .sub04_1_8 .input_form .radio_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1rem;
        column-gap: 0;
    }
    .input_form .calender_wrap > div {
        display: inline-block;
        width: 100%;
    }
    .calender_label,
    .calender_label .calender_box,
    .calender_label .hasDatepicker {
        width: 100%;
    }
    .calender_label .f_c {
        width: 100%;
        display: inline-flex;
    }
    .excel_btn.type03 {
        margin-bottom: 0;
    }
    .mypage_wrap .sub04_page .change_btn_box {
        justify-content: center;
    }
    .change_btn {
        width: 15rem;
        height: 3.2rem;
    }
    .gray_txt_box02 {
        padding: 0.7rem 0 0 2.2rem;
    }
}