/* 실무책임자연락처 */

.sub04_3_4_1 .search_wrap{
    justify-content: space-between;
}
.sub04_3_4_1 .select_sort .select02 + .select02{
    margin-left: 1rem;
}
.sub04_3_4_1 .search_box{
    width: auto;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
}
.sub04_3_4_1 .search_box .label02{
    width: 28.3rem;
    height: 3.6rem;
    background: #fff;
    border: 1px solid #e0e0e0;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
}
.sub04_3_4_1 .search_wrap .search_box .input_txt_type02{
    height: 100%;
}
.sub04_3_4_1 .table_body td a{
    font-weight: 500;
}
.sub04_3_4_1 .pagination_wrap{
    margin: 5rem auto 0;
}

.sub04_3_4_2 .field_title{
    margin-bottom: 2.5rem;
}
.sub04_3_4_2 .table_body tr{
    height: auto;
}
.sub04_3_4_2 .table_body td{
    height: 7rem;
}
.sub04_3_4_2 .btn.btn04{
    margin: 7rem auto 0;
}
