
.star_txt {
    margin-left: 1.4rem;
    padding-left: 1.8rem;
    position: relative;
    font-size: 2.2rem;
    color: #616161;
    font-weight: normal;
}
.star_txt::before {
    content: '*';
    color: #515e78;
    position: absolute;
    left: 0;
    font-size: 2.4rem;
}
.sub04_2_1_1 .link_tr {
    cursor: pointer;
}
.sub04_2_1_1 .request_box {
    margin-top: 4.5rem;
}
.sub04_2_1_1 .toggle_contents {
    border-bottom: none;    
    margin-bottom: 3.5rem;
}
.sub04_2_1_1 .toggle_contents ul:not(.request_box) {
    margin-top: 5rem;
}
.sub04_2_1_1 .toggle_contents .input_subject {
    color: #222;
    font-size: 2.2rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 1.3rem;
}
.sub04_2_1_1 .toggle_contents .chk_box_wrap {
    gap: 7rem;
    padding: 1.5rem 0;
}
.sub04_2_1_1 .toggle_contents .chk_box_wrap label {
    cursor: pointer;
}
.sub04_2_1_1 .toggle_contents ul li + li {
    margin-top: 3.4rem;
}
.sub04_2_1_1 .input_box em {
    margin-left: -4rem;
}
.sub04_2_1_1 .label02 > span:not(.ic_hover_box,.calender_mouse,.input_box) {
    margin-bottom: 1.4rem;
}