@charset "utf-8";
/* 뮤자인 태일 */
/* sub04_1_1 */
.mypage_wrap .sub04_1_1{
    padding: 6.5rem 0 17rem;
}
.mypage_wrap .sub04_1_1 .cont_wrap{
    max-width: 140rem;
    padding: 7rem 8rem 8rem;
}
.sub04_1_1 .sec01 .table_layout_wrap{
    margin-top: 0;
}
.sub04_1_1 .alert_box{
    max-width: 80rem;
    background-color: #f2f4f8;
    margin-bottom: 7rem;
    color: #616161;
}
.sub04_1_1 .alert_box strong{
    color: var(--black);
}
.mypage_wrap .sub04_1_1 .sec01{
    gap: 2rem;
}
.sub04_1_1 .sec01 .table_layout.mo{
    display: table;
}
.sub04_1_1 .table_layout td{
    height: 7rem;
}

.sub04_1_1 .field_title{
    margin-bottom: 3rem;
}
.sub04_1_1 .request_box{
    margin-top: 0;
}

.sub04_1_1 .account{margin-bottom: 1rem;}
.sub04_1_1 .account .subject{
    width: 13rem;
    height: 3.5rem;
    border-radius: 5px;
    background-color: #f2f4f8;
    margin-right: 1rem;
}
.sub04_1_1 .account .con{
    color: var(--blueGray600);
}

.sub04_1_1 .btn_mini{
    width: 13rem;
    height: 3.5rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--mainColor);
}
.sub04_1_1 .table_layout .btn_mini{
    width: 10rem;
    margin: 1rem auto 0;
}


/* sub04_1_2 */
.sub04_1_2 .toggle_contents_wrap{
    margin-top: 0;
}
.sub04_1_2 .toggle_contents_wrap + .toggle_contents_wrap{
    margin-top: 1.5rem;
}

.sub04_1_2 .request_box{
    margin-bottom: 11rem
}

/* sub04_1_9 */
.sub04_1_9  .section .table_layout.mo,
.sub04_1_10 .section .table_layout.mo{
    display: none;
}

/* sub04_1_10 */
.sub04_1_10 .alert_box2{
    margin-bottom: 7rem;
}
.sub04_1_10 .alert_box2 dt,
.sub04_1_10 .alert_box2 dd,
.sub04_1_10 .alert_box2 dd p{
    color: #666;
}
.sub04_1_10 .dot_txt_box{
    margin-top: 1rem;
}
.sub04_1_10 .alert_box2 dt img{
    margin-right: .5rem;
    width: 2.5rem;

}
.sub04_1_10 .alert_box2 dd p{
    margin-top: .5rem;
}

.sub04_1_10 .toggle_btn{background:none;}
.sub04_1_10 .input_txt_type{
    border: solid 1px #e0e0e0;
    padding: 0 2.5rem;
    border-radius: 5px;
    height: 3.5rem;
    max-width: 26rem;
}
.sub04_1_10 .table_layout  .btn_mini{
    background-color: var(--black);
    width: 5.5rem;
    margin: 0 0 0 1rem;
}



@media screen and (max-width:1024px) {
    .mypage_wrap .sub04_1_1 {
        padding: 3.2rem 0 10rem;
    }
    .mypage_wrap .sub04_1_1 .sec01{
        flex-direction: column;
    }

    .sub04_1_10 .input_box label{
        width: 70%;
    }
    .sub04_1_10 .input_txt_type{
        width: 100%;
    }
    
}
@media screen and (max-width:768px) {
    .sub04_1_1 .alert_box{
        width: auto;
        margin: 0 2rem 3rem;
        max-width: none;
    }
    .sub04_1_1 .field_title {
        margin-bottom: 2rem;
    }
    .sub04_1_1 .sec01 .table_layout_wrap:first-child{
        margin-top: 0;
    }
    .sub04_1_1 .table_layout td {
        height: 4rem;
    }
    .sub04_1_1 .table_layout .btn.mo{
        display: flex;
    }
    .sub04_1_1 .btn_mini{
        border-radius: .5rem;
        font-size: 1.2rem;
        width: auto;
        height: 2.5rem;
        padding: 0 2rem;
    }
    .sub04_1_1 .table_layout .btn_mini{
        width: 5rem;
    }
    .sub04_1_2 .request_box{
        margin-bottom: 5rem;
    }

    /* sub04_1_2 */
    .mypage_wrap .sub04_page .cont_wrap{
        padding: 3rem 2rem 5rem;
        margin: 0 2rem;
    }


    /* sub04_1_9 */
    .sub04_1_9  .section .table_layout.mo,
    .sub04_1_10 .section .table_layout.mo{
        display: table;
    }

    /* sub04_1_10 */
    .sub04_1_10 .alert_box2{
        padding: 3rem 2rem;
    }
    .sub04_1_10 .input_box{
        flex-direction: column;
        padding: 0.5rem 0;
    }
    .sub04_1_10 .input_box label{
        width: 80%;
    }
    .sub04_1_10 .table_layout .btn_mini{
        width: 80%;
        margin: .5rem 0 0;
    }
}