/* sub04_1_7 */
.toggle_contents_wrap {
    margin-top: 0;
}
.request_box .input_subject {
    color: #222;
    font-size: 2.2rem;
    font-weight: 500;
    position: relative;
}
.request_box .input_subject + .radio_box {
    margin-top: 2.1rem;
}
.request_box .radio_box.type02 {
    gap: 2.6rem;
    margin-top: 1.4rem;
}
.radio_box.type02 input[type="radio"]+span::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.5rem;
    border: 1px solid #e0e0e0;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-right: 0.8rem;
}
.radio_box.type02 input[type="radio"]:checked+span::before {
    border-color: transparent;
    background: url(../../../../img/cms/common/ic_checkbox_pc.webp) no-repeat center / cover;
}
.radio_box.f_d_c {
    gap: 1rem;
}
.radio_box.f_d_c .t_box {
    gap: 1rem;
}
.radio_box.f_d_c .b_box {
    gap: 1.3rem;
    width: 100%;
}
.radio_box.f_d_c label + label {
    margin-left: 1.6rem;
}
.input_form .radio_box input[type=text].direct_input,
.input_form .radio_box input[type=text]:disabled {
    width: 28.3rem;
    height: 3.6rem;
    font-size: 1.4rem;
    padding: 0 1rem;
    border-radius: .5rem;
}
.page_contents .agree_box {
    padding-top: 2.3rem;
}
.page_contents .agree_box .sub_tit {
    font-size: 2.4rem;
    font-weight: 500;
    border-top: 1px solid rgba(183, 183, 183, 0.5);
    padding: 2rem 0 3.4rem;
}
.page_contents .request_box .agree_box .white_box {
    padding: 4rem 5.3rem;
}
.page_contents .agree_box .dot_txt_box p {
    font-size: 1.6rem;
    color: #666;
}
.page_contents .agree_box .dot_txt_box p::before {
    width: .6rem;
    height: .6rem;
    background: #515e78;
    top: 1.1rem;
}
.page_contents .agree_box .dot_txt_box p + p {
    margin-top: 1rem;
}
.page_contents .agree_box .radio_box {
    margin-top: 5rem;
}
.page_contents .table_box .t_box > .sub_tit {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 1rem 0 3.4rem;
}
.page_contents .table_box .b_box {
    margin-top: 4rem;
}
.sub04_1_7 .toggle_contents .gray_txt {
    margin-top: 3rem;
    color: #757575;
}