.calender_label .hasDatepicker {
    position: relative;
}
.calender_label .f_c {
    gap: 1.6rem;
}
/* .mypage_wrap .sub04_page .cont_wrap .section .tit_box {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #000;
} */
.table_layout_wrap {
    justify-content: flex-end;
    margin-top: 3.2rem;
    flex-direction: column;
    gap: .8rem;
}
.table_layout_wrap .table_body tr {
    height: 8rem;
}
.table_layout_wrap .table_body .isnt_data td {
    color: #616161;
}
.sub04_2_3_1:not(.sub04_2_3_2) .table_layout_wrap .excel_btn_box {
    width: 100%;
}
.ic_hover_box .info_pop_cont {
    right: 52.8rem;
}