/* 마이페이지 */
.sec_title {
    text-align: center;
}
.stage_box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 3.3rem 6.5rem;
    margin-top: 2rem;
}
.stage_box li {
    height: 35.5rem;
    position: relative;
    box-shadow: var(--boxShadow01);
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem 7rem 0;
}
.stage_box li::after {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../../../../img/cms/common/ic_arrow_right_defult_gray2.webp) no-repeat center / 1.8rem;
    right: -15%;
    top: 50%;
    transform: translateY(-50%);
}
.stage_box li:last-child::after {
    display: none;
}
.stage_box li .step,
.stage_box li .txt {
    font-size: 1.8rem;
    font-weight: 500;
    color: #222;
}
.stage_box .n1 .img_box {margin: 3.6rem 0 2.6rem}
.stage_box .n2 .img_box {margin: 3.1rem 0 3.6rem}
.stage_box .n3 .img_box {margin: 3.8rem 0}
.stage_box .n4 .img_box {margin: 4.6rem 0 3.8rem}
.stage_box .n5 .img_box {margin: 5.1rem 0 3.1rem}
.stage_box .n6 .img_box {margin: 5rem 0 2.8rem}
.stage_box .n7 .img_box {margin: 4.7rem 0 1.9rem}
.stage_box .n8 .img_box {margin: 4.2rem 0 2.9rem}
.sub04_1_6_5 .page_contents {
    max-width: 140rem;
    margin: 0 auto;
}
.sub04_1_6_5 .page_contents .tab_menu_wrap {
    margin-bottom: 8.8rem;
}
.sub04_1_6_5 .page_contents .tab_menu2 {
    margin-bottom: 13.8rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 {
    margin-top: 11rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .sec_title {
    padding-bottom: .8rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .sub_title1 {
    text-align: center;
    margin-top: .8rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .white_box {
    margin-top: 4rem;
    padding: 5.8rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body .line {
    height: 10rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body .line1,
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body .line4 {
    height: 13rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body .line2 {
    height: 16rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body .line td:first-child {
    font-weight: 500;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body .dot_txt_box {
    text-align: left;
    padding-left: 2rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body .dot_txt_box p {
    color: #222;
    position: relative;
    padding-left: 2.2rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body .dot_txt_box p::before {
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
    top: 1.1rem;
    left: 0.9rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body .main_color {
    font-size: 1.4rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body .dot_txt_box > .main_color {
    display: flex;
    margin-top: .2rem;
    padding-left: 2.8rem;
    text-indent: -0.6rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .table_body p .main_color {
    margin-left: .2rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap .cont.n2 .white_box .gray_txt {
    font-weight: 300;
    letter-spacing: -.07rem;
    font-size: 1.4rem;
    color: #616161;
    margin-top: 2.6rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap.n2 .stage_box {
    display: flex;
    justify-content: center;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap.n2 .stage_box li {
    width: 30rem;
    padding: 3rem 5rem 0;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap.n2 .stage_box .n1 .img_box {
    margin: 2.9rem 0 2.5rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap.n2 .stage_box .n2 .img_box {
    margin: 4.1rem 0 2.4rem;
}
.sub04_1_6_5 .page_contents .tab_cont_wrap.n2 .gray_txt {
    max-width: 66.5rem;
    margin: 2rem auto 0;
    color: #616161;
    font-size: 1.4rem;
}

.sub04_1_6_5 .tab_menu_wrap2 {
    overflow-x: visible;
}

@media screen and (max-width: 1150px) {
    .sub04_1_6_5 .page_contents .tab_cont_wrap {
        padding: 0 2rem;
    }
    .stage_box {
        gap: 7.3rem;
    }
}
@media screen and (max-width: 1024px) {
    .sub04_1_6_5 .page_contents .tab_menu2 {
        display: flex;
    }
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 500px) {
   
}
