/* sub04_2_4 협력사 정보 관리 공통 */
.mypage_wrap .sub04_page .cont_wrap .section .tit_box {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid #000;
}
.mypage_wrap .page_title_box .img_bg.n1 {
    right: clamp(21.8rem, 10.9272vw, 21.8rem);
    width: clamp(52.2rem, 21.3022vw, 40.9rem);
}
.mypage_wrap .page_title_box .img_bg.n2 {
    /* left: 47.4rem;
    bottom: 0;
    width: clamp(18.1rem, 10.4689vw, 18.1rem); */
}
.mypage_wrap .page_title_box .img_bg.n3 {
    width: 24.2rem;
    left: 40.6rem;
    bottom: 0;
}
.sub04_2_4_2 .input_form {
    margin-top: 4.2rem;
}
.sub04_2_1.sub04_2_4_2 .input_form {
    margin-top: 0;
}
.sub04_2_4_2 .btn_box.save {
    margin-top: 6.8rem;
}
/* 2_2 저장완료(상세) */
.sub04_2_4_2 .white_box {
    max-width: 111rem;
    width: 95%;
    margin: 0 auto;
    padding: 5.6rem 0 6rem;
    flex-direction: column;
}
.sub04_2_4_2.result .result_tit {
    font-size: 3.6rem;
    font-weight: bold;
    letter-spacing: -0.2rem;
    color: #222;
}
.sub04_2_4_2.result .white_box img {
    max-width: 30rem;
    margin-top: 2.5rem;
}

/* 3. 이용기관 변경 */
.sub04_2_4_3 .input_form li:not(:last-child) {
    margin-bottom: 3.35rem;
}
.sub04_2_4_3 .btn.btn03 {
    display: block;
    margin: 6.8rem auto 0 auto;
    background-color: var(--mainColor);
    color: #fff;
}

/* 4 이용기관 상담처리 */
.table_layout_wrap {
    justify-content: flex-end;
    margin-top: 3.2rem;
    flex-direction: column;
    gap: 0.8rem;
}
.scroll {
    width: 100%;
    overflow-x: scroll;
    margin: 0 auto;
}
.section.sec02 .scroll::-webkit-scrollbar {
    height: 0.6rem;
    position: relative;
    margin-right: 1.6rem;
}

.section.sec02 .scroll::-webkit-scrollbar-thumb {
    height: 10%;
    border-radius: 2rem;
    border: none;
    background-color: #515e78;
    background-clip: content-box;
}

.section.sec02 .scroll::-webkit-scrollbar-track {
    width: 1rem;
    background-color: rgba(81, 94, 120, .12);
    position: absolute;
    top: -50rem;
    right: -3rem;
}

.scroll .table_layout {
    width: 190.5rem;
    margin-bottom: 4rem;
}

.table_layout_wrap td {
    height: 10rem;
    z-index: 99999;
}
.table_layout_wrap td.time {
    flex-direction: column;
}
.table_layout_wrap td.time span {
    display: block;
}
.sub04_2_4_4 .section.sec02 {
    margin-top: 4.5rem;
}
.sub04_2_4_4 .btn_popup_wrap {
    background: unset;
    width: auto;
    display: inline-block;
}
.sub04_2_4_4 .btn_popup_wrap .btn_popup {
    width: 2.4rem;
    padding: 0;
}
.sub04_2_4_4 .btn_popup_wrap .btn_popup.act {
    background-color: transparent;
}
.pop_cont.n7 .pop_inner {
    width: 139.6rem;
    top: 53%;
    min-width: unset;
}
.pop_cont.n7 .cont_inner {
    padding: 0 5.8rem 5.8rem 5.8rem;
}
.pop_cont.n7 .table_tit {
    text-align: left;
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: -0.14rem;
    line-height: 1.5;
}
.pop_cont.n7 .table_layout {
    width: 128rem;
    margin-top: 1.5rem;
}
.pop_cont.n7 .table_layout td {
    height: 8rem;
}
.pop_cont_type02.n7 .pop_inner .cont_header::after {
    display: none;
}
.pop_cont.n7 input[type=text] {
    margin: 0 auto;
    width: 106.8rem;
    border-radius: 0.5rem;
    border: solid 1px #e0e0e0;
    padding: 0 1.6rem;
    height: 3.6rem;
    font-size: 1.6rem;
}
.btn_box.send {
    margin: 0;
}
.sub04_2_4_4 .btn_popup_wrap .send a.btn_popup {
    width: 21.6rem;
    background: var(--mainColor);
    color: #fff;
    border-radius: 1rem;
}
.sub04_2_4_4 .input_form {
    margin-top: 0;
}
.sub04_2_4_4 .cont.n3 > span {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    font-weight: 500;
    color: #222;
    margin-bottom: 1.3rem;
}
.sub04_2_4_4 .request_box .select02.on .select_box {
    overflow-x: hidden;
    height: auto;
}
.sub04_2_4_4 .cont_txt {
    display: inline-block;
    width: 80%;
    text-align: left;
}
/* 5 담당자 정보 */
.sub04_2_4_5 .input_form li + li {
    margin-top: 3.35rem;
}
.sub04_2_4_5 .toggle_contents_wrap {
    margin-top: 0;
}
.sub04_2_4_5 .toggle_contents {
    padding-bottom: 10rem;
    border-bottom: unset;
    margin-bottom: 0;
}
.sub04_2_4_5 .toggle_contents:last-of-type {
    padding-bottom: 0;
}
.sub04_2_4_5 .toggle_contents_box:not(:first-child) .toggle_contents {
    margin-bottom: 6.8rem;
}
.sub04_2_4_5 .toggle_contents_wrap .btn_box {
    margin-top: 6.8rem;
}


