.pagination_wrap {
    margin: 5rem 0 0;
}

.sub04_1_8_1 .table_layout_wrap .table_body td .excel_btn_box {
    padding: 0 3rem;
}

.sub04_1_8_1 .ui-datepicker-trigger {
    display: none;
}
.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all {
    color: #9e9e9e;
}
/* 팝업 css */
.sub04_1_8_1 .pop_cont .pop_inner .cont_header {
    padding-bottom: 4.5rem;
}
.sub04_1_8_1 .pop_cont .pop_inner .cont_header .title1 {
    font-size: 2.8rem;
}
.sub04_1_8_1 .pop_cont .pop_inner .cont_header .f_b div:not(.excel_btn_box) {
    width: 13rem;
}
.sub04_1_8_1 #popup03 .pop_inner .cont_header .excel_btn{
    margin-right: 1.2rem;
}
.sub04_1_8_1 .pop_cont .table_layout tr.type01 {
    height: 6.5rem;
}
.sub04_1_8_1 .pop_cont .table_layout tr.type02 {
    height: 8rem;
}
.sub04_1_8_1 .pop_cont .table_layout tr.type03 {
    height: 10rem;
}
.sub04_1_8_1 .pop_cont .table_layout tr.type04 {
    height: 16rem;
}
.sub04_1_8_1 .pop_cont .logo_wrap {
    margin-top: 6.6rem;
}
/* 팝업 01 - CMS 이용요금 청구서 */
.sub04_1_8_1 .pop_cont:not(.n2) .tit_box{
    padding: 1.5rem 0;
    border-bottom: 1.5px solid #000;
}
.sub04_1_8_1 .pop_cont.n1 .table_layout .table_body .dep2_th {
    height: 6.5rem;
}
.sub04_1_8_1 .pop_cont.n1 .table_layout .table_body td {
    font-weight: 500;
}
.sub04_1_8_1 .pop_cont .table_layout .table_body .txt_left {
    text-align: left;
    padding-left: 2.5rem;
}
.sub04_1_8_1 .pop_cont.n1 .table_layout .table_body .gray_txt {
    color: var(--blueGray600);
}
.sub04_1_8_1 .pop_cont.n1 .table_layout .table_body td .btn_popup {
    margin: 0 auto;
    padding: 0.3rem 2rem;
    background-color: #222;
    color: #fff;
}
.sub04_1_8_1 .pop_cont.n1 .table_layout_wrap {
    margin-top: 2.4rem;
}
.sub04_1_8_1 .pop_cont.n1 .table_layout_wrap.n1 {
    margin-top: 0;
}
.sub04_1_8_1 .pop_cont.n1 .table_layout_wrap .table_tit {
    font-size: 2.4rem;
    font-weight: 500;
    padding: .4rem 0 2rem;
}
.sub04_1_8_1 .pop_cont.n1 .table_layout th .Inter {
    font-size: 1.6rem;
}
.sub04_1_8_1 .pop_cont.n1 .table_layout th .Inter .num {
    font-size: 1.8rem;
}
.sub04_1_8_1 .pop_cont.n1 .cont + .cont {
    margin-top: 10rem;
}
.sub04_1_8_1 .pop_cont.n1 .cont.n2 .popup_double_wrap {
    margin-top: 3.6rem;
}
.sub04_1_8_1 .pop_cont.n1 .cont.n2 .table_layout_wrap.n2 .table_body th {
    color: #222;
}
/* 팝업 02 - 세금계산서 팝업 */
.sub04_1_8_1 .pop_cont.n2 .pop_inner {
    width: 95%;
    max-width: 96rem;
    min-width: unset;
}
.sub04_1_8_1 .pop_cont.n2 .cont_inner {
    width: 54.4rem;
    margin: 0 auto;
}
.sub04_1_8_1 .pop_cont.n2 .btn_box {
    margin-top: 7rem;
}
.sub04_1_8_1 .pop_cont.n2 .btn_box .btn.n1 ,
.sub04_1_8_1 .pop_cont.n2 .btn_box .btn.n1:hover {
    background-color: #f2f4f8;
    color: var(--blueGray600);
}
.sub04_1_8_1 .pop_cont.n2 .btn_box .btn.n2 {
    width: 27rem;
    background: #0064dd;
    color: #fff;
    margin-left: 1rem;
}

/* 팝업 03 - 송수신내역 */
.sub04_1_8_1 .pop_cont.n3 .cont + .cont {
    margin-top: 6rem;
}
.sub04_1_8_1 .pop_cont.n3 .table_layout_wrap {
    flex-direction: row;
    align-items: stretch;
}
.sub04_1_8_1 .pop_cont.n3 .table_layout_wrap .table_layout .table_head.type02 th.border_bottom {
    vertical-align: middle;
    padding-bottom: 0.4rem;
}
.sub04_1_8_1 .pop_cont.n3 .table_layout_wrap .table_layout .table_head.type02 .ali_top th {
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 2rem;
    height: 5.5rem;
}
.sub04_1_8_1 .pop_cont.n3 .table_layout_wrap .side_tfoot {
    width: 13.39%;
    background-color: #fafafa;
    border-radius: 1rem;
}
.sub04_1_8_1 .pop_cont.n3 .table_layout_wrap .side_tfoot td:not(.dep2_th):after {
    width: 63.86%;
    left: 50%;
    transform: translateX(-50%);
}
/* 팝업 04 - CMS 이용요금조회납부 */
.sub04_1_8_1 .pop_cont.n4 .table_layout_wrap {
    margin-top: 7rem;
}
.sub04_1_8_1 .pop_cont.n4 .table_layout_wrap .tit_box {
    width: 100%;
}
.sub04_1_8_1 .pop_cont.n4 .table_layout_wrap .table_layout {
    margin-top: 2.4rem;
}

/* 팝업 05 - CMS 이용요금 청구서 */
.sub04_1_8_1 .pop_cont.n5 .btn_box,
.sub04_1_8_1 .pop_cont.n6 .btn_box {
    margin-top: 7rem;
}
.dp_monthly .ui-datepicker table{
    display: none;
}


@media screen and (max-width:768px) {
    .table_layout_wrap {
        margin-top: 1.4rem;
    }
    .table_layout .table_head th {
        font-size: 1.3rem;
    }
    .sub04_1_8_1 .pop_cont .pop_inner .cont_header .title1 {
        font-size: 1.8rem;
    }
    .sub04_1_8_1 .pop_cont .logo_wrap {
        margin-top: 5rem;
    }
    .sub04_1_8_1 .pop_cont.n1 .tit_box, 
    .sub04_1_8_1 .pop_cont.n5 .tit_box .title1,
    .sub04_1_8_1 .pop_cont.n6 .tit_box .title1 {
        font-size: 1.7rem;   
    }
    .sub04_1_8_1 .pop_cont.n5 .table_layout_wrap .table_layout.mo + .table_layout {
        margin-top: 3.4rem;
    }
    .sub04_1_8_1 .pop_cont.n1 .tit_box .title1 , 
    .sub04_1_8_1 .pop_cont.n3 .tit_box .title1 , 
    .sub04_1_8_1 .pop_cont.n4 .tit_box .title1 , 
    .sub04_1_8_1 .pop_cont.n5 .tit_box .title1 , 
    .sub04_1_8_1 .pop_cont.n6 .tit_box .title1  {
        font-size: 1.7rem;
    }
    .sub04_1_8_1 .pop_cont.n1 .tit_box, 
    .sub04_1_8_1 .pop_cont.n3 .tit_box, 
    .sub04_1_8_1 .pop_cont.n4 .tit_box, 
    .sub04_1_8_1 .pop_cont.n5 .tit_box, 
    .sub04_1_8_1 .pop_cont.n6 .tit_box {
        padding: 1.1rem 0;
    }
    .sub04_1_8_1 .pop_cont.n5 .btn_box,
    .sub04_1_8_1 .pop_cont.n6 .btn_box {
        margin-top: 3.5rem;
    }
    .popup_cont .cont_header .f_b {
        flex-direction: column;
        text-align: center;
    }
    .popup_cont .cont_header .f_b .excel_btn {
        margin-right: 0;
        margin-top: 1.5rem;
    }
    .sub04_1_8_1 .pop_cont.n1 .cont + .cont {
        margin-top: 5rem;
    }
    .sub04_1_8_1 .pop_cont.n1 .table_layout_wrap {
        margin-top: 2rem;
    }
    .sub04_1_8_1 .pop_cont.n1 .table_layout_wrap .table_tit {
        font-size: 1.5rem;
        font-weight: bold;
        padding: 0 0 1.4rem;
    }
    .table_layout.mo + .table_layout {
        margin-top: 3rem;
    }
    .sub04_1_8_1 .pop_cont.n1 .popup_double_wrap .table_layout_wrap + .table_layout_wrap,
    .sub04_1_8_1 .pop_cont.n1 .popup_double_wrap .table_layout_wrap.n2 .table_layout.mo + .table_layout{
        margin-top: 1.2rem;
    }
    .sub04_1_8_1 .pop_cont.n1 .table_layout th .Inter,
    .sub04_1_8_1 .pop_cont.n1 .table_layout th .Inter .num {
        font-size: 1.3rem;
    }
    .sub04_1_8_1 .pop_cont.n1 .table_layout .table_body td .btn_popup {
        width: 8rem;
    }
    .sub04_1_8_1 .pop_cont.n3 .cont + .cont {
        margin-top: 3rem;
    }
    .sub04_1_8_1 .pop_cont.n3 .table_layout_wrap {
        align-items: flex-end;
        flex-direction: column;
    }
    .sub04_1_8_1 .pop_cont.n3 .table_layout_wrap .table_layout.mo + .table_layout{
        margin-top: .4rem;
    }
    .sub04_1_8_1 .pop_cont.n3 .table_layout tfoot td::before {
        width: 1px;
        height: 2.5rem;
        top: 55% !important;
    }
    .sub04_1_8_1 .pop_cont.n4 .table_layout_wrap {
        margin-top: 5rem;
    }
    .sub04_1_8_1 .pop_cont.n4 .table_layout_wrap .table_layout {
        margin-top: 2rem;
    }

}
@media screen and (max-width:500px) {
    .excel_btn {
        margin-bottom: 0;
    }
    .sub04_1_8_1 .pop_cont.n2 .cont_inner {
        width: auto;
    }
    .sub04_1_8_1 .pop_cont.n2 .btn_box {
        margin-top: 3.5rem;    
    }
    .table_layout_wrap .excel_btn_box {
        grid-template-columns: repeat(1 , 1fr);
        justify-items: center;
    }
    .ui-datepicker-buttonpane.ui-widget-content {
        padding: 2rem 2rem 1rem 2rem;
    }
}