.select_chc_tit, .inqu_chc_tit {
    position: relative;
    display: block;
    font-size: clamp(1.5rem, 1.1459vw, 2.2rem);
    font-weight: 500;
    color: #222;
    margin-bottom: 1.3rem;
}
/* .sub04_1_8 .input_form .radio_box {
    justify-content: flex-start;
    gap: 6.8rem;
} */
.calender_wrap.f_e {
    gap: 1.6rem;
}
/* .calender_wrap.inqu_cont_wrap {
    display: none !important;
} */
.calender_wrap.inqu_cont_wrap.active {
    display: flex !important;
}

.dp_monthly .ui-datepicker table{
    display: none;
}
.ui-datepicker-trigger {
    display: none;
}
.ui-datepicker-current.ui-state-default.ui-priority-secondary.ui-corner-all {
    color: #9e9e9e;
}
.request_box li fieldset > div + div {
    margin-top: clamp(1.7rem, 1.823vw, 3.5rem);
}
.request_box li fieldset > div + div.gray_txt_box {
    margin-top: 0;
}
@media screen and (max-width:500px) {
    .ui-datepicker-buttonpane.ui-widget-content {
        padding: 2rem 2rem 1rem 2rem;
    }
}