.sub04_2_1_5 .sec02,
.sub04_2_1_6 .sec02 {
  margin-top: 7.5rem;
}

.sub04_2_1_5_wrap .page_title_box .page_title {
  letter-spacing: -0.25rem;
}

.sub04_2_1_5 .scroll .table_layout {
  width: 230rem;
}

.sub04_2_1_5 .table_layout_wrap td {
  min-width: 5rem;
}

.sub04_2_2 .attach_file_wrap {
  margin-top: 7rem;
  padding-top: 5.5rem;
  border-top: 1px solid rgba(183, 183, 183, 0.5);
}

.sub04_2_2 .input_form .radio_box {
  justify-content: flex-start;
}

.sub04_2_2.sub04_2_2_5 .input_form .radio_box {
  gap: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

.sub04_2_2.sub04_2_2_2 .input_form .radio_box.form_num {
  margin-top: 0;
}

.sub04_2_2 .input_form .table_layout .radio_box {
  justify-content: center;
  margin-top: 0;
}

.sub04_2_2 .toggle_contents_wrap {
  margin-top: 0;
}

.sub04_2_2 .alert_box2 {
  margin-bottom: 10rem;
}

.sub04_2_2.sub04_2_2_1 .alert_box2,
.sub04_2_2.sub04_2_2_4 .alert_box2 {
  margin-bottom: 0;
}

.sub04_2_2_1 .sec01,
.sub04_2_2_4 .sec01 {
  margin-bottom: 10rem;
}

.sub04_2_2 .pop_cont .pop_inner {
  max-width: 96rem;
  width: 100%;
}

.sub04_2_2 .pop_cont .title1 {
  text-align: center;
}



.sub04_2_2 .file_name_box {
  width: 40rem;
}

.sub04_2_2 .toggle_contents_wrap>li.n2 {
  margin-top: 10rem;
}

.sub04_2_2 .toggle_contents_wrap>li:not(.n1, .n2) {
  margin-top: 1.6rem;
}

.sub04_2_2 .toggle_contents_wrap>.n3 .toggle_contents_box .request_box li+li {
  margin-top: 5rem;
}

.sub04_2_2_2 .input_form #fac_corp_name:disabled {
  background-color: #fff;
}

.mypage_wrap .sub04_page.sub04_2_2_3 .cont_wrap {
  max-width: 111rem;
}

.sub04_2_2_3 .file_name_box {
  width: 23rem;
}

.sub04_2_2_3 .attachment_wrap {
  border-top: 1px solid rgba(183, 183, 183, 0.5);
  padding-top: 4rem;
}

.sub04_2_2_3 .attach_file_wrap {
  margin-top: 0;
  padding-top: 5.5rem;
  border-top: 0;
}

.mypage_wrap .sub04_2_2 .alert_box2 {
  padding: 3rem 4rem;
}

.mypage_wrap .sub04_2_2 .txt_box .sub_tit img {
  margin-right: 0.5rem;
}

.mypage_wrap .sub04_2_2 .txt_box .dot_txt_box p {
  font-size: 1.6rem;
  color: #616161;
}

.sub04_2_2_4 .request_box li.num_data_table {
  max-width: 85rem;
  margin: 2rem 0 3rem;
}

.sub04_2_2_4 .txt_box dd {
  font-size: 1.6rem;
  color: #616161;
}

.sub04_2_2_5 .attach_notice_wrap {
  padding-top: 4rem;
  border-top: 1px solid rgba(183, 183, 183, 0.5);
}

.sub04_2_2_5 .attach_notice_wrap+.attach_notice_wrap {
  margin-top: 4rem;
}

.sub04_2_2_5 .attach_file_box {
  margin-top: 7rem;
}

.sub04_2_2_5 .file_name_box {
  width: 52rem;
}

.mypage_wrap .sub04_2_2_2 .field_title {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-bottom: 1px solid #000;
}

li.m_btm {
  margin-bottom: 5rem;
}

/* 240103 추가페이지 요청 작업 - API 동의신청 */
.sub04_2_2_5_1 .n1 .request_box {
  display: flex;
  gap: 30px;
}

.sub04_2_2_5_1 .n1 .request_box li+li {
  /* align-items: flex-start; */
  margin-top: 0;
}

.sub04_2_2 .toggle_contents_wrap>li.n3 {
  margin-top: 8rem;
}

.sub04_2_2_5_1 .n2 .form_num_tit {
  padding-left: 0;
}

.sub04_2_2_5_1 .n2 .form_num_tit::before {
  display: none;
}

.sub04_2_2_5_1 .field_title {
  gap: 1rem;
}

.sub04_2_2_5_1 .field_title .require_mark {
  margin-top: 0;
  padding-top: 0;
}

.sub04_2_2_5_1 .field_title .require_mark::before {
  top: -0.3rem;
}

.sub04_2_2_5_1 .n3 .table_layout {
  width: 80rem;
  margin-top: 3rem;
}

.sub04_2_2_5_1 .n3 .table_layout th {
  height: 8rem;
}

.sub04_2_2_5_1 .n3 .table_layout th::after {
  content: "";
  display: block;
  background-color: var(--blueGray50);
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 1rem;
  z-index: -1;
}

.sub04_2_2_5_1 .n3 .table_layout td {
  text-align: left;
  padding-left: 2.5rem;
}

.sub04_2_2_5_1 .n3 .memo {
  margin-top: 1.1rem;
  color: #222;
}

.sub04_2_2_5_1 .n3 .memo span {
  color: #0064dd;
}

.sub04_2_2_5_1 .n3 li.m_btn {
  margin-top: 5.3rem;
}

.sub04_2_2_1 .table_wrap {
  margin-top: 8rem;
}

.sub04_2_2_1 .table_wrap .table_layout {
  margin-top: 2.8rem;
}

.sub04_2_2_1 .table_wrap .table_layout td {
  padding: 2.6rem 0;
}