/* 마이페이지 */
.required_label > span{
    padding-left: 1.5rem;
}

.required_label > span:not(.calender_mouse, .reset_btn):before {
    content: '*';
    color: var(--mainColor);
    position: absolute;
    top: 0.5rem;
    left: 0;
}

.request_box li + li {
    margin-top: 2rem;
}

.request_box li + li.agree_privacy_wrap {
    margin-top: 6.6rem;
}

.request_box li + .table_box {
    margin: 4rem 0 6rem;
}


.label02 + .btn{
    margin-left: 1rem;
}

.sub_wrap .page_title_box .page_title {
    font-size: 5.4rem;
}

.mypage_wrap .page_title_box {
    position: relative;
    background-color: #fff0c2;
}

.mypage_wrap .sub04_page .txt_box + .txt_box {
    margin-top: 3rem;
}

.mypage_wrap .sub04_page .txt_box .sub_tit {
    color: #2588ff;
}

.mypage_wrap .sub04_page .txt_box .dot_txt_box {
    margin-top: .8rem;
}

.mypage_wrap .sub04_page .txt_box .dot_txt_box p {
    font-size: 1.4rem;
    color: #222;
    position: relative;
    padding-left: 2.2rem;
}

.mypage_wrap .sub04_page .txt_box .dot_txt_box p::before {
    content: '';
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
    top: .8rem;
    left: .9rem;
}

.input_form input[type=text].input_txt_type03 {
    width: 20rem;
    height: 3.6rem;
    border-radius: .5rem;
    padding: 0 1.5rem;
    font-size: 1.6rem;
}

.input_form .radio_box {
    gap: 2rem;
    justify-content: flex-start;
    margin-top: 3rem;
}


input[type="radio"]+span::before {
    content: '';
    display: block;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-right: 0.9rem;
}

input[type="radio"]:checked+span::before {
    border-color: transparent;
    background: url(../../../../img/cms/sub/sub04/ic_radio_on.webp) no-repeat center / cover;
}

.input_form .table_layout .Inter {
    font-weight: bold;
}

.input_form .table_layout .n4 {
    padding: 1.2rem;
}

.input_form .table_layout .n4 .input_txt_type03 {
    width: 13.2rem;
}

.input_form .table_layout .n4 label {
    gap: .3rem;
}

.input_form .table_layout .n5 label {
    gap: .7rem;
}

.input_form .table_layout .n5 label button {
    background-color: #000;
    border-radius: .5rem;
    color: #fff;
    font-size: 1.2rem;
    width: 6.8rem;
    height: 3.2rem;
}

.dot_txt_box .dot_txt {
    display: block;
    font-size: 1.6rem;
    color: #222;
    position: relative;
    padding-left: 2.2rem;
    font-weight: normal;
}
.dot_txt_box .dot_txt::before {
    content: '';
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
    top: 1.1rem;
    left: .9rem;
}


.info_check_wrap {
    margin: 3.3rem 0 6.8rem;
}
.info_check_wrap.n1 {
    margin: 1.4rem 0 0 0;;
}
.sub04_1_6_2 .info_check_wrap {
    margin: 1.4rem 0 0 0;
}
.sub04_1_6_3 .info_check_wrap {
    margin: 1.6rem 0 6.6rem;
}

.input_form input[type=text]#word_search,
.input_form input[type=text]#bank_name,
.input_form input[type=text]#location_name {
    width: 49.4rem
}

.sub04_1_6_2 .btn_box {
    margin-top: 9.6rem;
}

.sub04_1_6_1 .btn_popup_wrap,
.sub04_1_6_2 .btn_popup_wrap {
    background: unset;
}

.btn.address_find,
.btn.corp_name_find {
    width: 14rem;
    margin-left: 1.2rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.6rem;
}

.sub04_1_6_1 .btn.address_find:hover, 
.sub04_1_6_2 .btn.corp_name_find:hover {
    background-color: #c0c7d5;
    color: #fff;
    padding: .3rem 2rem;
}

.sub04_1_6_2 .radio_box.form_num {
    margin-top: 0;
}

.address_line01,
#co_address02 {
    margin-bottom: 1.2rem;
}

.address_line02 {
    flex-direction: column;
}

.agree_privacy_wrap .agree_tit {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.12rem;
    line-height: 1.58;
    color: #000;
    padding-top: 2rem;
    border-top: 1px solid rgba(183, 183, 183, 0.5);
    margin-bottom: 3.4rem;
}

.agree_privacy_wrap dl {
    padding: 4rem 5.3rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
}

.agree_privacy_wrap dl:first-of-type {
    margin-bottom: 1.4rem;
}

.agree_privacy_wrap dt {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.1rem;
    color: #666;
    margin-bottom: 2.2rem;
}

.agree_privacy_wrap dd {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.08rem;
    color: #666;
    position: relative;
    padding-left: 2.4rem;
}

.agree_privacy_wrap dd:not(:last-of-type)::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../../../../img/cms/sub/login/ic_dot.webp) no-repeat center / cover;
    position: absolute;
    left: 0; top: 0;
}

.agree_privacy_wrap dd:not(:last-of-type) {
    margin-bottom: 1rem;
}

.agree_privacy_wrap .radio_box {
    margin-top: 3.8rem;
    gap: 6.8rem;
    justify-content: center;
}

.radio_box.form_num {
    margin-top: 3rem;
    margin-bottom: 1.4rem;
}

.pop_cont_type02 .pop_inner {
    padding: 0;
}
.pop_cont_type02 .pop_inner .cont_header {
    padding: 5.4rem 0 3rem;   
}
.pop_cont_type02 .pop_inner .cont_header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    bottom: -3rem;
    background-color: rgba(224, 224, 224, 0.3);
}
.pop_cont.n4 .pop_inner {
    width: 96rem;
    top: 53%;
}

.pop_cont .pop_inner .title1 {
    text-align: center;
}

.pop_cont.n4 .cont_inner, .pop_cont.n3 .cont_inner {
    padding: 4.35rem 3.6rem 6rem 0;
}

.pop_cont.n4 .cont_inner .scroll_box {
    max-height: 52rem;
    padding-bottom: 1rem;
}

.scroll {
    overflow-y: auto;
}

.pop_cont.n4 .cont_inner .title1 {
    text-align: left;
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 2rem;
    padding-left: 23.3rem;
}

.pop_cont.n4 .cont_inner .address_box,
.pop_cont.n4 .cont_inner .bank_loca_box {
    padding-left: 23.3rem;
    padding-right: 19.7rem;
}

.pop_cont.n4 .white_box {
    padding: 4rem;
    margin: 8.8rem auto 5.2rem 6.6rem;
    max-width: 82.8rem;
}
.pop_cont.n4  .pagination_wrap {
    margin-bottom: 0;
}
.address_box li:first-of-type {
    gap: 7.1rem;
}
.address_box li:nth-of-type(2) {
    margin-top: 5rem;
}
.address_box li:nth-of-type(3) {
    margin-top: 5.8rem;
}
.address_box li:nth-of-type(3) .btn,
.bank_loca_box li:nth-of-type(3) .btn {
    width: 100%;
    background: var(--mainColor);
    font-size: 1.6rem;
}
.bank_loca_box li:nth-of-type(3) {
    width: 49.4rem;
    margin-top: 5.8rem;
}
.input_form .table_layout td.result_empty {
    padding: 5.2rem 0;
}

p.table_tit {
    font-size: 2.4rem;
    font-weight: 500;
    letter-spacing: -0.12rem;
    color: #000;
    margin-bottom: 2rem;
}

.corp_name_search span.finance_name {
    height: 6rem;
    width: 20.2rem;
    border-radius: 1rem;
    background: #f2f4f8;
    margin-right: 1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--blueGray600);
}

.fac_corp_input .input_txt_type02 {
    max-width: 28rem;
}

.toggle_box.n1 .request_box .pagination_wrap li {
    margin-bottom: 0;
}

.table_layout td.result_empty::before {
    display: none;
}

#popup04 .table_layout col:first-of-type {
    width: 35%;
}

#popup04 .table_layout col:nth-of-type(2) {
    width: 65%;
}

#popup05 .table_layout col:nth-of-type(2),
#popup05 .table_layout col:nth-of-type(4),
#popup05 .table_layout col:nth-of-type(5) {
    width: 33%;
}

#popup04 .btn.btn_cert.f_c {
    width: 49.4rem;
}

#fac_corp_name {
    width: 28rem;
}

.input_form input[type=text]#co_address01:disabled {
    background-color: #fff;
}

.sub04_1_6_1 .toggle_contents_wrap .btn_box {
    margin-top: 9.6rem;
}

.sub04_1_6_1 .attachment_wrap,
.sub04_1_6_2 .attachment_wrap {
    margin-top: 6.5rem;
}