.scroll {
    overflow-x: auto;
    width: 100%;
    padding-bottom: 4rem;
}
.scroll::-webkit-scrollbar {
    height: .6rem;
    position: relative;
    margin-right: 1.6rem;
}

.scroll::-webkit-scrollbar-thumb {
    height: 10%;
    border-radius: 2rem;
    border: none;
    background-color: #515e78;
    background-clip: content-box;
}

.scroll::-webkit-scrollbar-track {
    width: 1rem;
    background-color: rgba(81, 94, 120, .12);
    position: absolute;
    top: -50rem;
    right: -3rem;
}
.scroll .table_layout {
    width: 214rem;
}