.mypage_wrap .sub04_page.sub04_2_4_1 .cont_wrap {
    max-width: 140rem;
    padding: 8.3rem 6rem;
}
.mypage_wrap .page_title_box .img_bg.n1 {
    /* bottom: 0;
    right: clamp(21.8rem, 10.9272vw, 21.8rem);
    width: clamp(52.2rem, 21.3022vw, 40.9rem); */
}
.mypage_wrap .page_title_box .img_bg.n2 {
    /* left: 47.4rem;
    bottom: 0;
    width: clamp(18.1rem, 10.4689vw, 18.1rem); */
}
.mypage_wrap .sub04_page .cont_wrap .section .tit_box {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #000;
}
.table_layout_wrap {
    justify-content: flex-end;
    margin-top: 3.2rem;
    flex-direction: column;
    gap: .8rem;
}
.table_tit {
    margin: 4.4rem 0 1rem;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.1rem;
    color: #222;
}
.sub04_2_4_1 .table_tit {
    margin-top: 6.2rem;
}
.popup_table_tit {
    margin: 0 0 1.5rem;
    font-size: 2.8rem;
    font-weight: bold;
    letter-spacing: -0.14rem;
    color: #000;
}
.sub04_2_4_1 .table_layout td {
    height: 10rem;
}
.sub04_2_4_1 .table_layout td.popup_input {
    height: 8rem;
}
.sub04_2_4_1 .btn_popup_wrap {
    background-color: unset;
    margin-right: 0.8rem;
}
.sub04_2_4_1 .btn_popup_wrap .btn_popup {
    background-color: var(--mainColor);
    color: #fff;
    width: 21.5rem;
    border-radius: 1rem;
}
.sub04_2_4_1 .btn_popup_wrap .btn_popup.act {
    padding: .3rem 2rem;
}

.pop_cont.n6 .pop_inner {
    width: 139.6rem;
}
.pop_cont.n6 .pop_inner {
    min-width: unset;
    top: 53%;
}
.pop_cont.n6 .cont_inner {
    padding: 0 5.8rem 5.8rem 5.8rem;
}
.pop_cont.n6 .cont_inner .scroll_box {
    max-height: 52rem;
    /* padding-bottom: 1rem; */
}
.pop_cont.n6 .cont_inner .title1 {
    text-align: left;
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 2rem;
    padding-left: 23.3rem;
}
.sub04_2_4_1 .pop_cont_type02 .pop_inner .cont_header::after {
    display: none;
}
.popup_input input[type=text] {
    padding: 0 1.5rem;
    border-radius: 0.5rem;
    height: 3.6rem;
    width: 67.5rem;
    font-size: 1.7rem;
}
.popup_input:nth-of-type(1) input[type=text],
.popup_input:nth-of-type(2) input[type=text] {
    width: 16.6rem;

}
#popup06 .btn_box {
    margin-top: 5.2rem;
}
#popup06 button[type=submit] {
    width: 21.6rem;
    height: 5.5rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    background: var(--mainColor);
}