.mypage_wrap .sub04_page.sub04_1_6_1 .bell_txt_box{
    text-align: center;    
}
.mypage_wrap .sub04_page .sec01 .bell_txt_box p::before{
    content: '*';
    background: none;
    width: auto;
    height: 2.1rem;
    font-size: 2.4rem;    
}
.mypage_wrap .sub04_page.sub04_1_6_1 .white_box{
    max-width: 140rem;
    padding: 6rem 8rem 8rem;
}
.sub04_1_6_1 .sec01,
.sub04_1_6_1 .sec02{
    padding: 0 14rem;
}

.sub04_1_6_1 .sec03{
    padding-top: 7rem;
}
.mypage_wrap .sub04_page.sub04_1_6_1 .sec03 .bell_txt_box{
    margin: 0 14rem;
}
.mypage_wrap .sub04_page.sub04_1_6_1 .sec03 .bell_txt_box p::before{
    display: none;
}


.sub04_1_6_1 .table_layout_wrap{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 12rem;
    flex-direction: column;
}
.sub04_1_6_1 .table_layout_wrap .excel_btn{
    /* position: absolute;
    top: 0;
    right: 0; */
    margin-bottom: 2rem;
}
.sub04_1_6_1 .sec03 .table_layout{
}
.sub04_1_6_1 .sec03 .table_layout td{
    height: 13rem;
}

.sub04_1_6_1 .pagination_wrap{
    margin: 5rem auto 0;
}
.sub04_1_6_1 span.attach_tit{
    border: 0;
    padding: 0;
    margin: 0 0 2rem;
}
.sub04_1_6_1 .toggle_box.n2{
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 2rem;
    margin-top: 7rem;
}
.sub04_1_6_1 .toggle_box.n2 .label02 > span{
    color: #000;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

@media screen and (max-width:1440px) {
    .mypage_wrap .sub04_page.sub04_1_6_1 .white_box{
        width: 95%;
        margin: 0 auto;
    }
    .sub04_1_6_1 .sec01, .sub04_1_6_1 .sec02 {
        padding: 0 2rem;
    }
    .mypage_wrap .sub04_page.sub04_1_6_1 .sec03 .bell_txt_box {
        margin: 0 2rem;
    }
    .sub04_1_6_1 .sec03 .table_layout td {
        height: 8rem;
    }
}
@media screen and (max-width:1024px) {
    .mypage_wrap .sub04_page.sub04_1_6_1 .sec03 .bell_txt_box p{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
    }
    .mypage_wrap .sub04_page.sub04_1_6_1 .sec03 .bell_txt_box p img{
        padding-right: 1rem;
    }

}
@media screen and (max-width:768px) {
    .mypage_wrap .sub04_page.sub04_1_6_1 .white_box{
        width: auto;
        margin: 0 2rem;
        padding: 3rem 2rem;
    }
    .sub04_1_6_1 .sec01, .sub04_1_6_1 .sec02{
        padding: 0;
    }
    .mypage_wrap .sub04_page.sub04_1_6_1 .sec03 .bell_txt_box {
        margin: 0;
    }
    .mypage_wrap .sub04_page.sub04_1_6_1 .bell_txt_box{
        text-align: left;
    }
    .toggle_box {
        margin-top: 3rem;
    }
    span.attach_tit{
        margin-bottom: 2rem;        
    }
    .attachment_wrap .radio_box{
        gap: 2rem;
        flex-wrap: wrap;
    }
    .sub04_1_6_1 span.attach_tit,
    .sub04_1_6_1 .label02 > span,
    .sub04_1_6_1 .toggle_box.n2 .label02 > span{
        font-size: 1.6rem
    }
    .radio_box label,
    .mypage_wrap .sub04_page .bell_txt_box p{
        font-size: 1.2rem;
    }
    .mypage_wrap .login_page07 .select02{
        width: 100%;
        height: 4rem;
        padding: 0 1.5rem;
    }
    .sub04_1_6_1.login_page07 .btn_box {
        margin-top: 4rem;
    }
    .sub04_1_6_1.login_page07 .btn03{
        height: 4rem;
    }
    .mypage_wrap .sub04_page.sub04_1_6_1 .sec03 .bell_txt_box p{
        font-size: 1.2rem;
    }
    .sub04_1_6_1 .toggle_box.n2{
        margin-top: 3.5rem;
    }
    
    
}