.table_layout { 
    width: 100%;
}
.scroll {
    overflow-y: auto;
    margin-top: 6rem;
}
.mypage_wrap .sub04_page .cont_wrap.type02 .request_box {
    margin: 4.5rem 0 0;
}
.save_excel {
    margin: 7rem 0 0 0.8rem;
}
.sub04_1_4 .pop_cont .pop_inner .cont_header .f_b div:not(.excel_btn_box) {
    margin-left: 13rem;
}
@media screen and (max-width:1440px) {

}
@media screen and (max-width:1024px) {

}
@media screen and (max-width:768px) {
    .pop_cont .cont_inner .scroll_box {
        max-height: 100%;
        height: 30rem;
        padding-right: 0.8rem;
    }
    .logo_wrap {
        margin: 5rem auto 0 auto;
        max-width: 15rem;
    }
    .popup_cont .cont_header .f_b {
        flex-direction: column;
        text-align: center;
    }
    .popup_cont .cont_header .excel_btn {
        margin-bottom: 0;
        margin-top: 1.5rem;
    }
    /* .mypage_wrap .sub04_page.sub04_1_4 .cont_wrap .section .pop_inner .tit_box {
        padding-top: 0;
    } */
    .sub04_1_4 .cont_inner {
        margin-top: 5rem;
    }
    .save_excel {
        display: none;
    }
    .pop_cont .pop_inner.type02 .cont_header > div.f_b {
        margin: 0 0.8rem 0 0;
    }
}
@media all and (max-width:500px) {
    .pop_cont .pop_inner.type02 {
        padding: 4.4rem 0.7rem 4.4rem 1.5rem;
    }
}