.btn_popup_wrap {
    background-color: transparent;
}
.pop_cont.n4 .cont_inner {
    padding: 0 4rem 6rem;
}
.pop_cont.n4 .cont_inner .scroll_box {
    padding-bottom: 0;
}
.sub04_2_1_3 .request_box .cont.n2 {
    margin-top: 6.7rem;
}
.sub04_2_1_3 .request_box .cont.n2 .cont_tit {
    font-size: 2.4rem;
    font-weight: 500;
    border-top: 1px solid rgba(183, 183, 183, .5);
    padding-top: 2rem;
}
.sub04_2_1_3 .request_box .cont.n2 .cont_box {
    gap: 1.2rem;
    margin-top: 4.6rem;
}
.sub04_2_1_3 .table_layout_wrap .table_body .is_data {
    height: 8rem;
}
.sub04_2_1_3 .cont.n3 > span {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    font-weight: 500;
    color: #222;
    margin-bottom: 1.3rem;
}
.sub04_2_1_3 .select02 {
    width: 49rem;
    height: 6rem;
    background-color: transparent;
    border: 1px solid #000;
    justify-content: space-between;
    padding: 0 2rem;
    color: #000;
    font-size: 2rem;
    margin: 0;
}
.sub04_2_1_3 .select02 .fake_selected {
    font-size: 1.8rem;
}
.sub04_2_1_3 .select02.on .select_box {
    height: 25rem;
    z-index: 2;
}
.sub04_2_1_3 .select02 .select_box .select_box_inner li {
    font-size: 1.8rem;
}