/* 마이페이지 */
.mypage_wrap .sub04_page .sec01 .txt_box .dot_txt_box {
    margin: .8rem 0 4rem;
}
.mypage_wrap .sub04_page .sec01 .txt_box .dot_txt_box:last-child {
    margin-bottom: 0;
}
.top_field .label02 + .label02{
    margin-top: 3rem;
}
.info_check_wrap {
    margin: 3.3rem 0 5rem;
}
.info_check_wrap.type02 {
    margin: 3.3rem 0 1rem;
}
/* .sub04_1_6_3 .btn_box {
    margin-top: 5rem;
} */
.sub04_1_6_3 .top_field {
    margin-top: 4rem;
}
.sub04_1_6_3 .top_field label + label {
    margin-top: 3.35rem;
}
.cal_question_content > span.req {
    padding-left: 1.5rem;
}
.cal_question_content > span.req::before {
    content: '*';
    color: var(--mainColor);
    position: absolute;
    top: 0.5rem;
    left: 0;
}

/* 변경 완료 페이지 */
.sub04_1_6_3_2 .section{
    max-width: 111rem;
    margin: 0 auto;
    text-align: center;
}
.sub04_1_6_3_2 .gray_txt_box02::before{
    position: static;
    margin-right: .5rem;
}
.sub04_1_6_3_2 {
    padding-bottom: 16rem;
}
.sub04_1_6_3_2 .complete_box{
    padding-bottom: 7rem;
}

.sub04_1_6_3_2 .complete_box .head_line2{
    padding-top: 2.5rem;
    font-weight: bold;
    color: #f5ba00;
}

.sub04_1_6_3_2 .tab_menu_wrap{
    margin-bottom: 10rem;
}

.sub04_1_6_3_2 .btn_box{
    margin-top: 5rem;
}

@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 500px) {
   
}
