/* 은지 02, 04 */
.sub04_2_1_2 .select02.on .select_box {
    height: 20rem;
}
.sub04_2_1_2 .scroll .table_layout {
    width: 100%;
    margin-bottom: 0;
}
.sub04_2_1_2 .input_form li fieldset {
    margin-top: 0;
}
.sub04_2_1_2 .scroll {
    overflow-x: unset;
}
.sub04_2_1_2 .section.sec02 {
    margin-top: 8.2rem;
}
.sub04_2_1_2 .cont.n3 > span {
    position: relative;
    display: flex;
    font-size: 2.2rem;
    font-weight: 500;
    color: #222;
    margin-bottom: 1.3rem;
}
.sub04_2_1_2 .request_box .select02.on .select_box {
    height: auto;
}
.sub04_2_1_2 .select02.on .select_box.scroll.top {
    z-index: 10;
}




.sub04_2_1_4 .scroll .table_layout {
    width: 231.4rem;
    margin-bottom: 4rem;
}
.sub04_2_1_4 .input_form li:not(:last-child) {
    margin-bottom: 3.35rem;
}
.sub04_2_1_2 .label02 > span:nth-child(2),
.sub04_2_1_2 .calender_label .f_c,
.sub04_2_1_4 .label02 > span:nth-child(2) {
    margin-bottom: 0;
}

.sub04_2_1_4 .tab_menu li a {
    font-size: clamp(1.8rem, 1.1459vw, 2rem);
}