.head_line3 {
    font-size: 4.6rem;
    font-weight: bold;
}
.head_line3 .number {
    width: 5rem;
    height: 5rem;
    font-size: 3.6rem;
    border-radius: 5rem;
    background-color: var(--lightBlue);
    color: var(--mainColor);
    margin-right: 1.5rem;
    padding-bottom: 0.2rem;
}
.head_sub_line {
    margin-top: 2.8rem;
    font-size: 2.6rem;
    font-weight: 500;
    letter-spacing: -0.13rem;
    color: #222;
}
.white_box.type02 {
    max-width: 70rem;
}
.mypage_wrap .sub04_page .sec01 .white_box.type02.n1 {
    padding: 6rem;
    position: relative;
    margin: 5.2rem auto 0;
}
.mypage_wrap .sub04_page .sec01 .white_box.type02.n2 {
    padding: clamp(2rem, 3.1250vw, 6rem) clamp(2rem, 2.2917vw, 4.4rem);
    margin: 0 auto;
    position: relative;
}
.white_box .dot_txt {
    margin-top: clamp(1.4rem, 1.4583vw, 2.8rem);
    text-align: center;
}
.white_box .dot_txt span {
    font-size: 1.8rem;
    padding-left: 2rem;
    letter-spacing: -0.1rem;
    color: #222;
    position: relative;
    text-align: left;
    display: inline-block;
}
.white_box .dot_txt span::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #222;
    position: absolute;
    top: 12px;
    right: 98.5%;
}
.white_box img.img_cont02 {
    margin-top: clamp(3rem, 3.1250vw, 6rem);
}
.white_box .sub_white_box {
    border: solid 1px #e0e0e0;
    box-shadow: none;
    padding: clamp(2.5rem, 3.1250vw, 6rem);
    margin: 0 0 6rem;
    border-radius: 3rem;
}
.sub_white_box li {
    font-size: 1.8rem;
    font-weight: normal;
    color: #222;
    letter-spacing: -0.1rem;
}
.sub_white_box li + li {
    margin-top: 2rem;
}
.sub_white_box li span {
    color: var(--mainColor);
}
.float_img {
    position: absolute;
    bottom: 16%;
    right: -1%;
    width: 20rem;
    width: 28%;
}
.step_box_wrap li + li {
    margin-top: clamp(7rem, 7.2917vw, 14rem);
}
.step_box_wrap .noti_txt li + li {
    margin-top: clamp(1.5rem, 12500vw, 2.4rem);
}
.step_box_wrap .noti_txt.step_ver li + li {
    margin-top: 3.2rem;
}
.step_box_wrap .noti_txt {
    margin-top: clamp(2.5rem, 2.0833vw, 4rem);
}
.step_box_wrap > li.n3 .white_box .dot_txt {
    text-align: left;
}
.noti_txt h4 {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: -0.05rem;
    color: #8391ac;
    margin-bottom: 0.6rem;
}
.noti_txt p {
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: -0.1rem;
    color: #616161;
}
.noti_txt p span {
    color: var(--mainColor);
}
.noti_txt.step_ver h4 {
    color: #222;
}
.noti_txt.step_ver p {
    padding-left: 2rem;
}
.white_box_wrap {
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    gap: 2rem;
}
.white_box_wrap.type02 {
    margin-top: 5.2rem;
}
.white_box_wrap.type03 {
    margin-top: 2rem;
}
.check_tit {
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.13rem;
    line-height: 1.5;
    margin-bottom: clamp(3rem, 3.1250vw, 6rem);
}
.check_tit span {
    color: #23c197;
}
.multi li + li.info_down_btn.n3,
.multi li + li.info_down_btn.n4 {
    position: absolute;
    z-index: -1;
    width: 100%;
    bottom: 0;
    transition: .3s;
}
.multi li + li.info_down_btn.n2:hover .info_down_btn.n3 {
    bottom: -6rem;
}
.multi li + li.info_down_btn.n2:hover .info_down_btn.n4 {
    bottom: -12rem;
}

@media screen and (max-width:1024px) {
    .sub_wrap2 .page_title_box .img_bg.n1 {
        display: block;
        right: clamp(12rem, 11.9272vw, 22.9rem);
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        display: block;
        left: clamp(29rem ,27.3439vw, 52.5rem);
    }
}
@media screen and (max-width:768px) {
    .sub_wrap2 .page_title_box .img_bg.n1 {
        right: auto;
        transform: translateX(-50%);
        left: 50%;
        width: 32rem;
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        display: none;
    }
    .float_btn.multi {
        top: auto;
        bottom: 11rem;
        width: 10rem;
    }
    .table_body td {
        font-size: 1.3rem;
    }
    .head_line3 {
        font-size: 1.8rem;
        flex-direction: column;
    }
    .sub01_1_2 .head_line3 {
        flex-direction: column;
    }
    .head_line3 .number {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 2.5rem;
        font-size: 1.8rem;
        margin-right: 0;
        margin-bottom: 0.7rem;
    }
    .head_sub_line {
        margin-top: 1.4rem;
        font-size: 1.6rem;
        text-align: center;
    }
    .check_tit {
        font-size: 1.6rem;
    }
    .check_tit img {
        width: 2.4rem;
    }
    .white_box_wrap {
        grid-template-columns: repeat(1, 1fr);
    }
    .mypage_wrap .sub04_page .sec01 .white_box.type02.n1 {
        padding: clamp(2rem, 3.1250vw, 6rem);
    }
    .white_box .dot_txt span {
        font-size: 1.4rem;
    }
    .white_box .dot_txt span {
        padding-left: 1.5rem;
    }
    .white_box .dot_txt span::before {
        width: 3px;
        height: 3px;
        top: 10px;
        right: 97.5%;
    }
    .noti_txt h4 {
        font-size: 1.6rem;
    }
    .noti_txt p {
        font-size: 1.4rem;
    }
    .step_box_wrap .noti_txt.step_ver li + li {
        margin-top: 1.7rem;
    }
    .float_img {
        bottom: 12%;
        right: -6.5%;
        width: 30%;
    }
}
@media screen and (max-width:500px) {
    .float_img {
        right: -4.5%;
    }
}