.sub_wrap2 .page_title_box .page_title {
    padding-top: 0;
}
.mypage_wrap .sub04_page.sub03_4 .sec01 ul.white_box {
    margin: 0 auto;
    padding: clamp(1.3rem ,4.1667vw, 8rem);
    padding-top: clamp(2rem, 3.1250vw, 6rem);
    padding-bottom: clamp(4.4rem ,4.1667vw, 8rem);
}
.white_box .sub_white_box {
    border: solid 1px #e0e0e0;
    box-shadow: none;
    padding: clamp(2.5rem, 3.1250vw, 6rem);
    margin: 0 0 6rem;
    border-radius: 3rem;
}
.sub_white_box li {
    font-size: 1.8rem;
    font-weight: normal;
    color: #222;
    letter-spacing: -0.1rem;
}
.sub_white_box li + li {
    margin-top: 2rem;
}
.sub_white_box li span {
    color: var(--mainColor);
}
.float_btn.multi {
    border: unset;
    border-radius: unset;
    background-color: unset;
    backdrop-filter: unset;
}
.multi .info_down_btn {
    border-radius: 1rem;
}
.multi .info_down_btn .down_btn,
.multi .info_down_btn .down_btn_inner {
    border: 1px solid #a2acc0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    border-radius: 1rem;
    transition: .3s;
}
.down_btn_inner {
    color: #667696;
    padding: 1.3rem 0;
    margin-top: 0.4rem;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    opacity: 0;
}
.multi .info_down_btn:hover .down_btn {
    border: 1px solid var(--mainColor);
    background-color: rgba(255, 255, 255, 0.5);
}
.multi .info_down_btn:hover .down_btn {
    color: var(--mainColor);
}
.multi .info_down_btn:hover .img_off {
    display: none;
}
.multi .info_down_btn:hover .img_on {
    display: block;
}
.multi li + li.n2 {
    margin-top: 1.2rem;
}
.info_down_btn.n1 .img_off {
    max-width: 3.8rem;
}
.info_down_btn.n2 .img_on {
    max-width: 2.4rem;
}
.info_down_btn.n1 .img_on {
    max-width: 6.2rem;
}
.multi .info_down_btn.n2:hover .down_btn_inner {
    opacity: 1;
    border: 1px solid #499bff;
    color: #499bff;
}
.multi .info_down_btn.n2:hover .down_btn_inner.n1 {
    bottom: -5.2rem;
}
.multi .info_down_btn.n2:hover .down_btn_inner.n2 {
    bottom: -10.4rem;
}
.sub03_4 .white_box .sub_white_box {
    text-align: left;
}
.sub03_4 .gray_txt_box02 {
    text-align: left;
}
.table_layout td:not(.dep2_th) + td:not(.dep2_th)::before {
    width: 1px;
}
.table_layout td:not(.dep2_th):after {
    left: 5px;
    right: 5px;
    bottom: 0;
    height: 1px;
}
@media screen and (max-width:768px) {
    .table_layout.mo {
        display: table;
    }
    .sub_white_box li {
        font-size: 1.4rem;
    }
    /* 231213 move */
    .float_btn .down_btn {
        padding: 0.7rem 1.2rem;
        font-size: 1.2rem;
    }
    
}
@media screen and (max-width:500px) {
    .mypage_wrap .sub04_page.sub03_4 .sec01 ul.white_box {
        padding: 1.3rem;
        padding-top: 2rem;
        padding-bottom: 4.4rem;
    }
    .white_box .sub_white_box {
        border-radius: 0.5rem;
    }
    .tab_menu li a {
        width: 7.6rem;
        height: 4rem;
    }
}