.white_box {
    margin-top: 5rem;
}
.sub_wrap2 .page_title_box .page_title {
    padding-top: 0;
}
.sub03_5 .sec01 .agree_cont + .agree_cont {
    margin-top: 8rem;
    padding-top: 8rem;
    border-top: 1px solid rgba(183, 183, 183, 0.3);
}
.sub03_5 .sec01 .agree_cont .head_line3 {
    font-weight: bold;
    text-align: center;
}
.sub03_5 .sec01 .agree_cont .white_box {
    border: solid 1px #e0e0e0;
    box-shadow: none;   
    padding: 6rem;
    margin: 3rem 0 4rem;
}
.sub03_5 .sec01 .agree_cont .white_box dd {
    font-size: 1.8rem;
    padding-left: 3rem;
    position: relative;
}
.sub03_5 .sec01 .agree_cont .white_box dd + dd {
    margin-top: 3rem;
}
.sub03_5 .sec01 .agree_cont .white_box dd::before {
    content: '';
    display: block;
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 1.3rem;
    left: 1.4rem;
}
.sub03_5 .sec01 .agree_cont .white_box dd .sub_tit {
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1rem;
}
.sub03_5 .sec01 .btn_box {
    text-align: center;
}
.radio_box label {
    width: auto;
}
.alert_box2 .subject {
    font-weight: normal;
    padding-bottom: 0.4rem;
}
.toggle_contents_wrap {
    margin-top: 8rem;
}
.toggle_contents_wrap .toggle_box.n1 .request_box{
    margin: 4.5rem 0 1.5rem;    
}
span.code_txt_box {
    padding: 0;
    display: flex;
}
span.code_txt_box .btn {
    font-size: 1.6rem;
}
span.code_txt_box .btn {
    width: 7rem;
    margin-left: 1rem;    
    text-align: center;
    line-height: 6rem;
    cursor: pointer;
}
span.code_txt_box input[type=text] {
    width: 41rem;
}
.address_line {
    gap: .8rem;
}
.email_box .input_txt_type02 {
    width: 21rem;
}
.email_box > span {
    padding: 0 1rem;
    font-size: clamp(1.6rem, 1.1979vw, 2.3rem);
}
.select03 {
    width: 21rem;
    margin-left: 1rem;
}
.bank_name_search span.bank_name {
    height: 6rem;
    border-radius: 1rem;
    background: #f2f4f8;
    padding: .7rem 2rem;
    margin-right: 1.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--blueGray600);
}
.bank_name_search + .bank_name_search {
    margin-top: .8rem;
}
textarea {
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
    padding: 3rem;
    resize: none;
    width: 85rem;
    height: 45rem;
}

.sub03_5_2 .complete_box {
    text-align: center;
    padding-bottom: 7rem;
}
.sub03_5_2 .complete_box img {
    width: 11.6rem;
}
.sub03_5_2 .complete_box h3 {
    color: #23c197;
    margin-top: 2.5rem;
}
.sub03_5_2 .cont_wrap {
    padding: 5rem 0 6rem;
}
.sub03_5_2 .cont_wrap .sec01 {
    max-width: 54rem;
    margin: 0 auto;
}
.sub03_5_2 .cont_wrap .sec01 strong {
    display: block;
    margin-top: 1.5rem;
    padding-left: 3rem;
}
.sub03_5_2 .cont_wrap .sec01 .btn_box {
    margin-top: 5rem;
}
.sub03_5_2 .cont_wrap .sec01 .btn_box .n2:hover {
    color: #515e78;
    background-color: #f2f4f8;
}
@media screen and (max-width: 1024px) {
    .sub03_5_1 {
        padding: 10rem 2rem 0;
    }
    .sub03_5_2 .page_contents {
        padding: 0 3rem;
    }
    .mypage_wrap .sub03_5_1 .cont_wrap {
        padding: 3.5rem 6.5rem 4rem;
    }
    .mypage_wrap .sub03_5_2 .cont_wrap {
        padding: 3.5rem 1.5rem 4rem;
    }
    textarea {
        width: 43rem;
    }
}
@media screen and (max-width: 768px) {
    .sub_wrap2 .page_title_box .img_bg.n1 {
        display: block;
    }
    .sub03_5 .sec01 .agree_cont .white_box {
        padding: 3rem;
    }
    .sub03_5 .sec01 .agree_cont .white_box dd {
        font-size: 1.3rem;
    }
    .sub03_5 .sec01 .agree_cont .white_box dd::before {
        top: .9rem;
    }
    .toggle_contents_wrap {
        margin-top: 5rem;
    }
    span.code_txt_box .btn {
        font-size: 1.3rem;
        line-height: 4rem;
    }
    .email_box {
        width: 100%;
        display: block;
    }
    .email_box > span {
        padding: 0 .5rem;
    }
    .email_box #email01 {
        display: inline-block;
        width: calc(100% - 3rem);
        margin-bottom: 1rem;
    }
    label,
    .address_line,
    .input_form input[type=text],
    span.code_txt_box,
    span.code_txt_box input[type=text],
    .bank_name_search,
    .select03 {
        width: 100%;
    }
    .select03 {
        height: 4rem;
        font-size: 1.3rem;
        margin: 1rem 0 0;
    } 
    .bank_name_search span.bank_name {
        height: 4rem;
        font-size: 1.3rem;
    }
    .select02 .select_box .select_box_inner li {
        font-size: 1.3rem;
        padding: 0.5rem 0 0.5rem 1.4rem;
    }
    .sub03_5_2 .page_contents {
        padding: 0 1.5rem;
    }
    .sub03_5_2 .complete_box {
        padding-bottom: 3.5rem;
    }
    .sub03_5_2 .complete_box img {
        width: 5.8rem;
    }
    .sub03_5_2 .cont_wrap .sec01 .btn_box .btn {
        font-size: 1.3rem;
        padding: 0 1rem;
    }
}
@media screen and (max-width: 500px) {
    .mypage_wrap .sub03_5_1 .cont_wrap {
        padding: 2.5rem 1.5rem 4rem;
    }
    .toggle_contents_wrap .toggle_box .request_box {
        margin-top: 2.3rem;
    }
    .toggle_contents_wrap .toggle_box.n1 .request_box {
        margin-top: 2.3rem;
        margin-bottom: 0;
    }
    .toggle_contents_wrap .toggle_box.n2 .toggle_btn {
        padding: 1.5rem 0;
        background-position-y: 2.1rem;
    }
    textarea {
        width: 25.1rem;
    }
}