
/* 서비스 지원 - 공지사항 / faq / 자료실 */

/* 공통 */
.sub_wrap2 .page_title_box .img_bg.n1{
    display: block;
}

.sub03_page .search_wrap .select{
    width: 100%;
}
.sub03_page .search_wrap .search_box{
    padding: 0;
}
.sub03_page .search_wrap .search_box .label02{
    height: 100%;
}
.sub03_page .search_wrap .search_box .input_txt_type02{
    height: 100%;
    padding: 0.5rem 1rem;
}

.service_wrap .sub03_page .sec01 .white_box{
    padding: 6rem 6rem 8rem;
}
.sub03_page .input_form .table_layout td{
    padding: 0;
}
.sub03_page .table_layout .notice{
    font-size: 12px;
    height: 20px;
    width: 6rem;
    border-radius: 5px;
    background-color: var(--mainColor);
    color: #fff;
    line-height: 1;
    margin: 0 auto;
}

.sub03_page .table_layout.mo li,
.sub03_page .table_layout.mo li .line1{
    height: auto;
}
.sub03_page .table_layout.mo li{
    padding: 1rem 0 1.5rem;
}
.sub03_page .table_layout.mo li .line1{
    padding-top: 1rem;
}

.sub03_page .pagination_wrap{
    margin: 5rem auto 0 ;
}
@media screen and (max-width:769px) {
    .service_wrap .sub03_page .sec01 .white_box{
        padding: 1.5rem 2rem;
    }
    .sub03_page .search_wrap .search_box{
        width: auto;
    }
    .sub03_page .search_wrap .search_box .input_txt_type02{
        padding: 0 1rem;
        font-size: 1.2rem;
    }
    .sub03_page .table_layout .notice{
        width: 5rem;
        height: 2rem;
        font-size: 1.2rem;
        margin: 0;
    }   
    .sub03_page .tab_menu2{
        display: inline-flex;
        margin-bottom: 0;
        padding-top: 0;
    }
    .sub03_page .tab_menu2 li a{
        white-space: nowrap;
        font-size: 1.6rem;
    }
    .sub03_page .pagination_wrap {
        margin: 3rem auto 0;
    }
}