/* 240103 추가페이지 요청 작업 */
.sub_wrap .sub03_4_1_2 .cont_wrap.type02 {
  max-width: 140rem;
  padding: 7rem 8rem;
}

.sub_wrap .sub03_4_1_2 .page_contents {
  flex-direction: column;
}

.sub_wrap .sub03_4_1_2 .tit_box {
  margin-bottom: 20px;
}

.sub_wrap .sub03_4_1_2 .tit_box .title {
  font-size: 4.8rem;
  font-weight: 700;
}

.sub_wrap .sub03_4_1_2 .section {
  margin-top: 6rem;
}

.sub_wrap .sub03_4_1_2 .cont_wrap .section .tit_box {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #000;
}