/* 240102 추가페이지 요청 작업 - CMSPro NEO 다운로드 */

.sub_wrap .sub03_4_1_1 {
  padding-top: 3.6rem;
}

.sub_wrap .sub03_4_1_1 .cont_wrap.type02 {
  max-width: 140rem;
  padding: 7rem 8rem;
}

.sub_wrap .sub03_4_1_1 .page_contents {
  flex-direction: column;
}

.sub_wrap .sub03_4_1_1 .tit_box {
  margin-bottom: 28px;
}

.sub_wrap .sub03_4_1_1 .tit_box .title {
  font-size: 4.8rem;
  font-weight: 700;
}

.sub_wrap .sub03_4_1_1 .top_desc {
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.7rem;
  font-weight: 500;
}

.sub_wrap .sub03_4_1_1 .btn_box {
  margin-top: 3rem;
}

.sub_wrap .sub03_4_1_1 .btn_box .btn.btn03 {
  display: inline-block;
  width: 28.2rem;
  height: 5.5rem;
  background: var(--mainColor);
  text-align: center;
  line-height: 5.5rem;
  color: #fff;
  font-size: 1.6rem;
}

.sub_wrap .sub03_4_1_1 .section+.section {
  margin-top: 6rem;
}

.sub_wrap .sub03_4_1_1 .cont_wrap .sec01 {
  margin-top: 6rem;
}

.sub_wrap .sub03_4_1_1 .cont_wrap .section .tit_box {
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #000;
}

.sub_wrap .sub03_4_1_1 .cont_wrap .section .table_layout th:after {
  content: "";
  display: block;
  background-color: var(--blueGray50);
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 1rem;
  z-index: -1;
}

.sub_wrap .sub03_4_1_1 .cont_wrap .section .table_layout td {
  padding: 2.65rem 0;
  font-weight: 500;
}

/* .sub_wrap .sub03_4_1_1 .cont_wrap .section .table_layout th:not(:first-child, .isnt_border):before {
  display: none;
} */

.sub_wrap .sub03_4_1_1 .cont_wrap .btn_mini {
  display: inline-block;
  width: auto;
  height: 3.5rem;
  line-height: 3.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background: var(--black);
  margin: 0 0 0 1rem;
  padding: 0 1.2rem;
  font-size: 1.4rem;
}

.sub_wrap .sub03_4_1_1 .cont_wrap .section .desc_box {
  margin-top: 2rem;
}

.sub_wrap .sub03_4_1_1 .cont_wrap .section .desc_box .desc_tit {
  color: #222;
  font-size: 1.4rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.sub_wrap .sub03_4_1_1 .cont_wrap .section .desc_box .desc_txt li {
  font-size: 1.4rem;
  font-weight: 200;
  line-height: 2.1rem;
  color: #616161;
}

.sub_wrap .sub03_4_1_1 .cont_wrap .txt_box {
  width: 77rem;
  margin: 7rem auto 0 auto;
  padding: 2.45rem 5.45rem;
  background: #fafafa;
  border-radius: 1rem;
}

.sub_wrap .sub03_4_1_1 .cont_wrap .txt_box span {
  font-size: 1.4rem;
  font-weight: 300;
  color: #222;  
}
html[lang=ko] .sub_wrap .sub03_4_1_1 .cont_wrap .txt_box span{
  white-space: nowrap;
}

.sub_wrap .sub03_4_1_1 .cont_wrap .txt_box .excel_btn {
  text-align: center;
  line-height: 3.5rem;
  margin-left: 2rem;
}

/* 보안 프로그램 설치 */
.sub_wrap .sub03_4_1_2 .section .install_box {
  padding-left: 2.6rem;
}

.sub_wrap .sub03_4_1_2 .section .install_box p {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.sub_wrap .sub03_4_1_2 .section .install_box .install_bar {
  position: relative;
  width: 100%;
  height: 4.1rem;
  padding: 0.6rem;
  background: #f2f4f8;
  border-radius: 0.5rem;
}

.sub_wrap .sub03_4_1_2 .section .install_box .install_bar_inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
}

.sub_wrap .sub03_4_1_2 .section .install_box .install_bar_inner .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .3s;
  appearance: none
}

.sub_wrap .sub03_4_1_2 .section .install_box .install_bar_inner .bar.bar::-webkit-progress-bar {
  width: 100%;
  background: #fff;
}

.sub_wrap .sub03_4_1_2 .section .install_box .install_bar_inner .bar.bar::-webkit-progress-value {
  background: #0064dd;
  transition: .5s;
}

.sub_wrap .sub03_4_1_2 .section .table_layout .btn_mini.on {
  display: inline-block;
}

.sub_wrap .sub03_4_1_2 .section .table_layout .install_msg {
  display: none;
  line-height: 3.5rem;
}