<div id="main">
    <main class="main_page">
        <h1 class="screen_out">금융결제원 메인페이지입니다.</h1>
        <section class="section01 f_fs">
            <div class="left swiper_banner_wrap">
                <div class="rolling_banner rolling_banner01 swiper_banner">
                    <ul class="swiper-wrapper">
                        <li class="article_type01 swiper-slide">
                            <p class="cate">&middot; 이벤트1</p>
                            <h3 class="title head_line1">1제일은행의 <br>CMS 신규가입<br>캠페인 실시1</h3>
                            <p class="date">2023-07-03 ~ 2023-09-29</p>
                        </li>
                        <li class="article_type01 swiper-slide">
                            <p class="cate">&middot; 이벤트2</p>
                            <h3 class="title head_line1">2제일은행의 <br>CMS 신규가입<br>캠페인 실시2</h3>
                            <p class="date">2023-07-03 ~ 2023-09-29</p>
                        </li>
                        <li class="article_type01 swiper-slide">
                            <p class="cate">&middot; 이벤트3</p>
                            <h3 class="title head_line1">3제일은행의 <br>CMS 신규가입<br>캠페인 실시3</h3>
                            <p class="date">2023-07-03 ~ 2023-09-29</p>
                        </li>
                        <li class="article_type01 swiper-slide">
                            <p class="cate">&middot; 이벤트4</p>
                            <h3 class="title head_line1">4제일은행의 <br>CMS 신규가입<br>캠페인 실시4</h3>
                            <p class="date">2023-07-03 ~ 2023-09-29</p>
                        </li>
                    </ul>
                </div>
                <div class="pagination_box f_c">
                    <div class="swiper-pagination"></div>
                    <div class="play_pause_box">
                        <button type="button" class="slide_pause on">
                            <img src="resources/img/cms/common/icon_slide_pause01.webp" alt="슬라이드 정지">
                        </button>
                        <button type="button" class="slide_play">
                            <img src="resources/img/cms/common/icon_slide_play01.webp" alt="슬라이드 재생">
                        </button>
                    </div>

                </div>
            </div>
            <div class="right">
                <article class="article_type02">
                    <h3 class="title">편리하고 안전한<strong>금융결제원 CMS 서비스</strong></h3>
                    <ul class="f_b">
                        <li>
                            <a href="#" class="icon_box f_c f_d_c n1">
                                <div class="img_box">
                                    <img src="resources/img/cms/main/mo_btn_mypage_cyan.webp" alt="마이페이지" class="img_default">
                                    <img src="resources/img/cms/main/icon_hover_mypage.webp" alt="마이페이지" class="img_hover pc">
                                </div>
                                <div class="txt_box">
                                    <strong>마이페이지</strong><br>
                                    바로가기
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon_box f_c f_d_c n2">
                                <div class="img_box">
                                    <img src="resources/img/cms/main/mo_btn_cost_skyblue.webp" alt="마이페이지" class="img_default">
                                    <img src="resources/img/cms/main/icon_hover_costs.webp" alt="마이페이지" class="img_hover pc">
                                </div>
                                <div class="txt_box">
                                    <strong>도입비용</strong><br>
                                    알아보기
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="icon_box f_c f_d_c n3">
                                <div class="img_box">
                                    <img src="resources/img/cms/main/mo_btn_consulting_purple.webp" alt="마이페이지" class="img_default">
                                    <img src="resources/img/cms/main/icon_hover_counseling.webp" alt="마이페이지" class="img_hover pc">
                                </div>
                                <div class="txt_box">
                                    <strong>상담</strong><br>
                                    신청하기
                                </div>
                            </a>
                        </li>
                    </ul>
                </article>
                <article class="article_type03">
                    <div class="swiper_banner_wrap">
                        <div class="title_box f_b">
                            <div class="left f_fs">
                                <img src="resources/img/cms/main/icon_notice.webp" alt="공지">
                                <h3 class="title">알려드립니다</h3>
                            </div>
                            <a href="#" class="btn_more_board icon_box f_c">더보기
                                <span class="img_box">
                                    <img src="resources/img/cms/main/ic_arrow_right_defult_gray_01.webp" alt="더보기" class="img_default">
                                    <img src="resources/img/cms/common/ic_arrow_on_blue.webp" alt="더보기" class="img_hover pc">
                                </span>
                            </a>                                
                        </div>
                        <div class="rolling_banner rolling_banner02">
                            <ul class="swiper-wrapper">
                                <li class="swiper-slide">
                                    <a href="#">
                                        <div class="txt_box f_b f_a_s">
                                            <p class="subject txt_box_line txt_box_line2 sub_title2">1우체국 CMS 실시간 부가서비스 이용
                                                관련안내(휴일이...)</p>
                                            <p class="date">2023-00-00</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="#">

                                        <div class="txt_box f_b f_a_s">
                                            <p class="subject txt_box_line txt_box_line2 sub_title2">2우체국 CMS 실시간 부가서비스 이용
                                                관련안내(휴일이...)</p>
                                            <p class="date">2023-00-00</p>
                                        </div>
                                    </a>
                                </li>
                                <li class="swiper-slide">
                                    <a href="#">
                                        <div class="txt_box f_b f_a_s">
                                            <p class="subject txt_box_line txt_box_line2 sub_title2">3우체국 CMS 실시간 부가서비스 이용
                                                관련안내(휴일이...)</p>
                                            <p class="date">2023-00-00</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="pagination_box f_c">
                        <div class="swiper-pagination"></div>
                        <div class="play_pause_box">
                            <button type="button" class="slide_pause on">
                                <img src="resources/img/cms/common/icon_slide_pause03.webp" alt="슬라이드 정지">
                            </button>
                            <button type="button" class="slide_play">
                                <img src="resources/img/cms/common/icon_slide_play03.webp" alt="슬라이드 재생">
                            </button>
                        </div>

                    </div>
                </article>
            </div>
        </section>
        <section class="section02">
            <div class="sec_title_box">
                <h2 class="head_line2">신뢰와 안정의 금융결제원 CMS</h2>
                <p class="sec_desc sub_title1">30년간의 운영으로 쌓아온 안정적인 <br class="mo"> 자금관리 솔루션을 경험해보세요.</p>
            </div>
            <ul class="f_b">
                <li class="card card01">
                    <div class="article_type04">
                        <img src="resources/img/cms/main/img_bank.webp" alt="금융결제원">
                        <p class="title title1">
                            국내 전 <strong>은행 및<br>
                            증권사</strong> 참여
                        </p>
                    </div>
                </li>
                <li class="card card02">
                    <div class="article_type04">
                        <img src="resources/img/cms/main/img_services.webp" alt="금융결제원">
                        <p class="title title1"><strong>업계 최초 서비스</strong> 실시<br>(SINCE 1995)</p>                            
                    </div>
                </li>
                <li class="card card03">
                    <div class="article_type04">
                        <img src="resources/img/cms/main/img_graph.webp" alt="금융결제원">
                        <p class="title title1">거래 건수 / 금액<br><strong>217건+&nbsp;&nbsp;252,700,000원+</strong></p>
                    </div>
                </li>
            </ul>
            <a href="#" class="btn_link btn_link_grey f_c icon_box">CMS 알아보기
                <div class="img_box">
                    <img src="resources/img/cms/main/ic_arrow_right_defult_gray_01.webp" alt="더보기" class="img_default">
                    <img src="resources/img/cms/main/ic_arrow_right_selected_white_01.webp" alt="더보기" class="img_hover pc">
                    <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                </div>
            </a>
        </section>
        <section class="line_banner f_c">
            <div class="left">
                <h3 class="head_line4">미리 체험해 보는 CMS </h3>
                <p class="desc">CMS의 편리한 기능들을 <br class="mo"> 화면을 통해 설명해 드릴게요.</p>
                <div class="btn_box">                        
                    <a href="#" class="btn_link btn_link_grey f_c icon_box">CMS 체험하기
                        <div class="img_box">
                            <img src="resources/img/cms/main/ic_arrow_right_defult_gray_01.webp" alt="더보기" class="img_default">
                            <img src="resources/img/cms/main/ic_arrow_right_selected_white_01.webp" alt="더보기" class="img_hover pc">
                            <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                        </div>
                    </a>
                </div>
                <img src="resources/img/cms/main/img_cms_experience.webp" alt="금융결제원 cms 체험하기" class="pc">
                <img src="resources/img/cms/main/mo_img_cmsexperience_skyblue.webp" alt="금융결제원 cms 체험하기" class="mo">
            </div>
            <div class="right">
                <h3 class="head_line4">CMS 온라인 신청</h3>
                <p class="desc">고객별로 최적화된 자금관리 솔루션을 제안해 드릴게요.</p>
                <div class="btn_box f_fs">
                    <a href="#" class="btn_link btn_link_grey f_c icon_box">온라인 신청하기
                        <div class="img_box">
                            <img src="resources/img/cms/main/ic_arrow_right_defult_gray_01.webp" alt="더보기" class="img_default">
                            <img src="resources/img/cms/main/ic_arrow_right_selected_white_01.webp" alt="더보기" class="img_hover pc">
                        </div>
                    </a>
                </div>
                <img src="resources/img/cms/main/img_cms_subscribe.webp" alt="금융결제원 cms 신청하기" class="pc">
                <!-- <img src="resources/img/cms/main/mo_img_cmsexperience_skyblue.webp" alt="금융결제원 cms 신청하기" class="mo"> -->
            </div>
        </section>
        <section class="section03">
            <div class="container">
                <div class="sec_title_box">
                    <h2 class="head_line2">나만의 CMS 파트너</h2>
                    <p class="sec_desc sub_title1">업종별 공식 협력사를 통해 전문적인 상담을 받아보세요.</p>
                </div>
                <div class="swiper_banner_wrap">
                    <div class="swiper_banner swiper_banner03">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-scrollbar"></div>
                        <ul class="swiper-wrapper">
                            <li class="swiper-slide f_c">
                                <div class="service_box n1">
                                    <div class="title">IT 서비스</div>
                                    <div class="img_box">
                                        <img src="resources/img/cms/main/ic_it_service3.webp" alt="it서비스">
                                    </div>
                                    <div class="txt_box">
                                        <p class="subject">가입대상</p>
                                        <p class="con">
                                            소프트웨어, 정보통신, 정보시스템,<br>
                                            테크업체, 카드단말기 등
                                        </p>
                                        <a href="#" class="btn_link btn_link2 f_c icon_box">
                                            상담 신청하기
                                            <div class="img_box">
                                                <img src="resources/img/cms/common/ic_arrow_right_defult_gray.webp" alt="상담 신청하기" class="img_default">
                                                <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="f_c swiper-slide">
                                <div class="service_box n2">
                                    <div class="title">관리대행용역</div>
                                    <div class="img_box">
                                        <img src="resources/img/cms/main/ic_management3.webp" alt="관리대행용역">
                                    </div>
                                    <div class="txt_box">
                                        <p class="subject">가입대상</p>
                                        <p class="con">
                                            건물관리, 시설관리, 전기안전관리,<br>
                                            소방관리, 안전관리, 청소용역 등
                                        </p>
                                        <a href="#" class="btn_link btn_link2 f_c icon_box">
                                            상담 신청하기
                                            <div class="img_box">
                                                <img src="resources/img/cms/common/ic_arrow_right_defult_gray.webp" alt="상담 신청하기" class="img_default">
                                                <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="f_c swiper-slide">
                                <div class="service_box n3">
                                    <div class="title">비영리</div>
                                    <div class="img_box">
                                        <img src="resources/img/cms/main/ic_non_profit3.webp" alt="비영리단체">
                                    </div>
                                    <div class="txt_box">
                                        <p class="subject">가입대상</p>
                                        <p class="con">
                                            자선단체, 연구소, 재단, 협동조합,<br>
                                            노동조합, 협회, 동창회, 종교단체 등
                                        </p>
                                        <a href="#" class="btn_link btn_link2 f_c icon_box">
                                            상담 신청하기
                                            <div class="img_box">
                                                <img src="resources/img/cms/common/ic_arrow_right_defult_gray.webp" alt="상담 신청하기" class="img_default">
                                                <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="f_c swiper-slide">
                                <div class="service_box n4">
                                    <div class="title">세무/회계</div>
                                    <div class="img_box">
                                        <img src="resources/img/cms/main/ic_tax_accunting3.webp" alt="세무&회계">
                                    </div>
                                    <div class="txt_box">
                                        <p class="subject">가입대상</p>
                                        <p class="con">
                                            회계법인, 세무법인, 회계사무소,<br>
                                            세무사무소, 세무회계자문 등
                                        </p>
                                        <a href="#" class="btn_link btn_link2 f_c icon_box">
                                            상담 신청하기
                                            <div class="img_box">
                                                <img src="resources/img/cms/common/ic_arrow_right_defult_gray.webp" alt="상담 신청하기" class="img_default">
                                                <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="f_c swiper-slide">
                                <div class="service_box n5">
                                    <div class="title">유치원/어린이집</div>
                                    <div class="img_box">
                                        <img src="resources/img/cms/main/ic_kindergarden3.webp" alt="유치원&어린이집">
                                    </div>
                                    <div class="txt_box">
                                        <p class="subject">가입대상</p>
                                        <p class="con">
                                            어린이집, 병설유치원,<br>
                                            국공립유치원, 사립유치원 등
                                        </p>
                                        <a href="#" class="btn_link btn_link2 f_c icon_box">
                                            상담 신청하기
                                            <div class="img_box">
                                                <img src="resources/img/cms/common/ic_arrow_right_defult_gray.webp" alt="상담 신청하기" class="img_default">
                                                <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="swiper-slide f_c">
                                <div class="service_box n6">
                                    <div class="title">임대(렌탈)/할부</div>
                                    <div class="img_box">
                                        <img src="resources/img/cms/main/ic_rent3.webp" alt="임대&할부">
                                    </div>
                                    <div class="txt_box">
                                        <p class="subject">가입대상</p>
                                        <p class="con">
                                            정수기렌탈, 가전기기렌탈, IT기기렌탈, <br>자동차렌탈, 안전장비렌탈, 의료기기렌탈, 할부금융 등
                                        </p>
                                        <a href="#" class="btn_link btn_link2 f_c icon_box">
                                            상담 신청하기
                                            <div class="img_box">
                                                <img src="resources/img/cms/common/ic_arrow_right_defult_gray.webp" alt="상담 신청하기" class="img_default">
                                                <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="f_c swiper-slide">
                                <div class="service_box n7">
                                    <div class="title">후원</div>
                                    <div class="img_box">
                                        <img src="resources/img/cms/main/ic_support3.webp" alt="후원">
                                    </div>
                                    <div class="txt_box">
                                        <p class="subject">가입대상</p>
                                        <p class="con">
                                            후원단체, 장학회, 봉사회 등
                                        </p>
                                        <a href="#" class="btn_link btn_link2 f_c icon_box">
                                            상담 신청하기
                                            <div class="img_box">
                                                <img src="resources/img/cms/common/ic_arrow_right_defult_gray.webp" alt="상담 신청하기" class="img_default">
                                                <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="f_c swiper-slide">
                                <div class="service_box n8">
                                    <div class="title">제조/도매/소매</div>
                                    <div class="img_box">
                                        <img src="resources/img/cms/main/ic_manufacturing.webp" alt="제도&도매&소매">
                                    </div>
                                    <div class="txt_box">
                                        <p class="subject">가입대상</p>
                                        <p class="con">
                                            제조업체, 마트, 도매물,<br>
                                            도매유통센터 등
                                        </p>
                                        <a href="#" class="btn_link btn_link2 f_c icon_box">
                                            상담 신청하기
                                            <div class="img_box">
                                                <img src="resources/img/cms/common/ic_arrow_right_defult_gray.webp" alt="상담 신청하기" class="img_default">
                                                <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="f_c swiper-slide">
                                <div class="service_box n9">
                                    <div class="title">사회복지시설</div>
                                    <div class="img_box">
                                        <img src="resources/img/cms/main/ic_social_welfare_facilities.webp" alt="사회복지시설">
                                    </div>
                                    <div class="txt_box">
                                        <p class="subject">가입대상</p>
                                        <p class="con">
                                            사회복지법인, 복지재단, 사회복지관,<br>
                                            사회복지회, 지역아동센터, 요양원 등
                                        </p>
                                        <a href="#" class="btn_link btn_link2 f_c icon_box">
                                            상담 신청하기
                                            <div class="img_box">
                                                <img src="resources/img/cms/common/ic_arrow_right_defult_gray.webp" alt="상담 신청하기" class="img_default">
                                                <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            <li class="f_c swiper-slide">
                                <div class="service_box n10">
                                    <div class="title">기타</div>
                                    <div class="img_box">
                                        <img src="resources/img/cms/main/ic_etc_gray.webp" alt="기타">
                                    </div>
                                    <div class="txt_box">
                                        <p class="subject">가입대상</p>
                                        <p class="con">
                                            화물운수, 학원 등
                                        </p>
                                        <a href="#" class="btn_link btn_link2 f_c icon_box">
                                            상담 신청하기
                                            <div class="img_box">
                                                <img src="resources/img/cms/common/ic_arrow_right_defult_gray.webp" alt="상담 신청하기" class="img_default">
                                                <img src="resources/img/cms/main/mo_ic_arrow_right_defult_white.webp" alt="더보기" class="img_hover mo">
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="section04 ">
            <div class="container f_b">
                <div class="left f_b board_box_wrap">
                    <div class="tablet_l f_b">
                        <div class="title_box f_b">
                            <h3 class="title n1 title1 tab_btn on">공지사항</h3>
                            <h3 class="title n2 title1 tab_btn">자료실</h3>
                        </div>
                        <div class="btn_more_board_wrap f_b">
                            <a href="#" class="btn_more_board icon_box f_c on">더보기
                                <span class="img_box">
                                    <img src="resources/img/cms/main/ic_arrow_right_defult_gray_01.webp" alt="더보기" class="img_default">
                                    <img src="resources/img/cms/common/ic_arrow_on_blue.webp" alt="더보기" class="img_hover">
                                </span>
                            </a>
                            <a href="#" class="btn_more_board icon_box f_c">더보기
                                <span class="img_box">
                                    <img src="resources/img/cms/main/ic_arrow_right_defult_gray_01.webp" alt="더보기" class="img_default">
                                    <img src="resources/img/cms/common/ic_arrow_on_blue.webp" alt="더보기" class="img_hover">
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="board_box n1 tab_con on">
                        <div class="title_box f_b">
                            <h3 class="title title1">공지사항</h3>
                            <a href="#" class="btn_more_board icon_box f_c">더보기
                                <span class="img_box">
                                    <img src="resources/img/cms/main/ic_arrow_right_defult_gray_01.webp" alt="더보기" class="img_default">
                                    <img src="resources/img/cms/common/ic_arrow_on_blue.webp" alt="더보기" class="img_hover pc">
                                </span>
                            </a>
                        </div>
                        <ul>
                            <!-- 최대6개까지 출력됩니다. -->
                            <li>
                                <a href="#" class="f_b">
                                    <p class="subject txt_box_line">
                                        <span>한줄만 노출되는 라인입니다. 한줄만 노출되는 라인입니다.</span>
                                        <img src="resources/img/cms/main/mo_ic_new_square_blue.png" alt="신규게시물" class="new">
                                    </p>
                                    <p class="date">2023-00-00</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="f_b">
                                    <p class="subject txt_box_line">
                                        <span>한줄만 노출되는 라인입니다. 한줄만 노출되는 라인입니다.</span>
                                        <img src="resources/img/cms/main/mo_ic_new_square_blue.png" alt="신규게시물" class="new">
                                    </p>
                                    <p class="date">2023-00-00</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="f_b">
                                    <p class="subject txt_box_line">
                                        <span>한줄만 노출되는 라인입니다. 한줄만 노출되는 라인입니다.</span>
                                        <img src="resources/img/cms/main/mo_ic_new_square_blue.png" alt="신규게시물" class="new">
                                    </p>
                                    <p class="date">2023-00-00</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="f_b">
                                    <p class="subject txt_box_line">
                                        <span>한줄만 노출되는 라인입니다. 한줄만 노출되는 라인입니다.</span>
                                        <img src="resources/img/cms/main/mo_ic_new_square_blue.png" alt="신규게시물" class="new">
                                    </p>
                                    <p class="date">2023-00-00</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="f_b">
                                    <p class="subject txt_box_line">
                                        <span>한줄만 노출되는 라인입니다. 한줄만 노출되는 라인입니다.</span>
                                        <img src="resources/img/cms/main/mo_ic_new_square_blue.png" alt="신규게시물" class="new">
                                    </p>
                                    <p class="date">2023-00-00</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="f_b">
                                    <p class="subject txt_box_line">
                                        <span>한줄만 노출되는 라인입니다. 한줄만 노출되는 라인입니다.</span>
                                        <img src="resources/img/cms/main/mo_ic_new_square_blue.png" alt="신규게시물" class="new">
                                    </p>
                                    <p class="date">2023-00-00</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="board_box n2 tab_con">
                        <div class="title_box f_b">
                            <h3 class="title title1">자료실</h3>
                            <a href="#" class="btn_more_board icon_box f_c">더보기
                                <span class="img_box">
                                    <img src="resources/img/cms/main/ic_arrow_right_defult_gray_01.webp" alt="더보기" class="img_default">
                                    <img src="resources/img/cms/common/ic_arrow_on_blue.webp" alt="더보기" class="img_hover pc">
                                </span>
                            </a>
                        </div>
                        <ul>
                            <li>
                                <a href="#" class="f_b">
                                    <p class="subject txt_box_line">
                                        <span>한줄만 노출되는 라인입니다. 한줄만 노출되는 라인입니다.</span>
                                        <img src="resources/img/cms/main/mo_ic_new_square_blue.png" alt="신규게시물" class="new">
                                    </p>
                                    <p class="date">2023-00-00</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="f_b">
                                    <p class="subject txt_box_line">
                                        <span>한줄만 노출되는 라인입니다. 한줄만 노출되는 라인입니다.</span>
                                        <img src="resources/img/cms/main/mo_ic_new_square_blue.png" alt="신규게시물" class="new">
                                    </p>
                                    <p class="date">2023-00-00</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="right">
                    <div class="customer_center_box">
                        <div class="top f_b">
                            <div class="title_box f_c">
                                <div class="img_box">
                                    <img src="resources/img/cms/main/ic_call_blue.webp" alt="고객센터">
                                </div>
                                <h3 class="title title1">고객센터</h3>
                            </div>
                            <button type="button" class="btn_info f_c">단축번호 안내
                                <img src="resources/img/cms/main/ic_question_mark_off_gray.webp" alt="물음표" class="img_default">
                                <img src="resources/img/cms/main/ic_questionmark_on_gray.webp" alt="물음표" class="img_hover">
                            </button>
                        </div>
                        <div class="middle">
                            <a href="tel:1577-5500">1577-5500</a>
                            <div class="operating_hours">
                                <div><img src="resources/img/cms/main/ic_time_gray.webp" alt="시간"><span>평일 09:00 ~ 17:45</span></div>
                                <p class="holiday">(토, 일, 공휴일 휴무)</p>
                            </div>
                            <img src="resources/img/cms/main/img_customercenter.webp" alt="고객센터" class="bg_customer_center pc">
                            <img src="resources/img/cms/main/mo_img_customercenter.webp" alt="고객센터" class="bg_customer_center mo">
                        </div>
                        <div class="bottom">
                            <ul class="f_b">
                                <li>
                                    <a href="#" class="icon_box f_c f_d_c">
                                        <div class="img_box">
                                            <img src="resources/img/cms/main/btn_support_selected_light_gray.webp" alt="원격지원상담" class="img_default">
                                            <img src="resources/img/cms/main/btn_support_selected.webp" alt="원격지원상담" class="img_hover pc">
                                            <img src="resources/img/cms/main/mo_btn_support_blue.webp" alt="원격지원상담" class="img_hover mo">
                                        </div>
                                        <p class="txt_box sub_title3">
                                            원격지원상담
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icon_box f_c f_d_c">
                                        <div class="img_box">
                                            <img src="resources/img/cms/main/btn_inquiry_defult_gray.webp" alt="1:1 문의" class="img_default">
                                            <img src="resources/img/cms/main/ic_inquiry_selected.webp" alt="1:1 문의" class="img_hover pc">
                                            <img src="resources/img/cms/main/mo_btn_inquiry_blue.webp" alt="1:1 문의" class="img_hover mo">
                                        </div>
                                        <p class="txt_box sub_title3">
                                            1:1 문의
                                        </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="icon_box f_c f_d_c">
                                        <div class="img_box">
                                            <img src="resources/img/cms/main/btn_faq_defult_light_gray.webp" alt="FAQ" class="img_default">
                                            <img src="resources/img/cms/main/ic_faq_selected.webp" alt="FAQ" class="img_hover pc">
                                            <img src="resources/img/cms/main/mo_btn_faq_blue.webp" alt="FAQ" class="img_hover mo">
                                        </div>
                                        <p class="txt_box sub_title3">
                                            FAQ
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div> 
        </section>
    </main>
</div>