@charset "utf-8";

/* header css */
.header {
    padding: 2.3rem 2rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

.header.on {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
}

.header .logo {
    width: 16.5rem;
    height: 6rem;
    border-radius: 5rem;
    background-color: #fff;
    ;
}

.header .lnb {
    width: 65rem;
    height: 6rem;
    border-radius: 3rem;
    box-shadow: var(--boxShadow01);
    background-color: #fff;
    /* 231206 뮤자인 태일 로그인상태 추가 */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
}


.header .lnb .depth1>li+li {
    margin-left: 3.5rem;
}

.header .lnb .depth1>li>a {
    font-size: 2rem;
    min-width: 7.7rem;
}

.header .lnb .depth1>li:hover>a {
    font-weight: bold;
}

.header .lnb .depth1>li.on .depth2 {
    display: flex;
}

.header .lnb .depth2 {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    padding-top: 12.5rem;
    width: 100%;
    align-items: flex-start;
    background-color: #fff;
    box-shadow: var(--boxShadow01);
    padding-bottom: 6rem;
    padding-left: 10%;
}

.header .lnb .depth2>li {
    min-width: 22rem;
    padding-left: 3rem;
}

.header .lnb .depth2>li>a {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 2rem;
}

.header .lnb .depth3>li {}

.header .lnb .depth3>li+li {
    padding-top: 1rem;
}

.header .lnb .depth3>li a {}

.header .lnb .depth3>li a:hover {
    color: var(--mainColor);
}



.header .btn_gnb {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: var(--mainColor);
    box-shadow: var(--boxShadow01);
    background: var(--mainColor) url(../../../img/cms/common/btn_ham.webp) no-repeat center center / 2.4rem;
}

.header .btn_gnb.on {
    background: var(--mainColor) url(../../../img/cms/common/mo_btn_hamberger.webp) no-repeat center center / 5rem;
}

/* 231206 뮤자인 태일 로그인상태 추가 */
.header_right{
    position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%);
}
.header_right .member_name{margin-right: 1.5rem; color: #616161;}
.header_right .member_name > p{color: #616161;}
.header_right .member_name > p:last-of-type{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.header_right .password{border-bottom: 1px solid #000; margin-right: 1.5rem;}





/* gnb css */
.btn_login {
    /* display: none; */
    width: 13.5rem;
    height: 6rem;
    border-radius: 5rem;
    box-shadow: var(--boxShadow01);
    background-color: #fff;
    font-size: 2rem;
    /* position: absolute;
    top: 50%;
    right: 10rem;
    transform: translateY(-50%); */
}

.btn_login img {
    margin-left: 1.5rem;
}

.header.active .btn_login {
    display: none;
}


.gnb {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    /* height: 100%; */
    padding-bottom: 6rem;
    background-color: #fafafa;
    box-shadow: var(--boxShadow01);
    padding-top: 12rem;
    display: none;
}

.gnb.on {
    display: block;
}

.gnb .depth1 {
    align-items: flex-start;
}

.gnb .depth1>li+li {
    margin-left: 18rem;
}

.gnb .depth1>li>p {
    font-size: 2rem;
    font-weight: 500;
    justify-content: flex-start;
}

.gnb .depth1>li>p img {
    margin-right: .5rem;
    pointer-events: none;
    
}

.gnb .depth2 {
    padding: 2rem 0 0 5rem;
}

.gnb .depth2>li {}

.gnb .depth2>li+li {
    padding-top: 1rem;
}

.gnb .depth2>li>p,
.gnb .depth2>li>a {
    font-weight: 500;
    justify-content: flex-start;
    cursor: pointer;
}

.gnb .depth2>li>p img {
    margin-left: 1rem;
    pointer-events: none;
    width: 1rem;
}

.gnb .depth2>li>p img.close {
    display: none;
}

.gnb .depth2>li>p.on img.open {
    display: none;
}

.gnb .depth2>li>p.on img.close {
    display: block;
}

.gnb .depth3_wrap {
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}

.gnb .depth3_wrap.on {
    height: var(--gnbDepth3Height);
}

.gnb .depth3 {
    padding-top: 1rem;
}

.gnb .depth3>li {}

.gnb .depth3>li+li {
    padding-top: 1rem;
}

.gnb .depth3>li>a {
    font-size: 1.4rem;
    color: #616161;
}

.gnb .depth3>li>a:hover {
    color: var(--mainColor);
}


/* sidebar css */

.sidebar {
    width: 10rem;
    height: 63.5rem;
    padding: 6rem 0 5rem;
    position: fixed;
    top: 10.6rem;
    right: 0;
    box-shadow: var(--boxShadow01);
    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;
    background-color: #fff;
    justify-content: space-between;
    z-index: 9;
}


.sidebar ul li+li {
    margin-top: 3rem;
}

.sidebar .txt {
    font-size: 1.2rem;
    font-weight: 500;
    color: #616161;
    margin-top: 0.5rem;
}

.sidebar li:hover .txt {
    color: #000;
}

.sidebar #btn_top {
    margin-top: 5rem;
}

/* footer css */
.footer {
    background-color: #fff;
}

.footer .container {
    padding: 0 12rem 6rem;
}

.footer .top {
    padding: 3.5rem 0;
    border-bottom: 1px solid rgba(136, 136, 136, 0.1);
}

.footer .top .logo {
    padding-right: 10rem;
}

.footer_nav ul li:nth-child(1) a {
    color: var(--mainColor);
    font-weight: 500;
}

.footer_nav ul li+li {
    margin-left: 4.5rem;
}

.footer_nav ul li a {
    color: #515e78;
    font-size: 1.4rem;
}

.footer_nav ul li:hover a {
    color: var(--mainColor);
}

.footer_nav ul li a img {
    margin-left: .5rem;
}

.footer .top .etc .security,
.select {
    position: relative;
    height: 4.5rem;
    border-radius: 1rem;
    background-color: #f2f4f8;
    color: #515e78;
    cursor: pointer;
}

.footer .top .etc .security,
.footer .top .etc .select {
    width: 20rem;
    height: 4rem;
    border-radius: .5rem;
    font-size: 1.4rem;
}
.footer .top .etc .select{
    margin-left: 1rem;    
}
.footer .top .etc .select.on{
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

body .select.disabled {
    pointer-events: none;
    background-color: #fafafa;
}

.footer .top .etc>a::before,
.select::before,
.footer .top .etc>a::after,
.select::after {
    content: '';
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: .7rem;
}



.footer .top .etc .security::before {
    width: 1.6rem;
    height: 1.9rem;
    background-image: url(../../../img/cms/common/ic_security_off_gray.webp);
}

.footer .top .etc .security:hover {
    background-color: var(--mainColor);
    color: #fff;
}

.footer .top .etc .security:hover::before {
    background-image: url(../../../img/cms/common/ic_security_on_white.webp);
}

.select {
    width: 18rem;
    position: relative;
    transition: all 0.5s;
    border: 1px solid transparent;
}

.select::before {
    width: 1.8rem;
    height: 1.8rem;
    background-image: url(../../../img/cms/common/ic_family_site_gray.webp);
}

.select02::before {
    display: none;
}

.select>img {
    margin: 0 0 0 .7rem;
    pointer-events: none;
}

.select>img.off {
    display: none;
}

.select.on {
    background-color: #fff;
    border: 1px solid #9e9e9e;
    border-top: 0;
    position: relative;    
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.select02.on {
    border-radius: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.select.on>img.off {
    display: block;
}

.select.on>img.on {
    display: none;
}

.select::after {
    display: none;
}

.select.on::after {
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    height: 1px;
    background-color: #9e9e9e;
    transition: all 0.5s;
    display: block;
}

.select02.on::after {
    top: auto;
    bottom: 0;
}

.select.on .select_box {
    height: 30rem;
    opacity: 1;
}

.select02.on .select_box {
    height: 10rem;
    height: auto;
}

.select .select_box {
    width: 100%;
    height: 0;
    position: absolute;
    bottom: 100%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: solid 1px #9e9e9e;
    border-bottom: 0;
    background-color: #fff;
    overflow-y: scroll;
    transition: height 0.5s, opacity 0.5s;
    opacity: 0;
    box-sizing: content-box;
    padding: 0;
}

.select02 .select_box {
    top: 100%;
    bottom: auto;
    border-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: solid 1px #000;
    border-top: 0;
}

.select .select_box .select_box_inner {
    padding: 1.5rem 0 1.5rem 1rem;
    text-align: left;
}

.select .select_box .select_box_inner li+li {
    margin-top: .5rem;
}

.fake_selected {
    font-size: 1.6rem;
    pointer-events: none;
}

.select .select_box .select_box_inner li {
    padding: 0.5rem 0 0.5rem 1rem;
    font-size: 1.4rem;
    color: #222;
}
.select .select_box .select_box_inner li.disabled{
    display: none;
}

.select .select_box .select_box_inner li a {
    color: inherit;
    font-size: inherit;
}

.select .select_box .select_box_inner li:hover {
    background-color: rgba(242, 244, 248, 0.81);
    border-radius: 6px;
}



.footer .middle {
    padding: 6rem 0 4rem;
}

.footer .middle .logo {
    width: 15.8rem;
}

.footer .middle address {
    width: calc(99.999% - 15.6rem);
    padding: 0 12rem 0px 5rem;
}

.footer .middle li+li {
    margin-top: 0.8rem;
}

.footer .middle strong {
    color: var(--mainColor);
}

.footer p {
    font-size: 1.4rem;
    color: #b7b7b7;
}

.footer .middle .center_box>p {
    margin-top: 0.8rem;
    font-size: 1.6rem;
    color: #515e78;
}

.footer .middle .center_box a {
    padding-right: 1rem;
    font-size: 3.2rem;
    color: var(--mainColor);
    font-weight: bold;
}
.footer .middle .center_box .f_c p{
    font-size: 1.2rem;
    color: #515e78;
}

.footer .middle .branch::after {
    content: ':';
    display: inline-block;
    padding: 0 .5rem;
}

.footer .copy{
    color: #757575;
    opacity: 0.5;
}

@media all and (max-width:1650px) {
    .header_right .left{
        flex-direction: column;
        align-items: flex-end;
    }
    .header_right .member_name{
        width: 16rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        justify-content: flex-start;
    }
}

@media all and (max-width:1440px) {
    /* 231206 뮤자인 태일 로그인상태 추가 */
    .header_right .member_name > p,
    .header_right .password{
        font-size: 1.4rem;
    }
    .header_right .member_name{
        width: 18rem;
    }
    .header.login .lnb{
        width: auto;
        padding: 0 3rem;
    }
    /* .header .lnb .depth1>li>a */




    .sidebar {
        height: auto;
        box-shadow: none;
        background-color: transparent;
        top: auto;
        bottom: 3rem;
        flex-direction: column-reverse;
    }

    .sidebar ul li {
        display: none;
    }

    .sidebar ul li:last-child {
        display: block;
    }

}

@media all and (max-width:1280px) {
    .header_right .member_name{
        width: 15rem;
    }
    .btn_login{
        width: 7.5rem;
        height: 4rem;
        font-size: 1.4rem;
    }
    .btn_login img{
        width: 0.4rem;
        margin-left: 1rem;
    }
    .header .lnb .depth1>li+li {
        margin-left: 2.5rem;
    }
    .header .lnb .depth1>li>a{
        font-size: 1.6rem;
    }

    .footer .container{
        padding: 0 5rem 5rem;
    }
    .footer .top {
        padding: 2rem 0;
    }

    .footer .top .logo {
        padding-right: 5rem;
    }

   
}

@media all and (max-width:1024px) {
    .header .lnb {
        display: none;
    }

    .header .lnb .depth2 {
        padding-left: 5%;
    }

    .header .lnb .depth2>li {
        min-width: 18rem;
    }

    .btn_login {
        width: 16.5rem;
        height: 6rem;
        font-size: 2rem;
    }
    .btn_login img{
        width: auto;
        margin-left: 1.5rem;
    }
    .header_right .member_name {
        width: auto;
    }
    
    .gnb .depth1>li+li {
        margin-left: 5rem;
    }

    .footer .top,
    .footer .top .left {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer .top .left .footer_nav {
        margin: 3rem 0;
    }

    .footer .middle {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer .middle address {
        padding: 3rem 0 0;
    }

    
}

@media all and (max-width:768px) {
    .header {
        padding: 1rem 2rem;
    }

    .header .logo {
        width: 8rem;
        height: 3.2rem;
    }
    .header.active .logo{
        display: none;
    }

    .header .logo img {
        width: 60%;
    }
    .header_right{
        position: static;
        transform: none;
        display: none;
    }
    .header.active .header_right{
        display: block;
    }
    .header_right .password{
        display: none;
    }

    .header .btn_gnb {
        width: 4rem;
        height: 4rem;
    }
   
    .btn_login {
        right: auto;
        left: 2rem;
        width: 8rem;
        height: 3.2rem;
        font-size: 1.4rem;
        display: none;
    }
    .password_login_box.mo{
        display: flex;
        padding: 4rem 2rem 0;
    }
    .password_login_box .btn_login{
        display: flex;
    }
    .password_login_box .password{
        border-bottom: 1px solid #000
    }
    .btn_login img {
        width: .35rem;
        height: .7rem;
        margin-left: .8rem;
    }

    .header.active .btn_login {
        /* display: flex; */
        display: none;
    }

    .gnb {
        padding-top: 6rem;
        height: 100%;
    }

    .gnb .gnb_container {
        overflow-y: scroll;
        height: 100%;
        padding-bottom: 5rem;
    }

    .gnb .depth1 {
        flex-direction: column;
    }

    .gnb .depth1>li {
        width: 100%;
    }

    .gnb .depth1>li+li {
        margin: 0;
    }

    .gnb .depth1>li>p {
        height: 5.5rem;
        border-bottom: 1px solid #b7b7b7;
        padding: 0 2rem;
        justify-content: space-between;
        background-color: #fff;
    }
    .gnb .depth1>li>p img{
        width: 1.6rem;
    }
    .gnb .depth1>li>p img.close {
        display: none;
    }

    .gnb .depth1>li.on>p img.open {
        display: none;
    }

    .gnb .depth1>li.on>p img.close {
        display: block;
    }

    .gnb .depth1 .gnb_icon {
        display: none;
    }

    .gnb .depth2_wrap {
        height: 0;
        overflow: hidden;
        transition: all 0.5s;
    }

    .gnb .depth2_wrap.on {
        height: var(--gnbDepth2Height);
    }

    .gnb .depth2 {
        padding: 3rem 0 3rem 2rem;
        background-color: #fafafa;
    }

    /* .gnb .depth2 > li{background-color: #fafafa;} */
    .gnb .depth2>li>p {
        font-size: 1.5rem;
    }

    .sidebar {
        width: auto;
        padding: 0 1.5rem;
    }

    .sidebar .txt {
        display: none;
    }

    .sidebar .icon_box .img_box .img_default {
        display: none;
    }

    .sidebar .icon_box .img_box .mo {
        display: block;
        width: 5.5rem;
    }

    .sidebar ul li+li {
        margin-top: 0;
    }

    .footer .container{
        padding: 3rem 2rem 8rem;
    }

    .footer .top {
        padding: 0 0 3rem;

    }
    .footer .top .left{
        width: 50%;
    }
    .footer .top .left .footer_nav {
        margin: 2.5rem 0 3rem;
        width: 100%;
    }

    .footer .top .left .footer_nav ul {
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .footer_nav ul li{
        width: calc((79.999% - 1rem) / 2);
    }

    .footer_nav ul li+li {
        margin-left: 0;
        margin-top: 0;
    }
    .footer_nav ul li a{
        justify-content: flex-start;
    }
    .footer .top .etc .security,
    .select {
        font-size: 1.2rem;
        /* width: 13.5rem; */
    }

    .select .select_box .select_box_inner li a {
        font-size: 1.2rem;
    }
    .footer .top .etc .select{
        margin-left: 0;
    }
    .footer .top .right .etc {
        flex-direction: column;
    }

    .select {
        margin-left: 0;
        margin-top: 1rem;
    }

    .select::before {
        width: 1.3rem;
        height: 1.3rem;
        background-image: url(../../../img/cms/common/mo_ic_family_gray.webp);
    }

    .footer .top .etc .security {
        margin-left: 0;
    }

    .footer .top .etc .security::before {
        width: 1.2rem;
        height: 1.4rem;
        background-image: url(../../../img/cms/common/mo_ic_security_gray.webp);
    }

    .select>img {
        width: 1.5rem;
    }

    .footer .top .logo {
        padding-right: 0rem;
        width: 15rem;
    }
    .footer_nav ul li a img{
        width: 1.1rem;
    }
    .footer .middle {
        padding: 1.5rem 0 2rem;
    }

    .footer .middle .center_box {
        margin-top: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer .middle address {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 0;
    }

    .footer .middle address .branch{
        white-space: nowrap;
    }

    .footer .middle .center_box>p {
        margin-top: 0;
        font-size: 1.4rem;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #b7b7b7;
    }
    .footer .middle .center_box > p::after{
        content: '|';
        display: block;
        margin: 0 0.5rem;
        font-size: inherit;
        color: #b7b7b7;
    }

    .footer .middle .center_box a{
        font-size: 1.6rem;
        position: relative;
    }
    .footer .middle .center_box .f_c p{
        color: #b7b7b7;
    }
    .footer .middle li+li {
        margin-top: 0.5rem;
    }

    .footer p {
        font-size: 1.1rem;
    }

    .select .select_box .select_box_inner li+li {
        margin-top: 1.5rem;
    }
    .fake_selected{
        font-size: 1.4rem;
    }
}

@media screen and (max-width:500px) {
    .footer .top .left,
    .footer .top .right,
    .footer .top .etc .security, .footer .top .etc .select {
        width: 100%;
    }
    .footer .top .etc .security, .footer .top .etc .select{
        justify-content: flex-start;
        padding: 0 1.5rem;
        height: 4.5rem;
    }
    .footer .top .etc .select img{position: absolute;top: 50%;right: 1.5rem; transform: translateY(-50%);;}
}