/* 혜인 주임님 */
/* cms 안내 - 부가 서비스 */
.page_contents {
    max-width: 140rem;
    margin: 0 auto;
}
.sub_title4 {
    font-size: 1.6rem;
    color: #666;
    line-height: 1.63;
    margin-bottom: 1.8rem;
}
.sub01_3_2 .sub_title4 {
    text-align: left;
}
.sub01_3_2 .border_act_cont.n1 .sub_title4 {
    width: 70%;
    margin: 0 auto;
}
.sub_title5 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #666;
}
.sub_title_cont {
    background: #ebf4ff;
    padding: 1.4rem 9rem;
    width: 56.5rem;
    margin: 0 auto;
    border-radius: 10px;
}
.sub_title_cont .sub_title5 {
    padding-left: 2.5rem;
    position: relative;
    font-weight: normal;
}
html[lang=ko] .sub_title_cont .sub_title5{
    white-space: nowrap;
}
.star_txt {
    position: relative;
    padding-left: 2.5rem;
}
.star_txt::before {
    content: "";
    background: url(../../../../img/cms/sub/sub01/ic_star_small.webp) no-repeat
        center/cover;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 0;
}
.sub_title4 .main_color {
    font-weight: bold;
}
.sub_wrap2 .page_title_box {
    position: relative;
}
.sub_wrap2 .page_title_box .img_bg {
    position: absolute;
}
.sub_wrap2 .page_title_box .img_bg.n1 {
    width: clamp(25rem, 20.5729vw, 39.5rem);
    right: clamp(10rem, 11.9271vw, 22.9rem);
    bottom: 0;
}
.sub_wrap2 .page_title_box .img_bg.n2 {
    width: clamp(10rem, 9.4271vw, 18.1rem);
    bottom: clamp(3rem, 2.6042vw, 5rem);
    left: clamp(20rem, 27.3438vw, 52.5rem);
}
.sec01 .sec_title_box {
    padding-bottom: 16rem;
}
.sub01_3_2 .sec01 .sec_title_box {
    padding-bottom: 12rem;
}
.sec02 .cont_wrap {
    gap: 2rem;
}


.sub01_3_1 .sec02 {
    margin-bottom: 12.5rem;
}
.sec02 .cont_wrap .white_box {
    max-width: 100%;
    width: 50%;
    height: 56rem;
    text-align: center;
}
.sub01_3_2 .sec02 .cont_wrap .white_box {
    height: 57.3rem;
}
.sec02 .cont_wrap .r_box .sub_title_cont_desc {
    width: 55%;
    text-align: center;
    margin: 0 auto;
}
.sub_title_cont_desc {
    white-space: nowrap;
}
.sub01_3_2 .sec02 .cont_wrap .r_box .sub_title_cont_desc {
    width: 75%;
}
.sec02 .cont_wrap .r_box .sub_title_cont_desc .sub_title4 {
    text-align: left;
}
.sec02 .cont_wrap .white_box .img_box img {
    width: 20rem;
}
.sec02 .cont_wrap .white_box .txt_box {
    width: 100%;
}
.sec02 .cont_wrap .white_box.l_box .txt_box .sub_title4 {
    margin-bottom: 0;
}
.sec02 .head_line5 {
    margin-bottom: 3rem;
    white-space: nowrap;
}
.sec02 .head_line5 img {
    width: 4.8rem;
}
.sec03 {
    margin-bottom: 21.5rem;
}
.sec03 .title2 {
    padding-bottom: 1rem;
}
.title1 {
    padding-bottom: 1.5rem;
}
.tit_border {
    border-bottom: 1.5px solid var(--black);
}
.step_box_cont {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin: 4rem 0 2.5rem;
}
.step_box_cont .step_box {
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    position: relative;
    text-align: center;
    height: 17rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 3.2rem 0 4.1rem;
}
.step_box_cont .step_box::after {
    content: "";
    background: url(../../../../img/cms/sub/sub01/ic_process_arrow.webp)
        no-repeat center/cover;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    right: -4rem;
    top: 50%;
    transform: translateY(-50%);
}
.step_box_cont .step_box:last-child::after {
    display: none;
}
.step_box_cont .step_box .step {
    font-size: 1.6rem;
    letter-spacing: -0.032rem;
    color: var(--borderColor);
    text-transform: uppercase;
    font-weight: bold;
}
.step_box_cont .step_box .step_txt {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.09rem;
    margin-top: 2rem;
}
.check_sub_title {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.08rem;
    margin-bottom: 2.2rem;
}
.check_sub_title.n1 {
    position: relative;
}
.check_sub_title .sub_title_desc {
    margin-right: 1rem;
}
.check_sub_title .process {
    font-size: 1.6rem;
    letter-spacing: -0.08rem;
    color: var(--blueGray600);
    position: relative;
    padding-right: 2.4rem;
}
.check_sub_title .process::before {
    content: "";
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../../../../img/cms/sub/sub01/ic_arrow_down_gray.webp)
        no-repeat center/cover;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.check_sub_title .process:last-child::before {
    display: none;
}
.service_time_cont {
    padding: 7rem 15.6rem;
    border-radius: 1rem;
    background: var(--lightBlue);
    margin-top: 5rem;
}
.service_time_cont .icon_box {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}
.service_time_cont .icon_box img {
    width: 6rem;
}
.service_time_cont .title1 {
    border: none;
    padding: 0;
}
.service_time_cont .time_box {
    display: flex;
}
.service_time_cont .link_box a {
    display: block;
    width: 28rem;
    height: 5.5rem;
    line-height: 5.5rem;
    background: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.08rem;
    color: var(--blueGray600);
    text-align: center;
    border-radius: 1rem;
}
.tab_menu_wrap2 .table_box {
    margin-top: 4rem;
}
.table_layout .table_txt_desc {
    font-size: 1.6rem;
    letter-spacing: -0.032rem;
    white-space: nowrap;
}
.table_layout .line1 td {
    height: 16rem;
}
.btn_popup_wrap .table_layout tr td {
    height: 4.8rem;
    width: 25%;
}
.table_sub_txt {
    margin-top: 1.6rem;
}
.sec04 .tab_menu_wrap2 .btn_popup_wrap  .table_box {
    margin-top: 0;
}
.view_more_btn {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--blueGray600);
    letter-spacing: -0.08rem;
}
.view_more_btn .btn_txt {
    padding: 0.25rem 1rem;
    /* background: #f2f4f8; */
    border-radius: 0.4rem;
}
.table_layout .line1 .popup_td .btn_popup_wrap {
    max-width: 23.2rem;
    margin: 0 auto;
    border-radius: 0.4rem;
}
.table_layout .line1 td .view_more_btn {
    margin-top: 0.8rem;
    display: flex;
    align-items: center;
    padding: 0.3rem 0;
    width: auto;
}
.table_cont {
    margin-bottom: 11.5rem;
}
.table_cont:last-child {
    margin: 0;
}
.white_box {
    box-shadow: var(--boxShadow01);
    border-radius: 3rem;
    background-color: var(--white);
    padding: 7rem 8rem 8rem;
}
.border_act_cont {
    display: flex;
    align-items: center;
}
.chk_txt {
    padding-left: 3rem;
    position: relative;
}
.chk_txt::before {
    content: "";
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../../../../img/cms/sub/sub01/ic_check_blue.webp) 0 0
        no-repeat;
    position: absolute;
    left: 0;
}
.check_sub_title .process:last-child::before {
    display: none;
}
.service_time_cont {
    padding: 7rem 15.6rem;
    border-radius: 3rem;
    background: var(--lightBlue);
    margin-top: 3rem;
}
.service_time_cont .title1 {
    border: none;
}
.service_time_cont .time_box {
    display: flex;
}
.service_time_cont .time_box .time_desc {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.036rem;
    margin-bottom: 0.9rem;
}
.sub_gray_txt {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.08rem;
    color: #666;
}

.service_time_cont .link_box {
    background: none;
}

.service_time_cont .link_box a {
    display: flex;
    width: 28rem;
    height: 5.5rem;
    line-height: 5.5rem;
    background: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.08rem;
    color: var(--blueGray600);
    text-align: center;
    border-radius: 1rem;
}
.tab_menu_wrap2 .table_box {
    margin-top: 4rem;
}
.table_layout .table_body .dep2_th .table_txt_desc {
    font-size: 1.6rem;
    letter-spacing: -0.032rem;
}
.table_layout .line1 td {
    height: 16rem;
}
.table_layout .line2 td,
.table_layout .line3 td {
    height: 12rem;
}
.table_layout .sub_gray_txt {
    margin-top: 1.6rem;
}
.btn_popup_wrap .table_layout td:not(.dep2_th):after {
    background-color: rgba(224, 224, 224, 0.3);
}
.btn_popup_wrap .table_cont {
    margin-bottom: 3rem;
}
.table_layout td:not(.dep2_th)::before, 
.table_layout td:not(.dep2_th):after {
    background-color: rgba(224, 224, 224, 0.3);
}
/* .table_layout td:not(.dep2_th) + td:not(.dep2_th)::before {
    display: none;
} */
.table_layout .z_inx {
    position: relative;
    z-index: 0 !important;
}
.table_cont.n1 .table_layout .line1 .popup_td {
    z-index: 9999;
}
/* .table_layout th, 
.table_layout td, 
.table_layout 
.table_head, 
.table_layout 
.table_body 
.dep2_th {
    z-index: 0;
} */
.popup_cont .table_layout .table_head th {
    height: 5.8rem;
}
.sub01_3_2 .chk_txt {
    padding: 0;
}
.sub01_3_2 .chk_txt::before {
    left: -3rem;
}
.gray_box {
    padding: 1.8rem 2.8rem;
    border-radius: 1rem;
    background: var(--blueGray50);
}
.gray_box .chk_txt {
    color: #666;
}
.gray_box .txt_box {
    text-align: left;
    padding: 0 0 0 4.5rem;
}
.sec04 .head_line2 {
    text-align: center;
}
.sub_title_box {
    text-align: center;
}
.sec01 .sub_title_box {
    margin-bottom: 16rem;
}
.sub01_3_2 .sec01 .sub_title_box {
    margin-bottom: 12rem;
}
.sub01_3_2 .sec02 .sub_title_box {
    margin-bottom: 5.8rem;
}
.sec03 .sub_title_box {
    margin-bottom: 7rem;
}
.mo_ver {
    display: none;
}
.table_cont.n2 {
    margin: 0;
}
.time_cont {
    font-size: 1.4rem;
    letter-spacing: -0.028rem;
    padding-left: 2rem;
    position: relative;
}
.time_cont::after {
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background: #000;
    position: absolute;
    top: calc(50% + 0.2rem);
    left: 1rem;
    transform: translate(-50%, -50%);
}
.no_color {
    color: #d8250e;
}
.week_cont {
    border-radius: 1rem;
    background: #f2f4f8;
    padding: 2rem 2.5rem;
    width: 63%;
    margin: 0 auto;
}
.week_cont .week_desc_cont li {
    font-size: 1.6rem;
    color: #757575;
    margin-bottom: 0.5rem;
    padding-left: 2rem;
    position: relative;
}
.week_cont .week_desc_cont li::after {
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #757575;
    position: absolute;
    top: calc(50% + 0.2rem);
    left: 1rem;
    transform: translate(-50%, -50%);
}
.unit_cont {
    font-size: 1.4rem;
    padding-left: 0.5rem;
    display: flex;
}
.ft-500 {
    font-weight: 400;
}


/* 팝업 공통 */
.btn_popup_wrap .btn_popup.act .on,
.btn_popup_wrap .btn_popup .off {
    display: block;
}
.btn_popup_wrap .btn_popup .on,
.btn_popup_wrap .btn_popup.act .off {
    display: none;
}
.btn_popup_wrap .popup_wr.on {
    display: block;
}
.pop_cont {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: none;
}
.pop_cont .pop_bg {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.pop_cont .pop_inner {
    width: 96rem;
    min-width: 70rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5.4rem 4rem 6rem;
    background-color: #fff;
    border-radius: 3rem;
}
.pop_cont .pop_inner .cont_header {
    padding-bottom: 1rem;   
}
.pop_cont .pop_inner .pop_close {
    position: absolute;
    right: 3.6rem;
    top: 3.6rem;
    cursor: pointer;
}
.pop_cont .cont_inner .scroll_box {
    max-height: 52rem;
}
.popup_cont .title1 {
    text-align: center;
}

/* scroll */
.scroll {overflow-y: auto;}
/* width */
.scroll::-webkit-scrollbar {width: .4rem !important; height: .4rem;}
/* Track */
.scroll::-webkit-scrollbar-track {padding-right: 5rem;}
/* Handle */
.scroll::-webkit-scrollbar-thumb {background: #dfe2e9; border-radius: 5rem;}
.scroll::-webkit-scrollbar-thumb:hover {background: #dfe2e9;}

@media screen and (max-width: 1280px) {
    .page_contents {
        max-width: 100%;
        padding: 0 2rem;
    }
    .white_box {
        padding: 2.5rem 1.5rem;
    }
    .sec02 .cont_wrap .white_box {
        height: 50rem;
        padding: 3rem 0 4rem;
    }
    .service_time_cont {
        padding: 3.5rem;
    }
  
}
@media screen and (max-width: 1024px) {
    .btn_popup_wrap .table_layout .table_head::after {
        background-color: var(--blueGray50);
    }
    .table_layout td {
        padding: 1rem;
    }
    .sub01_3_1 .table_cont.mo_1024:not(.n2) .line1 th,
    .sub01_3_1 .table_cont.mo_1024:not(.n2) .line2 th {
        padding: .5rem 0;
    }
}

@media screen and (max-width: 989px) {
    .gray_box {
        max-width: 39.2rem;
        margin: 0 auto;
    }
    .sub_title_cont_desc {
        white-space: normal;
    }
    .sec02 .cont_wrap .r_box .sub_title_cont_desc {
        width: 100%;
    }
    .sec02 .cont_wrap .r_box .sub_title_cont_desc .sub_title4 {
        text-align: center;
    }
    .sub01_3_2 .sec02 .cont_wrap .r_box .sub_title_cont_desc {
        width: 100%;
    }
    .sub01_3_2 .border_act_cont.n1 .sub_title4 {
        width: 100%;
    }
    .sub01_3_2 .sub_title4 {
        text-align: center;
    }
    .sub01_3_2 .sec02 .cont_wrap .white_box {
        height: 50rem;
    }
}

@media screen and (max-width: 768px) {
    .mo_ver {
        display: block;
    }
    table .mo_ver {
        display: table-cell;
    }
    .pc_ver {
        display: none;
    }
    .sub_title4 {
        font-size: 1.3rem;
    }
    .sub_wrap2 .page_title_box .img_bg.n1 {
        right: auto;
        transform: translateX(-50%);
        left: 50%;
        width: 23rem;
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        display: none;
    }
    .step_box_cont {
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    .step_box_cont .step_box::after {
        width: 2rem;
        height: 2rem;
        right: -2.5rem;
    }
    .step_box_cont .step_box.n2::after {
        top: auto;
        right: calc(50% - 1.25rem);
        bottom: -3.5rem;
        transform: translateY(-50%) rotate(90deg);
    }
    .step_box_cont .step_box.n3::after {
        left: -2.5rem;
        transform: translateY(-50%) rotate(60deg);
    }
    .service_time_cont {
        padding: 3.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
    .step_box_cont .step_box {
        height: 15rem;
    }
    .step_box_cont .step_box.n1 {
        order: 1;
    }
    .step_box_cont .step_box.n2 {
        order: 2;
    }
    .step_box_cont .step_box.n3 {
        order: 4;
    }
    .step_box_cont .step_box.n4 {
        order: 3;
    }
    .sec01 .sub_title_box {
        margin-bottom: 10rem;
    }
    .sec03 .sub_title_box {
        margin-bottom: 3.5rem;
    }
    .sub01_3_1 .sec02 {
        margin-bottom: 10rem;
    }
    .sec03 {
        margin-bottom: 10rem;
    }
    .sec02 .cont_wrap .white_box .img_box img {
        width: 15rem;
    }
    .sec02 .cont_wrap .white_box {
        height: 40rem;
        min-width: calc(50% - 1rem);
    }
    .sub_title_cont .sub_title5 {
        font-size: 1.4rem;
        padding-left: 1.5rem;
    }
    .sub_title_cont .sub_title5::before {
        font-size: 2rem;
    }
    .step_box_cont .step_box .step_txt {
        font-size: 1.5rem;
    }
    .check_sub_title {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .check_sub_title {
        font-size: 1.4rem;
    }
    .check_sub_title .process {
        font-size: 1.3rem;
    }
    .service_time_cont .icon_box img {
        width: 4rem;
    }
    .step_box_cont .step_box .step {
        font-size: 1.3rem;
    }
    .check_sub_title .process::before {
        width: 2rem;
        height: 2rem;
    }
    .chk_txt::before {
        width: 2rem;
        height: 2rem;
        background-size: cover;
    }
    .title1 {
        font-size: 1.7rem;
        border: none;
        padding: 0;
        text-align: center;
    }
    .tab_menu_wrap2 .table_box {
        margin-top: 1.5rem;
    }
    .service_time_cont .time_box .time_desc {
        font-size: 1.3rem;
    }
    .sub_gray_txt {
        font-size: 1.2rem;
    }
    .service_time_cont .link_box a {
        font-size: 1.3rem;
        height: 4rem;
        line-height: 4rem;
        border-radius: 0.4rem;
    }
    .table_layout .table_txt_desc {
        font-size: 1.3rem;
    }
    .view_more_btn .btn_txt {
        font-size: 1.2rem;
    }
    .table_cont.n1 colgroup col:nth-of-type(1) {
        width: 36.3%;
    }
    .table_cont.n1 colgroup col:nth-of-type(2) {
        width: 30.2%;
    }
    .table_cont.n1 colgroup col:nth-of-type(3) {
        width: auto;
    }
    .table_layout .refer, .refer {
        padding-left: 1rem;
        margin-top: 0;
    }
    .table_layout .refer::before, .refer::before {
        font-size: 1.7rem;
    }
    /* .star_txt::before {
        width: 2rem;
        height: 2rem;
    }
    .star_txt {
        padding-left: 2rem;
    } */
    .table_cont.n1 {
        margin-bottom: 0;
    }
    .table_cont.mo_ver .table_box {
        margin-top: 1.5rem;
    }
    .table_layout .line1 td {
        height: auto;
    }
    .table_layout .line2 td,
    .table_layout .line3 td {
        height: auto;
    }
    .table_layout .line1 td .view_more_btn {
        margin-top: 0.4rem;
    }
    .table_layout .table_body .dep2_th {
        width: auto;
    }
    .table_cont {
        margin-bottom: 3.5rem;
    }
    .table_layout .table_body .dep2_th.th_mo::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }
    .table_layout .table_body .dep2_th.th_mo.n1::after {
        left: 0.25rem;
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .table_layout .table_body .dep2_th.th_mo.n2::after {
        right: 0.25rem;
        border-radius: 0 0.5rem 0.5rem 0;
    }
    .table_layout .table_body .dep2_th.th_mo::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 60%;
        background-color: var(--white);
    }
    .table_layout .table_body .dep2_th.th_mo:last-child::before {
        display: none;
    }
    .sub01_3_2 .sec01 .sub_title_box {
        margin-bottom: 10rem;
    }
    .sec02 .head_line5 img {
        width: 3rem;
    }
    .sub01_3_2 .sec02 .cont_wrap .white_box {
        padding: 2.5rem 1.5rem;
        width: 100%;
        max-width: none;
        height: auto;
    }
    .sub01_3_2 .sec02 .cont_wrap {
        flex-direction: column;
    }
    .chk_txt {
        font-size: 1.3rem;
    }
    .gray_box {
        padding: 1.5rem;
        border-radius: 0.5rem;
    }
    .sub01_3_2 .chk_txt::before {
        left: -2rem;
    }
    .gray_box .txt_box {
        padding: 0 0 0 2rem;
    }
    .sub01_3_2 .sec02 .sub_title_box {
        margin-bottom: 2.5rem;
    }
    .pop_cont {
        z-index: 9999;
    }
    .pop_cont .pop_inner .cont_header {
        padding: 3rem 0 0.7rem 0; 
    }
    .pop_cont .pop_inner {
        min-width: auto;
        width: 92%;
        height: 90%;
        height: calc(var(--vh,1vh) * 100 - 10rem);
        border-radius: 1.5rem;
        padding: 0;
    }
    .pop_cont .pop_inner .pop_close {
        width: 1.2rem;
        height: 1.2rem;
        top: 2.5rem;
        right: 1.5rem;
    }
    .pop_cont .pop_inner .scroll {
        height: 100%;
        padding-right: 0.7rem;
    }
    .btn_popup_wrap .table_layout .table_head::after {
        background-color: var(--blueGray50);
    }
    .popup_cont .table_layout .table_head th {
        font-size: 1.4rem;
    }
    .pop_cont .cont_inner .scroll_box {
        max-height: 100%;
    }
    .pop_cont .cont_inner {
        height: calc(100% - 9.8rem);
        padding: 4rem 1.5rem 0 1.5rem;
    }
    .pop_cont .title1 {
        font-size: 1.9rem;
        padding: 0 2rem;
    }
    .week_cont {
        margin-bottom: 2rem;
    }
    .week_cont .week_desc_cont li {
        font-size: 1.3rem;
    }
    .time_cont {
        font-size: 1.2rem;
        padding: 2rem;
    }
    .btn_popup_wrap .table_cont {
        margin-bottom: 2rem;
    }
    .week_cont {
        width: 100%;
    }
    .week_cont .week_desc_cont li::after {
        width: 0.25rem;
        height: 0.25rem;
    }
    .unit_cont {
        font-size: 1.2rem;
    }
    .ft-500 {
        font-weight: 500;
    }
    .table_sub_txt {
        margin-top: 0.5rem;
    }
    .table_cont.mo_ver .table_layout .line1 th, 
    .table_cont.mo_ver .table_layout .line2 th {
        height: 7rem;
    }
    .pop_cont_type02 .table_layout .table_head th {
        background-color: transparent;
    }
    .pop_cont_type03 .table_layout .table_head th {
        background-color: transparent;
    }
    .btn_popup_wrap .pop_cont_type02 .table_layout .table_head::after {
        display: none;
    }
    .btn_popup_wrap .pop_cont_type03 .table_layout .table_head::after {
        display: none;
    }
    .popup_cont .pop_cont_type02 .table_layout .table_head th {
        height: 4.8rem;
        border-radius: 0;
        background-color: var(--blueGray50);
    }
    .popup_cont .pop_cont_type02 .table_layout .table_head th:nth-of-type(1) {
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .popup_cont .pop_cont_type02 .table_layout .table_head th:last-child {
        border-radius: 0 0.5rem 0.5rem 0;
    }
    .popup_cont .pop_cont_type03 .table_layout .table_head th {
        height: 4.8rem;
        border-radius: 0;
        background-color: var(--blueGray50);
    }
    .popup_cont .pop_cont_type03 .table_layout .table_head th:nth-of-type(1) {
        border-radius: 0.5rem 0 0 0.5rem;
    }
    .popup_cont .pop_cont_type03 .table_layout .table_head th:last-child {
        border-radius: 0 0.5rem 0.5rem 0;
    }
}

@media screen and (max-width: 500px) {
    .page_contents {
        padding: 0 1.5rem;
    }
    .sec01 .title2 br {
        display: none;
    }
    .sec02 .cont_wrap {
        flex-direction: column;
    }
    .sec02 .cont_wrap .white_box {
        width: 100%;
        padding: 2rem;
        height: auto;
    }
    .head_line5 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    .sub_title4 {
        margin-bottom: 0;
    }
    .sec02 .cont_wrap .white_box .img_box img {
        width: 12rem;
    }
    .sub_title_cont {
        width: 100%;
        padding: 1.5rem;
    }
    .step_box_cont {
        grid-template-columns: repeat(1, 1fr);
    }
    .sec02 .cont_wrap .r_box .sub_title_cont_desc {
        width: 100%;
    }
    .sec02 .cont_wrap .r_box .sub_title_cont_desc .sub_title4 {
        text-align: center;
    }
    .sub01_3_2 .sec02 .cont_wrap .r_box .sub_title_cont_desc .sub_title4 {
        margin-bottom: 1rem;
    }
    .step_box_cont .step_box::after {
        top: auto;
        right: calc(50% - 1.25rem);
        bottom: -3.5rem;
        transform: translateY(-50%) rotate(90deg);
    }
    .step_box_cont .step_box.n3::after {
        left: auto;
        transform: translateY(-50%) rotate(90deg);
    }
    .sec02 .sub_title4 .mo_ver {
        display: none;
    }
    .service_time_cont .link_box {
        width: 100%;
    }
    .service_time_cont .link_box a {
        width: 100%;
    }
    .service_time_cont {
        padding: 2rem;
    }
    .step_box_cont .step_box.n1 {
        order: 1;
    }
    .step_box_cont .step_box.n2 {
        order: 2;
    }
    .step_box_cont .step_box.n3 {
        order: 3;
    }
    .step_box_cont .step_box.n4 {
        order: 4;
    }
}
