/* 혜인주임님 */
/* 기타서비스 */
.bread {
    padding-bottom: 1.5rem;
}
.page_contents {
    max-width: 111.4rem;
    margin: 0 auto;
}
.sub_title_box {
    text-align: center;
    margin-bottom: 14.4rem;
}
.sub_wrap2 .page_title_box {
    position: relative;
}
.sub_wrap2 .page_title_box .img_bg {
    position: absolute;
}
.sub_wrap2 .page_title_box .img_bg.n1 {
    bottom: 0;
    width: clamp(19rem, 19.5417vw, 45.2rem);
    right: clamp(15rem, 11.8751vw, 22.8rem);
}
.sub_wrap2 .page_title_box .img_bg.n2 {
    width: clamp(8rem, 8.2813vw, 15.9rem);
    left: clamp(22rem, 22.7605vw, 43.7rem);
    bottom: clamp(10rem, 8.02086vw, 15.4rem);
}
.page_tit_desc {
    font-size: 2rem;
    text-align: center;
}
.title2 {
    color: #666;
    line-height: 1.58;
    font-weight: 500;
    margin-top: 1.2rem;
}
.sec_sub_title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2.8rem;
    text-align: center;
    letter-spacing: -0.15rem;
}
.sec_cont_box {
    margin-bottom: 12rem;
}
.cont_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cont_box .cont_desc {
    width: 26.5rem;
    height: 26.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    padding: 3.5rem 3rem;
    background: var(--white);
}
.cont_box .cont_desc .img_box {
}
.cont_box .cont_desc.n1 img {
    width: 13.5rem;
}
.cont_box .cont_desc.n2 img {
    width: 10.6rem;
}
.cont_box .cont_desc.n3 img {
    width: 15rem;
}
.cont_box .cont_desc.n4 img {
    width: 15.3rem;
}
.cont_box .cont_desc .txt {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.09rem;
    text-align: center;
}
.point_cont .point_box {
    width: 100%;
    height: 8rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 0 4rem;
    margin-bottom: 1rem;
    background: #fff;
    display: flex;
    align-items: center;
}
.point_cont .point_box .point_txt {
    font-size: 2rem;
    letter-spacing: -0.1rem;
}
.point_cont .point_box .point_txt span {
    margin-right: 2rem;
}
.link_box {
    background: #499bff;
    width: 100%;
    height: 22rem;
    border-radius: 2rem;
    padding: 5.6rem 0 5.5rem 8rem;
    position: relative;
}
.link_box .link_txt {
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: -0.11rem;
    color: var(--white);
    margin-bottom: 2.2rem;
}
.link_box .img_box {
    position: absolute;
    right: 9.02rem;
    bottom: 0;
}
.link_box .img_box img {
    width: 24.28rem;
}
.link_box .link {
    width: 21.6rem;
    height: 5.5rem;
    line-height: 5.5rem;
    border-radius: 1rem;
    background: var(--white);
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.08rem;
    color: #515e78;
    padding: 0 6.5rem;
    position: relative;
}
.link_box .link::after {
    content: "";
    background: url(../../../../img/cms/sub/sub01/ic_arrow_right_defult_gray.webp)
        no-repeat center/cover;
    width: 1.9rem;
    height: 1rem;
    position: absolute;
    top: 50%;
    right: 6.35rem;
    transform: translateY(-50%);
}

/* 기타서비스 트러스빌 */
.sub01_5_2 .cont_box .cont_desc {
    height: 41rem;
    padding: 0 2.1rem 0 1.3rem;
}
.cont_box .cont_desc .sub_txt .sub_desc_txt {
    font-size: 1.6rem;
    letter-spacing: -0.08rem;
    color: #666;
    padding-left: 2.4rem;
    position: relative;
    line-height: 1.63;
}
.cont_box .cont_desc .sub_txt .sub_desc_txt .point {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0.2rem;
    left: 0;
}
.cont_box .cont_desc .sub_txt .sub_desc_txt .point::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background: #666;
}

.sub01_5_2 .cont_box .cont_desc.n1 img {
    width: 12.3rem;
}
.sub01_5_2 .cont_box .cont_desc.n2 img {
    width: 14.3rem;
}
.sub01_5_2 .cont_box .cont_desc.n3 img {
    width: 12.4rem;
}
.sub01_5_2 .cont_box .cont_desc.n4 img {
    width: 11.02rem;
}
.sub01_5_2 .cont_box .cont_desc > div {
    height: 50%;
}
.sub01_5_2 .cont_box .cont_desc.n3 .txt_box .sub_txt {
    padding-left: 1rem;
}
.sub01_5_2 .cont_box .cont_desc .img_box {
    display: flex;
    align-items: center;
}
.sub01_5_2 .cont_box .cont_desc .txt {
    margin-bottom: 1.7rem;
}
.service_cont {
    width: 100%;
    border-radius: 3rem;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
    padding: 5.5rem 3.2rem 5.5rem 4rem;
    background: var(--white);
}
.service_desc_cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 13rem;
    row-gap: 5.3rem;
}
.service_desc_cont .service_list .img_box {
    width: 4rem;
}
.service_desc_cont .service_list .img_box img {
    min-width: 4rem;
    height: 4rem;
}
.service_desc_cont .service_list {
    display: flex;
    gap: 1.5rem;
}
.service_desc_cont .service_list .service_tit {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.1rem;
    margin:.4rem 0 1rem;
}
.service_desc_cont .service_list .service_txt {
    font-size: 1.6rem;
    letter-spacing: -0.08rem;
    color: #666;
    line-height: 1.63;
}

@media screen and (max-width: 1024px) {
    .page_contents {
        max-width: 100%;
        padding: 0 2rem;
    }
    .sub_wrap2 .page_title_box {
        height: 46.5rem;
    }
    .cont_box {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .cont_box .cont_desc {
        width: 100%;
        height: 100%;
    }
    .sub01_5_2 .cont_box .cont_desc.n3 .txt_box .sub_txt {
        padding-left: 0;
    }
    .cont_box .cont_desc .sub_txt .sub_desc_txt > br {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .sec_title {
        padding-bottom: 1rem;
    }
    .page_tit_desc {
        font-size: 1.6rem;
    }
    .sub_wrap2 .page_title_box {
        height: 49.5rem;
    }
    .sub_wrap2 .page_title_box .img_bg.n1 {
        right: auto;
        transform: translateX(-50%);
        left: 47%;
        width: 23rem;
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        display: none;
    }
    .sec_sub_title {
        font-size: 1.8rem;
    }
    .cont_box .cont_desc .txt {
        font-size: 1.5rem;
    }
    .cont_box .cont_desc.n1 img {
        width: 7rem;
    }
    .cont_box .cont_desc.n2 img {
        width: 5rem;
    }
    .cont_box .cont_desc.n3 img {
        width: 7rem;
    }
    .cont_box .cont_desc.n4 img {
        width: 7rem;
    }
    .sub01_5_2 .cont_box {
        grid-template-columns: repeat(1, 1fr);
    }
    .sub01_5_2 .cont_box .cont_desc.n1 img {
        width: 10rem;
    }
    .sub01_5_2 .cont_box .cont_desc.n2 img {
        width: 10rem;
    }
    .sub01_5_2 .cont_box .cont_desc.n3 img {
        width: 10rem;
    }
    .sub01_5_2 .cont_box .cont_desc.n4 img {
        width: 10rem;
    }
    .cont_box .cont_desc {
        padding: 1.5rem;
        gap: 1rem;
        border-radius: 0.5rem;
    }
    .sec_sub_title {
        font-size: 2rem;
    }
    .point_cont .point_box .point_txt {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .point_cont .point_box {
        justify-content: center;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        height: auto;
    }
    .link_box {
        border-radius: 1rem;
        height: auto;
        padding: 2rem 2rem 0 2rem;
    }
    .link_box .link {
        width: 18rem;
        border-radius: 0.5rem;
        font-size: 1.3rem;
        padding: 0 4rem;
        height: 4rem;
        line-height: 4rem;
    }
    .link_box .link_txt {
        font-size: 1.7rem;
    }
    .link_box .link::after {
        background-size: 70%;
    }
    .link_box .img_box {
        position: relative;
        text-align: center;
        right: 0;
    }
    .sub_title_box {
        margin-bottom: 10rem;
    }
    .link_box .img_box img {
        width: 20rem;
        margin-top: 4rem;
    }
    .point_cont .point_box .point_txt span {
        margin-right: .5rem;
    }
    .service_cont {
        border-radius: 1.5rem;
        padding: 4rem 2rem;
    }
    .service_desc_cont {
        column-gap: 3rem;
    }
    .service_desc_cont .service_list .service_tit {
        font-size: 1.6rem;
        margin-bottom: 0.5rem;
    }
    .service_desc_cont .service_list .service_txt {
        font-size: 1.4rem;
    }
    .service_desc_cont .service_list .img_box {
        width: 3rem;
    }
    .service_desc_cont .service_list .img_box img {
        min-width: 3rem;
        height: 3rem;
    }
    .cont_box .cont_desc .sub_txt .sub_desc_txt {
        font-size: 1.4rem;
    }
    .sec_cont_box {
        margin-bottom: 10rem;
    }
    .sub01_5_2 .cont_box .cont_desc {
        height: 35rem;
    }
}
@media screen and (max-width: 500px) {
    .title2 br {
        display: none;
    }
    .cont_box .cont_desc.n3 .img_box {
        margin-top: .8rem;
    }
    .sub01_5_2 .cont_box .cont_desc {
        padding: 3rem 1.5rem;
        height: max-content;
    }
    .sub01_5_2 .cont_box .cont_desc .img_box {
        justify-content: center;
        width: 7rem;
    }
    .service_desc_cont {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 2rem;
    }
}
