/* 서비스 안내 - CMS 안내 */
.sub01_1_1 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.sub01_1_1 .page_contents{
    max-width: 140rem;
    margin: 0 auto;
}
.mo_1024 {
    display: none;
}
.green {
    color: #23c197;
}
.bluegray {
    color: var(--blueGray600);
}
.white_box{
    box-shadow: var(--boxShadow01);
    border-radius: 3rem;
    background-color: #fff;
    padding: 7rem 8rem 8rem;
}
.sec_title{
    text-align: center;
}
.head_line2 .en {
    font-size: 4.8rem;
}
.head_line3{
    font-weight: bold;
}
.head_line3 .number{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: var(--lightBlue);
    color: var(--mainColor);
    margin-right: 1.5rem;
    padding-bottom: .5rem;
    padding-right: 0.1rem;
} 
.gray_box{
    background-color: var(--blueGrayLight);
    border-radius: 3rem;
    padding: 6rem 4rem 4rem;
    margin-top: 3rem;
}
.gray_box .img_box span,
.gray_box .center div > span{
    font-size: 2rem;
    color: #666;
}
.gray_box .left{
    position: relative;
}
.gray_box .center{
    margin: 0 -5rem;
}
.gray_box .center .top,
.gray_box .center .bottom{
    width: 39rem;
    border-radius: 30rem;
    background-color: #fff;
}
.gray_box .center .top{
    height: 10rem;
}
.gray_box .center .top span{
    font-size: 3.3rem;
    color: var(--mainColor);
    font-weight: 500;
}
.gray_box .center div:not(.txt_box) {
    width: 39.3rem;
    height: 13.9rem;
    border-radius: 30rem;
    background-color: #fff;
    padding: 0 6.2rem;
    justify-content: center
}
.gray_box .center div .txt_box {
    margin: 0;
    padding: 0;
    width: 100%;
}
.article01 .gray_box .center div .txt_box > span {
    color: #23c197;
}
.gray_box .center div .txt_box > span {
    font-size: 3.3rem;
    font-weight: 500;
    color: var(--mainColor);
}
.gray_box .center .bottom{
    height: 15rem;
    padding-left: 6rem;
    margin-top: 1rem;
}
.gray_box .center .bottom span{
    font-size: 2rem;
}

.gray_box .txt_box{
    padding: 4rem 2rem;
    background-color: #fff;
    border-radius: 2rem;
    text-align: center;
    margin-top: 6rem;
}
.chk_txt {
    padding-left: 3rem;
    position: relative;
}
.chk_txt::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../../../../img/cms/sub/sub01/ic_check_blue.webp) 0 0 no-repeat;
    position: absolute;
    left: 0;
}
.refer_box{
    margin-top: 3rem;
}
.refer_box li{
    color: var(--blueGray600);
    padding-left: 1rem;
    text-align: left;
}
.refer_box li + li{
    margin-top: 1rem;
}
.refer_box li::before{
    padding-right: 1.5rem;
    content: '*';
    font-size: 2.4rem;
    display: block;    
}

.pop_cont .pop_inner .cont_header {
    padding-bottom: 3rem;   
}
.pop_cont_type02 .pop_inner {
    padding: 0;
}
.pop_cont_type02 .pop_inner .cont_header {
    padding: 5.4rem 0 3rem;   
}
.pop_cont_type02 .pop_inner .cont_header::after {
    content: '';
    display: block;
    position: relative;
    height: 1px;
    bottom: -3rem;
    background-color: rgba(224, 224, 224, 0.3);
}

.pop_cont .pop_inner .title1 {
    text-align: center;
}
.pop_cont.n1 .pop_inner {
    width: 96rem;
    top: 53%;
}
.pop_cont.n1 .pop_inner .table_layout .table_body tr {
    height: 5rem;
}
.pop_cont.n1 .pop_inner .table_layout td:not(.dep2_th) + td:not(.dep2_th)::before, 
.pop_cont.n1 .pop_inner .table_layout td.line::before,
.pop_cont.n1 .pop_inner .table_layout td:not(.dep2_th)::before,
.pop_cont.n1 .pop_inner .table_layout td:not(.dep2_th):after {
    background-color: rgba(224, 224, 224, 0.3);
}
.pop_cont.n1 .pop_inner .txt_box {
    border-radius: 1rem;
    background-color: #f2f4f8;
    max-width: 61.8rem;
    margin: 3.2rem auto 0;
    padding: 1rem 0 2rem;
}
.pop_cont.n2 .cont_inner,
.pop_cont.n3 .cont_inner {
    padding: 4rem 3.6rem 6rem 0;
}
.pop_cont.n2 .cont_inner .title1 {
    text-align: left;
    color: #666;
    padding-left: 10.6rem;
    padding-right: 5.5rem;
}
.pop_cont.n2 .cont_inner .chk_txt_box {
    padding-left: 10.6rem;
    padding-right: 5.5rem;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 {
    padding-left: 6.6rem;
    padding-right: 2.6rem;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .sub_title1 {
    padding-left: 4rem;
    margin-bottom: 1.6rem;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box {
    padding: 3.4rem 4rem;
    border-radius: 1rem;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box + .white_box {
    margin-top: 1.4rem;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .sub_title2 {
    margin-top: 0 !important;
    margin-bottom: 1.2rem;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .txt_cont + .txt_cont {
    margin-top: 1.2rem;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .txt_cont.n4 {
    margin-top: 2.2rem;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .txt_cont .num_txt {
    gap: 1.2rem;
    color: #666;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .txt_cont .num_txt span:not(.num) {
    color: #000;    
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .txt_cont .num_txt:not(.p_left){
    margin-bottom: 1rem;
    text-align: left;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .txt_cont .num_txt.p_left {
    padding-left: 2.8rem;
    text-align: left;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .txt_cont .num_txt .num {
    font-weight: bold;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .txt_cont .num_txt .num_type02 {
    display: inline-block;
    width: 2.4rem;
    min-width: 2.1rem;
    height: 2.4rem;
    border-radius: .4rem;
    background-color: #499bff;
    color: #fff;
    text-align: center;
}
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .refer_box {
    margin-top: 1rem;
}
/* .pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .refer_box_type02 {
    margin-top: 2.1rem;
} */
.pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box .refer_box li {
    padding-left: 0;
    color: #666;
}
.pop_cont.n2 .cont_inner .num_txt_box {
    padding: 3.4rem 3.4rem 3.4rem 4rem;
    margin: 2.4rem 3.4rem 0 6.6rem;
    border-radius: 1rem;
    background-color: #f2f4f8;
    text-align: left;
}
.pop_cont.n2 .cont_inner .num_txt_box p {
    color: #666;
}
.pop_cont.n2 .cont_inner .num_txt_box p + p {
    margin-top: 1rem;
}
.pop_cont.n2 .cont_inner .num_txt_box p .num {
    display: inline-block;
    margin-right: 1rem;
    font-weight: bold;
}
.pop_cont.n2 .cont_inner .call_txt_box {
    padding: 4rem 3.4rem;
    margin: 2.6rem 3.4rem 0 6.6rem;
    background-color: #ebf4ff;
    border-radius: 1rem;
}
.pop_cont.n2 .cont_inner .call_txt_box .top_cont_box {
    gap: 1.3rem;
}
.pop_cont.n2 .cont_inner .call_txt_box .top_cont_box img {
    width: 6.1rem;
}
.pop_cont.n2 .cont_inner .call_txt_box .top_cont_box .title1 {
    padding: 0;
    color: #000;
}
.pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box {
    gap: 4.8rem;
    margin-top: 4.5rem;
}
.pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box .call_cont {
    position: relative;
}
.pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box .call_cont + .call_cont::before {
    content: '';
    width: 1px;
    height: 4rem;
    display: inline-block;
    position: absolute;
    left: -2.35rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: #dfe2e9;
}
.pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box .call_cont p {
    font-weight: 500;
    color: #515e78;
}
.pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box .call_cont .call_num {
    margin-top: .4rem;
    font-weight: bold;
}
.pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box .call_cont.n1 .call_num {
    gap: .7rem;    
}
.pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box .call_cont.n1 .call_num span {
    gap: .3rem;
    font-size: 1.6rem;
    color: #499bff;
}
.pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box .call_cont.n1 .call_num span img {
    width: 2.4rem;
}
.pop_cont.n2 .cont_inner .scroll_box {
    max-height: 52rem;
    padding-bottom: 1rem;
}
/* scroll */
.scroll {overflow-y: auto;}
/* width */
.scroll::-webkit-scrollbar {width: .4rem !important;}
/* Track */
.scroll::-webkit-scrollbar-track {padding-right: 5rem;}
/* Handle */
.scroll::-webkit-scrollbar-thumb {background: #dfe2e9; border-radius: 5rem;}
.scroll::-webkit-scrollbar-thumb:hover {background: #dfe2e9;}

.article + .article{ padding-top: 8rem; position: relative;}

.sub_wrap2 .page_title_box {
    position: relative;
}
.sub_wrap2 .page_title_box .img_bg {
    position: absolute;
}
.sub_wrap2 .page_title_box .img_bg.n1 {
    right: clamp(15rem, 11.9272vw, 22.9rem);
    bottom: 0;
    width: clamp(20rem, 25.4689vw, 48.9rem);
}
.sub_wrap2 .page_title_box .img_bg.n2 {
    left: clamp(34rem ,27.3439vw, 52.5rem);
    bottom: 0;
    width: clamp(9rem, 9.4272vw, 18.1rem);
}

.sub01_1_1 .sec01 .sec_title_box {
    padding-bottom: 2.2rem;
}
.sub01_1_1 .sec01 .head_line2 .en {
    color: var(--blueGray600);
}
.sub01_1_1 .sec01 .title1 {
    font-weight: 500;
}
.sub01_1_1 .sec02 .white_box {
    padding: 0;
}
.sub01_1_1 .sec02 .article {
    border-radius: 3rem;
    padding: 7rem 8rem 8rem;
}
.sub01_1_1 .sec02 .article01 {
    margin-bottom: -.16rem;
}
.article + .article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    height: 1px;
    background-color: rgba(183, 183, 183, 0.5);
}
.sub01_1_1 .sec02 .sub_txt_box {
    box-shadow: none;
    border: solid 1px #e0e0e0;
    padding: 6rem;
    margin-top: 2.6rem;
}
.sub01_1_1 .sec02 .sub_txt_box .sub_title1,
.sub01_1_1 .sec02 .sub_txt_box .sub_title2 {
    font-weight: bold;
}
.sub01_1_1 .sec02 .sub_txt_box .sub_title1 {
    margin-bottom: 3rem;
}
.sub01_1_1 .sec02 .sub_txt_box .sub_title2 {
    margin: 3rem 0 1rem;
}
.sub01_1_1 .sec02 .sub_txt_box .sub_title3 + .sub_title3 {
    margin-top: 2.4rem;
}
.sub01_1_1 .sec02 .sub_txt_box .sub_title3 .green {
    display: inline-block;
    margin-bottom: .8rem;
}
.sub01_1_1 .sec03 .cont_wrap {
    align-items: stretch;
    gap: 3rem;
}
.sub01_1_1 .sec03 .cont_wrap .white_box {
    padding: 8rem 0;
    width: 50%;
}
.sub01_1_1 .sec03 .cont_wrap .white_box .txt_box,
.sub01_1_1 .sec03 .cont_wrap .white_box .sub_txt_box {
    padding: 0 8rem;
}
.sub01_1_1 .sec03 .cont_wrap .white_box .txt_box .head_line5 {
    margin-top: 5rem;
}
.sub01_1_1 .sec03 .cont_wrap .white_box .txt_box .sub_title3 {
    margin-top: 1.6rem;
    line-height: 1.5;
}
.sub01_1_1 .sec03 .cont_wrap .white_box .sub_txt_box {
    margin-top: 3rem;
}
.sub01_1_1 .sec03 .cont_wrap .white_box .sub_txt_box .refer_box {
    border-radius: 1rem;
    background-color: #f2f4f8;
    padding: 2rem 2rem .8rem;
}
.sub01_1_1 .sec04 .white_box {
    padding: 7rem 6.8rem;
}
.sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body .line1,
.sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body .line2 {
    height: 10.6rem;
}
.sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body .line3 {
    height: 21.7rem;
}
.sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body .line4 {
    height: 17.4rem;
}
.sub01_1_1 .sec04 .tab_content_li2.n2 .table_layout .table_body td,
.sub01_1_1 .sec04 .tab_content_li2.n3 .table_layout .table_body td{
    height: 10rem;
}
.sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body td .chk_txt {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1.6rem;
}
.sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body td span {
    display: inline-block;
    margin-top: 1.5rem;
    font-size: 1.6rem;
    text-align: left;
}
.sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body td br + .chk_txt {
    margin-top: .6rem;
}
.sub01_1_1 .sec05 .video_box {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
    height: 0;
    border-radius: 3rem;
    overflow: hidden;;
}
.sub01_1_1 .sec05 .video_box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sub01_1_1 .section + .section{
    margin-top: 12rem;
}

/* .sub01_1_1_1 tab_n1*/
.sub01_1_1_1 .tab_menu2 .tab_li2 a {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .sec_title_box {
    padding-bottom: 0;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .sec_title_box .sec_title {
    padding-top: 2rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .sec_title_box .sec_title span {
    letter-spacing: -0.23rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .sec_title_box .title1 ,
.sub01_1_1_1 .tab_cont_wrap.n1 .sub_title_box .sub_title1 {
    font-weight: 500;
    margin-top: .8rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .sub_title_box {
    text-align: center;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .sub_title_box .sub_title {
    margin-top: 12rem;
    letter-spacing: -0.23rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .sub_title_box .refer_box {
    max-width: 80.4rem;
    border-radius: 1rem;
    padding: 1.8rem 0 1.5rem;
    margin: 1.8rem auto 2rem;
    background-color: #f2f4f8;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n2 .border_act_cont {
    max-width: 74.6rem;
    padding: 6rem 8rem 10.7rem;
    margin: 3rem auto 0;
    gap: 6.4rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n2 .border_act_cont .img_box {
    width: clamp(15rem, 10.573vw, 20.3rem);
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n2 .border_act_cont .txt_box {
    width: 100%;
    position: relative;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n2 .border_act_cont .txt_box::before {
    content: '';
    display: block;
    position: absolute;
    top: -3.2rem;
    width: 100%;
    height: 1px;
    background-color: rgba(183, 183, 183, 0.5);
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n2 .border_act_cont .txt_box p {
    color: #666;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n2 .border_act_cont .txt_box .chk_txt {
    margin-top: .8rem;
    text-align: left;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n2 .border_act_cont .txt_box p:not(.chk_txt) {
    margin-top: 1.1rem;
    padding-left: 3rem;
    text-align: left;
}

.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .tit_box {
    text-align: center;
    margin-top: 3.6rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 139.6rem;
    margin: 2.8rem auto 0;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont {
    padding: 6rem 7.7rem 11.7rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .img_box {
    width: clamp(15rem, 10.573vw, 20.3rem);
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .txt_box {
    width: 100%;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .tit_box .num {
    display: block;
    font-weight: bold;
    margin-bottom: 0.4rem;
    font-size: 3rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .tit_box .sub_title2 {
    margin-top: .8rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .chk_txt_box {
    margin-top: 3.6rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .chk_txt_box .sub_title1 {
    font-weight: bold;
    padding-bottom: .4rem;
    color: #8391ac;
    text-align: left;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .chk_txt_box .chk_txt { 
    margin-top: .8rem;
    line-height: 1.5;
    color: #666;
    text-align: left;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .chk_txt_box div {
    align-items: baseline;
    gap: 0.7rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .bottom {
    width: 100%;
    margin-top: 3.6rem;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .bottom > p {
    font-weight: 500;
}
.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont .bottom .btn_popup_wrap {
    width: fit-content;
}
/* .sub01_1_1_2 */
.sub01_1_1_1 .tab_cont_wrap.n2 .sub_title_box {
    text-align: center;
    padding-top: 10rem;
}
.sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    max-width: 143.5rem;
    margin: 3rem auto 0;
    padding: 0 1.5rem;
}
.sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap .white_box {
    padding: 6rem 6.7rem 7.4rem;
}
.sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap .img_box .title1,
.sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap .txt_box {
    margin-top: 2rem;
}
.sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap .txt_box .chk_txt_box + .chk_txt_box {
    margin-top: 4.4rem;
}
.sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap .txt_box .chk_txt_box .sub_title1 {
    font-weight: bold;
    padding-bottom: 0.4rem;
    color: #8391ac;
    text-align: left;
}
.sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap .txt_box .chk_txt_box .chk_txt {
    margin-top: 0.8rem;
    line-height: 1.5;
    color: #666;
    text-align: left;
}
.sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap .txt_box .refer_box {
    border-radius: 1rem;
    padding: 1.8rem 1.4rem 1.8rem .5rem;
    background-color: #f2f4f8;
}
.sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap .txt_box .refer_box li::before {
    padding-right: .6rem;
}
/* .sub01_1_1_3 */
.sub01_1_1_1 .tab_cont_wrap.n3 .sub_title_box {
    text-align: center;
    padding-top: 4.5rem;
}
.sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    max-width: 143.5rem;
    margin: 3rem auto 0;
    padding: 0 1.5rem;
}
.sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap .white_box {
    padding: 6rem 0 8rem;
}
.sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap .img_box {
    width: clamp(15rem, 10.573vw, 20.3rem);
}
.sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap .txt_box > .title1 {
    margin-top: 1.6rem;
    color: #000;
}
.sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap .txt_box p {
    color: #666;
    margin-top: 1.1rem;
    text-align: center;
}
.sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap .btn_box {
    width: 27.2rem;
    padding: 0.8rem 0;
    margin: 4rem auto 0;
    background-color: #c0c7d5;
    border-radius: 1rem;
    text-align: center;
    transition: all .5s;
}
.sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap .btn_box:hover {
    background-color: var(--mainColor);
}
.sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap .btn_box a {
    font-weight: 500;
    color: #fff;
}
@media screen and (max-width: 1024px) {
    .mo_1024 {
        display: block;
    }
    .tab_menu2 {
        display: flex;
    }
    .sub_wrap2 .page_title_box .img_bg.n1 {
        right: clamp(12rem, 11.9272vw, 22.9rem);
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        left: clamp(29rem ,27.3439vw, 52.5rem);
    }
    .chk_txt::before {
        background-size: contain;
    }
    /* .sub01_1_1 */
    .table_layout + .table_layout {
        margin-top: 3rem;
    }
    .table_layout th, .table_layout td {
        padding: 1.2rem 0 1.2rem;
    }
    .table_layout .table_body .dep2_th {
        min-height: 3.5rem;
        font-weight: normal;
    }
    .table_layout .table_head::after {
        background-color: transparent;
    }
    .pop_inner .table_layout .table_head::after {
        background-color: #f2f4f8;
    }
    .table_layout td {
        font-weight: 500;
    }
    .table_layout td .chk_txt_box {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    /* .sub01_1_1_1 */
    .sub01_1_1_1 .tab_cont_wrap.n1 {
        padding: 0 2rem;
    }
	.sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont_wrap,
    .sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap,
    .sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap {
        grid-template-columns: 1fr;
        max-width: 74.6rem;
    }
    .sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap .btn_box {
        background-color: var(--mainColor);
    }
}
@media screen and (max-width: 768px) {
    .head_line2 .en {
        font-size: 2.4rem;
    }
    .head_line3 {
        font-size: 1.8rem;
    }
    .head_line3 .number {
        width: 3rem;
        height: 3rem;
    }
    .gray_box {
        padding: 3rem 2rem 2rem;
    }
    .gray_box .center div:not(.txt_box) {
        width: auto;
        padding: 0 5.2rem;
        background-color: transparent;
    }
    .gray_box .center div .txt_box {
        background-color: transparent;
    }
    .gray_box .center div .txt_box > span {
        font-size: 2rem;
    }
    .gray_box .center div .txt_box > img {
        width: 75%;
    }
    .gray_box .img_box span, .gray_box .center div > span {
        font-size: 1.6rem;
    }
    .gray_box .txt_box {
        margin-top: 3rem;
    }
    .border_act_cont .chk_txt_box .chk_txt {
        padding-left: 1.5rem;
    }
    .chk_txt {
        padding-left: 1.5rem;
    }
    .chk_txt::before {
        top: 0.3rem;
        width: 1.2rem;
        height: 1.2rem;
    }
    .pop_cont .pop_inner {
        min-width: auto;
    }
    .pop_cont .pop_inner .pop_close {
        width: 1.2rem;
        height: 1.2rem;
        top: 2.5rem;
        right: 1.5rem;
    }
    .pop_cont .pop_inner .cont_header {
        padding-bottom: 1.5rem;
    }
    .pop_cont.n1 .pop_inner,
    .pop_cont_type02 .pop_inner {
        width: 92%;
        height: 80%;
        border-radius: 1.5rem;
    }
    .pop_cont.n1 .pop_inner {
        top: 50%;
        padding: 2.5rem .6rem 0 2rem;
    }
    .pop_cont.n1 .pop_inner .scroll {
        height: 100%;
        padding-right: .7rem;
    }
    .pop_cont.n1 .pop_inner .table_layout td:not(.dep2_th) + td:not(.dep2_th)::before, 
    .pop_cont.n1 .pop_inner .table_layout td.line::before {
        width: 1px;
    }
    .pop_cont.n1 .pop_inner .chk_txt {
        font-size: 1.2rem;
        padding-left: 1.5rem;
    }
    .pop_cont.n1 .pop_inner .chk_txt > br{
        display: none;
    }
    .pop_cont.n2 .cont_inner .title1,
    .pop_cont.n2 .cont_inner .chk_txt_box {
        padding-left: 2rem;
        padding-right: 1.7rem;
    }
    .pop_cont.n1 .cont_inner {
        height: calc(100% - 7rem);
    }
    .pop_cont_type02 .pop_inner .cont_header {
        padding: 2.7rem 0 1.5rem;
    }
    .pop_cont.n2 .cont_inner, .pop_cont.n3 .cont_inner {
        height: calc(100% - 9.8rem);
        padding: 4rem .6rem 6rem 0;
    }
    .pop_cont.n2 .cont_inner .scroll_box {
        max-height: 100%;
    }
    .pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box .call_cont.n1 .call_num span {
        font-size: 1.4rem;
    }
    .pop_cont.n2 .cont_inner .chk_txt_box_type02 .white_box {
        padding: 1.7rem 2rem;
    }
    .pop_cont.n2 .cont_inner .chk_txt_box_type02 .sub_title1 {
        padding-left: 0;
    }
    .pop_cont.n2 .cont_inner .call_txt_box .top_cont_box img {
        width: 3rem;   
    }
    .pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box {
        flex-direction: column;
        text-align: center;
        gap: 2.8rem;
        margin-top: 2.5rem;
    }
    .pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box .call_cont.n1 .call_num span img {
        width: 1.4rem;   
    }
    .pop_cont.n2 .cont_inner .call_txt_box .bottom_cont_box .call_cont + .call_cont::before {
        width: 8rem;
        height: 1px;
        top: -1.4rem;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .pop_cont.n2 .cont_inner .num_txt_box,
    .pop_cont.n2 .cont_inner .call_txt_box {
        margin-right: 1.7rem;
        margin-left: 2rem;
    }
    .table_layout td span {
        font-size: 1.2rem;
        font-weight: normal;
    }
    .table_layout td .chk_txt_box{
        margin-top: .5rem;
    }
    .table_layout td .chk_txt {
        font-size: 1.2rem;
        text-align: left;
        padding-left: 1.5rem;
        color: #515e78;
        /* margin-top: .5rem !important; */
    }
    .scroll::-webkit-scrollbar {
        width: .15rem !important;
    }
    .scroll::-webkit-scrollbar-thumb,
    .scroll::-webkit-scrollbar-thumb:hover {
        background-color: #d8eaff;

    }
    /* .sub01_1 */
    .sub01_1_1 .section + .section {
        margin-top: 6rem;
    }
    .sub01_1_1 .sec02 .article {
        border-radius: 1.5rem;
        padding: 3.5rem 2rem 4rem;
    }
    .sub01_1_1 .sec03 .cont_wrap {
        flex-direction: column;
    }
    .sub01_1_1 .sec03 .cont_wrap .white_box {
        width: 100%;
        padding: 4rem 0;
    }
    .sub01_1_1 .sec03 .cont_wrap .white_box .txt_box, 
    .sub01_1_1 .sec03 .cont_wrap .white_box .sub_txt_box {
        padding: 0 4rem;
    }
    .sub01_1_1 .sec03 .cont_wrap .white_box .img_box {
        max-width: 68.3rem;
        margin: 0 auto;
    }
    .sub01_1_1 .sec03 .cont_wrap .white_box .sub_txt_box .refer_box {
        padding: 2rem 1rem .8rem;
    }
    .sub01_1_1 .sec03 .cont_wrap .white_box .sub_txt_box .refer_box li > br {
        display: none;
    }
    .sub01_1_1 .sec04 .white_box {
        padding: 2.6rem 2rem 3.6rem;
    }
    .sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body .line1, .sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body .line2 {
        height: auto;
    }
    .sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body td span,
    .sub01_1_1 .sec04 .tab_content_li2.n1 .table_layout .table_body td .chk_txt {
        font-size: 1.2rem;
        margin: 0;
    }
    /* .sub01_1_1_1 */
    .sub_wrap2 .page_title_box .img_bg.n1 {
        right: auto;
        transform: translateX(-50%);
        left: 50%;
        width: 32rem;
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        display: none;

    }
    /* .sub01_1_1_2 */
    .sub01_1_1_1 .tab_cont_wrap.n2 .sub_title_box {
        padding-top: 0;
    }
    .sub01_1_1_1 .tab_cont_wrap.n2 .border_act_cont_wrap .white_box {
        padding: 3rem 3.3rem 3.7rem;
    }
    /* .sub01_1_1_3 */
    .sub01_1_1_1 .tab_cont_wrap.n3 .sub_title_box {
        padding-top: 0;
    }
    .sub01_1_1_1 .tab_cont_wrap.n3 .border_act_cont_wrap .btn_box {
        width: 18rem;
    }
}

@media screen and (max-width: 500px) {
    .gray_box .center div .txt_box > span {
        font-size: 1.7rem;
    }
    .gray_box .img_box span, .gray_box .center div > span {
        font-size: 1.2rem;
    }
    .gray_box .img_box img {
        min-width: 7.7rem;
    }
    .table_layout td .chk_txt_box {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;        
    }
    /* .sub01_1_1_1 */
    .sub01_1_1_1 .tab_cont_wrap.n1 .cont.n2 .border_act_cont,
    .sub01_1_1_1 .tab_cont_wrap.n1 .cont.n3 .border_act_cont {
        padding: 3rem 2rem 6.7rem;
    }
}
@media screen and (max-width: 420px) {
    .table_layout td .chk_txt_box {
        align-items: flex-start;
        padding-left: 1rem;
    }
}