/* 은지주임님 - 협력사 소개 */
.sub_wrap2 .page_title_box {
    position: relative;
} /* 공통 - 임시추가 */

.sub_title1 {
    text-align: center;
}

.sub_wrap2 .page_title_box .img_bg {
    position: absolute;
}

.sub_wrap2 .page_title_box .img_bg.n1 {
    width: 14.5rem;
    width: 7.52083%;
    bottom: 12.25rem;
    bottom: 25.68134%;
    left: 49.5rem;
    left: 25.78125%;
}

.sub_wrap2 .page_title_box .img_bg.n2 {
    width: 39.8rem;
    width: 20.72916%;
    bottom: -3.75rem;
    bottom: -7.86163%;
    right: 23.4rem;
    right: 12.1875%;
}
/* sub illust end */

.sub01_page.sub01_4 {
    padding: 10.4rem 0 16rem;
    max-width: 139.5rem;
    margin: 0 auto;
}
.sub01_page.sub01_4 .sec02 {
    margin-top: 11rem;
}

.sec_title {
    text-align: center;
}

.sec_cont_wrap.n1 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.1rem;
}

.sec_cont_wrap.n2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3.3rem;
}

/* 231012 start */
.company_box {
    position: relative;
    max-width: 32.4rem;
    width: 100%;
    height: 41.8rem;
    height: auto;
    border-radius: 2rem;
    background-color: #f2f4f8;
    padding: 5rem 4rem;
    text-align: center;
    overflow: hidden;
    transition: all 0.5s;
    border: 1px solid transparent;
}
.company_box .logo_box {
    margin-bottom: 3.5rem;
}
.company_box .title {
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    margin-bottom: 1.5rem;
}
/* .company_box .txt_box {
    margin-bottom: 2.5rem;
} */
.company_box .txt_box .subject {
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: -0.09rem;
    word-break: normal;
}
.company_box .txt_box .tel {
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: -0.04rem;
    color: rgba(2, 2, 2, 0.7);
    margin-bottom: 3.2rem;
}
.company_box .txt_box .benefit {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.09rem;
    margin-bottom: 2.5rem;
}
.company_box .txt_box .benefit span{
    display: block;
    word-break: normal;
}

.company_box:hover {
    border: 1px solid var(--mainColor);
}
.company_box:hover .btn_link {
    background-color: var(--mainColor);
    color: #fff;
}
.company_box:hover .img_box .img_default {
    display: none;
}
.company_box:hover .img_box .img_hover {
    display: block;
}

/* 231012 end */

.service_box {
    position: relative;
    max-width: 28.5rem;
    width: 100%;
    height: 31.5rem;
    border-radius: 2rem;
    background-color: #fff;
    padding: 5rem 4rem 3rem 4rem;
    text-align: center;
    overflow: hidden;
    transition: all 0.5s;
}

.service_box:hover>.img_box {
    transform: scale(0.78);
}

.service_box .title {
    font-size: 2.4rem;
    font-weight: bold;
    color: #222;
    transition: all 0.5s;
}

.service_box>.img_box {
    width: 100%;
    /* height: 17rem; */
    border-radius: 50%;
    margin: 2rem auto 0;
    transition: all 0.5s;
    transform-origin: top;
}

.service_box .txt_box {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem 2.7rem;
    backdrop-filter: blur(8px);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.service_box.n1 .txt_box {
    background-color: rgba(48, 34, 208, 0.49);
}

.service_box.n2 .txt_box {
    background-color: rgba(0, 76, 168, 0.5);
}

.service_box.n3 .txt_box {
    background-color: rgba(196, 79, 7, 0.5);
}

.service_box.n4 .txt_box {
    background-color: rgba(26, 155, 121, 0.5);
}

.service_box.n5 .txt_box {
    background-color: rgba(9, 16, 94, 0.5);
}

.service_box.n6 .txt_box {
    background-color: rgba(228, 173, 0, 0.5);
}

.service_box.n7 .txt_box {
    background-color: rgba(7, 171, 175, 0.5);
}

.service_box.n8 .txt_box {
    background-color: rgba(3, 126, 175, 0.5);
}

.service_box.n9 .txt_box {
    background-color: rgba(123, 25, 135, 0.49);
}

.service_box.n10 .txt_box {
    background-color: rgba(67, 77, 98, 0.5);
}

.service_box .txt_box .subject {
    color: #fff;
    font-weight: bold;
}

.service_box .txt_box .con {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: -0.07rem;
    padding-top: 0.5rem;
    color: #fff;
}

.service_box .txt_box .btn_link2 {
    margin-top: 2.3rem;
}

.service_box .txt_box .btn_link2:hover {
    background-color: #fff;
    color: #515e78;
}

.service_box .txt_box .btn_link2:hover .img_box .img_default {
    display: block;
}

/* service_box hover */
.service_box:hover {
    padding-top: 3rem;
}

.service_box:hover .title {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
}

.service_box:hover>.img_box {
    transform: scale(.83);
    background-color: #fff;
    margin-top: 1.3rem;
}

.service_box:hover img {
    transform: scale(.7);
}

.service_box.n1:hover {
    background-color: #4c3df5;
}

.service_box.n2:hover {
    background-color: var(--mainColor);
}

.service_box.n3:hover {
    background-color: #de5c0b;
}

.service_box.n4:hover {
    background-color: #23c197;
}

.service_box.n5:hover {
    background-color: #1a237e;
}

.service_box.n6:hover {
    background-color: #f5ba00;
}

.service_box.n7:hover {
    background-color: #0ac7cc;
}

.service_box.n8:hover {
    background-color: #088ec4;
}

.service_box.n9:hover {
    background-color: #a336b0;
}

.service_box.n10:hover {
    background-color: #515e78;
}

.service_box:hover .txt_box {
    display: block;
}

/* .hide {
    display: none;
}

.show {
    display: block;
} */

.footer {
    background-color: #fafafa;
}

.btn_more {
    display: none !important;
}

.tab_menu2 {
    display: none;
}
/* 모바일 탭 */
/* .tab_menu_wrap2.mo_ver {
    margin-top: 4.4rem;
}
.tab_menu3 {
    width: 100%;
    display: flex;
    padding: 0 1.5rem;
    margin-bottom: 2rem;
    justify-content: flex-start;
    overflow-y: scroll;
    border-bottom: 1px solid #e0e0e0;
}
.tab_menu3 li {
    font-size: 1.6rem;
    text-wrap: nowrap;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid transparent;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.tab_menu3 li.on {
    color: #000;
    border-bottom: 1px solid #000;
}
.tab_menu3 li + li {
    margin-left: 1.6rem;
}
.tab_con3 {
    width: 100%;
}
.tab_con3 li {
    padding: 2.6rem 0 2.8rem;
    text-align: center;
    border-radius: 0.5rem;
    background: #f2f4f8;
}
.tab_con3 li .con_title {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -0.03rem;
    color: #000;
    margin-bottom: 0.4rem;
}
.tab_con3 li .desc {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.06rem;
    color: #222;
}
.tab_con3 .tab_content_li2 + .tab_content_li2 {
    margin-top: 0 !important;
} */
.mo_ver,
.sec_slider_wrap.mo_ver {
    display: none;
}

.sec_slider_wrap {
    position: relative;
    margin-top: 4.4rem;
}

.swiper_sub_banner {
    margin: 0;
    overflow: visible;
    padding-bottom: 3.5rem;
}

.sec_slider_wrap .swiper-scrollbar {
    position: absolute;
    bottom: 1.5px; z-index: 50;
    max-width: 70rem;
    left: 50%;
    transform: translateX(-50%);
    height: 1.5px;
    border-radius: 5rem;
    background-color: rgba(91, 94, 120, 0.12);
    width: 62.5%;
}

@media all and (max-width:1570px) {
    .sub_wrap2 .page_title_box .img_bg.n1 {
        width: 6%;
        bottom: 30%;
        left: 24%;
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        width: 18%;
        bottom: -6%;
        right: 11%;
    }
}


@media all and (max-width:1440px) {
    
}


@media all and (max-width:1280px) {
    /* .sec_cont_wrap.n1 {
        grid-template-columns: repeat(5, 1fr);
    } */
    .page_contents {
        padding: 0 2rem;
    }
    .sub_wrap2 .page_title_box .img_bg.n1 {
        left: 18%;
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        width: 17%;
        bottom: -4.4%;
        right: 8%;
    }
}


@media all and (max-width:1024px) {
    .sec_cont_wrap.n1 {
        grid-template-columns: repeat(4, 1fr);
    }
    .sec_cont_wrap.n2 {
        gap: 2.2rem;
    }
    .sub_wrap2 .page_title_box .img_bg.n1 {
        width: 8%;
        left: 8%;
        bottom: 34%;
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        width: 17%;
        bottom: -3%;
        right: 6%;
    }
    .company_box {
        padding: 4rem 3rem;
        height: auto;
    }
    .company_box .title {
        font-size: 2rem;
        margin-bottom: 1.2rem;
    }
    .company_box .txt_box .subject,
    .company_box .txt_box .benefit {
        font-size: 1.7rem;
    }
    .company_box .txt_box .tel {
        font-size: 1.7rem;
        margin-bottom: 2.2rem;
    }
    .company_box .txt_box .benefit {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
    }

}


@media all and (max-width:768px) {
    .sec_cont_wrap.n1 {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 4rem;
    }
    .sec_cont_wrap.n2 {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    .sub_wrap2 .page_title_box .img_bg.n1 {
        display: none;
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        width: 25rem;
        right: 50%; bottom: -5.5%;
        transform: translateX(50%);
    }
    .sub01_page.sub01_4 .sec02 {
        margin-top: 4rem;
    }
    .sub01_page.sub01_4 {
        padding: 0;
        max-width: 100%;
    }
    .sub_title1, .sub_title3 {
        text-align: center;
    }
    .sub_title1 .fake_tel {
        display: inline-block;
    }
    .company_box {
        padding: 2.15rem 2.7rem;
        padding: 2.15rem 2rem;
        border-radius: 1rem;
        height: auto;
    }
    .company_box .logo_box {
        width: 11.5rem;
        margin: 0 auto 2rem auto;
    }
    .company_box .title {
        font-size: 1.8rem;
        letter-spacing: -0.07rem;
        margin-bottom: 0.75rem;
    }
    .company_box .txt_box .subject {
        font-size: 1.5rem;
        letter-spacing: -0.05rem;
    }
    .company_box .txt_box .tel {
        font-size: 1.5rem;
        margin-bottom: 1.6rem;
    }
    .company_box .txt_box .benefit {
        font-size: 1.3rem;
        font-weight: 500;
        margin-bottom: 1.25rem;
    }
    .btn_link {
        max-width: 15rem;
        width: 100%;
        height: 3.5rem;
        font-size: 1.3rem;
        line-height: 1;
        border-radius: 0.5rem;
    }
    .icon_box.btn_link .img_box .img_hover {
        display: block;
    }
    .icon_box:hover .img_box .img_hover.pc {
        display: block;
    }
    .btn_more {
        display: flex !important;
        margin: 3.5rem auto 0 auto;
    }
    .sec_cont_wrap.n1.pc_ver {
        display: none;
    }
    .sec_slider_wrap.mo_ver {
        display: block;
    }

    /* hover del */
    .service_box {
        max-width: none;
        /* height: auto; */
        height: 36rem;
        height: 30rem;
        padding: 3.15rem 1rem 3.7rem;
    }

    .service_box .title,
    .service_box:hover .title {
        font-size: 1.7rem;
    }

    .service_box:nth-child(n) .txt_box {
        display: block;
        position: static;
        background: transparent;
        backdrop-filter: unset;
        padding: 0;
    }

    .service_box .txt_box .subject,
    .service_box .txt_box .con,
    .service_box:hover .title {
        color: #000;
    }

    .service_box:nth-child(n):hover {
        background-color: #fff;
    }

    .service_box .txt_box .btn_link2 {
        margin-top: 1.5rem;
        max-width: 18rem;
        height: 4rem;
        font-size: 1.3rem;
    }

    .service_box .txt_box .btn_link2:hover {
        background-color: var(--mainColor);
        color: #fff;
    }

    .service_box .txt_box .btn_link2:hover .img_box .img_default {
        display: none;
    }

    .service_box:hover img {
        transform: none;
    }

    .service_box:hover>.img_box {
        transform: none;
        background-color: transparent;
        margin-top: 0;
    }

    .service_box>.img_box {
        margin-top: 0;
        border-radius: unset;
        height: auto;
        /* border: 1px solid; */
    }

    .service_box>.img_box img {
        width: 13.4rem;
    }

    /* .service_box.n5>.img_box img {
        width: 15rem;
    } */
    
    .btn_link .img_box .img_hover.mo {
        display: block;
    }

    .btn.btn03 {
        border-radius: 0.5rem;
    }

    .company_box:hover {
        border: 1px solid transparent;
    }
}


@media all and (max-width:650px) {
    /* .sec_cont_wrap.n1 {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 4rem;
    } */
    /* .tab_menu2 {
        display: flex;
    } */
    .service_box {
        height: 34.45rem;
        height: 29.5rem;
    }
}


@media all and (max-width:500px) {
    .sec_cont_wrap.n1 {
        grid-template-columns: repeat(2, 1fr);
    }
    .sec_cont_wrap.n2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.6rem;
    }
    
    .page_contents {
        padding: 0;
    }
    .tab_con3,
    .section.sec02 {
        padding: 0 1.5rem;
    }
    .sub01_page.sub01_4 .sec02 {
        margin-bottom: 10rem;
    }
    .company_box {
        padding: 2.15rem 1rem;
        border-radius: 1rem;
        height: auto;
    }
    .company_box .logo_box {
        /* width: 7.8rem; */
        margin: 0 auto 1.75rem auto;
    }
    .company_box .title {
        font-size: 1.5rem;
        letter-spacing: -0.07rem;
        margin-bottom: 0.75rem;
    }
    .company_box .txt_box .subject {
        font-size: 1.3rem;
        letter-spacing: -0.05rem;
    }
    .company_box .txt_box .tel {
        font-size: 1.3rem;
        margin-bottom: 1.6rem;
    }
    .company_box .txt_box .benefit {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 1.25rem;
    }
    .btn_link {
        max-width: 10.8rem;
        width: 100%;
        height: 2.75rem;
        font-size: 1.2rem;
        line-height: 1;
        border-radius: 0.5rem;
    }
    .icon_box.btn_link .img_box .img_hover {
        display: block;
    }
    .icon_box:hover .img_box .img_hover.pc {
        display: block;
    }
    .mo_ver {
        display: block;
    }
}


@media all and (max-width:350px) {
    .page_contents {
        padding: 0;
    }
}