/* 서비스 안내 - CMS 안내 */
.sub01_1_2_wrap .input_form input[type=text]::placeholder,
.sub01_1_2_wrap .input_form input[type=password]::placeholder {
    color: transparent;
    font-size: 0;
}


.sub01_1_2_wrap .page_title_box {
    position: relative;
}

.sub01_1_2_wrap .page_title_box .page_title_img {
    position: absolute;
    bottom: 0;
}

.sub01_1_2_wrap .page_title_box .page_title_img.n1 {
    /* left: 24.896vw;
    width: 11.875vw; */
    width: clamp(10rem, 9.4271vw, 18.1rem);
    bottom: clamp(3rem, 2.6042vw, 5rem);
    left: clamp(20rem, 27.3438vw, 52.5rem);
}

.sub01_1_2_wrap .page_title_box .page_title_img.n2 {
    /* right: 12.344vw;
    width: 22.760vw; */
    width: clamp(25rem, 20.5729vw, 39.5rem);
    right: clamp(10rem, 11.9271vw, 22.9rem);
}

.sub01_1_2_wrap .page_contents {
    max-width: 140rem;
    width: 95%;
    margin: 0 auto;
}

.white_box {
    box-shadow: var(--boxShadow01);
    border-radius: 3rem;
    background-color: #fff;
    padding: 7rem 8rem 8rem;
}

.sub01_1_2_1 .sec01 .white_box {
    padding: 0;
}

.sec_title {
    text-align: center;
}

.head_line3 {
    font-weight: bold;
}

.head_line3 .number {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    background-color: var(--lightBlue);
    color: var(--mainColor);
    margin-right: 1.5rem;
    padding-bottom: .2rem;
}

.gray_box {
    background-color: var(--blueGrayLight);
    border-radius: 3rem;
    padding: 6rem 4rem 4rem;
    margin-top: 3rem;
}

.gray_box .img_box span {
    font-size: 2rem;
}

.gray_box .left {
    position: relative;
}

.gray_box .center {
    margin: 0 -5rem;
}

.gray_box .center .top,
.gray_box .center .bottom {
    width: 39rem;
    ;
    border-radius: 30rem;
    background-color: #fff;
}

.gray_box .center .top {
    height: 10rem;
}

.gray_box .center .top span {
    font-size: 3.3rem;
    color: var(--mainColor);
    font-weight: 500;
}

.gray_box .center .bottom {
    height: 15rem;
    padding-left: 6rem;
    margin-top: 1rem;
}

.gray_box .center .bottom span {
    font-size: 2rem;
}

.gray_box .txt_box {
    padding: 4rem 2rem;
    background-color: #fff;
    border-radius: 2rem;
    text-align: center;
    margin-top: 6rem;
}

.refer_box {
    margin-top: 3rem;
}

.refer_box li {
    color: var(--blueGray600);
    padding-left: 1rem;
}

.refer_box li+li {
    margin-top: 1rem;
}

.refer_box li::before {
    padding-right: 1.5rem;
    content: '*';
    font-size: 2.4rem;
    display: block;
}

.sec01 .article {
    padding: 7rem 8rem 8rem;
}

.sec01 .article.border_act_cont {
    border-radius: 3rem;
}

.article+.article {
    padding-top: 8rem;
    position: relative;
}

.article+.article::before {
    content: '';
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    height: 1px;
    background-color: rgba(183, 183, 183, 0.5);
}

.sub01_1_2 .tab_content_li2.n1 .table_layout .table_body td:not(.dep2_th) {
    height: 17.5rem;
}

.sub01_1_2 .tab_content_li2.n2 .table_layout .table_body td:not(.dep2_th),
.sub01_1_2 .tab_content_li2.n3 .table_layout .table_body td:not(.dep2_th) {
    height: 10rem;
}

.sub01_1_2 .section+.section {
    margin-top: 12rem;
}


/* sub01_1_2_2 */
.sub01_1_2_2 .sec01 {
    text-align: center;
}

.sub01_1_2_2 .sec01 .sec_title {
    padding-bottom: 5rem;
}

.stage_box {}

.stage_box li {
    height: 26rem;
    width: calc((99.999% - (6.5rem * 3)) / 4);
    padding: 3.5rem 2rem 0 2.5rem;
    position: relative;
    box-shadow: var(--boxShadow01);
    background-color: #fff;
    border-radius: 1rem;
    text-align: left;
}

.stage_box li+li {
    margin-left: 6.5rem;
}

.stage_box li+li::before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../../../../img/cms/common/ic_plus.webp) no-repeat center / cover;
    left: -4.5rem;
    top: 50%;
    transform: translateY(-50%);
}

.stage_box li .subject {
    font-size: 2.4rem;
    font-weight: 500;
}

.stage_box li .num {
    font-size: 20rem;
    font-weight: bold;
    color: #e0e0e0;
    position: absolute;
    bottom: -1.3rem;
    right: 2rem;
    line-height: 1;
}

.sub01_1_2 .alert_box.blue {
    display: inline-flex;
    padding: 2rem 6rem;
    margin: 9rem auto 4rem;
}

/* sub01_1_2_3 */
.sub01_1_2_3 .section {
    /* display: none; */
}

.sub01_1_2_3 .section.on {
    display: block;
}

.sub01_1_2_3 .head_line3 {
    margin: 12rem auto 5rem;
}

.sub01_1_2_3 .white_box {
    max-width: 111rem;
    margin: 0 auto;
}

.field_stage_wrap {
    text-align: center;
}

.field_stage {
    position: relative;
    display: inline-flex;
}

.field_stage::before,
.field_stage::after {
    content: '';
    position: absolute;
    top: 3rem;
    left: 2rem;
    width: 50%;
    height: .3rem;
    background-color: #dfe2e9;
    z-index: 1;
}

.field_stage::after {
    left: auto;
    right: 3rem;
}

.sub01_1_2_3 .sec02 .field_stage::before {
    background-color: var(--mainColor);
}

.sub01_1_2_3 .sec03 .field_stage::before,
.sub01_1_2_3 .sec03 .field_stage::after {
    background-color: var(--mainColor);
}

.field_stage li {
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.field_stage li+li {
    margin-left: 13rem;
}

.field_stage li .num {
    font-size: 3.6rem;
    font-weight: bold;
    color: #fff;
    background-color: #dfe2e9;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding-bottom: .2rem;
}

.field_stage li .con {
    color: #c0c7d5;
}

.field_stage li.on .num {
    background-color: var(--mainColor);
}

.field_stage li.on .con {
    color: var(--mainColor);
    font-weight: bold;
}





.sub01_1_2_3 .sec04 .complete_box {
    text-align: center;
}

.sub01_1_2_3 .sec04 .complete_box .head_line3 {
    margin: 3rem auto 7rem;
    color: var(--mainColor);
}

.sub01_1_2_3 .sec04 .field_title {
    margin-bottom: 4rem;
}

.sub01_1_2_3 .sec04 .table_layout_sec04_1 td {
    height: 7rem;
}

.sub01_1_2_3 .sec04 .table_layout_center td input {
    text-align: center;
    width: 90%;
}

.sub01_page .btn_box {
    margin-top: 9rem;
}

.sub01_1_2_5 .radio_box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 4rem;
}

.sub01_1_2_5 .radio_box label+label {
    margin-left: 8.5rem;
}

.sub01_1_2_6 .toggle_contents {
    border-bottom: 1px solid rgba(183, 183, 183, 0.5);
    padding-bottom: 6.5rem;
    margin-bottom: 2rem;
}

@media screen and (max-width:1024px) {
    .sub01_1_2_wrap .page_contents {
        width: 100%;
        padding: 0 2rem;
    }

    .tab_content_li2 {
        display: block;
    }

    .white_box,
    .sec01 .article {
        padding: 2.5rem 1.5rem;
    }

    /* .gray_box .center .top{justify-content: space-between;} */
    .gray_box .center .top span {
        font-weight: bold;
    }

    .sub01_1_2 .tab_content_li2.n3 .table_layout .table_body th::after {
        background-color: #fff;
    }

    .sub01_1_2 .tab_content_li2.n3 .table_layout .table_body th::before,
    .sub01_1_2 .tab_content_li2.n3 .table_layout .table_body th::after {
        content: '';
        display: block;
        background-color: #e0e0e0;
        position: absolute;
    }

    .sub01_1_2 .tab_content_li2.n3 .table_layout .table_body th::before {
        width: 1px;
        top: 5px;
        bottom: 5px;
        right: 0;
        display: none;
    }

    .sub01_1_2 .tab_content_li2.n3 .table_layout .table_body th::after {
        left: 2.5px;
        right: 2.5px;
        bottom: 0;
        top: auto;
        height: 1px;
    }

    .stage_box li+li::before {
        display: none;
    }

    .stage_box {
        flex-wrap: wrap;
        gap: 4rem;
    }

    .stage_box li {
        width: calc((99.999% - 4rem) / 2);
        padding: 2rem;
    }

    .stage_box li+li {
        margin-left: 0;
    }


    .sub01_1_2_6 .table_layout .table_body .dep2_th.w20 {
        width: 20%;
    }

}

@media screen and (max-width:768px) {
    .sec01 .article.border_act_cont {
        border-radius: 1.5rem;
    }

    .sub01_1_2 .tab_content_li2.n1 .table_layout .table_body td:not(.dep2_th),
    .sub01_1_2 .tab_content_li2.n2 .table_layout .table_body td:not(.dep2_th),
    .sub01_1_2 .tab_content_li2.n3 .table_layout .table_body td:not(.dep2_th) {
        height: 6.5rem;
    }

    .sub01_1_2 .tab_content_li2.n3 .table_layout .table_head::after {
        background-color: #f2f4f8;
    }

    .sub01_1_2 .tab_content_li2.n3 .table_layout .table_head th {
        font-size: 1.3rem;
        height: 7rem;
        border-radius: 0;
        background-color: #f2f4f8;
    }

    .sub01_1_2 .tab_content_li2.n3 .table_layout .table_head th:nth-child(1) {
        border-top-left-radius: .5rem;
        border-bottom-left-radius: .5rem;
    }

    .sub01_1_2 .tab_content_li2.n3 .table_layout .table_head th:nth-child(3) {
        border-top-right-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }

    .sub01_1_2_wrap .page_title_box .page_title_img.mo {
        max-width: 23rem;
        bottom: -5%;
    }

    .refer_box {
        margin-top: 1rem;
    }

    .refer_box li {
        font-size: 1.2rem;
    }

    .refer_box li::before {
        font-size: 1.4rem;
        padding-right: .5rem;
    }

    .sub01_1_2 .head_line3 {
        flex-direction: column;
    }

    .head_line3 .number {
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 2.5rem;
        margin-right: 0;
        margin-bottom: 0.7rem;
    }

    .sub01_1_2 .article .head_line3 img {
        width: 2.4rem;
        margin: 0 .1rem;
    }

    .gray_box .center {
        margin: 0;
    }

    .gray_box .center .top,
    .gray_box .center .bottom {
        background-color: transparent;
        height: auto;
        width: 24rem;
    }

    .gray_box .center .bottom {
        padding-left: 0;
    }

    .stage_box li {
        height: 15rem;
    }

    .stage_box li .subject {
        font-size: 1.6rem;
    }

    .stage_box li .num {
        font-size: 13rem;
        bottom: -1rem;
    }

    .sub01_1_2_wrap .input_form li,
    .sub01_1_2_wrap .input_form li .label02,
    .sub01_1_2_wrap .input_form li .input_box,
    .sub01_1_2_wrap .input_form input[type=text],
    .sub01_1_2_wrap .input_form input[type=password] {
        width: 100%;
    }

    .sub01_1_2_wrap .input_form input[type=text]::placeholder,
    .sub01_1_2_wrap .input_form input[type=password]::placeholder {
        color: #ababab;
        font-size: 1.2rem;
    }

    .input_box em {
        display: none;
    }

    .sub01_1_2_wrap .input_form .input_box {
        flex-direction: column;
        align-items: flex-start;
    }

    .sub01_1_2_wrap .input_box .refer {
        margin: 1rem 0 0;
        font-size: 1.2rem;
    }

    .sub01_1_2_wrap .sub01_1_2_5 .input_box .refer {
        margin: 0 0 0 1rem;
    }

    .sub01_1_2_wrap .sub01_1_2_5 .input_form li {
        flex-direction: column;
    }

    .input_form .radio_box li .con {
        padding-left: 0;
        font-size: 1.2rem;
    }

    .input_form .radio_box li .con::before {
        display: none;
    }

    .sub01_1_2_wrap .sub01_1_2_5 .input_box .refer {
        margin: .5rem 0 0;
    }

    .sub01_1_2_3 .head_line3 {
        margin: 5rem 0;
    }

    .field_stage_wrap {
        margin-top: 5rem;
    }


    .sub01_page .btn_box {
        margin-top: 5rem;
    }

    .btn.cancel {
        background-color: #f2f4f8;
        color: #515e78;
        box-shadow: none;
    }

    .sub01_1_2_6 .sec04 .table_layout_sec04_1.mo td.dep2_th {
        height: 4rem;
    }

    .sub01_1_2_6 .sec04 .table_layout_sec04_1.mo td {
        height: 6rem;
    }

    .sub01_1_2_6 .sec04 .table_layout_sec04_1.mo+.table_layout_sec04_1.mo {
        margin-top: 1.5rem;
    }

    .sub01_1_2_5 .radio_box {
        margin-top: 2rem;
    }

    .sub01_1_2_5 .radio_box label+label {
        margin-left: 0;
    }

    .sub01_1_2_6 .toggle_contents {
        padding-bottom: 2rem;
        border-bottom: 0;
    }

}

@media screen and (max-width:500px) {
    .sub01_1_2 .section+.section {
        margin-top: 5rem;
    }

    .gray_box {
        padding: 3rem 1rem 2rem;
    }

    .gray_box .center .top,
    .gray_box .center .bottom {
        width: 12rem;
    }

    .gray_box .center .top img,
    .gray_box .center .bottom img {
        width: 4.2rem;
    }

    .gray_box .center .top span {
        font-size: 1.7rem;
    }

    .gray_box .center .bottom span,
    .gray_box .img_box span,
    .gray_box .txt_box {
        font-size: 1.2rem;
    }

    .gray_box .txt_box {
        padding: 2rem 1rem;
        margin-top: 3rem;
    }

    .article+.article {
        margin-top: 2.5rem;
        padding-top: 2.5rem;
    }

    .stage_box li {
        width: 100%;
    }

    .stage_box li+li::before {
        display: block;
        left: 50%;
        top: -3rem;
        transform: translateX(-50%);
    }

    .field_stage {
        width: 100%;
        justify-content: space-between;
    }

    .field_stage li:nth-child(2) {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    .field_stage li+li {
        margin-left: 0;
    }

    .field_stage li .con {
        font-size: 1.2rem;
    }

    .field_stage::before,
    .field_stage::after {
        top: 2.5rem;
    }

    .field_stage::after {
        right: 2rem;
    }

    .field_stage li .num {
        font-size: 2.6rem;
        width: 5rem;
        height: 5rem;
    }

    .sub01_1_2 .alert_box.blue {
        flex-direction: column;
        margin: 3rem auto 2rem;
        padding: 2rem;
    }

}