 /* 은지주임님 */
.sub01_page {
    padding: 11rem 0 0;
}

.sub_title1 {
    text-align: center;
}

.sub_wrap2 .page_title_box {
    position: relative;
} /* 공통 - 임시추가 */

.sub_wrap2 .page_title_box .page_title {
    padding-top: 3rem;
}

.sub_wrap2 .page_title_box .img_bg {
    position: absolute;
}

.sub_wrap2 .page_title_box .img_bg.n1 {
    width: 15.1rem;
    width: 7.86458%;
    bottom: 10.3rem;
    bottom: 21.59329%;
    left: 56rem;
    left: 29.16666%;
}

.sub_wrap2 .page_title_box .img_bg.n2 {
    width: 33.3rem;
    width: 17.34375%;
    bottom: 0;
    right: 28.6rem;
    right: 14.89583%;
}

.detail .sub_wrap2 .page_title_box {
    margin-bottom: 6.4rem;
}
.detail .sub_wrap2 .page_title_box .bread {
    padding-bottom: 0;
}
/* .select02.type02.on .select_box {
    height: auto;
}

.select02.type02 .select_box {
    border: 1px solid #e0e0e0;
} */

/* 검색창 영역 */
.search_wrap {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    max-width: 139.6rem;
}

.sub01_3_1 .search_wrap .select {
    width: 100%;
}


/* .search_wrap .select {
    width: 12.1rem;
    height: 3.6rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    background-color: #fafafa;
    padding: 0.3rem 1.6rem;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: -0.07rem;
    color: #222;
}

.search_wrap .select img.on {
    transform: rotate(180deg);
} */
.search_wrap .select_sort {
    min-width: 9rem;
}
.search_wrap .select_sort label {
    width: 100%;
}

/* .select02.type02 {
    width: 12.1rem;
    height: 3.6rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    background-color: #fafafa;
    padding: 0.3rem 1.6rem;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: -0.07rem;
    color: #222;
} */
/* .select > img.on {
    transform: rotate(180deg);
}
.select > img.off {
    display: none;
} */
/* .select.on > img.on {
    display: none;
}
.select.on > img.off {
    display: block;
} */

/* .select02.type02.on {
    border-bottom-color: transparent;
    border-radius: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.select02.on .select_box {
    border-top-color: transparent;
} */
.search_wrap .search_box {
    width: 28.3rem;
    height: 3.6rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    background-color: #fff;
    line-height: 3.6rem;
    padding: 0.5rem 1rem;
    font-weight: normal;
    letter-spacing: -0.07rem;
    margin: 0 1rem;
}
.search_wrap .search_box .input_txt_type02 {
    font-size: 1.4rem;
    padding: 0;
    border: none;
    height: auto;
    border-radius: 0;
}
.search_wrap button {
    width: 7.6rem;
    height: 3.6rem;
    line-height: 3.6rem;
    color: #fff;
    background-color: var(--mainColor);
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: -0.07rem;
    border-radius: 0.5rem;
}

.input_txt_type02 {
    width: 100%;
}

.search_wrap .input_txt_type02::placeholder {
    color: #ababab;
}

.table_layout td:not(.dep2_th) + td:not(.dep2_th)::before {
    width: unset;
}

.table_layout.pc col:nth-of-type(1) {
    width: 7.5%;
}
.table_layout.pc col:nth-of-type(2) {
    width: auto;
}
.table_layout.pc col:nth-of-type(3) {
    width: 9.5%;
}
.table_layout.pc col:nth-of-type(4) {
    width: 11%;
}
.table_layout.pc col:nth-of-type(5) {
    width: 10.5%;
}

.table_layout.pc .subject {
    display: block;
    height: 10rem;
    line-height: 10rem;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.04rem;
}

.white_box {
    border-radius: 3rem;
    background-color: #fff;
    padding: 5.8rem 5.8rem 7.7rem 5.8rem;
    max-width: 139.6rem;
    margin: 3.2rem auto 5.2rem auto;
}

.white_box colgroup {
    width: 100vw;
}

.table_body td {
    padding: 3.65rem;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: -0.04rem;
}

.table_layout td .attach {
    width: 4.25rem;
    height: 4.25rem;
    display: inline-flex;
    border-radius: 50%;
    background: #f4f7fc;
}

.table_layout td .attach img {
    max-width: 1.4rem;
}

.table_layout td.date {
    color: #757575;
}
/* .table_layout td.date {} */


/* 이벤트 상세 -------------------------- */
body.detail {
    background-color: #fff;
}


.detail .footer .container{
    background-color: #fafafa;
}

.detail .sub_wrap2 .page_title_box {
    height: 35.2rem;
    height: 30.8rem;
    background-color: transparent;
}

.detail .white_box {
    box-shadow: var(--boxShadow01);
    margin: 0 auto 6rem auto;
}

.sub01_page.sub01_3_2 {
    padding: 0;
}

.event_detail_wrap {
    width: 100%;
    text-align: center;
    /* padding: 9.9rem 29rem 4.8rem 29rem; */
    padding-top: 5rem;
}
.event_detail_wrap p {
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #222;
    padding: 0 4rem;
}

.event_detail_wrap img {
    max-width: 70.7rem;
    margin: 0 auto;
    margin-top: 5rem;
}

.detail_title_wrap {
    width: 100%;
    border-radius: 1rem;
    background-color: #fafafa;
    padding: 2.5rem 3.5rem;
}

.detail_title_wrap .subject {
    font-size: 2.6rem;
    font-weight: bold;
    letter-spacing: -0.13rem;
    color: #222;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.detail_title_wrap .info {
    display: flex;
}

.detail_title_wrap .info p {
    font-size: 1.6rem;
    font-weight: normal;
    letter-spacing: -0.08rem;
    color: #666;
}

.detail_title_wrap .info p.writer {
    padding-right: 1.5rem;
    white-space: nowrap;
}

.detail_title_wrap .info p.date {
    letter-spacing: -0.03rem;
    position: relative;
    padding-left: 1.5rem;
    white-space: nowrap;
}

.detail_title_wrap .info p.date::before {
    content: '';
    display: block;
    position: absolute;
    top: 55%; left: 0;
    width: 1px;
    height: 1.1rem;
    background-color: #b7b7b7;
    transform: translateY(-50%);
}

.attach_button {
    width: 49.1rem;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
    padding: 2rem 3.5rem 2rem 4rem;
    transition: all 0.5s;
    margin-top: 4.8rem;
}

.attach_button:hover {
    border: 1px solid var(--mainColor);
}

.attach_button .img_wrap {
    width: 4.2rem;
    height: 4.2rem;
    background-color: #f4f7fc;
    border-radius: 50%;
    margin-right: 0.85rem;
}

.attach_button .attach img {
    width: 1.3rem;
}

.attach_button .attach {
    /* display: flex; */
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.1rem;
}

.attach_button a {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.1rem;
    color: #666;
}
.attach_button a span{
    max-width: 21rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.attach_button a img {
    width: 2.8rem;
    margin-left: 1.2rem;
}

.view_pagination_wrap {
    max-width: 139.6rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto 8rem auto;
}

.view_pagination_wrap li {
    width: 100%;
    background-color: #fafafa;
    padding: 2rem 4.6rem 2rem 5rem;
    border-radius: 1rem;
}

.view_pagination_wrap li:first-of-type {
    margin-bottom: 1rem;
}

.page_list {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: -0.1rem;
    margin-right: 6rem;
}

.page_list img {
    width: 0.8rem;
    margin-right: 1.1rem;
}

.view_pagination_wrap .title {
    width: 100%;
}

.view_pagination_wrap .title a,
.view_pagination_wrap .title .date {
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: -0.04rem;
    color: #222;
}

.view_pagination_wrap .title .date {
    font-weight: 500;
    color: #757575;
}

.btn.btn04 {
    width: 21.6rem;
    margin: 0 auto 16rem auto;
}

.table_layout .table_head::after {
    top: 0; left: 0; right: 0; bottom: 0;
}
.table_layout td:not(.dep2_th):after {
    left: 0; right: 0; bottom: 0;
}
.table_body tr {
    height: 10rem;
}
.table_body td {
    padding: unset;
}

.table_layout.mo {
    display: none;
}
.table_layout.mo li {
    height: 7.5rem;
    border-bottom: 1px solid #f2f4f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.table_layout.mo li:last-of-type {
    border-bottom: unset;
}
.table_layout.mo li .line1 {
    height: 3rem;
}
.table_layout.mo .attach {
    width: 3rem;
    height: 3rem;
    background-color: #f4f7fc;
    border-radius: 50%;
}
.table_layout.mo .attach img {
    width: 1rem;
}
.table_layout.mo .view {
    margin-right: 0.6rem;
    line-height: 1;
}
.table_layout.mo .date {
    position: relative;
    padding-left: 0.6rem;
    line-height: 1;
}
.table_layout.mo .date::before {
    content: '';
    width: 1px;
    display: block;
    height: 0.9rem;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #e0e0e0;
}

@media all and (max-width:1280px) {
    .page_contents,
    .view_pagination_wrap {
        padding: 0 2rem;
    }
}

@media all and (max-width:1024px) {
    .table_layout .table_head::after {
        background-color: var(--blueGray50);
    }
    .detail .sub_wrap2 .page_title_box {
        margin-bottom: 0;
    }
}

@media all and (max-width:768px) {
    .page_contents {
        padding: 0 1.5rem;
    }
    .view_pagination_wrap {
        padding: 0 1.5rem;
        margin: 0 0 3.5rem;
    }
    .event_detail_wrap img {
        width: 80%;
    }
    .select {
        margin-top: unset;
    }
    /* 이벤트 페이지 */
    .sub_wrap2 .page_title_box .img_bg.n1 {
        display: none;
    }
    .sub_wrap2 .page_title_box .img_bg.n2 {
        min-width: 20.5rem;
        right: 50%;
        transform: translateX(50%);
    }
    
    .sub01_page {
        padding: 5rem 0 0;
    }
    .sub01_3_1 .page_contents {
        padding: 0 1.5rem;
        width: 100%;
    }
    .sub_wrap2 .white_box {
        margin-top: 1.5rem;
        margin-bottom: 3.5rem;
        padding: 2.2rem 2rem 2.6rem 2rem;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    }
    .search_wrap .search_box {
        height: 3.5rem;
        line-height: 3.5rem;
        padding: 0.6rem 0.8rem;
    }
    .table_layout.pc {
        display: none;
    }
    .table_layout.mo {
        display: block;
    }
    .search_wrap .select {
        min-width: 9rem;
        padding: 0  1rem;
        font-size: 1.2rem;
    }
    .select .select_box .select_box_inner li {
        font-size: 1.2rem;
    }
    .select>img {
        width: 1rem;
    }
    .search_wrap button {
        width: 6.9rem;
        height: 3.5rem;
        line-height: 3.5rem;
        font-size: 1.2rem;
    }
    .table_layout.mo .view,
    .table_layout.mo .date {
        font-size: 1.2rem;
        font-weight: normal;
        color: #757575;
    }
    .table_layout.mo .subject,
    .table_layout.mo .subject a {
        font-size: 1.3rem;
        font-weight: 500;
        color: #000;
    }
    .table_layout.mo td .attach {
        width: 3rem;
        height: 3rem;
    }
    .table_layout.mo td .attach img {
        width: 1rem;
    }
    
    .search_box input::-webkit-input-placeholder {
        font-size: 1.4rem;
    }
    /* 상세페이지 디자인 추가 */
    .detail .page_contents,
    .detail .view_pagination_wrap {
        padding: 0 1.5rem;
        width: 100%;
        margin: 0 auto;
    }
    .detail .view_pagination_wrap{
        padding: 0;
    }
    .detail .white_box {
        padding: 6rem 4rem 4rem;
    }
    .detail_title_wrap .subject {
        width: 95%;
        font-size: 2.1rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .detail_title_wrap .info p.writer,
    .detail_title_wrap .info p.date {
        font-size: 1.4rem;
        white-space: nowrap;
    }
    .event_detail_wrap p{
        padding: 0;
        font-size: 1.4rem;
    }
    .attach_button .attach,
    .attach_button a,
    .view_pagination_wrap .title a, 
    .view_pagination_wrap .title .date {
        font-size: 1.4rem;
    }
    .page_list {
        font-size: 1.5rem;
    }
    .btn.btn04 {
        margin-top: 4rem;
        background-color: var(--mainColor);
        color: #fff;
    }
    .btn.btn04 .img_default {
        display: none;
    }
    .btn.btn04 .img_hover {
        display: block;
    }
    .detail .footer{
        padding: 0;
    }
    .detail .footer .container{
        background-color: #fafafa;
    }
    .detail .footer .top .etc .select{
        margin-top: 1rem;
    }
}

@media all and (max-width:500px) {
    .search_wrap .search_box {
        width: 100%;
        min-width: 16rem;
        min-width: auto;
        height: 3.5rem;
        line-height: 3.5rem;
        padding: 0.3rem 0.8rem;
    }
    .search_box input::-webkit-input-placeholder {
        font-size: 1.2rem;
    }
    .input_txt_type02 {
        padding: 0;
        font-size: 1.2rem;
        line-height: 2.2;
    }
    /* 상세페이지 디자인 추가 */
    .detail .white_box {
        padding: 2.6rem 2rem;
    }
    .detail .sub_wrap2 .page_title_box {
        height: 25.2rem;
    }
    .detail_title_wrap {
        flex-direction: column;
    }
    .detail_title_wrap .subject {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .detail_title_wrap .info p.writer,
    .detail_title_wrap .info p.date {
        font-size: 1.3rem;
    }
    .event_detail_wrap img {
        margin-top: 3rem;
        width: 100%;
    }
    .attach_button {
        width: 90%;
        max-width: 30rem;
        padding: 1rem 1.5rem;
    }

    .attach_button .img_wrap {
        width: 3rem;
        height: 3rem;
    }
    .attach_button .attach,
    .attach_button a {
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .attach_button .attach {
        margin-right: 0.5rem;
    }
    .attach_button .attach img {
        width: 0.95rem;
    }
    .attach_button a img {
        width: 1.5rem;
        margin-left: 0.8rem;
    }
    .view_pagination_wrap li {
        padding: 2.6rem 2rem;
        align-items: center;
    }
    .page_list {
        font-size: 1.3rem;
        margin-right: 2rem;
    }
    .view_pagination_wrap .title a {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-size: 1.2rem;
    }
    .view_pagination_wrap .title .date {
        font-size: 1.2rem;
        white-space: nowrap;
    }
    .btn.btn04 {
        width: 15rem;
        height: 4rem;
        font-size: 1.3rem;
        border-radius: 0.5rem;
    }
}