
.sub01_2_wrap .page_title_box{position: relative;}
.sub01_2_wrap .page_title_box .page_title_img{
    position: absolute;
    bottom: 0;
}
.sub01_2_wrap .page_title_box .page_title_img.n1{    
    left: 23.698vw;
    width: 8.594vw;
    bottom: 5.573vw;
}
.sub01_2_wrap .page_title_box .page_title_img.n2{    
    right: 13.177vw;
    width: 23.750vw;
}
.sub01_2_wrap .page_title_box{
    padding-bottom: 5rem;
}
.sub01_2_wrap .page_title_box .page_title{
    padding-bottom: 0;    
}
.sub01_2_wrap .page_contents{
    max-width: 140rem;
    margin: 0 auto;
}
.sub01_2_1 .sec01{
    text-align: center;
}
.sub01_2_1 .sec01 .sec_title{
    padding: 0 0 5rem;
}
.sub01_2_1 .alert_box.red{
    display: inline-flex;
    padding: 2rem 6rem;
    margin: 9rem auto 2rem;
}

.sub01_2_1 .alert_box.gray{
    padding: 0 2rem;
    margin-bottom: 4rem;
}
.sub01_2_1 .alert_box.gray .con{
    text-align: center;
}

.sub01_2_1 .stage_box li + li::before{    
    background: url(../../../../img/cms/common/ic_arrow_right_defult_gray2.webp) no-repeat center / 1.8rem;
}


/* sub01_2_2 */



.sub01_2_2_wrap .page_title_box{
    display: none;
}
.sub01_2_2_wrap .page_title_box.active{
    display: block;
}
.sub01_2_2_wrap .btn_box{
    margin-top: 10rem;
}
.sub01_2_wrap .sub01_2_2 .sec01{
    max-width: 111rem;
    margin: 0 auto;
}
.sub01_2 .alert_box.blue_gray{
    background-color: #f2f4f8;
    color: #666;
    margin-bottom: 4rem;    
}
.sub01_2_2 .white_box{  
    padding: 6rem 12rem;
}
.sub01_2_2 .field_title + ul{
    margin-top: 4.5rem;
}
.sub01_2_2 .field_box + .field_box{
    margin-top: 10rem;
}


.sub01_2_2 .field_box01 .input_txt_type02{
    width: 40rem;
}
.sub01_2_2 .input_form .radio_box {
    margin-top: 1rem;
}
.sub01_2_2 .field_box li + li{
    margin-top: 2rem;
}
.sub01_2_2 .field_box02 >ul> li + li{
    margin-top: 3rem;
}
.sub01_2_2 .field_box02 >ul> li em{
    margin-left: 1rem;
}
.input_form label + label{
    margin-left: 0;
}
.sub01_2_2 .input_form label + label{
    margin-left: 3rem;
}
.sub01_2_2 .radio_box label + label{
    margin-left: 4rem;
}

.sub01_2_2 .select{
    width: 17.5rem;
    height: 6rem;
    padding: 0 2.5rem;
    justify-content: space-between;
    background: transparent;
    border: 1px solid #e0e0e0;
    margin-left: 1.5rem;
}
.sub01_2_2 .select02 .select_box{
    border-color: #e0e0e0;
}
.sub01_2_2 .select02.on .select_box{
    height: 15rem;
}

.sub01_2_2 .select + label{
    margin-left: 4rem;
}
.sub01_2_2  .input_box + .input_box_add{
    margin-left: 2rem;
}
.sub01_2_2 .input_form .radio_box .select.ml0,
.sub01_2_2 .input_form .radio_box .select.ml0 {
    margin-left: 0;
}

.sub01_2_2 .field_box .input_subject .ic_question,
.sub01_2_2 .label02 > span.f_c .ic_question{
    margin: .2rem 0 0 .5rem;
}

.sub01_2_2 .label02 > span.f_c{
    display: flex;
    position: relative;
}

.sub01_2_2 input[type=button]{
    width: 12.5rem;
    height: 3.5rem;
    background-color: #222;
    color: #fff;
    border-radius: .5rem;
    display: inline-block;
    font-size: 1.4rem;
}

/* sub01_2_3 */

.sub01_2_wrap .sub01_2_3 .page_contents{
    max-width: 140rem;
}

.sub01_2_3 .alert_box{
    margin: 0 auto;
}
.sub01_2_3 .alert_box.blue_gray{
    max-width: 111.5rem;
    margin-bottom: 2rem;
}
.sub01_2_3 .alert_box.blue{
    max-width: 80rem;
    margin-bottom: 7rem;
}
.sub01_2_3 .table_layout td{
    height: 8rem
}
.sub01_2_3 .table_layout td input{
    width: 100%;
    padding: 0 1rem;
    text-align: center;
}
.sub01_2_3 .btn_box {
    margin-top: 5rem;
}

.sub01_2_4 .btn_box{
    margin-top: 10rem;
}

.sub01_2_5 .alert_box.blue_gray{
    max-width: 111rem;
}
.sub01_2_5 .alert_box.blue{
    max-width: 80rem;
}
.sub01_2_5 .alert_box.gray .con{
    text-align: center;
}
.sub01_2_5 .white_box{
    margin-top: 7rem;
}
.sub01_2_5 .table_layout td{
    height: 8rem;
}
.sub01_2_5 .table_layout td input{
    text-align: center;
}
.sub01_2_5 .table_layout + .table_layout{
 
}
.sub01_2_5 .table_caption{
    /* display: block; */
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;    
    margin: 0 auto 1.5rem;    
}
.sub01_2_5 .table_layout_wrap{
    position: relative;
}
.sub01_2_5 .table_layout_wrap + .table_layout_wrap{
    margin-top: 6.5rem;
}

.sub01_2_5 .irregular.font_hide td,
.sub01_2_5 .irregular.font_hide td input{
    font-size: 0;
}

.sub01_2_5 .btn_box{
    margin-top: 5rem;
}
.sub01_2_5 .pop_cont.on{
    display: block;
    z-index: 2;
}
.sub01_2_5 .pop_cont .pop_inner{
    max-width: 140rem;
    width: 90%;
    min-width: unset;
}
.sub01_2_5 .pop_cont .pop_inner.on{
    display: block;
}
.sub01_2_5 .pop_cont .pop_inner .title1{
    margin-bottom: 1.5rem;
}
.sub01_2_5 .btn_popup_container{
    position: absolute;
    z-index: 9;
    padding: 0;
    gap: unset;
    line-height: 1;
    display: none;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.sub01_2_5 .btn_popup{
    position: relative;;
    height: 4rem;
    width: 15rem;
    border-radius: 0.5rem;
    background: #fff;
    color: var(--mainColor);
    
}
.sub01_2_5 .btn_popup .btn_label{
    font-size: 1.8rem;
}
.sub01_2_5 .btn_popup_container.on{
    display: flex;
}

.sub01_2_5 .btn_popup_box{
    position: relative;
    overflow: visible;
}
.sub01_2_5 .btn_popup_container.popup01{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.sub01_2_5 .btn_popup_container.popup02{
    top: 0;
    right: 0;
}
.sub01_2_5 .btn_popup_container .sub_txt{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: url(../../../../img/cms/sub/sub01/bg_speech_bubble.webp) no-repeat center / cover;
    width: 25rem;
    height: 7.5rem;
    align-items: flex-end;
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
    color: #f46d19;
}
.sub01_2_5 .pop_cont .pop_inner.on .btn_popup{
    z-index: -1;
}

.btn_action{
    overflow: hidden;
}

.btn_label{
    position: relative;
    transition: transform .8s cubic-bezier(1,0,.25,.995);
    z-index: 2;
    font-size: 1.4rem;
    color: #fff;
}
.btn_action:hover .btn_label,
.btn_action:hover:before {
    transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.btn_action:hover .btn_label_main {
    transform: translateY(-200%);
}
.btn_label_main{
    color: #141414;
}
.btn_label_sub {
    color: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,150%);
    white-space: nowrap;
}
.btn_action:hover .btn_label_sub {
    transform: translate(-50%,-50%);
}
.btn_action:hover:before{
    transform: scaleY(1);
}
.btn_action:after, .btn_action:before {
    /* border-radius: 0.5rem; */
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.btn_action:before {
    background-color: #141414;
    color: #fff;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform .6s cubic-bezier(1,0,.25,.995);
    z-index: 1;
}
.btn_dark:after {
    background-color: #FFCB29 ;
   
    
}
.btn_action:hover:after{
    
}

.sub01_2_5 .btn.confirm{
    height: 5.5rem;
    margin: 5rem auto 0;    
}

.sub01_2_5 .withdrawal_cost{
    width: 80%;
    height: 3.5rem;
    border: 1px solid #e0e0e0;;
    border-radius: .5rem;
}
/* .sub01_2_5 #withdrawal_cost05,
.sub01_2_5 #withdrawal_cost06{
    border: 0;
} */


.sub01_2_6 .head_line5{
    text-align: center;
    margin: 5.5rem 0 2.5rem;
}

.sub01_2_6 .table_layout .table_body .dep2_th{
    height: 6rem;
}
.sub01_2_6 input{
    text-align: center;
    width: 90%;
}
.sub01_2_6 .table_layout .table_body .dep2_th.question_content{
    z-index: 99;    
    overflow: visible;
}

#withdrawal_cost03,
#withdrawal_cost05{border: 0;}
@media screen and (max-width:1680px) {
    .sub01_2_2 .btn_box .question_content:hover .question_box{
        top: 100%;
        left: 0;
        padding: 1rem 0 0;
    }
}

@media screen and (max-width:1440px) {
    /* .sub01_2_wrap .page_contents{
        width: 95%;
    } */
    .sub01_2_1 .page_contents,
    .sub01_2_2 .page_contents{
        padding: 0 2rem;
    }
    
}
@media screen and (max-width:1280px) {
    .sub01_2_6 .question_box{
        top: 100%;
        left: 0;
    }
    .sub01_2_6 .question_box .con{
        max-width: 39rem;
    }
}
@media screen and (max-width:1024px) {
    .sub01_2_2 .white_box {
        padding: 6rem;
    }   
    .sub01_2_2 .btn_box .question_content:hover .question_box{
        top: 100%;
        left: -50%;
        padding: 1rem 0 0;
    }
    .sub01_2_5 .btn_popup .btn_label{
        font-size: 1.4rem;
    }
    .sub01_2_5 .btn_popup_container .sub_txt{
        width: 16rem;
        height: 4.5rem;
        font-size: 1.2rem;        
        padding-bottom: 1rem;
    }
}

@media screen and (max-width:768px) {
    .sub01_2_wrap .page_contents{
        margin: 0;
        padding: 0;
    }
    .sub01_2_1_wrap .page_title_box .page_title_img.mo{
        bottom: 0;
    }
    .sub01_2_2 .white_box {
        padding: 4rem 2rem;
    }
    .sub01_2_2 .select{
        height: 4rem;
        width: 12.5rem;
    }
    .sub01_2_2 .select#receipt_cycle_select{
        margin-left: 0;
    }
    .sub01_2_2 .field_box li{
        flex-direction: column;
    }
    .sub01_2_2 .field_box li.f_a_c{
        align-items: flex-start !important;
    }
    .sub01_2_2 .field_box li.f_a_c label + label{
        margin-top: 0;
    }
    .sub01_2_2 .field_box li .account_holder{
        flex-direction: column-reverse;
        width: 100%;
        align-items: flex-start !important;
    }
    .sub01_2_2 .field_box li .account_holder label + label{
        margin-top: 0;
        margin-bottom: 2rem;
    }
    .sub01_2_2 .input_form label + label{
        margin-left: 0;
    }
    .sub01_2_2 .input_form .radio_box label + label{
        margin-top: 0;
        margin-left: 2rem;
    }
    .sub01_2_2 .field_box .input_subject{
        font-size: 1.6rem;
    }
    .sub01_2_2 .input_form .radio_box label{
        font-size: 1.2rem;
    }
    .sub01_2_2_wrap .btn_box,
    .sub01_2_4 .btn_box{
        margin-top: 5rem;
    }
    .sub01_2_2 .field_box02 li > .input_box.ver2{
        flex-direction: column;
        align-items: flex-start;
    }
    .sub01_2_2 .input_box + .input_box_add{
        margin: 2rem 0 0 ;
    }
    .sub01_2_2 .field_box + .field_box {
        margin-top: 5rem;
    }
    .sub01_2_2 .field_title + ul{
        margin-top: 2rem;
    }
    .sub01_2_2 .question_content:hover .question_box{
        display: block;
    }
    .sub01_2_5 .table_layout_wrap + .table_layout_wrap{
        margin-top: 5rem;
        padding-top: 5rem;
    }
    .sub01_2_5 .table_layout td,
    .sub01_2_6 .table_layout td{
        height: 4rem;
    }
    .sub01_2_6 .table_layout.mo + .table_layout.mo{
        margin-top: 3rem;
    }
    .sub01_2_5 .btn_popup{
        /* width: 80%; */
        width: 100%;
        padding: 0 1rem;
    }
    .sub01_2_5 .pop_cont .pop_inner{
        padding: 3rem 2rem;
    }
    .sub01_2_5 .btn.confirm{
        height: 4rem;
        margin-top: 3rem;
    }
    .sub01_2_5 .btn_popup[data-popup='popup02']{
        width: 13rem;
    }
   
    .sub01_2_6 .table_layout .table_body .dep2_th.question_content img{
        width: 2.4rem;
        vertical-align: middle;
    }
    
}

@media screen and (max-width:500px) {
    .sub01_2_1 .alert_box.red{    margin: 3rem auto 2rem;    padding: 2rem;}
    .alert_box .subject{width: 4rem;}
    .alert_box .con{width: 95%;}
    .sub01_2_1 .alert_box.gray .con{text-align: left;}

    .sub01_2_2 .field_box .label02,
    .sub01_2_2 .field_box .input_box,
    .sub01_2_2 .field_box .input_txt_type02,
    .sub01_2_2 .field_box .input_txt_type02{
        width: 100%;
        justify-content: flex-start;
        
    }
    .sub01_2_2 .field_box .input_box.question_content{
        width: auto;
    }

    .sub01_2_1 .stage_box li + li::before{
        width: 1.8rem;
        height: 1.8rem;
        transform: translateX(-50%) rotate(90deg);
        background-size: 1.2rem;
    }

    .sub01_2_2 .question_content:hover .question_box{
        top: 100%;
        left: 0;
        display: block;
    }
    .sub01_2_2 .question_content:hover .question_box br{
        display: none;
    }

    .sub01_2_6 .question_box .con{
        width: 30rem;
    }
    .sub01_2_2 .btn_box .question_content:hover .question_box{
        top: 100%;
        left: auto;
        right: 0;
        padding: 1rem 0 0;
        width: auto;
    }
}