html,
body {
    font-size: 62.5%;
}

@media (min-width: 1681px) and (max-width: 1800px) {

    html,
    body {
        font-size: 58%;
    }
}

@media (min-width: 1441px) and (max-width: 1680px) {

    html,
    body {
        font-size: 56%;
    }
}

@media (min-width: 1281px) and (max-width: 1440px) {

    html,
    body {
        font-size: 54%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {

    html,
    body {
        font-size: 51.5%;
    }
}

@media (min-width: 990px) and (max-width: 1024px) {

    html,
    body {
        font-size: 51%;
    }

    .br_dn {
        word-break: keep-all;
    }

    .br_dn br {
        display: none;
    }
}

@media (min-width: 501px) and (max-width: 989px) {

    html,
    body {
        font-size: 50%;
    }

    .br_dn {
        word-break: keep-all;
    }

    .br_dn br {
        display: none;
    }
}

/* 
@media (min-width: 351px) and (max-width: 767px) {

  html,
  body {
    font-size: 62.5%;
  }

  .br_dn {
    word-break: keep-all;
  }

  .br_dn br {
    display: none;
  }
} */

@media (max-width: 350px) {

    html,
    body {
        font-size: 58%;
    }

    .br_dn {
        word-break: keep-all;
    }

    .br_dn br {
        display: none;
    }
}

.cf::before,
.cf::after {
    display: block;
    content: "";
    clear: both;
}

.dn {
    display: none;
}

.dis_no {
    display: none !important;
}

.screen_out {
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
    font-size: 0;
    display: block;
    position: absolute;
}

.scr_not {
    height: 100%;
    min-height: 100%;
    overflow: hidden !important;
    touch-action: none;
}

.hidden {
    opacity: 0;
    visibility: hidden;
}

.hidden.not {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.input_hidden {
    width: 0;
    height: 0;
    opacity: 0;
    ;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.table {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table>div {
    display: table-cell;
    vertical-align: top;
}

.f_c {
    display: flex;
    align-items: center;
    justify-content: center;
}

.f_cs {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.f_b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f_e {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.f_fs {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.f_wrap {
    flex-wrap: wrap;
}

.f_row_reverse {
    flex-direction: row-reverse;
}

.f_a_s {
    align-items: flex-start !important;
}

.f_a_c {
    align-items: center !important;
}

.f_a_e {
    align-items: flex-end !important;
}

.f_d_c {
    flex-direction: column;
}

.pc {
    display: block;
}

.pc.f_c {
    display: flex;
}

.tab {
    display: block;
}

.tablet_l {
    display: none;
}

.mo,
.tablet_1280,
.mo_1024 {
    display: none;
}

/* swiper */
.swiper_banner_wrap {
    position: relative;
}

.play_pause_box {
    margin-left: 1.5rem;
    z-index: 1;
}

.play_pause_box .slide_pause,
.play_pause_box .slide_play {
    display: none;
    font-size: 0;
}

.play_pause_box .slide_play.on,
.play_pause_box .slide_pause.on {
    display: block;
}

.swiper-pagination-bullet {
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.5);
}

.pagination_box .swiper-pagination .swiper-pagination-bullet+.swiper-pagination-bullet {
    margin: 0;
    margin-left: 1.2rem;
}

.pagination_box .swiper-pagination-vertical.swiper-pagination-bullets {
    transform: none;
    align-items: center;
}

.swiper-pagination-bullet-active {
    width: 3rem;
    height: .9rem;
    background: #fff;
    border-radius: 5rem;
}

.swiper-button-next {
    background: url('../../../img/cms/common/btn_slide_next.webp') no-repeat;
    background-size: cover;
    background-position: center;
    width: 3.6rem;
    height: 3.6rem;
    right: 2rem;
}

.swiper-button-prev {
    background: url('../../../img/cms/common/btn_slide_prev.webp') no-repeat;
    background-size: cover;
    background-position: center;
    width: 3.6rem;
    height: 3.6rem;
    left: 2rem;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

/* input[type="checkbox"]+label>span {
    vertical-align: middle;
    padding-left: 5px;
    display: inline-block;
    cursor: pointer;
}

input[type="checkbox"]+label {
    cursor: pointer;
}

input[type="checkbox"]+label:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    border: solid 1px #ebebeb;
    background-image: url('../../img/common/icon_check.png');
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 5px;
    vertical-align: middle;
}

input[type="checkbox"]:disabled+label:before {
    background: #ddd;
    cursor: auto;
}

input[type="checkbox"]:checked+label:before {
    content: "";
    background-image: url('../../img/common/icon_checked.png');
    background-repeat: no-repeat;
    background-position: 50%;
    border-color: var(--mainColor);
}
*/
select {
    background: url(../../../img/cms/common/ic_arrow_down_gray.webp) no-repeat center right 1rem;

}

select option {
    font-size: inherit;
    color: inherit;
}

.scroll::-webkit-scrollbar {
    width: 1.8rem;
    position: relative;
    margin-right: 1.6rem;
}

.scroll::-webkit-scrollbar-thumb {
    height: 45%;
    border-radius: 2rem;
    border: 0.7rem solid transparent;
    background-color: #e4e4e4;
    background-clip: content-box;
}

.scroll::-webkit-scrollbar-track {
    width: 1rem;
    background-color: transparent;
    position: absolute;
    top: -50rem;
    right: -3rem;
}

.txt_box_line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.txt_box_line2 {
    -webkit-line-clamp: 2;
}



#main {
    padding-top: 10.6rem;
}

/* section contents */
.sec_title_box {
    padding-bottom: 5rem;
    text-align: center;
}

.sec_title {
    padding: 1rem 0 3rem;
    line-height: 1;
}

.sec_desc {
    color: #222;
    padding-top: 1rem;
}

/* button */
.btn_link {
    max-width: 21.5rem;
    width: 100%;
    height: 5.5rem;
    border-radius: 1rem;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    color: #515e78;
    transition: all 0.5s;
    position: relative;
    z-index: 1;
    ;
}

.btn_link img {
    margin-left: 1rem;
    transition: all 0.5s;

}

.btn_link:hover {
    background-color: var(--mainColor);
    color: #fff;
}

.btn_link2 {
    height: 4rem;
}

.table_layout_wrap .excel_btn_box {
    gap: 1rem;
}

.excel_btn {
    width: 13rem;
    height: 3.5rem;
    border-radius: .5rem;
    background-color: #222;
    color: #fff;
    font-size: 1.4rem;
}

.excel_btn.type02 {
    width: 16rem;
}

.change_btn {
    width: 16rem;
    height: 3.5rem;
    border-radius: .5rem;
    background-color: var(--mainColor);
    color: #fff;
    font-size: 1.4rem;
    /* font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: -0.1rem; */
}

/* font size */
.head_line1 {
    font-size: 5.4rem;
    font-weight: bold;
}

.head_line1 .en {
    font-size: 5.8rem;
}

.head_line2 {
    font-size: 4.6rem;
    font-weight: bold;
}

.head_line2 .en {
    font-size: 5rem;
}

.head_line3 {
    font-size: 3.6rem;
}

.head_line3 .en {
    font-size: 4rem;
}

.head_line4 {
    font-size: 3.4rem;
    font-weight: bold;
}

.head_line4 .en {
    font-size: 3.8rem;
}

.head_line5 {
    font-size: 3rem;
    font-weight: bold;
}

.title1 {
    font-size: 2.6rem;
    font-weight: bold;
}

.title2 {
    font-size: 2.2rem;
    line-height: 1.82;
}

.sub_title1 {
    font-size: 2.2rem;
}

.sub_title2 {
    font-size: 2rem;
}

.sub_title3 {
    font-size: 1.8rem;
}


/* color */
.main_color {
    color: var(--mainColor) !important;
}

.error_txt {
    color: #D8250E;
    display: none;
}

.error_txt.show {
    display: block;
}

/* lopp banner */
.loop_banner {
    transition: animation 0.4s ease-in-out;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.loop_banner ul {
    display: flex;
}

.loop_banner ul:first-child {
    animation: jsLoopSlide 80s -40s linear infinite;
}

.loop_banner ul:last-child {
    animation: jsLoopSlide2 80s linear infinite;
}

/* icon_box */

.icon_box .img_box .img_default {
    display: block;
}

.icon_box .img_box .img_hover {
    display: none;
}

.icon_box:hover .img_box .img_default {
    display: none;
}

.icon_box:hover .img_box .img_hover.pc {
    display: block;
}

/* 더보기 */
.btn_more_board {
    font-size: 1.5rem;
    font-weight: 500;
    color: #515e78;
}

.btn_more_board:hover {
    color: var(--mainColor);
}

.btn_more_board .img_box {
    margin: .3rem 0 0 .5rem;

}

/* 서브공통 */
.sub_wrap {
    padding: 17rem 0;
}

.bread {
    padding-bottom: 4.5rem;
}

.bread ul li+li {
    position: relative;
}

.bread ul li+li::before {
    content: '';
    display: block;
    width: 0.9rem;
    height: 1rem;
    background: url(../../../img/cms/common/mo_ic_arrow_gray.webp) no-repeat center / cover;
    opacity: 0.5;
    margin: 0 1rem;
}

.bread ul li,
.bread ul li a {
    color: var(--blueGray600);
}

.sub_wrap .page_title_box {
    padding: 0 0 6rem;
    text-align: center;
}

.sub_wrap .page_title_box .page_title {
    font-size: 7rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.sub_wrap .page_title_box .page_tit_desc {
    font-size: 2.2rem;
    color: #222;
}

.sub_wrap .white_box {
    background-color: #fff;
    box-shadow: var(--boxShadow01);
    border-radius: 3rem;
}

.sub_wrap2,
.mypage_wrap {
    padding-top: 0;
}

.sub_wrap2 .page_title_box {
    padding-top: 17rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 48rem;
    background-color: var(--lightBlue);
    position: relative;
}

.mypage_wrap .page_title_box {
    padding-top: 17rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 48rem;
    background-color: #fff0c2;
}

.sub_wrap2 .page_title_box.ver2 .bread {
    padding-bottom: 1.5rem;
}

.sub_wrap2 .page_title_box .page_title {
    padding-bottom: 1rem;
    position: relative;
    z-index: 1;
}

.sub01_page {
    padding: 11rem 0 16rem;
}

.sub04_page {
    padding: 11rem 0 0;
}

/* tab */
.tab_menu_wrap,
.tab_menu_wrap2 {
    text-align: center;
    margin-bottom: 5rem;
    overflow-x: auto;
}

.tab_menu_wrap2 {
    margin-bottom: 0;
}

.tab_menu {
    padding: .7rem;
    background-color: #fff;
    border-radius: 5rem;
    display: inline-flex;
}

.tab_menu li a {
    width: 27.5rem;
    height: 5.5rem;
    color: var(--blueGray600);
    font-size: 2rem;
    text-align: center;
    position: relative;
    z-index: 1;
}

.tab_menu li:hover a {
    color: #000;
}

.tab_menu li.on a::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.mypage_wrap .tab_menu li.on a::before {
    background-color: #f5ba00;
}

.mypage_wrap.ver2 .tab_menu li.on a::before {
    background-color: #f5833b;
}

.tab_menu li.on a {
    color: #fff;
}

/* tab2 */
.tab_menu2 {
    text-align: center;
    margin-bottom: 4rem;
}

.tab_menu2 li+li {
    margin-left: 3rem;
}

.tab_menu2 li {
    /* .tab_menu2 li a{ */
    color: rgba(102, 102, 102, 0.5);
    font-size: 2.4rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid transparent;
    font-weight: 500;
    cursor: pointer;
}

.tab_menu2 li.on,
.tab_menu2 li.on a {
    color: #000;
    font-weight: bold;
    border-color: #000;
}

.tab_content_li2 {
    display: none;
}

.tab_content_li2.on {
    display: block;
}


/* table */
.table_layout {
    width: 100%;
    text-align: center;
    table-layout: fixed;
}

.table_layout.pc {
    display: table;
}

.table_layout th,
.table_layout td {
    font-size: 1.8rem;
    padding: 1rem 0;
    white-space: nowrap;
    /* 긴 텍스트 줄 바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis;
    /* 너무 긴 텍스트의 경우 생략 부호 표시 */
}

.table_layout td.z_index {
    z-index: 9999;
}

.table_layout th,
.table_layout td,
.table_layout .table_head,
.table_layout .table_body .dep2_th {
    position: relative;
    z-index: 1;
}

.table_layout .table_head::after,
.table_layout .table_body th::after,
.table_layout .table_body .dep2_th::after {
    content: '';
    display: block;
    background-color: var(--blueGray50);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 1rem;
    z-index: -1;
}
.table_layout .table_body .dep2_th::after {
    background-color: rgba(242, 244, 248, 0.5);
}

.table_layout th,
.table_layout .table_body .dep2_th {
    font-weight: 500;
}

.table_layout .table_head th {
    height: 6rem;
    position: relative;
}

.table_layout .table_head th.safari {
    background-color: var(--blueGray50);
}

.table_layout .table_head th.safari:first-child {
    border-radius: 1rem 0 0 1rem;
}

.table_layout .table_head th.safari:last-child {
    border-radius: 0 1rem 1rem 0
}

.table_layout .table_head th:not(:first-child, .isnt_border):before {
    content: '';
    display: block;
    background-color: #e0e0e0;
    position: absolute;
    width: 1px;
    height: 3rem;
    top: 50%;
    transform: translateY(-50%);
}

/* 
테이블 헤드 2줄일 때 헤드에 type02 추가 나눠지기 전 th에 border_side, 
나눠진 th에 border_bottom, 그 아래 th에 ali_top 추가 

테이블 푸터가 있는 테이블 일 경우 table_layout에 type02 추가
테이블 헤드가 없는 테이블 일 경우 table_layout에 type03 추가
*/
.table_layout .table_head.type02 th {
    height: 5rem;
}

.table_layout .table_head.type02 th.border_side:after {
    content: '';
    display: block;
    background-color: #e0e0e0;
    position: absolute;
    width: 1px;
    height: 3rem;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.table_layout .table_head.type02 th.border_bottom {
    vertical-align: bottom;
    padding-bottom: 0.4rem;
}

.table_layout .table_head.type02 th.border_bottom:before {
    content: '';
    display: block;
    background-color: #e0e0e0;
    position: absolute;
    width: 90%;
    height: 1px;
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.table_layout .table_head.type02 th.border_bottom:not(:last-child):after {
    content: '';
    display: block;
    background-color: #e0e0e0;
    position: absolute;
    width: 1px;
    height: 1.5rem;
    bottom: 0;
    right: 0;
}

.table_layout th.border_right:after {
    content: '';
    display: block;
    background-color: #e0e0e0;
    position: absolute;
    width: 1px;
    height: 1.5rem;
    top: 0;
    right: 0;

}

.table_layout .table_head.type02 .ali_top th {
    vertical-align: top;
    padding-top: .4rem;
}

.table_layout .table_body .dep2_th {
    height: 8.5rem;
}

.table_layout .table_body .double_th {
    height: 7rem;
}

.table_layout td {
    /* height: 17.5rem; */
    position: relative;
}

.table_layout td:not(.dep2_th)::before,
.table_layout td:not(.dep2_th):after {
    content: '';
    display: block;
    background-color: #e0e0e0;
    position: absolute;
}

.table_layout td:not(.dep2_th):after {
    left: 5px;
    right: 5px;
    bottom: 0;
    height: 1px;
}

.table_layout td:not(.dep2_th)+td:not(.dep2_th)::before,
.table_layout td.line::before {
    width: 1px;
    top: 5px;
    bottom: 5px;
    left: 0;
}

.table_layout .refer,
.refer {
    position: relative;
    display: inline-block;
    padding-left: 1.5rem;
}

.table_layout .refer::before,
.refer::before {
    content: '*';
    font-size: 2.4rem;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    color: #515E78;
}

.table_layout .refer.blue::before,
.refer.blue::before {
    color: #0064DD;
}

.table_layout .blue {
    color: var(--mainColor);
}

.table_layout .bg_blue::after {
    background-color: #b4d6ff;
}

.table_layout td.isnt_border::before,
.table_layout.type02 tr:last-child td:not(.dep2_th)::after {
    display: none;
}

.table_layout.type02 tfoot {
    height: 10rem;
    position: relative;
    z-index: 1;
}

.table_layout.type02 tfoot::after {
    content: '';
    display: block;
    background-color: #fafafa;
    position: absolute;
    top: 0;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 1rem;
    z-index: -1;
}

.table_layout.type02 tfoot td {
    font-weight: 500;
}

.table_layout.type02 tfoot td::before {
    height: 2.9rem;
    top: 50% !important;
    transform: translateY(-50%);
}

.table_layout.type02 tfoot td::after {
    display: none;
}

.table_layout.type03 .table_body tr:first-child td::before {
    width: 100%;
    height: 1px;
    top: 0;
    left: 0;
}

.alert_box {
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 auto;
}

.alert_box.blue {
    background-color: #ebf4ff;
    color: #499bff;
}

.alert_box.red,
.alert_box2.red {
    background-color: #fdeae7;
    color: #d8250e;
}

.alert_box.gray {
    background-color: transparent;
    color: #666;
}

.alert_box .subject {
    padding-right: 0.5rem;
}

.alert_box .subject img {
    padding-right: .5rem;
}

.alert_box .con {
    text-align: left;
}

/* 231106 alert_box */
.alert_box2 {
    padding: 2rem 3rem;
    background-color: #f2f4f8;
    border-radius: 1rem;
}

.alert_box2 .subject,
.alert_box2 .subject span {
    font-weight: 500;
}

.alert_box2 .subject {
    padding-bottom: 1rem;
}

.alert_box_list li {
    padding-left: 2.5rem;
    position: relative;
    color: #616161;
}

.alert_box_list li::before {
    content: '';
    position: absolute;
    top: 1rem;
    left: 1.2rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #616161;
}

.alert_box_list li+li {
    margin-top: .5rem;
}

/* form */
.field_box .input_subject {
    color: #222;
    font-size: 2.2rem;
    font-weight: 500;
    position: relative;
    margin-bottom: 1rem;
}

.field_title {
    font-size: 2.6rem;
    font-weight: bold;
    padding: 1.5rem 0;
    border-bottom: 1px solid #000;
}

.field_title .require_mark {
    font-size: 1.6rem;
    font-weight: normal;
    margin: .5rem 0 0 1rem;
    padding-top: 0;
    color: var(--mainColor);
    font-weight: 500;
}

.field_title .require_mark,
.table_layout .table_body th .required {
    position: relative;
    padding-left: 1rem;
}

.table_layout .table_body th .required {
    padding-left: 1.5rem;
}


.field_title .require_mark::before,
.table_layout .table_body th .required::before {
    content: '*';
    position: absolute;
    top: .3rem;
    left: 0;
    color: var(--mainColor);
    font-size: inherit;
}

.field_title .require_mark::before {
    top: 0;
}

.toggle_btn {
    /* margin-bottom: 4rem; */
    cursor: pointer;
    background: url(../../../img/cms/sub/sub04/ic_arrow_up.webp) no-repeat center right / 29px;
}

.toggle_btn.active {
    background: url(../../../img/cms/common/ic_arrow_left_black.webp) no-repeat center right / 36px;
}

.toggle_contents_box+.toggle_btn {
    margin-top: 1.6rem;
}

.toggle_contents_wrap {
    margin-top: 11.5rem;
    transition: all 0.3s;
}

.toggle_contents_wrap+.toggle_contents_wrap {
    margin-top: 1.5rem;
}

.toggle_contents_box.active {
    height: 0;
    overflow: hidden;
}

.toggle_contents .field_title2 {
    font-size: 2.4rem;
    font-weight: 500;
}

.toggle_contents .input_form input[type=num] {
    text-align: center;
}

.field_title+ul {
    margin-top: 7rem;
}

.field_title+.refer {
    margin-top: 1rem;
    color: #555;
}

.field_title+.refer+ul {
    margin-top: 4rem;
}

.field_title2+table {
    margin-top: 2rem;
}

.field_title2+ul {
    margin-top: 4.5rem;
}

.field_box+.field_box {
    margin-top: 10rem;
}

.input_form .input_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.input_box em {
    font-size: 2rem;
    color: #666;
    margin-left: 4rem;
}

.input_box .refer {
    font-size: 1.6rem;
    color: var(--blueGray600);
    margin-left: 2rem;
    font-weight: normal;
}

.input_form .radio_box+.field_title {
    margin-top: 10rem;
}

.input_form .radio_box li+li {
    margin-top: 3rem;
}

.input_form .radio_box li .con {
    color: var(--blueGray600);
    opacity: 0.5;
    padding-left: 1.5rem;
    position: relative;
}

.input_form .radio_box li .con::before {
    content: ':';
    display: block;
    position: absolute;
    top: 50%;
    left: 0.5rem;
    transform: translateY(-50%);
}

input[type="radio"]+span::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: .5rem;
    border: 1px solid #e0e0e0;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-right: .8rem;
}

input[type="radio"]:disabled+span::before {
    background-color: #fafafa;
}

input[type="radio"]:checked+span::before {
    border-color: transparent;
    background: url(../../../img/cms/common/ic_checkbox_pc.webp) no-repeat center / cover;
}

.input_form input[type=text],
.input_form input[type=password] {
    border-radius: 1rem;
    border: solid 1px #e0e0e0;
    padding: 0 2.5rem;
    height: 6rem;
    font-size: 2rem;
    transition: background 0.5s;
}

.input_form input[type=text]:disabled {
    background-color: #fafafa;
}

.input_form input[type=text]:focus,
.input_form input[type=password]:focus {
    border-color: #222;
}

.input_form input[type=text]::placeholder,
.input_form input[type=password]::placeholder {
    color: #ababab;
}

.input_txt_type01 {
    width: 42rem;
}

.input_txt_type02 {
    width: 49rem;
}

.save_box {
    margin-top: 1.5rem;
}

.save_box label+label {
    margin-left: 6rem;
}

input[type="checkbox"]+span::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: .5rem;
    border: 1px solid #e0e0e0;
    transition: all 0.5s;
    box-sizing: border-box;
    margin-right: .8rem;
}

input[type="checkbox"]:checked+span::before {
    border-color: transparent;
    background: url(../../../img/cms/common/ic_checkbox_pc.webp) no-repeat center / cover;
}

/* button */
.btn {
    border-radius: 1rem;
    background-color: #c0c7d5;
    color: #fff;
    height: 6rem;
    width: 24rem;
    font-size: 2.4rem;
    font-weight: 500;
    transition: all 0.3s;
    line-height: 1;
}

.btn.btn02 {
    width: 16.5rem;
    height: 13rem;
}

.btn.btn03 {
    width: 21.5rem;
    background-color: #fff;
    color: #515e78;
    font-size: 1.6rem;
    box-shadow: var(--boxShadow01);
}

.btn.btn04 {
    font-size: 1.6rem;
    height: 5.5rem;
    width: 27rem;
    color: #515e78;
    background-color: #f2f4f8;
}

.btn.btn05 {
    width: 18rem;
}

.btn.cancel,
.btn.print {
    background-color: #f2f4f8;
    color: #515e78;
    box-shadow: none;
}

.btn.confirm {
    background-color: var(--mainColor);
    color: #fff;
}

.btn.confirm.pop_close {
    position: unset !important;
}

.btn.address_find {
    margin-left: 1rem;
    border-radius: 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.btn_box .btn+.btn {
    margin-left: 2rem;
}

.btn img {
    margin-left: 1rem;
}

.btn:hover .img_default {
    display: none;
}

.btn:hover .img_hover.pc {
    display: block;
}

.btn .img_hover {
    display: none;
}

.btn:not(.btn.cancel):hover {
    background-color: var(--mainColor);
    color: #fff;
}

.btn .sm_txt {
    font-size: 1.6rem;
    color: inherit;
    display: block;
    margin-top: .3rem;
}

/* pagination */
.pagination_wrap {
    margin-bottom: 16rem;
}

.pagination_wrap .page_current {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 0.6rem;
}

.pagination_wrap .page_current:first-of-type {
    margin-left: 0;
}

.pagination_wrap .page_current a {
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
    text-align: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    line-height: 0.7;
    color: var(--blueGray600);
}

.pagination_wrap .page_current.on a {
    background-color: var(--mainColor);
    color: #fff;
}

.pagination_wrap button {
    position: relative;
}

.pagination_wrap button img {
    position: absolute;
}

.pagination_wrap button.left {
    margin-right: 2rem;
}

.pagination_wrap button.right {
    margin-left: 2rem;
}

.pagination_wrap button.double {
    width: 1.1rem;
}

.pagination_wrap button.single {
    width: 0.6rem;
}

.pagination_wrap button img {
    display: none;
}

.pagination_wrap button .pc_ver.on {
    display: block;
}

.pagination_wrap button .mo_ver {
    display: none;
}


/* datepicker */

#ui-datepicker-div {
    display: none;
    width: 40rem;
    background-color: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 2rem;
    overflow: hidden;
    padding-bottom: 2.8rem;
    z-index: 9 !important;
}

#ui-datepicker-div .ui-datepicker-header {
    display: flex;
    align-items: center;
    /* flex-direction: row-reverse; */
    padding: 2.7rem 2.5rem 2.2rem;
    background-color: #fafafa;
    height: clamp(6rem, 2vh, 9.3rem);
    position: relative;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev span,
#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next span {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    font-size: 0;
    vertical-align: middle;
    cursor: pointer;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-prev span {
    background: url(../../../img/cms/sub/sub04/ic_arrow_left_gray.webp) no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 1rem;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-next span {
    background: url(../../../img/cms/sub/sub04/ic_arrow_right_gray.webp) no-repeat;
    background-size: cover;
    background-position: center;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-title {
    font-size: 1.6rem;
    position: absolute;
}

#ui-datepicker-div .ui-datepicker-header select {
    font-size: 1.4rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    background: url(../../../img/cms/common/ic_arrow_down_black_small.webp) no-repeat 90% #fff;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-year {
    width: 12rem;
    margin-right: .8rem;
}

#ui-datepicker-div .ui-datepicker-header .ui-datepicker-month {
    width: 9.7rem;
    margin: 0 2.7rem 0 2rem;
}

a.ui-datepicker-prev,
a.ui-datepicker-next {
    position: absolute;
}

a.ui-datepicker-prev {
    right: clamp(4.2rem, 3.3854vw, 6.5rem);
}

a.ui-datepicker-next {
    right: clamp(1.6rem, 1.3021vw, 2.5rem);
}

.ui-datepicker-calendar {
    width: 33.6rem;
    text-align: center;
    margin: 0 auto;
}

.ui-datepicker-calendar th {
    padding: 1.5rem 0;
    width: 4.8rem;
}

.ui-datepicker-calendar td {
    max-width: 4.8rem;
}

.ui-datepicker-calendar th.ui-datepicker-week-end:not(:last-child),
.ui-datepicker-calendar td.ui-datepicker-week-end:not(:last-child) a,
.ui-datepicker-calendar td.ui-datepicker-week-end:not(:last-child) span {
    color: #d8250e;
}

.ui-datepicker-calendar td .ui-state-default {
    font-size: 1.8rem;
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 5rem;
    line-height: 4.5rem;
    margin: 0 auto;
}

.ui-datepicker-calendar td .ui-state-hover,
.ui-datepicker-calendar td.ui-datepicker-week-end:not(:last-child) .ui-state-hover,
.ui-datepicker-calendar td.ui-datepicker-week-end:not(:last-child) .ui-state-hover span {
    background: var(--mainColor);
    color: #fff;
}

.ui-datepicker-calendar td .ui-state-active {
    background: var(--mainColor);
    color: #fff;
}

.ui-datepicker-calendar td.ui-datepicker-unselectable span {
    opacity: .4;
}

.input_form .calender_wrap {
    display: flex;
    align-items: flex-end;
    gap: 1.6rem;
}

.ui-datepicker-buttonpane.ui-widget-content {
    /* width: 33.6rem; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.8rem 4rem 0 4rem;
}

/* datepicker 호버 설명서 css */
.calender_label .cal_question_content>span {
    font-size: clamp(1.5rem, 1.1459vw, 2.2rem);
    font-weight: 500;
    color: #222;
    margin-bottom: 1.3rem;
}

.calender_label .cal_question_content img {
    margin-top: 0.3125vw;
    margin-left: .4rem;
    width: 2.4rem;
}

.calender_label .cal_question_content .question_box {
    width: 40rem;
}

.cal_question_content .question_box .con {
    padding: 0;
    width: 100%;
    border-radius: 2rem;
    overflow: hidden;
}

.calender_label .cal_question_content:hover .question_box .con::before {
    display: none;
}

.calender_label .cal_question_content:hover .question_box span {
    display: block;
}

.calender_label .cal_question_content .question_box .pop_tit {
    font-size: 1.6rem;
    padding: 2rem 3.1rem;
    background: #fafafa;
    font-weight: 500;
    color: #000;
}

.calender_label .cal_question_content .question_box .dot_txt_box {
    padding: 2rem 2.4rem;
}

.cal_question_content .question_box .dot_txt_box span {
    color: #222;
    padding-left: 2.2rem;
    font-weight: normal;
}

.calender_label .cal_question_content .question_box .dot_txt_box span+span {
    margin-top: .7rem;
}

.cal_question_content .question_box .dot_txt_box span {
    display: block;
}

.calender_label {
    position: relative;
    width: max-content;
}

.calender_label .f_c {
    gap: 1.6rem;
}

.calender_label .calender_box {
    position: relative;
}

.calender_label .hasDatepicker {
    z-index: 1;
    cursor: pointer;
}

.calender_label span img {
    margin: .6rem 0 0 1rem;
}

.calender_label .calender_mouse {
    position: absolute;
    bottom: 1rem;
    right: 2rem;
    margin: 0;
    padding: 0;
    z-index: 0;
    cursor: pointer;
    width: 3.6rem;
}



/* 캘린더 호버 텍스트 박스 및 점 텍스트 박스 */
.dot_txt_box span,
.dot_txt_box p {
    position: relative;
    padding-left: 2.4rem;
}

.dot_txt_box span::before,
.dot_txt_box p::before {
    content: '';
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
    top: 1.1rem;
    left: .9rem;
}

/* popup */

.btn_popup_wrap {
    background-color: #f2f4f8;
}

.btn_popup_wrap .btn_popup {
    padding: .3rem 2rem;
    border-radius: .4rem;
    color: #515e78;
    gap: .6rem;
    transition: background .5s;
    width: 14rem;
}

.btn_popup_wrap .btn_popup.print {
    padding: unset;
    border-radius: 1rem;
    gap: unset;
    transition: unset;
    width: 21.5rem;
    margin-top: 7rem;
}

.btn_popup_wrap .btn_popup.act {
    background-color: var(--mainColor);
    color: #fff;
    padding: 0.3rem 1.3rem 0.3rem 1.5rem;
}

.btn_popup_wrap .btn_popup.print.act {
    padding: unset;
    color: #515e78;
    background-color: #f2f4f8;
}

.btn_popup_wrap .btn_popup.act .on,
.btn_popup_wrap .btn_popup .off {
    display: block;
}

.btn_popup_wrap .btn_popup .on,
.btn_popup_wrap .btn_popup.act .off {
    display: none;
}

.btn_popup_wrap .popup_wr.on {
    display: block;
}

.pop_cont {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: none;
}

.pop_cont .pop_bg {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.pop_cont .cont_header {
    padding: 0 0 clamp(1.8rem, 1.8229vw, 3.5rem);
    border-bottom: 1px solid rgba(224, 224, 224, 0.3);
}

.pop_cont .pop_inner {
    min-width: 70rem;
    max-height: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5.4rem 4rem 6rem;
    background-color: #fff;
    border-radius: 3rem;
    /* overflow-y: scroll; */
}

.pop_cont .pop_inner.type02 {
    min-width: unset;
    width: 95%;
    max-width: 140rem;
    padding: 7rem 8rem;
}

.pop_cont .pop_inner .pop_close {
    position: absolute;
    right: 3.6rem;
    top: 3.6rem;
    cursor: pointer;
}

/* popup table */
.popup_double_wrap {
    margin-top: 2.8rem;
}

/* 물음표 */

.question_content {
    cursor: pointer;
    position: relative;
    /* z-index: 3 !important; */
    width: fit-content;
}

.question_content:hover .question_box {
    display: block;
}

.question_box {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
    padding-left: 1rem;
    width: 40rem;
    display: none;
    flex-direction: column;
}

.question_box .con {
    position: relative;
    display: block;
    color: #666;
    font-size: 1.6rem;
    text-align: left;
    line-height: normal;
    box-shadow: var(--boxShadow01);
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
    background-color: #fff;
    padding: 3.5rem;
    width: max-content;
}

/* .question_box .con::before {
    content: '*';
    display: block;
    margin-right: 1rem;
    padding-top: 0.3rem;
} */

/* 첨부파일 영역 */
span.attach_tit {
    display: block;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.58;
    letter-spacing: -0.12rem;
    color: #000;
    padding-top: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

form.attach_detail {
    margin-top: 2rem;
}

.attachment_wrap .gray_txt_box02.n1 {
    margin-top: 1rem;
}

.attachment_wrap .radio_box {
    gap: 6.8rem;
    justify-content: flex-start;
    margin-top: 3rem;
}

.file_name_box {
    /* margin-top: 3.35rem;
    margin-bottom: 1.35rem; */
    white-space: nowrap;
}

.file_name_box span {
    display: block;
    min-width: 7.5rem;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.11rem;
    color: #222;
}

#fake_input_attach01,
#fake_input_attach02,
#fake_input_attach03,
#fake_input_attach04,
#fake_input_attach05,
.fake_input_file_attach {
    border-radius: 1rem;
    border: solid 1px #e0e0e0;
    padding: 0 2.5rem;
    height: 6rem;
    font-size: 2rem;
    width: 36.2rem;
    height: 6rem;
    margin-right: 1.2rem;
    color: #b7b7b7;
}

input[type="file"] {
    display: none;
}

.attach_file_wrap {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    margin-top: 3.35rem;
}

.attach_file_wrap .gray_txt_box02 {
    display: flex;
    margin-bottom: 0.8rem;
}

.attach_file_box .btn_cert {
    /* width: 17.6rem; */
    width: 7.2rem;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: -0.08rem;
}

.attach_file_box .btn_cert.del {
    margin-left: 0.8rem;
    display: none;
}

.attach_file_box .btn.btn_cert:hover {
    background-color: #c0c7d5;
}

.attach_file_box .attach_file_btn {
    width: 12rem;
    background: #222;
    margin-right: 1.2rem;
    margin-left: 4rem;
    border-radius: 1rem;
    color: #fff;
    height: 6rem;
    font-size: 1.6rem;
    font-weight: 500;
    transition: all 0.3s;
    line-height: 1;
}

.attach_file_box .file_btn_wrap {
    position: relative;
}

.attach_file_box .file_btn_wrap .gray_txt_box {
    position: absolute;
    top: -4rem;
    width: 15rem;
}

.file_box_wrap .file_box+.file_box,
.attach_file_box+.attach_file_box {
    margin-top: 2rem;
}

.file_box_wrap .file_box:not(:first-of-type) {
    display: none;
}

.file_box_wrap .file_box.add_act {
    display: flex;
}

.attach_notice_wrap {
    display: none;
}

.attach_notice_wrap.active {
    display: block;
}

.gray_txt_box::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../../../img/cms/sub/login/ic_check_blue.webp) no-repeat center / cover;
    position: absolute;
    top: 2.5rem;
    left: 2rem;
}

.gray_txt_box02 {
    padding-left: 3rem;
    padding-top: 1rem;
    color: #666;
    position: relative;
}

.gray_txt_box02 .highlight {
    color: var(--mainColor);
}

.gray_txt_box02::before {
    left: 0;
    top: 1rem;
}

.star_txt {
    margin-left: 1.4rem;
    padding-left: 1.8rem;
    position: relative;
    font-size: 2.2rem;
    color: #616161;
    font-weight: normal;
}

.star_txt::before {
    content: '*';
    color: #515e78;
    position: absolute;
    left: 0;
    font-size: 2.4rem;
}

/* table.ui-datepicker-calendar { display: none; } */


/* min-select */
.select02.type02 .select_box {
    border: 1px solid #e0e0e0;
}

.select02.type02 {
    width: 12rem;
    height: 3.6rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.5rem;
    background-color: #fff;
    padding: 0.3rem 1.6rem;
    font-size: 1.4rem;
    font-weight: normal;
    letter-spacing: -0.07rem;
    color: #222;
}

.select02.type02 .fake_selected {
    font-size: 1.4rem;
}

.select02.type02.on {
    border-bottom-color: transparent;
    border-radius: 0;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: 1px solid #e0e0e0;
}

.select02.type02.on .select_box {
    border-top-color: transparent;
    height: auto;
    z-index: 9;
}


.float_btn {
    position: fixed;
    z-index: 2;
    top: 33.5rem;
    left: 2rem;
    text-align: center;
    width: 16.3rem;
    border-radius: 1rem;
    border: 1px solid #a2acc0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
}

.float_btn .down_btn {
    color: #667696;
    display: block;
    padding: 1.4rem 2.4rem 1.6rem;
    line-height: 1.5;
}

.float_btn .down_btn img {
    display: block;
    margin: 0 auto .6rem;
}

.float_btn.act {
    border-color: var(--mainColor);
}

.float_btn.act .down_btn {
    color: var(--mainColor);
}

.float_btn .down_btn .img_on,
.float_btn.act .down_btn .img_off {
    display: none;
}

.float_btn.act .down_btn .img_on,
.float_btn .down_btn .img_off {
    display: block;
}



@keyframes jsLoopSlide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes jsLoopSlide2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-200%);
    }
}

@media screen and (max-width:1440px) {
    .tablet_l {
        display: block;
    }

    /* .pc {
        display: none;
    } */
    .pc_only {
        display: none !important;
    }
}

@media screen and (max-width:1280px) {
    .tablet_1280 {
        display: block;
    }

    .tab {
        display: none;
    }
}

@media screen and (max-width:1024px) {
    .pc_1024 {
        display: none;
    }

    .mo_1024 {
        display: block;
    }

    .tab_menu2 {
        display: none;
    }

    table.mo_1024 {
        display: table;
    }

    .table_title.mo_1024 {
        font-size: 3.4rem;
        text-align: center;
        font-weight: 500;
        padding-bottom: 3rem;
    }

    .table_layout.mo_1024+.table_layout.mo_1024 {
        margin-top: 3rem;
    }

    .table_layout .table_head th {
        background-color: #f2f4f8;
        border-radius: 1rem;
    }

    .table_layout .table_head::after {
        background-color: transparent;

    }

    .table_layout .table_body .dep2_th::after {
        background-color: rgba(242, 244, 248, 0.5);
    }

    .table_layout .table_body .dep2_th.right::after {
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .table_layout .table_body .dep2_th.left::after {
        left: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    .table_layout .table_body .dep2_th.left::before {
        content: '';
        display: block;
        position: absolute;
        top: .7rem;
        bottom: .7rem;
        left: 0;
        width: 1px;
        background-color: #fff;
    }

    /* 서브공통 */
    .sub_wrap2 .page_title_box {
        padding-top: 7.5rem;
        height: 43.5rem;
    }

    .sub_wrap2 .page_title_box .page_title {
        font-size: 5.6rem;
    }

    .tab_content_li2+.tab_content_li2 {
        margin-top: 5rem;
    }

    .cal_question_content img {
        margin-top: 0;
    }

    .star_txt {
        font-size: 1.6rem;
    }
}

@media screen and (max-width:768px) {
    * {
        font-size: 1.4rem;
    }

    #main {
        padding-top: 6rem;
    }

    .pc,
    .pc.f_c,
    .table_layout.pc {
        display: none;
    }

    .mo {
        display: block;
    }

    .table_layout.mo {
        display: table;
    }

    .scroll::-webkit-scrollbar {
        width: 0;
    }


    .icon_box:hover .img_box .img_default {
        display: block;
    }

    .icon_box:hover .img_box .img_hover.pc {
        display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }

    .swiper-pagination-bullet {
        width: 0.6rem;
        height: 0.6rem;
    }

    .swiper-pagination-bullet-active {
        width: 1.9rem;
        height: 0.6rem;
    }

    .play_pause_box {
        width: 0.6rem;
        height: 0.8rem;
    }

    .btn_more_board {
        font-size: 1.2rem;
    }

    .sec_title_box {
        padding-bottom: 2.5rem;
    }

    .head_line1 {
        font-size: 2.8rem;
    }

    .head_line2 {
        font-size: 2.1rem;
    }

    .head_line3 {
        font-size: 1.8rem;
    }

    .head_line4 {
        font-size: 1.7rem;
    }

    .head_line5 {
        font-size: 2rem;
    }

    .sub_title2 {
        font-size: 1.4rem;
    }

    .sub_title1,
    .sub_title3 {
        font-size: 1.3rem;
    }

    .title1 {
        font-size: 1.9rem;
    }

    .title2 {
        font-size: 1.6rem;
        line-height: 1.5;
    }

    .btn_link {
        max-width: 15rem;
        width: 100%;
        height: 4rem;
        background-color: var(--mainColor);
        color: #fff;
        font-size: 1.3rem;
    }

    .btn_link .img_box {
        width: 1.6rem;
    }

    .btn_link .img_box .img_default,
    .btn_link:hover .img_box .img_default {
        display: none;
    }

    .btn_link .img_box .img_hover.mo {
        display: block;
    }

    .btn_box .btn+.btn {
        margin-left: 1rem;
    }

    /* 서브공통 */
    .sub_wrap {
        padding: 6rem 2rem;
    }

    .bread {
        padding: 2rem 0 4rem;
    }

    .bread ul li:nth-child(1) img {
        width: 2rem;
    }

    .bread ul li+li::before {
        width: 0.7rem;
        margin: 0 0.5rem;
    }

    .sub_wrap .page_title_box {
        padding: 0 0 3rem;
    }

    .sub_wrap .page_title_box .page_title {
        font-size: 2.8rem;
        padding-bottom: 1rem;
    }

    .sub_wrap .page_title_box .page_tit_desc {
        font-size: 1.3rem;
    }

    .sub_wrap .white_box {
        border-radius: 1.5rem;
    }

    .sub_wrap2 .white_box {
        border-radius: 1.5rem;
    }

    /* form */
    .input_form input[type=text],
    .input_form input[type=password] {
        padding: 0 1.2rem;
        height: 4rem;
        font-size: 1.3rem;
        margin: 0 auto;
        display: block;
    }


    /* button */
    .btn {
        height: 4rem;
        font-size: 1.3rem;
    }

    .btn.btn02 {
        width: 90%;
        margin: 0 auto;
        height: 4rem;
        background-color: var(--mainColor);
    }

    .btn.btn03 {
        width: 15rem;
        height: 4rem;
        font-size: 1.3rem;
        background: var(--mainColor);
        color: #fff;
    }

    .btn.btn03 .img_default {
        display: none;
    }

    .btn.btn03 .img_hover {
        display: block;
    }

    /* pagination */
    .pagination_wrap {
        margin-bottom: 10rem;
    }

    .pagination_wrap button .pc_ver {
        display: none !important;
    }

    .pagination_wrap button img {
        display: none
    }

    .pagination_wrap button .mo_ver.on {
        display: block;
    }

    .pagination_wrap button.single {
        width: 1.5rem;
    }

    .pagination_wrap button.double {
        width: 2.1rem;
    }

    .pagination_wrap button.left {
        margin-right: 1rem;
    }

    .pagination_wrap button.right {
        margin-left: 1rem;
    }

    .pagination_wrap .page_current a {
        font-size: 1.2rem;
    }


    /* table */
    .table_layout th,
    .table_layout td {
        font-size: 1.3rem;
    }

    .table_layout .table_head th {
        height: 4rem;
        font-size: 1.6rem;
        border-radius: .5rem;
    }

    /* .table_layout .table_head {
        background-color: #d8eaff;
        border-radius: 0.5rem;
        border: 2.5px solid transparent;
    }
    .table_layout .table_head::after{
        background-color: transparent;
    } */
    .table_layout .table_body .dep2_th {
        height: 4rem;
    }

    .table_layout .table_head::after,
    .table_layout .table_body th::after,
    .table_layout .table_body .dep2_th::after {
        border-radius: .5rem;
        top: 2.5px;
        left: 2.5px;
        right: 2.5px;
        bottom: 2.5px;
    }

    .table_layout td:not(.dep2_th):after {
        left: 2.5px;
        right: 2.5px;
    }

    .table_layout .refer,
    .refer {
        text-align: left;
        font-size: 1.2rem;
    }

    .table_title.mo_1024 {
        font-size: 1.7rem;
        padding-bottom: 1.5rem;
    }

    .table_layout.mo_1024+.table_layout.mo_1024 {
        margin-top: 1.5rem;
    }

    .table_layout td:not(.dep2_th)+td:not(.dep2_th)::before,
    .table_layout td.line::before {
        width: 0;
    }

    .table_layout .refer::before,
    .refer::before {
        font-size: 2rem;
        color: #515E78;
    }

    .table_layout .refer.blue::before,
    .refer.blue::before {
        color: #0064DD;
    }

    /* 서브공통 */
    .sub_wrap2 .bread {
        padding: 0 0 2.5rem;
    }

    .sub01_page,
    .sub04_page {
        padding: 6rem 0 10rem;
    }

    .toggle_btn span.main_color {
        font-size: 1.2rem;
        padding-top: 0.5rem;
    }

    /* tap */
    .tab_menu_wrap {
        margin-bottom: 3rem;
    }

    .tab_menu {
        padding: .5rem;
    }

    .tab_menu li a {
        width: 15rem;
        height: 3.2rem;
        font-size: 1.5rem;
    }

    /* tap2 */
    .tab_menu2 li {
        font-size: 1.8rem;
    }

    .tab_menu2 li+li {
        margin-left: 1.5rem;
    }

    .sub_wrap2 .page_title_box .page_title {
        font-size: 2.8rem;
        text-align: center;
        padding: 0 2rem;
    }

    /* form */

    .toggle_btn {
        background-size: 1.4rem;
        background-position-y: 0.6rem;
    }

    .toggle_btn.active {
        background-size: 1.9rem;
        background-position-y: 0.3rem;
    }

    .toggle_contents .field_title2 {
        font-size: 1.6rem;
    }

    .field_title2+ul {
        margin-top: 2rem;
    }

    .toggle_contents_wrap {
        margin-top: 5rem;
    }

    .input_form label+label,
    .input_form .radio_box li+li {
        margin: 2rem 0 0;
    }

    .field_title {
        font-size: 1.6rem;
        padding: 0 0 1.5rem;
    }

    .input_form .radio_box+.field_title {
        margin-top: 5rem;
    }

    .field_title+ul {
        margin-top: 2rem;
    }

    .field_box+.field_box {
        margin-top: 5rem;
    }

    .question_content:hover .question_box {
        left: 100%;
        top: 0;
        padding: 1rem 0 0;
    }

    .question_box .con {
        max-width: 30rem;
        font-size: 1.2rem;
        padding: 1.5rem;
    }

    .question_content:hover .question_box {
        display: none;
    }

    .pop_cont .pop_inner {
        border-radius: 1.5rem;
    }

    .pop_cont .pop_inner .pop_close {
        width: 2.4rem;
        top: 1.5rem;
        right: 1.5rem;
    }

    .pop_cont .pop_inner.type02 {
        width: 92%;
        padding: 4.4rem 1.3rem;
    }

    .btn.confirm.pop_close {
        width: 15rem;
    }

    /* 플로팅 버튼 */
    .float_btn {
        top: auto;
        bottom: 3rem;
        width: 10rem;
    }

    .float_btn .down_btn {
        padding: 0.7rem 1.2rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width:500px) {
    .head_line1 .en {
        font-size: 2.9rem;
    }

    .input_txt_type02 {
        max-width: 59rem;
        width: 100%;
        display: block;
        margin: 0 auto;
    }

    .alert_box .subject,
    .alert_box .con {
        font-size: 1.2rem;
    }

    .alert_box .subject img {
        width: 2.5rem;
    }

    .excel_btn {
        width: 8rem;
        font-size: 1.2rem;
        height: 3rem;
        margin-bottom: 1rem;
    }

    .excel_btn.type02 {
        width: 13rem;
    }

    .table_layout_wrap {
        align-items: flex-start;
    }

    .table_layout_wrap .excel_btn_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: .6rem;
    }

    .table_layout_wrap .excel_btn_box .excel_btn {
        margin-bottom: 0;
        width: 13rem;
    }

    .gray_txt_box02 {
        font-size: 1.2rem;
        padding-left: 2.2rem;
        padding-top: 0.7rem;
    }

    .gray_txt_box02::before {
        width: 2rem;
        height: 1rem;
    }
}


@keyframes fade_in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade_in_up {
    from {
        transform: translate(0, 30px);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes fade_in_up2 {
    from {
        transform: translate(-3%, 110%);
    }

    to {
        transform: translate(-3%, -3%);
    }
}

@keyframes trans_scale {
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes trans_scale2 {
    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes trans_rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(10deg);
    }
}

@keyframes trans_rotate2 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-10deg);
    }
}