@media print {
    html,body{
        -webkit-print-color-adjust:exact;
         width: 210mm;
         height: 290mm;
        overflow: visible; 
        position: relative !important;
        top: 0 !important;
        padding: 0;
        margin: 0; 
        background: #fff;
    }
    .print_popup{
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
       z-index: 99999;
    }
    .popup_wr{
        /* display: block; */
    }
    .popup_wr,
    .pop_cont,
    .pop_cont .cont,
    .pop_wr{
        width: 100%;
        height: 100%;
    }
    .pop_cont{
        display: block;
        height: 100%;
        position: absolute;
        background: yellow;
    }
    .pop_cont .cont_header .f_b{
        justify-content: center;
    }
    .pop_cont .pop_inner.type02{
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        max-width: none;
        width: 100%;
        height: 100%;
        padding: 0 !important;
    }
    .pop_cont .pop_bg{
        background: blue;
    }
    .scroll{
        max-height: none;        
        overflow: auto;
    }
    
    .pop_cont .cont.n2{
        /* page-break-inside: avoid; */
    }
    /* .print_th{
        background-color: red;
    } */
    .header,
    .footer,
    .gnb,
    .sidebar,
    .sub_wrap2, .mypage_wrap,
    .scroll::-webkit-scrollbar,
    .pop_cont .cont_header .f_b> div,
    .pop_cont .pop_inner .pop_close,
    .excel_btn{
        display: none;
    }


}