@font-face {
    font-family: "Noto Sans KR";
    src: local('※'),
        url("../../../font/NotoSansKR-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    src: local('※'),
        url("../../../font/NotoSansKR-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans KR";
    src: local('※'),
        url("../../../font/NotoSansKR-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

/* 영- 대문자,소문자 / 숫자 */
@font-face {
    font-family: "Noto Sans KR";
    src: local('※'),
        url("../../../font/Inter-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: "Noto Sans KR";
    src: local('※'),
        url("../../../font/Inter-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
    font-family: "Noto Sans KR";
    src: local('※'),
        url("../../../font/Inter-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
    unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}


:root {
    --mainColor: #0064dd;
    --alertColor: #ffd141;
    --errorColor: #d8250e;
    --black:#000;
    --white:#fff;

    /* BG Color */
    --blueGrayLight : #fafafa;
    --blueGray50 : #f2f4f8;

    /* Line Color */
    --borderColor : #b7b7b7;

    /* Typography Color */
    --blueGray600 : #515e78;
    --gray900 : #222;

    /* Contents BG Color */
    --lightGreen : #DFF9F2;
    --lightYellow : #fff6d8;
    --lightBlue : #d8eaff;
    --lightPurple : #e5e2ff;


    /* etc */

    --boxShadow01: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    --mainRolling2Height:0;
    --gnbDepth2Height:0;
    --gnbDepth3Height:0;
    --tabLeftPos:0;





    /* blue scale */
    /* --blue900: #02254f;
    --blue800: #06346D;
    --blue700: #093F81;
    --blue600: #004CA8;
    --blue500: #0064DD;
    --blue400: #0F7CFF;
    --blue300: #4298FF;
    --blue200: #75B4FF;
    --blue100: #A8D0FF;
    --blue50: #DBEBFF; */

    /* gray scale */
    /* --gray900: #DBEBFF;
    --gray800: #303030;
    --gray700: #424242;
    --gray600: #616161;
    --gray500: #757575;
    --gray400: #9e9e9e;
    --gray300: #e0e0e0;
    --gray200: #eee;
    --gray100: #f3f3f5; */
    


}

* {
    /* max-width: 192rem; */
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.6rem;
    line-height: normal;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    color: #000;
    padding: 0;
    margin: 0;
    /* margin: 0 auto; */
    letter-spacing: -0.075rem;
    word-break: keep-all;
}

.Inter{
    font-family: "Inter";
}

html,
body {
    width: 100vw;
    overflow-x: hidden;
    background-color: #fafafa;
    /*  */
}

html.white,
html.white body{
    background-color: #fff;
}
button {    
    touch-action: manipulation;
    user-select: none;
    cursor: pointer;
}

a,
a:hover,
a:focus,
button {
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: top;
    height: auto;
}

iframe {
    border: none;
    width: 100%;
    height: 100%;
}

input:-webkit-autofill {    
    box-shadow: 0 0 0 100px #fff inset;
}

select {    
    appearance: none;
    border-radius: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header,
footer,
aside,
main,
section,
article,
nav,
a {
    display: block;
}

ul,
li {
    margin: 0;
    list-style: none;
}

/* ::selection{
      color:#fff;
      background: #fff;
  } */
*:focus,
a:hover,
button:hover,
input:hover {
    outline: none;
}

span,
strong,
b,
em {
    color: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
}
strong{font-weight: bold;}


caption,
legend,
input[type="radio"],
input[type="checkbox"] {
    display: none;
}

button,
textarea,
input,
select,
a,
fieldset {
    border: none;
    background-color: transparent;
    appearance: none;
    outline: none;
    background: none;
}


font {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
}

input[type=search]::-webkit-search-cancel-button {    
    width: 10px;
    height: 10px;
    background: url(../../../img/cms/common/ic_close.webp) no-repeat center;
    cursor: pointer;
}


select::-ms-expand {
    display: none;
}


