
.sub02_1_1 .page_contents{
    width: 124rem;
    margin: 0 auto;
}

.sub02_1_1 .white_box{
    margin-top: 4rem;
    padding: 10rem 2rem;
}
.sub02_1_1 .btn_box{
    width: 100%;
    margin-top: 1.5rem;
}
.sub02_1_1 .btn_box .btn{
    width: 100%;
}
.sub02_1_1 .btn_box .btn + .btn{
    margin-top: 1rem;
    margin-left: 0;
}
.sub02_1_1 .btn .sm_txt{
    margin: 0 0 0 1.5rem;
}
.sub02_1_1 .alert_box2{
    padding: 2rem 6rem;
}
.sub02_1_1 .alert_box2 .sub_tit{
    color: var(--mainColor);
    margin-bottom: .5rem;
}
.sub02_1_1 .dot_txt_box p{
    color: #616161;
}
.sub02_1_1 .dot_txt_box:nth-last-child(2) p::before{
    display: none;
}
.sub02_1_1 .dot_txt_box:nth-last-child(1) p{
    color: #d8250e;
}
.sub02_1_1 .dot_txt_box:nth-last-child(1) p::before{
    background-color: #d8250e;
}


.mypage_wrap .sub02_1_1_3.sub04_page .sec01 .white_box{
    padding: 8rem;
}


.sub02_1_1_2 > .page_contents{
    max-width: 140rem;
    margin: 0 auto;
}

.sub02_1_1_2 > .page_contents > .white_box{
    padding: 6rem 8rem;
}
.mypage_wrap .sub04_page.sub02_1_1_2 .sec01 .agree_cont.n1 .white_box{
    height: 45rem;
    overflow: hidden;
}
.mypage_wrap .sub04_page.sub02_1_1_2 .sec01 .agree_cont.n1 .white_box .scroll{
    height: 100%;
}

.sub02_1_1_2 .agree_sec + .agree_sec{
    margin-top: 5rem;
}

.sub02_1_1_2 .privacy_tit{
    font-size: 3rem;
}
.sub02_1 .policy_tit{
    margin-bottom: 0;
    border: 0;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-left: 1.5rem;
}
.sub02_1 .policy_tit::before{
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: url(../../../../img/cms/common/bul_dot01.gif) no-repeat center / cover;
    display: inline-block;
    /* margin-right: .5rem; */
    position: absolute;
    top: 1.2rem;
    left: 0;
}

.sub02_1 .ol_list{}
.sub02_1 .ol_list > li+ li{
    margin-top: 2rem;
}
.sub02_1 .ol_list2 > li+ li,
.sub02_1 .ol_list3 > li+ li{
    margin-top: .5rem;
}
.sub02_1 .ol_list3 > li{
    padding-left: 2.5rem;
}
.sub02_1_1_2.sub03_5 .sec01 .agree_cont.n1 .white_box dd + dd{
    margin-top: 0;
}

.sub02_1_1_2.sub03_5 .sec01 .agree_cont .white_box .sub_table dd::before{
    display: none;
}
.sub02_1_1_2.sub03_5 .sec01 .agree_cont .white_box .sub_table dd{
    padding-left: 0;
}


.sub02_1_1_3 .alert_box2 .subject{
    padding: 0 0 .5rem .5rem;
}
.sub02_1_1_3 .dot_txt_box + .dot_txt_box{
    margin-top: 1rem;
}
.sub02_1_1_3 .dot_txt_box p::before{
    display: none;
}
.sub02_1_1_3 .input_form fieldset {
    margin-top: 10rem;
}

.sub02_1_1_3 .input_form fieldset .field_title{
    padding-top: 0;
    margin-bottom: 2.5rem;
}

.sub02_1_1_3 .input_form fieldset .field_title .main_color{
    font-size: 1.6rem;
    font-weight: 500;
    margin-left: 1rem;
}

.sub02_1_1_3 .input_form .radio_box{
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sub02_1_1_3 .input_form .radio_box + .radio_box{
    margin-top: 1rem;
}
.sub02_1_1_3 .input_form .radio_box label:not(:nth-child(1)),
.sub02_1_1_3 .input_form .radio_box .input_box{
    margin-left: 6.5rem;
}
.sub02_1_1_3 .white_box > .gray_txt_box02:not(.gray_txt_box){
    padding-left: 0;
    padding-bottom: 2rem;
    color: #757575;
}

.sub02_1_1_3 .input_form .table_layout + .table_layout{
    margin-top: 3rem;
}
.sub02_1_1_3 .input_form .table_layout .table_body tr:nth-child(1) td::before,
#dpTable .table_body tr:nth-child(1) td:last-child::before{
    top: 6px;
    left: 0;
    right: 0;
    height: 1px;
}

.sub02_1_1_3 .field02 .gray_txt_box02{
    padding-bottom: 3rem;
}


.sub02_1_1_3 .table_body tr {
    height: 9rem;
}
.sub02_1_1_3 .table_layout th{
    width: 17rem;
}
.sub02_1_1_3 .table_layout td{
    padding: 2rem;
    text-align: left;
    overflow: visible;
}
.sub02_1_1_3 .address_line01{
    margin-bottom: 1rem;
}
#addrDetail{
    margin-left: 1rem;
}
.sub02_1_1_3 .real_select{
    width: 18rem;
    height: 3.5rem;
    border-radius: .5rem;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    padding: 0 1.5rem;
    background: url(../../../../img/cms/common/ic_arrow_down_gray.webp) no-repeat center right 1rem ;    
}
.sub02_1_1_3 .real_select,
.sub02_1_1_3 .real_select option{
    font-size: 1.4rem;
}

.sub02_1_1_3 label + .real_select{
    margin-left: .5rem;
}

.sub02_1_1_3 .email_box span{margin: 0 .5rem;}
.sub02_1_1_3 .input_form input[type=text],
.sub02_1_1_3 .input_form input[type=password]{
    width: 100%;
    height: 3.5rem;
    border-radius: .5rem;
    font-size: 1.4rem;
}
.sub02_1_1_3 .input_form input[type=text].input_txt_type03{
    width: 28rem;
}

.sub02_1_1_3 .select02{
    width: 18rem;
    height: 3.5rem;   
    border: solid 1px #e0e0e0;
    background-color: #fff;
    border-radius: .5rem;    
}
.sub02_1_1_3 .select02,
.select02 .fake_selected,
.sub02_1_1_3 .select02 .select_box .select_box_inner li{
    font-size: 1.4rem;
}
.sub02_1_1_3 .select02 .select_box{
    border-color: #e0e0e0;
}
.sub02_1_1_3 .select02 .select_box .select_box_inner li{
    padding-left: 0;
}
.sub02_1_1_3 .select .select_box .select_box_inner{
    padding-left: 2rem;
}


.sub02_1_1_3 .input_form .btn.address_find{
    width: 11rem;
    height: 3.5rem;
    border-radius: .5rem;
    background-color: #222;
    color: #fff;
    font-size: 1.4rem;
}
.sub02_1_1_3 .input_form .btn.address_find.act{
    padding: 0;
}
#co_address01{
    width: 20rem;
}
.sub02_1_1_3 .input_form input[type=text].txt_type_l{
    width: 31rem;
}
.sub02_1_1_3 .input_form .table_layout .table_body .dep2_th{
    width: 15rem;
    padding: 0;
    text-align: center;
}
#apsnEmail1,#apsnEmail2{width: 18rem;}

.corpRegNum.hide,
.repManBirth.hide{
    display: none;
}


.sub02_1_1_3 .field04 .input_box{
    justify-content: flex-start;
}
.sub02_1_1_3 .field06 .table_body tr{
    height: 8rem;
}
.sub02_1_1_3 .attach_file_wrap{
    margin-top: 0;
}
.sub02_1_1_3 .attach_file_box .attach_file_btn{
    margin-left: 0;
    width: 8rem;
    height: 3.5rem;
    font-size: 1.4rem;
    border-radius: .5rem;
}
.sub02_1_1_3 .fake_input_file_attach{
    font-size: 1.4rem;
    height: 3.5rem;
    border-radius: .5rem;
    padding: 0 1rem;
}

.sub02_1_1_3 .btn_confirm{
    width: 5.5rem;
    height: 3.5rem;
    border-radius: .5rem;
    background-color: #222;
    color: #fff;
    margin-left: 1rem;
}

.sub02_1_1_3 .img_confirm{
    margin-left: 1rem;
}
.sub02_1_1_3 .file_subm{margin-left: .5rem;}
#acntNo1{width: 18rem;}

.sub02_1_1_3 .pop_cont .cont_header{
    margin-bottom: 5.5rem;
}
.sub02_1_1_3 .pop_cont td,
.sub02_1_1_3 .pop_cont .title1{
    text-align: center;
}
.sub02_1_1_3 .pop_cont_type02 .gray_txt_box02{
    padding-bottom: 4rem;
}

.sub02_1_1_3 .input_form .pop_cont_type02 .table_layout .table_body tr:nth-child(1) td::before{
    /* display: none; */
    right: 0;
    top: 50%;
    transform: translateY(-50%);    
    width: 1px;
    height: 50%;
}
.sub02_1_1_3 .pop_cont_type02.n2 .pop_inner{
    overflow-y: scroll;
    max-width: 140rem;
    width: 100%;
}
.sub02_1_1_3 .pop_cont_type02.n2 .pop_inner::-webkit-scrollbar{
    display: none;
}
.sub02_1_1_3 .pop_cont_type02.n2 .pop_inner form{
    margin-top: 7rem;
}
.sub02_1_1_3 .pop_cont_type02 td:nth-child(1):before{
    display: none;
}
.pop_cont_type02 .field02 .input_box{
    margin-left: 1rem;
}

.pop_cont_type02 .check_btn{
    width: 9rem;
    height: 3.5rem;
    background-color: #222;
    color: #fff;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1.4rem;
}
.pop_cont_type02 .field02 .input_box input[type="checkbox"]+span::before{
    margin: 0 0 0 1rem;
}

.pop_cont_type02 .field02 .board_box{
    padding: 6rem;border: 1px solid #e0e0e0; border-radius: 3rem;
}   
.pop_cont_type02 .field02 .board_box li +li{
    padding-top: 3rem;
}
.pop_cont_type02 .field02 .board_box .policy_tit{font-weight: bold;}
.pop_cont_type02 .field02 .board_box .policy_txt{padding-left: 1rem; padding-top: .5rem;}





#popup01 .cont_inner .title1 {
    text-align: left;
    font-size: 2.4rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 2rem;
    text-align: center;
}

#popup01 .cont_inner .address_box,
#popup01 .cont_inner .bank_loca_box {
    padding-left: 23.3rem;
    padding-right: 19.7rem;
}

#popup01 .white_box {
    padding: 4rem;
    /* margin: 8.8rem auto 5.2rem 6.6rem; */
    /* max-width: 82.8rem; */
}
#popup01  .pagination_wrap {
    margin-bottom: 0;
}
.address_box li:first-of-type {
    gap: 7.1rem;
}
.address_box li:nth-of-type(2) {
    margin-top: 5rem;
}
.address_box li:nth-of-type(3) {
    margin-top: 5.8rem;
}
.address_box li:nth-of-type(3) .btn,
.bank_loca_box li:nth-of-type(3) .btn {
    width: 100%;
    background: var(--mainColor);
    font-size: 1.6rem;
}
.bank_loca_box li:nth-of-type(3) {
    width: 49.4rem;
    margin-top: 5.8rem;
}
.input_form .table_layout td.result_empty {
    padding: 5.2rem 0;
}


.sub02_1_1_4 .btn_down span{
    color: #515e78;
    border-bottom: 1px solid #515e78;
    /* padding-bottom: .2rem; */
}
.sub02_1_1_4 .white_box{
    text-align: left;
    max-width: 115rem;
}
.sub02_1_1_4 .head_line3{
    color: var(--mainColor);
    padding-bottom: 4.5rem;
    text-align: center;
    font-size: 3.6rem;
}
.sub02_1_1_4 .gray_box{
    padding: 3.5rem 4rem;
    background-color: #f2f4f8;
    border-radius: 1rem;
    margin: 1.5rem auto 4rem;
}
.sub02_1_1_4 .gray_box li + li{
    margin-top: 1rem;
}
.sub02_1_1_4 .gray_box p{
    font-size: 1.6rem;
}
.sub02_1_1_4 .gray_box .num{
    color: var(--mainColor);
    font-weight: bold;
    margin-right: .8rem;
}
.sub02_1_1_4 .white_box > .btn_down{
    display: block;
    margin-bottom: 2.5rem;
}

.sub02_1_1_4 .center_box{
    margin-top: 1.5rem;
    padding: 4rem 2rem;
    gap: 8rem;
    background-color: #ebf4ff;
    border-radius: 1rem;
}
.sub02_1_1_4 .center_box li{
    position: relative;
}
.sub02_1_1_4 .center_box li + li::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -4rem;
    transform: translateY(-50%);
    width: 1px;
    height: 4rem;
    background-color: #dfe2e9;
}
.sub02_1_1_4 .center_box li .subject{
    color: #515e78;
    padding-bottom: 1rem;
}
.sub02_1_1_4 .center_box li .con{
    color: var(--mainColor);
    font-size: 2rem;
    font-weight: bold;
}
.sub02_1_1_4 .center_box li .con span:nth-child(2){
    padding-left: .5rem;
    font-size: 1.6rem;
    font-weight: normal;
    color: #499bff;
}
.sub02_1_1_4 .center_box .img_box{
    margin-left: .5rem;
}
.sub02_1_1_4 .center_box .img_box img{
    margin: 0;
}

.sub02_1_1_4 .white_box > .btn03{
    display: block;
    margin: 7rem auto 0;
}

.sub02_1_2{}
.sub02_1_2 .page_contents{max-width: 140rem; margin:0 auto;}
.sub02_1_2 .sec01 .top .sec_title{
    padding: 6rem 0 3rem;
}
.sub02_1_2 .sec01 .top {
    text-align: center;
    padding-bottom: 5rem;
}
.sub02_1_2 .alert_box2{
    display: inline-flex;
    text-align: left;
    padding: 2rem 6rem;
    /* width: 101rem; */
    height: 10rem;
}
.sub02_1_2 .sec01 .top .dot_txt_box p{
    color: #d8250e;
}
.sub02_1_2 .sec01 .top .dot_txt_box p::before{
    background-color: #d8250e;
}
.sub02_1_2 .sec01 .top .btn{
    height: 3.5rem;
    font-size: 1.4rem;
    width: 16rem;
    border-radius: .5rem;
}
.sub02_1_2 .stage_box{
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 4rem;
    margin-top: 2rem;
}
.sub02_1_2 .stage_box li{
    padding: 4rem 2rem 6rem;   
    height: auto;
}
.sub02_1_2 .stage_box li::after{
    width: 1.8rem;
    height: 2rem;
}
.sub02_1_2 .stage_box li:nth-child(n) .img_box{
    margin: .5rem auto;
}

.sub02_1_2 .white_box{
    margin-top: 8rem;
    padding: 6.5rem 6rem;
}
.sub02_1_2 .table_layout_wrap{
    margin-top: 0;
}
.sub02_1_2 .table_layout td{
    height: 8rem;
}


.sub02_1_2 .btn_black{
    width: 13rem;
    height: 3.5rem;
    border-radius: .5rem;
    background-color: #222;
    color: #fff;
    margin: 0 auto;
    display: inline-flex;
    font-size: 1.4rem;
}
.sub02_1_2 span + .btn_black {
    margin-left: 1rem;
}
.sub02_1_2 .pagination_wrap{
    margin: 5rem auto 0;
}
.sub02_1_2 .pop_cont{
    text-align: center;
}
.sub02_1_2 .pop_cont .txt_box{    
    padding: 4rem 2rem 6rem;
}

/* 
.attention_txt{}
.attention_txt dt,
.attention_txt dd{    
    color: #222;
}
.attention_txt dt{text-align: center; padding-bottom: 1rem;font-size: 1.8rem;}
.attention_txt dd{position: relative;padding-left: 1rem;font-size: 1.6rem;}
.attention_txt dd + dd{
    margin-top: .5rem;
}
.attention_txt dd::before{
    content: '*';
    position: absolute;
    top: .2rem;
    left: 0;
    
}
.attention_txt dd.gray{color: #757575; margin-left: 1rem;}
.attention_txt dd.red{color: #d8250e;} */