/* CMS 신청절차 */
.head_line2 {
    text-align: center;
    padding-bottom: 0.4rem;
}

.sub02_page .tab_menu2 {
    margin-bottom: 14.4rem;
}

.sub02_3_1 .tab_menu_wrap+.tab_menu_wrap {
    margin-bottom: 0;
}

.mypage_wrap .sub02_3_1 .sec01 .white_box {
    margin: 3rem auto 0;
    padding: 6rem 7rem 8rem;

}

.sub02_3_1 .white_box .sub_tit .head_line3 {
    font-weight: 600;
    gap: .4rem;
}

.sub02_3_1 .white_box .sub_tit .head_line3 img {
    width: 4.9rem;
}

.sub02_3_1 .white_box .sub_tit p {
    font-size: 3.3rem;
    font-weight: 500;
    color: #222;
    margin: 3.2rem 0 0;
}

.sub02_3_1 .white_box .sub_tit .refer_txt {
    display: block;
    font-size: 2.4rem;
    color: #616161;
    font-weight: 500;
    margin-top: 1.2rem;
}

.sub02_3_1 .white_box .sub_white_box {
    margin: 2.6rem 0 0;
    padding: 3rem;
    border-radius: 2rem;
}

.sub02_3_1 .sub_white_box p {
    font-size: 1.8rem;
}
.sub02_3_1 .white_box a{
    display: inline-block;
    font-size: inherit;
}

.sub02_3_1 .sub_white_box p .arrow {
    transform: rotate(270deg);
    vertical-align: bottom;
    width: 2.4rem;
}

.sub02_3_1 .white_box.n2 .table_layout {
    margin-top: 2.6rem;
}

.sub02_3_1 .white_box.n2 .table_layout .table_head th {
    height: 4rem;
}

.sub02_3_1 .white_box.n2 .table_layout td {
    font-weight: normal;
}

.table_layout td:not(.dep2_th)+td:not(.dep2_th)::before {
    width: 1px;
}

.sub02_3_1 .white_box.n2 .table_layout tr.line1 {
    height: 14.6rem;
}

.sub02_3_1 .white_box.n2 .table_layout .gray_txt_box02 {
    text-align: left;
    width: max-content;
    margin: 0 auto;
    font-size: 1.8rem;
    padding-top: 0.4rem;
    color: #515e78;
}

.sub02_3_1 .white_box.n2 .table_layout .gray_txt_box02::before {
    top: .4rem;
}

.mypage_wrap .sub02_3_1_1 .sec01 .white_box .wrap {
    margin-top: 5rem;
}

/* CMS 이용신청서 작성 요령 */
.mypage_wrap .sub02_3_1_2 .sec01 .white_box {
    max-width: 111.4rem;
    margin: 3.2rem auto 5.2rem auto;
    position: relative;
    padding: 8rem;
}

.sub02_3_1_2 .white_box .cont_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.sub02_3_1_2 .white_box .cont_box .cont {
    position: absolute;
    cursor: pointer;
}

.sub02_3_1_2 .question_box {
    top: calc(100% + 0.5rem);
    left: 0rem;
    padding-left: 0;
}

.sub02_3_1_2 .white_box .cont_box .cont.n1 {
    top: 21rem;
    left: 28rem;
    width: 27rem;
    height: 3rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n2 {
    top: 24rem;
    left: 11.2rem;
    width: 88.5rem;
    height: 5.5rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n3 {
    top: 29.9rem;
    left: 23.5rem;
    width: 24rem;
    height: 2.5rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n4 {
    top: 32.5rem;
    left: 11.5rem;
    width: 12rem;
    height: 12.5rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n5 {
    top: 32.4rem;
    left: 23.5rem;
    width: 76rem;
    height: 2.8rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n6 {
    top: 35.4rem;
    left: 23.9rem;
    width: 38rem;
    height: 2.3rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n7 {
    top: 35.2rem;
    left: 61.9rem;
    width: 37.5rem;
    height: 2.3rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n17 .question_box {
    left: auto;
    right: 18rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n7 .con {
    padding: 3.5rem !important;
}

.sub02_3_1_2 .white_box .cont_box .cont.n8 {
    top: 37.6rem;
    left: 23.7rem;
    width: 76rem;
    height: 2.8rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n9 {
    top: 40.5rem;
    left: 23.5rem;
    width: 76rem;
    height: 4.5rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n10 {
    top: 47.7rem;
    left: 23.8rem;
    width: 56rem;
    height: 3.6rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n11 {
    top: 47.7rem;
    left: 79.8rem;
    width: 20rem;
    height: 3.6rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n12 {
    top: 54rem;
    left: 11.3rem;
    width: 88.5rem;
    height: 2.5rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n13 {
    top: 56.4rem;
    left: 11.4rem;
    width: 88.5rem;
    height: 2.5rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n14 {
    top: 63.4rem;
    left: 11.4rem;
    width: 88.5rem;
    height: 4.5rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n15 {
    top: 74.4rem;
    left: 11.4rem;
    width: 88.5rem;
    height: 6.3rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n16 {
    top: 82.5rem;
    left: 11.4rem;
    width: 88.5rem;
    height: 24.3rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.n17 {
    top: 108.5rem;
    left: 83.4rem;
    width: 15.5rem;
    height: 2.4rem;
}

.sub02_3_1_2 .white_box .cont_box .cont.type02 .txt_box {
    box-shadow: var(--boxShadow01);
    border: 1px solid #e0e0e0;
    padding: 3.5rem 3.5rem 2.3rem;
    border-radius: 1rem;
    background-color: #fff;
    width: max-content;
    display: block;
}

.sub02_3_1_2 .white_box .cont_box .cont.type02 .question_box .con {
    padding: 0;
    border: none;
    box-shadow: none;
}

.sub02_3_1_2 .white_box .cont_box .cont .num {
    display: inline-block;
    font-size: 0;
    background: rgba(255, 0, 0, 0.3);
}

.sub02_3_1_2 .white_box .cont_box .cont .question_box .con {
    font-size: clamp(1.5rem, 1.1458vw, 2.2rem);
    color: #222;
    padding: 3.5rem 3rem;
}

.sub02_3_1_2 .white_box .cont_box .cont .question_box .con .detail {
    position: relative;
    display: block;
    padding-left: 3.6rem;
    line-height: 3.3rem;
}

.sub02_3_1_2 .white_box .cont_box .cont .question_box .con .detail.top {
    margin-bottom: 2.1rem;
    padding-left: 1.3rem;
}

.sub02_3_1_2 .white_box .cont_box .cont .question_box .con .detail.star:before {
    content: '';
    position: absolute;
    top: 0rem;
    left: 0;
    width: 36px;
    height: 36px;
    background: url(../../../../img/cms/sub/sub02/ic_star_small.webp);
}

.sub02_3_1_2 .white_box .cont_box .cont .question_box .con:before {
    padding-top: 0;
    font-size: clamp(2.1rem, 1.5626vw, 3rem);
}

/* CMS 신청시 이용기관 결정사항 */
.mypage_wrap .sub02_3_1_3 .sub_tit>img {
    width: 5rem;
}

.mypage_wrap .sub02_3_1_3 .sec01 .white_box {
    padding: 6rem 8rem 8rem;
}

.sub02_3_1_3 .white_box .sub_white_box {
    padding: 6rem;
}

.sub02_3_1_3 .cont_box .cont_wr {
    margin-top: 4rem;
    align-items: stretch;
    gap: 2rem;
}

.sub02_3_1_3 .cont_box .cont_wr .cont {
    width: 50%;
    text-align: left;
    background: #fff;
    border-radius: 2rem;
    padding: 5rem 8rem 7rem;
    border: solid 1px #e0e0e0;
}

.sub02_3_1_3 .cont_box .cont_wr .cont p:not(.gray_txt_box02) {
    color: #222;
    letter-spacing: -0.1rem;
}

.sub02_3_1_3 .cont_box .cont_wr .cont .sub_title3 {
    margin: 1.6rem 0 0;
}

.sub02_3_1_3 .cont_box .cont_wr .cont .gray_txt_box02 {
    margin: 0;
}

.sub02_3_1_3 .sub_tit .title1,
.sub02_3_2 .sub_tit .title1 {
    margin-top: 1.4rem;
}

.sub02_3_1_3 .sub_tit .title1+.title1,
.sub02_3_2 .sub_tit .title1+.title1 {
    margin-top: .4rem;
}

.sub02_3_1_3 .sub_tit .title1 .num,
.sub02_3_2 .sub_tit .title1 .num {
    display: inline-block;
    width: 2.6rem;
    height: 2.6rem;
    border: 2px solid #212121;
    border-radius: 50%;
    line-height: 2.1rem;
    font-size: 2.1rem;
    vertical-align: top;
    margin: .7rem .2rem 0 1rem;
    padding: 0 .1rem 2.3rem 0;
}

.sub02_3_1_3 .gray_txt_box02,
.sub02_3_2 .gray_txt_box02 {
    font-size: 1.8rem;
    color: #616161;
    text-align: left;
    max-width: max-content;
    margin: 2.6rem auto 0;
}

.sub02_3_1_3 .white_box.n1 .gray_txt_box02+.gray_txt_box02,
.sub02_3_2 .white_box .gray_txt_box02+.gray_txt_box02 {
    margin-top: 1rem;
}

.sub02_3_1_3 .white_box.n2 .cont_box {
    margin-top: 4rem;
    padding: 4rem;
    background: #fafafa;
    border-radius: 3rem;
}

.sub02_3_1_3 .white_box.n2 .cont_box .cont_wr .cont {
    border: none;
}

.sub02_3_1_3 .white_box.n3 .sub_title1 {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 2.4rem;
}

.sub02_3_1_3 .white_box.n3 .sub_white_box p {
    color: #222;
    text-align: left;
}

.sub02_3_1_3 .white_box.n3 .sub_white_box p:not(.sub_title1) {
    font-weight: 500;
}

.sub02_3_1_3 .white_box.n3 .sub_white_box .gray_txt_box02 {
    margin: 1rem 0 0;
}

.sub02_3_1_3 .white_box.n3 .sub_white_box .gray_txt_box02+.gray_txt_box02 {
    margin: 0.4rem 0 0;
    padding-top: .4rem;
}

.sub02_3_1_3 .white_box.n3 .sub_white_box .gray_txt_box02+.gray_txt_box02::before {
    top: .6rem;
}

.sub02_3_1_3 .white_box.n3 .sub_white_box.n3 .gray_txt_box02:not(:last-child) {
    margin-top: 1.4rem;
}

.sub02_3_1_3 .white_box.n3 .sub_white_box .num_txt_box p+p {
    margin-top: .7rem;
}

.sub02_3_1_3 .white_box.n3 .sub_white_box .num_txt_box .num {
    margin-right: .6rem;
}

.sub02_3_1_3 .white_box.n3 .main_color {
    padding-left: 0;
}

.sub02_3_1_3 .white_box.n3 .main_color::before {
    display: none;
}

.sub02_3_1_3 .white_box.n3 .dot_txt_box p+p {
    margin-top: .8rem;
}

.sub02_3_1_3 .white_box.n3 .sub_white_box.n5 .group+.group {
    margin-top: 4.8rem;
}

.sub02_3_1_3 .white_box.n3 .sub_white_box.n5 .group:first-child .sub_title1 {
    margin-bottom: 1.6rem;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .gray_txt_box02 {
    padding-top: .3rem;
    margin: 0 auto;
    color: #515e78;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .gray_txt_box02+.gray_txt_box02 {
    padding-top: .3rem;
    margin: .3rem auto .4rem;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .gray_txt_box02::before {
    top: .4rem;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .table_head th {
    height: 4rem;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .table_body tr {
    height: 18.4rem;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .table_body td {
    font-weight: normal;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box span {
    font-size: 1.8rem;
    color: #222;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box .mt {
    margin-top: .6rem;
    display: inline-block;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box .arr {
    position: relative;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box .arr.bf::before {
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.9rem;
    background: url(../../../../img/cms/common/ic_arrow_right_defult_gray2.webp) no-repeat center / 1.8rem;
    left: -1.5rem;
    top: 54%;
    transform: translateY(-50%);
    background-size: contain;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box .arr.af::after {
    content: '';
    position: absolute;
    width: 0.8rem;
    height: 0.9rem;
    background: url(../../../../img/cms/common/ic_arrow_right_defult_gray2.webp) no-repeat center / 1.8rem;
    right: -2rem;
    top: 54%;
    transform: translateY(-50%);
    background-size: contain;
}

.sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box .arr+.arr {
    margin-left: 2.8rem;
}

.sub02_3_1_3 .white_box.n5 .sub_title3 {
    width: max-content;
    text-align: left;
    margin: 3.6rem auto 0;
}

.sub02_3_1_3 .white_box.n5 .sub_title3+.chk_txt_box .gray_txt_box02 {
    margin: 0 auto;
}

/* cms 현금영수증 */
.sub02_3_2 .white_box {
    padding: 6rem 12rem;
}

.sub02_3_2 .sec01 .head_line2 {
    padding-top: 9.4rem;
}

.sub02_3_2 .sec01 .white_box .sub_tit p {
    margin-top: 0;
}

.sub02_3_2 .sec01 .white_box .txt {
    font-size: 2.6rem;
    line-height: 3.9rem;
}

.sub02_3_2 .sec01 .sub_white_box p {
    color: #222;
}

.sub02_3_2 .sec01 .sub_white_box p a {
    display: inline-block;
    border-bottom: 1px solid #222;
}

.sub02_3_2 .sec02 .head_line2,
.sub02_3_2 .sec03 .head_line2 {
    padding-top: 10rem;
}

.sub02_3_2 .section:not(.sec01) .chk_txt_box {
    background-color: #fafafa;
    padding: 2rem 3rem 3rem;
    margin-top: 2.6rem;
}

.sub02_3_2 .section:not(.sec01) .chk_txt_box .gray_txt_box02 {
    margin-top: 0;
}

.sub02_3_2 .sec03 .n4 .txt_box {
    margin-top: 3.6rem;
}

.sub02_3_2 .sec03 .n4 .txt {
    color: #222;
}

.sub02_3_2 .sec03 .n4 .txt+.txt {
    margin-top: 1rem;
}

.sub02_3_2 .sec03 .n4 .txt .arrow {
    transform: rotate(270deg);
    vertical-align: top;
    width: 2.4rem;
    margin-top: 1rem;
}

.sub02_3_2 .sec03 .n4 .chk_txt_box .gray_txt_box02 {
    margin: 0;
    margin-left: clamp(13rem, 10.9375vw, 21rem);
    margin-right: clamp(13rem, 10.9375vw, 21rem);
}

.sub02_3_2 .stage_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem 5.4rem;
    margin: 2rem auto 0;
    max-width: 112rem;
}

.sub02_3_2 .stage_box li {
    position: relative;
    width: 30%;
    box-shadow: var(--boxShadow01);
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
    padding: 4rem 6rem 6rem;
}

.sub02_3_2 .stage_box li::before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../../../../img/cms/common/ic_arrow_right_defult_gray2.webp) no-repeat center / 1.8rem;
    left: -11%;
    top: 50%;
    transform: translateY(-50%);
}

.sub02_3_2 .stage_box li:first-child::before {
    display: none;
}

.sub02_3_2 .stage_box .img_box {
    margin: .4rem 0
}

.sub02_3_2 .stage_box li .step,
.sub02_3_2 .stage_box li .txt {
    font-size: 1.8rem;
    font-weight: 500;
    color: #222;
}

.sub02_3_2 .stage_box li .sub_tit {
    font-size: 1.8rem;
    font-weight: 500;
    color: #515e78;
    margin-top: .8rem;
}

.sub02_3_2 .stage_box li .gray_txt_box02 {
    margin: 0 auto;
    padding: 0.4rem 0 0 3rem;
}

.sub02_3_2 .stage_box li .gray_txt_box02::before {
    top: .5rem;
}

.sub02_3_2 .stage_box li .gray_txt {
    font-size: 1.8rem;
    margin-top: .4rem;
    color: #616161;
}

@media screen and (max-width: 1080px) {
    .sub02_3_1_2 .white_box .cont_box .cont .question_box .con .detail {
        padding-left: 1.8rem;
        line-height: normal;
    }

    .sub02_3_1_2 .white_box .cont_box .cont .question_box .con .detail.star:before {
        top: 0.5rem;
        width: 1.8rem;
        height: 1.8rem;
        background-size: cover;
    }
}

@media screen and (max-width: 1024px) {
    .mypage_wrap .sub02_page {
        padding: 3.2rem 0 10rem;
    }

    .sub02_page .tab_menu2 {
        display: inline-flex;
        margin-bottom: 1rem;
        padding: 0 1rem;
    }

    /* CMS 신청절차 */
    .sub02_3_1 .white_box.n2 .table_layout tr {
        height: auto;
    }

    .sub02_3_1 .white_box.n2 .table_layout td {
        padding: 2rem 0;
    }

    .sub02_3_1 .sec01 {
        padding: 0 2rem;
    }

    /* CMS 이용신청서 작성 요령 */
    .mypage_wrap .sub02_3_1_2 .sec01 .white_box .sec01_img01 {
        width: 100%;
    }

    .sub02_3_1_2 .cont_box {
        position: relative;
    }

    .sub02_3_1_2 .sec01 .mo_1024 .white_box {
        padding: 1.7rem;
    }

    .sub02_3_1_2 .cont_box {
        max-width: 111.4rem;
        margin: 0 auto;
    }

    .sub02_3_1_2 .cont_box .cont {
        position: relative;
        top: unset !important;
        left: unset !important;
        padding: 1.7rem;
        border-radius: 1rem;
        gap: .6rem;
        justify-content: flex-start;
        align-items: flex-start;

    }

    .sub02_3_1_2 .cont_box .cont .num {
        display: inline-block;
        flex-shrink: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 5rem;
        background: #088ec4;
        color: #fff;
        font-weight: 500;
        line-height: 3rem;
        text-align: center;
    }

    .sub02_3_1_2 .cont_box .cont .txt_box {
        gap: .6rem;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .sub02_3_1_2 .cont_box .cont.n9 .f_fs,
    .sub02_3_1_2 .cont_box .cont.n12 .f_fs {
        display: block;
    }

    /* CMS 신청시 이용기관 결정사항 */
    .sub02_3_1_3 .cont_box .cont_wr .cont {
        padding: 2.5rem 4rem 3.5rem;
    }

    .sub02_3_1_3 .cont_box .cont_wr .cont .sub_title3 {
        width: auto;
    }

    .sub02_3_2 .sec01 .head_line2 {
        padding-top: 0;
    }

    .sub02_3_2 .stage_box {
        display: none;
    }

    .sub02_3_1 .sec02 .white_box .sub_white_box {
        height: auto;
        padding: 2.8rem 3.3rem;
        margin: 0;
    }

    /* cms 현금영수증 */
    .sub02_3_2 .sec02 .white_box {
        padding: 3rem 1.5rem 6rem;
        margin-bottom: 0;
        overflow: hidden;
    }

    .sub02_3_2 .sec02 .swiper-horizontal>.swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        left: 1rem;
        bottom: 3rem;
    }

    .sub02_3_2 .step_box {
        display: flex;
        flex-direction: column;
        height: 100%;
        text-align: center;
    }

    .sub02_3_2 .step_box .step {
        font-weight: 500;
        color: #000;
    }

    .sub02_3_2 .step_box .img_box {
        width: clamp(12rem, 22.4609vw, 23rem);
        margin: 0 auto;
    }

    .sub02_3_2 .step_box .sub_tit {
        font-size: clamp(1.8rem, 2.1484vw, 2.2rem);
        color: #515e78;
        font-weight: 500;
    }

    .sub02_3_2 .step_box .txt {
        font-size: clamp(1.5rem, 1.9531vw, 2rem);
        font-weight: bold;
        color: #222;
        margin-top: .5rem;
    }

    .sub02_3_2 .step_box .gray_txt {
        color: #515e78;
        margin-top: .5rem;
    }

    .sub02_3_2 .step_box .gray_txt_box02 {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {

    /* CMS 신청절차 */
    .float_btn {
        top: 83%;
    }

    .sub_wrap2 .page_title_box .img_bg.n1 {
        display: block;
    }

    .sub02_page .page_contents {
        padding: 0;
    }

    .sub02_3_1 .white_box .sub_tit .head_line3 img {
        width: 2.4rem;
    }

    .sub02_3_1 .white_box .sub_tit p {
        font-size: 1.8rem;
        margin-top: 1.6rem;
    }

    .sub02_3_2 .sec01 .white_box .txt {
        font-size: 1.8rem;
        line-height: normal;
    }

    .sub02_3_1 .white_box .sub_tit .refer_txt {
        font-size: 1.6rem;
    }

    .sub02_3_1 .sub_white_box p {
        font-size: 1.4rem;
    }

    .sub02_3_1 .sub_white_box p .arrow {
        width: 1.9rem;
    }

    .mypage_wrap .sub02_3_1 .sec01 .white_box,
    .sub02_3_2 .white_box {
        padding: 3rem 6rem 4rem;
    }

    .sub02_3_1 .white_box.n2 .table_layout {
        margin-top: 1.5rem;
    }

    .sub02_3_1 .white_box.n2 .table_layout .gray_txt_box02 {
        font-size: 1.4rem;
    }

    .mypage_wrap .sub02_3_1_2 .sec01 .white_box {
        padding: 4rem;
    }

    .sub02_3_1_2 .sec01 .mo_1024 .cont_box .cont {
        margin: .6rem auto;
        padding: 3rem 3rem 4rem;
    }

    .sub02_3_1_2 .sec01 .mo_1024 .cont_box .cont.n1 {
        margin-top: 1.5rem;
    }

    .sub02_3_1_2 .cont_box .cont .num {
        width: 1.8rem;
        height: 1.8rem;
        line-height: 1.8rem;
        font-size: 1.2rem;
    }

    .sub02_3_1_2 .cont_box .cont .con {
        width: calc(100% - 2.8rem);
        font-size: 1.2rem;
        color: #616161;
        display: block;
    }

    .sub02_3_1_2 .cont_box .cont .txt_box+.star_txt {
        margin-top: 1rem;
    }

    .sub02_3_1_2 .cont_box .cont .star_txt {
        margin-left: 0.6rem;
        padding-left: 2rem;
    }

    .sub02_3_1_2 .cont_box .cont .star_txt::before {
        font-size: 2rem;
    }

    .sub02_3_1_2 .cont_box .cont.n7 .con {
        padding: 0 !important;
    }

    /* CMS 신청시 이용기관 결정사항 */
    .mypage_wrap .sub02_3_1_3 .sub_tit>img {
        width: 3.5rem;
    }

    .sub02_3_1_3 .gray_txt_box02 {
        font-size: 1.3rem;
    }

    .sub02_3_1_3 .cont_box .cont_wr {
        flex-direction: column;
    }

    .sub02_3_1_3 .cont_box .cont_wr .cont {
        width: 100%;
        padding: 2.5rem 4rem 3.5rem;
    }

    .sub02_3_1_3 .sub_tit .title1 .num {
        width: 2.4rem;
        height: 2rem;
        line-height: 2.1rem;
        font-size: 1.7rem;
        margin: 0.1rem 0.2rem 0 1rem;
    }

    .sub02_3_1_3 .gray_txt_box02 {
        margin-top: 1.3rem;
    }

    .mypage_wrap .sub02_3_1_3 .sec01 .white_box {
        padding: 3rem 4rem 4rem;
    }

    .sub02_3_1_3 .white_box .sub_white_box {
        padding: 3rem;
    }

    .sub02_3_1_3 .white_box.n2 .cont_box {
        padding: 2rem;
    }

    .sub02_3_1_3 .white_box.n3 .sub_title1 {
        font-size: 1.7rem;
        margin-bottom: 1.2rem;
    }

    .sub02_3_1_3 .white_box.n3 .sub_white_box p {
        width: auto;
    }

    .sub02_3_1_3 .cont_box .cont_wr .cont .sub_title3 {
        margin: .8rem 0 0;
    }

    .sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box {
        white-space: normal;
    }

    .sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box>br {
        display: none;
    }

    .sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box span {
        font-size: 1.6rem;
    }

    .sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box .arr {
        width: max-content;
        display: block;
        margin: 0 auto;
    }

    .sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box .mt {
        margin-top: 0;
    }

    .sub02_3_1_3 .sub_white_box.n5 .table_layout .step_box .arr+.arr {
        margin-left: auto;
    }

    /* cms 현금영수증 */
    .sub02_3_2 {
        padding: 3.2rem 1.5rem;
    }

    .sub02_3_2 .head_line2 {
        font-size: 2.3rem;
    }

    .sub02_3_2 .sec02 .head_line2,
    .sub02_3_2 .sec03 .head_line2 {
        padding-top: 5rem;
    }

    .sub02_3_2 .sec03 .n4 .txt .arrow {
        margin-top: 0;
    }

    .sub02_3_2 .stage_box li .step,
    .sub02_3_2 .stage_box li .txt,
    .sub02_3_2 .gray_txt_box02,
    .sub02_3_2 .stage_box li .gray_txt {
        font-size: 1.4rem;
    }

    .sub02_3_2 .sec02 .swiper-horizontal>.swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        left: .5rem;
    }

    .sub02_3_2 .sec03 .n4 .chk_txt_box .gray_txt_box02 {
        margin: 0;
    }
}

@media screen and (max-width: 540px) {

    /* CMS 신청시 이용기관 결정사항 */
    .sub02_3_1_3 .white_box.n5 .sub_title3 {
        width: auto;
    }
}

@media screen and (max-width: 500px) {

    .mypage_wrap .sub02_3_1 .sec01 .white_box,
    .sub02_3_2 .white_box {
        padding: 2.6rem 1.3rem 3rem;
    }

    .sub02_3_1 .white_box .sub_white_box {
        padding: 1.5rem;
        border-radius: 1rem;
        margin-top: 1.3rem;
    }

    .sub02_3_1 .white_box.n2 .table_layout .gray_txt_box02::before {
        top: .9rem;
    }

    .mypage_wrap .sub02_3_1_2 .sec01 .white_box {
        padding: 1.3rem;
        margin: 1.5rem auto 0;
    }

    .sub02_3_1_2 .sec01 .mo_1024 .cont_box .cont {
        padding: 2.6rem 1.3rem 3rem;
    }

    /* CMS 신청시 이용기관 결정사항 */
    .mypage_wrap .sub02_3_1_3 .sec01 .white_box {
        padding: 3rem 2rem 4rem;
    }

    .sub02_3_1_3 .cont_box .cont_wr .cont {
        padding: 1.5rem;
    }

    .sub02_3_2 .sec03 .white_box {
        margin-bottom: 1.7rem;
    }

    .sub02_3_2 .section:not(.sec01) .chk_txt_box {
        padding: 1.5rem 2rem;
    }
}