.sub02_page{
    padding: 10rem 2rem 16rem;
}
.mypage_wrap.ver5 .page_title_box {
    background-color: #e7f7fe;
}
.mypage_wrap .tab_menu li.on a::before {
    background-color: #088ec4;
}
.sub_wrap2 .page_title_box .page_title {
    padding-top: 0;
}
.mypage_wrap .sub04_page.sub03_4 .sec01 ul.white_box {
    margin: 0 auto;
    padding: clamp(1.3rem ,4.1667vw, 8rem);
    padding-top: clamp(2rem, 3.1250vw, 6rem);
    padding-bottom: clamp(4.4rem ,4.1667vw, 8rem);
}
.white_box .sub_white_box {
    border: solid 1px #e0e0e0;
    box-shadow: none;
    padding: clamp(2.5rem, 3.1250vw, 6rem);
    margin: 0 0 6rem;
    border-radius: 3rem;
}
.sub_white_box li {
    font-size: 1.8rem;
    font-weight: normal;
    color: #222;
    letter-spacing: -0.1rem;
}
.sub_white_box li + li {
    margin-top: 2rem;
}
.sub_white_box li span {
    color: var(--mainColor);
}
.float_btn.multi {
    border: unset;
    border-radius: unset;
    background-color: unset;
    backdrop-filter: unset;
}
.multi .info_down_btn {
    border-radius: 1rem;
    border: 1px solid #a2acc0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(17px);
    transition: .3s;
}
.multi li + li.info_down_btn {
    margin-top: 0.4rem;
}
.multi .info_down_btn:hover {
    border: 1px solid var(--mainColor);
    background-color: rgba(255, 255, 255, 0.5);
}
.multi .info_down_btn:hover .down_btn {
    color: var(--mainColor);
}
.multi .info_down_btn:hover .img_off {
    display: none;
}
.multi .info_down_btn:hover .img_on {
    display: block;
}
.multi li + li.n2 {
    margin-top: 1.2rem;
}
.info_down_btn.n1 .img_off {
    max-width: 3.8rem;
}
.info_down_btn.n2 .img_on {
    max-width: 2.4rem;
}
.info_down_btn.n1 .img_on {
    max-width: 6.2rem;
}
.mypage_wrap .page_title_box .img_bg {
    position: absolute;
}
.mypage_wrap .page_title_box .img_bg.n1 {
    right: clamp(15rem, 11.9272vw, 22.9rem);
    bottom: 0;
    width: clamp(20rem, 21.3022vw, 40.9rem);
    left: unset;
}
.mypage_wrap .page_title_box .img_bg.n2 {
    left: clamp(21rem ,16.3022vw, 31.3rem);
    width: clamp(12rem, 10.4689vw, 20.1rem);
    bottom: 0;
}
.tab_menu li a {
    font-size: clamp(1.8rem, 1.1459vw, 2rem);
}
.sub02_page .tab_menu2 {
    padding-top: 3.3rem;
    margin-bottom: 6rem;
}
.sub02_page .tab_menu2 li a{
    font-size: inherit;
    color: inherit;
    width: max-content;
}
.select02 .select_box .select_box_inner li {
    font-size: 1.8rem;
    padding: 0.5rem 0 0.5rem 2.4rem;
}
.benefit_img_wrap {
    max-width: 141.5rem;
    margin: 0 auto;
    margin-top: clamp(2.5rem, 2.6042vw, 5rem);
}
@media screen and (max-width: 1024px) {
    .mypage_wrap .sub02_page {
        margin: 0;
        padding-bottom: 10rem;
    }
    .mypage_wrap .page_title_box .img_bg.n1 {
        right: auto;
        width: 32.1rem;
    }
    .mypage_wrap .page_title_box .img_bg.n2 {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .mypage_wrap .sub02_page {
        padding-top: 3.2rem;
    }
    .tab_menu li a {
        font-size: 1.2rem;
    }
    label, .address_line, .input_form input[type=text], span.code_txt_box, span.code_txt_box input[type=text], .bank_name_search, .select03 {
        width: 100%;
    }
    .email_box {
        width: 100%;
        display: block;
    }
    .email_box #email01 {
        display: inline-block;
        width: calc(100% - 3rem);
        margin-bottom: 1rem;
    }
    .email_box > span {
        padding: 0 0.5rem;
    }
    .select03 {
        height: 4rem;
        font-size: 1.3rem;
        margin: 1rem 0 0;
    }
    .select02 .select_box .select_box_inner li {
        font-size: 1.3rem;
        padding: 0.5rem 0 0.5rem 1.4rem;
    }
}