.section+.section {
    margin-top: clamp(5rem, 5.2083vw, 10rem);
}

.section .tit_box {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    border-bottom: 1px solid #000;
}

.sub_title_box {
    text-align: center;
}

.stage_box {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 6rem;
    margin: clamp(2.5rem, 3.1250vw, 6rem) auto 0;
    max-width: 139.6rem;
}

.stage_box li {
    position: relative;
    width: 25%;
    box-shadow: var(--boxShadow01);
    background-color: #fff;
    border-radius: 1rem;
    text-align: center;
    padding: clamp(2rem, 2.0833vw, 4rem) clamp(3rem, 3.1250vw, 6rem) clamp(3rem, 3.1250vw, 6rem);
}

.stage_box li .step,
.stage_box li .txt {
    font-size: 1.8rem;
    font-weight: 500;
    color: #222;
}

.stage_box li .sub_tit {
    font-size: 1.8rem;
    font-weight: 500;
    color: #515e78;
    margin-top: 0.8rem;
}

.stage_box .img_box {
    margin: 0.4rem 0;
}

.stage_box li+li::before {
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    background: url(../../../../img/cms/common/ic_arrow_right_defult_gray2.webp) no-repeat center / 1.8rem;
    left: -4rem;
    top: 50%;
    transform: translateY(-50%);
}

.agree_cont .head_line3 {
    font-weight: bold;
    text-align: center;
}

.agree_cont .white_box {
    border: solid 1px #e0e0e0;
    box-shadow: none;
    padding: clamp(4rem, 3.1250vw, 6rem);
    margin: 3rem 0 clamp(2rem, 2.0833vw, 4rem);
}

.sec04 .radio_box {
    gap: 7.8rem;
}

.sec05 .radio_box {
    gap: 6.8rem;
}

.radio_box label {
    width: auto;
}

.agree_cont .white_box dd {
    font-size: 1.8rem;
    padding-left: 3rem;
    position: relative;
}

.agree_cont .white_box dd+dd {
    margin-top: 3rem;
}

.agree_cont .white_box dd .sub_tit {
    font-size: 2rem;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 1rem;
}

.agree_cont .white_box dd::before {
    content: '';
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 1.3rem;
    left: 1.4rem;
}

.agree_cont.n2 {
    padding-top: clamp(3rem, 4.1667vw, 8rem);
    margin-top: clamp(3rem, 4.1667vw, 8rem);
    border-top: 1px solid rgba(183, 183, 183, 0.3);
}

.request_box li+li {
    margin-top: clamp(1.7rem, 1.823vw, 3.5rem);
}

textarea {
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
    padding: 3rem;
    resize: none;
    width: 85rem;
    height: 45rem;
    font-size: clamp(1.3rem, 1.0417vw, 1.8rem);
}

.sec05 .form_num_tit {
    padding-left: 0;
}

.sec05 .form_num_tit::before {
    display: none;
}

.input_txt_type02 {
    width: 49rem;
}

.email_box .input_txt_type02 {
    width: 21rem;
}

.select02,
.input_form input[type=text],
.select02 .select_box .select_box_inner li {
    font-size: clamp(1.3rem, 1.0417vw, 2rem);
}

.select03 {
    width: 21rem;
    margin-left: 1rem;
}

.email_box>span {
    padding: 0 1rem;
    font-size: clamp(1.6rem, 1.1979vw, 2.3rem);
}

.radio_box.work_chk {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.radio_box.corp_chk {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: clamp(2rem, 2.0833vw, 4rem);
}

.radio_box.work_chk.n2 {
    padding-top: clamp(3rem, 3.1250vw, 6rem);
    margin-top: clamp(3rem, 3.1250vw, 6rem);
    border-top: 1px solid #e0e0e0;
}

.corp_wrap {
    background: #f2f4f8;
    display: block;
    padding: 6rem 3rem;
    text-align: center;
    margin-bottom: clamp(1rem, 1.0417vw, 2rem);
    border-radius: 2rem;
    border: 1px solid transparent;
}

.corp_wrap.active {
    border: 1px solid var(--mainColor);
}

.corp_wrap span {
    display: block;
}

.radio_box.corp_chk.n2 {
    padding-top: clamp(3rem, 3.1250vw, 6rem);
    margin-top: clamp(3rem, 3.1250vw, 6rem);
    border-top: 1px solid #e0e0e0;
}

.corp_chk span.title {
    padding: 3rem 0 4rem;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: -0.1rem;
    line-height: 1.5;
}

.agree_cont .white_box dd.normal_tit::before {
    display: none;
}

.agree_cont .white_box dd.info_tit::before {
    content: "※ ";
    display: inline;
    width: 0;
    height: 0;
    top: 0.2rem;
    left: 0.5rem;
}

.agree_cont_tit {
    text-align: center;
}

.agree_cont_tit .gray_txt_box02 {
    display: inline-flex;
}

.request_box li+li.time .gray_txt_box02 {
    margin-top: 1rem;
}

.sub02_2 .sec02 .gray_txt_box {
    margin-top: 3rem;
}

.sub02_2 .sec01 .agree_cont .scroll {
    max-height: none;
}

/* 240105 수정 */
/* 셀렉트박스 수정 */
.sub02_2_2 .real_select {
    width: 18rem;
    height: 6rem;
    border-radius: 1rem;
    border: 1px solid #e0e0e0;
    background-color: #fff;
    padding: 0 1.5rem;
    background: url(../../../../img/cms/common/ic_arrow_down_gray.webp) no-repeat center right 1rem;
    margin-left: 1rem;
}

/* 사회복지시설 대상 제공 혜택 섹션  */
.sub02_2 .sec01 .benefit_img_wrap .pc_1024 .white_box {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.sub02_2 .section .title2 {
    font-weight: 500;
}

.sub02_2 .sec01 .benefit_img_wrap .pc_1024 .white_box li {
    flex: 1;
}

.sub02_2 .sec01 .benefit_img_wrap .white_box li h3 {
    position: relative;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

.sub02_2 .sec01 .benefit_img_wrap .white_box li h3 .blue_chk {
    width: 36px;
}

.sub02_2 .sec01 .benefit_img_wrap .white_box li h3 span {
    color: #088ec4;
}

.sub02_2 .sec01 .benefit_img_wrap .white_box li .cont_wr {
    min-height: 48.7rem;
    height: calc(100% - 10rem);
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
    text-align: center;
    padding-bottom: 4.5rem;
}

.sub02_2 .sec01 .benefit_img_wrap .white_box li .desc_box {
    margin-top: 2rem;
}

.sub02_2 .sec01 .benefit_img_wrap .white_box li .desc_box dl+dl {
    margin-top: 2.5rem;
}

.sub02_2 .sec01 .benefit_img_wrap .white_box li .desc_box dt {
    font-size: 2rem;
    font-weight: 700;
    color: #222;
    margin-bottom: 10px;
}

.sub02_2 .sec01 .benefit_img_wrap .white_box li .desc_box dd {
    font-size: 1.8rem;
    color: #616161;
    font-weight: 500;
    line-height: 2.7rem;
}

.sub02_2 .sec01 .benefit_img_wrap .white_box li .desc_box small {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: #616161;
}

.sub02_2 .required_label>span,
.sub02_2 .required_label .input_subject {
    padding-left: 0;
}

.sub02_2 .required_label>span:not(.calender_mouse, .password_mouse):before,
.sub02_2 .required_label .input_subject::before {
    display: none;
}

@media screen and (max-width: 1024px) {
    .sub02_2 .sec01 .agree_cont .scroll {
        max-height: 52rem;
    }

    .sub02_2_2 .sub_title_box .sec_title {
        padding: 1rem 1.5rem;
    }

    .benefit_img_wrap {
        overflow: hidden;
    }

    .benefit_img_wrap .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .benefit_img_wrap .swiper-slide .cont_tit img {
        width: clamp(2.4rem, 3.3203vw, 3.4rem);
    }

    .benefit_img_wrap .swiper-slide .cont_tit {
        font-size: clamp(1.7rem, 2.3438vw, 2.4rem);
        font-weight: bold;
        color: #222;
        margin-bottom: 2rem;
    }

    .benefit_img_wrap .swiper-horizontal>.swiper-scrollbar,
    .swiper-scrollbar.swiper-scrollbar-horizontal {
        bottom: 3rem;
    }

    .benefit_img_wrap .swiper-slide .sub_white_box {
        width: 100%;
        height: 100%;
        margin-bottom: 3rem;
    }

    .benefit_img_wrap .swiper-slide .sub_white_box .cont_box .img_box {
        text-align: center;
    }

    .benefit_img_wrap .swiper-slide .sub_white_box .cont_box .img_box img {
        width: clamp(12rem, 23.4375vw, 24rem);
    }

    .benefit_img_wrap .swiper-slide .sub_white_box .cont_box .txt_box {
        text-align: center;
    }

    .benefit_img_wrap .swiper-slide .sub_white_box .cont_box .txt_box+.txt_box {
        margin-top: 1.4rem;
    }

    .benefit_img_wrap .swiper-slide .sub_white_box .cont_box .txt_box .tit {
        font-weight: bold;
        color: #222;
    }

    .benefit_img_wrap .swiper-slide .sub_white_box .cont_box .txt_box .txt {
        font-weight: 500;
        color: #616161;
    }
}

@media screen and (max-width: 768px) {
    .sub_wrap2 .page_title_box .img_bg.n1 {
        display: block;
    }

    .sub02_page.sub02_2 {
        padding: 6rem 0 10rem;
    }

    .stage_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        row-gap: 1.5rem;
    }

    .stage_box li {
        width: 100%;
        padding: 2rem 1.5rem;
    }

    .stage_box .img_box {
        display: none;
    }

    .select03 {
        height: 4rem;
    }

    textarea {
        width: 100%;
        padding: 1.5rem;
    }

    .agree_cont .white_box {
        padding: 3rem;
        /* 231221 /sub03/sub03_5 */
        padding: clamp(1.5rem, 1.5625vw, 3rem) clamp(0.7rem, 1.5625vw, 3rem);
    }

    .agree_cont .white_box dd {
        font-size: 1.3rem;
        /* 231221 /sub03/sub03_5 */
        padding-left: clamp(1.5rem, 1.5625vw, 3rem);
    }

    .agree_cont .white_box dd .sub_tit {
        font-size: 1.4rem;
    }

    /* 231221 /sub03/sub03_5 */
    .agree_cont .white_box dd::before {
        top: 1rem;
        left: 0.7rem;
    }

    .select02,
    .input_form input[type=text],
    .select02 .select_box .select_box_inner li {
        width: 100%;
        /* border-radius: 0.5rem; */
    }

    .email_box>span {
        padding: 0 0.5rem;
    }

    .sec04 .radio_box {
        gap: 3rem;
    }

    .sec05 .radio_box {
        gap: 3.4rem;
        justify-content: flex-start;
    }

    .select03 {
        margin: 1rem 0 0;
    }

    .radio_box.corp_chk {
        grid-template-columns: repeat(2, 1fr);
        gap: clamp(1rem, 1.0417vw, 2rem);
    }

    .radio_box.corp_chk span.img_box .img_hover {
        display: block;
    }

    .radio_box.corp_chk.n2 {
        padding-top: 0;
        margin-top: 2rem;
        border-top: unset;
    }

    .corp_wrap {
        padding: 4rem;
    }

    .corp_chk span.title {
        padding: 1.7rem 0 1.2rem;
        font-size: 1.5rem;
    }

    .corp_wrap .logo_box img {
        max-width: 8.5rem;
    }

    .stage_box li {
        width: 90%;
    }

    .stage_box li.n2::after {
        content: '';
        position: absolute;
        background: url(../../../../img/cms/common/ic_arrow_right_defult_gray2.webp) no-repeat center / 1.8rem;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
        right: -10%;
    }

    .stage_box li.n3 {
        margin: 0 5%;
    }

    .stage_box li.n3::before {
        display: none;
    }

    .stage_box li.n4 {
        margin-left: 5%;
    }

    .stage_box li .step {
        font-size: 1.2rem;
    }

    .agree_cont .white_box dd.info_tit::before {
        top: 0;
        left: 0;
    }

    .sub02_2 .sec02 .gray_txt_box {
        margin-top: 1.5rem;
    }

    .sub02_2_2 .white_box {
        margin-top: 3rem;
        padding: 4rem 1.5rem 3rem;
    }

    .benefit_img_wrap .swiper-slide .sub_white_box {
        padding: 1.5rem 2.8rem 3.7rem;
    }
}

@media screen and (max-width: 650px) {
    .radio_box.work_chk {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .radio_box.work_chk img {
        display: none;
    }

    .radio_box.work_chk.n2 {
        padding-top: 2rem;
        margin-top: 0;
        border-top: unset;
    }

    .corp_wrap {
        padding: 2rem;
        border-radius: 1rem;
    }

    .stage_box li+li::before {
        background: url(../../../../img/cms/common/ic_arrow_right_defult_gray2.webp) no-repeat center / 1rem;
        width: 1rem;
        height: 1rem;
        left: -7%;
    }

    .stage_box li.n2::after {
        background: url(../../../../img/cms/common/ic_arrow_right_defult_gray2.webp) no-repeat center / 1rem;
        width: 1rem;
        height: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .stage_box li+li::before {
        left: -11%;
    }
}