.mypage_wrap .page_title_box {
    position: relative;
    background-color: #e1e3f9;
}
.privacy_txt {
    font-size: clamp(1.7rem, 1.3542vw, 2.6rem);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.1rem;
    text-align: center;
    color: #222;
    margin-top: clamp(3.5rem, 5.2083vw, 10rem);
}
.privacy_cont {
    margin-top: clamp(7rem, 7.2917vw, 14rem);
}
.policy_cont {
    margin-top: clamp(6rem, 6.2500vw, 12rem);
}
.privacy_tit {
    font-size: clamp(2.3rem, 2.3958vw, 4.6rem);
    font-weight: bold;
    letter-spacing: -0.2rem;
    color: #000;
    text-align: center;
}
.mypage_wrap .agreement_page {
    padding-bottom: clamp(10rem, 8.8542vw, 17rem);
    margin: 0 clamp(1.5rem, 1.5625vw, 3rem);
}
.mypage_wrap .agreement_page .sec01 .white_box {
    max-width: 139.6rem;
    padding: clamp(1.3rem, 4.1667vw, 8rem);
    margin: 0 auto;
    margin-top: clamp(1.5rem, 2.0833vw, 4rem);
    text-align: left;
}
/* .mypage_wrap .agreement_page.policy .sec01 .white_box {
    text-align: left;
} */
ol li, .round_num {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.1rem;
    color: #222;
}
/* 이용약관 */
.policy_tit {
    border-bottom: 1px solid;
    padding: 1rem 0;
    font-size: clamp(1.5rem, 1.1458vw, 2.2rem);
    font-weight: bold;
    letter-spacing: -0.1rem;
    margin-bottom: clamp(1.3rem, 1.7708vw, 3.4rem);
}
.policy_tit:not(.n1) {
    margin-top: clamp(3rem, 3.1250vw, 6rem);
}
.policy_wrap li,
.privacy_wrap li {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.1rem;
    color: #222;
}
.policy_wrap ol + ol {
    margin-top: clamp(3rem, 3.1250vw, 6rem);
}
.policy_wrap ol li + li {
    margin-top: 0.8rem;
}
.policy_wrap ol li span {
    margin-right: 0.5rem;
}
.sub_policy h6 {
    font-size: clamp(1.5rem, 1.1458vw, 2.2rem);
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.05rem;
    color: #000;
}
.policy_txt {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: -0.1rem;
    color: #222;
    margin-bottom: clamp(1.5rem, 1.7708vw, 3.4rem);
}
.policy_txt.type02{
    margin-bottom: 0;
}
.sub_policy p,
.sub_policy ol li {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    letter-spacing: -0.1rem;
    color: #222;
    margin-top: 1.4rem;
    margin-bottom: 2.8rem;
}
.sub_policy ol li {
    line-height: 1.72;
}
.sub_policy li + li {
    margin-top: clamp(3rem, 3.9063vw, 7.5rem);
}
.sub_policy dt {
    font-size: clamp(1.5rem, 1.0417vw, 2rem);
    font-weight: bold;
    letter-spacing: -0.1rem;
    color: #616161;
    margin-top: 3.8rem;
}
.sub_policy dd {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    letter-spacing: -0.1rem;
    margin-top: 1.4rem;
}
.sub_table {
    margin-top: clamp(3rem, 3.3854vw, 6.5rem);
    padding-top: clamp(3rem, 3.3854vw, 6.5rem);
    position: relative;
}
.sub_table::before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 1px;
    background: rgba(183, 183, 183, 0.5);
}
.sub_table h6 {
    font-size: clamp(1.5rem, 1.1458vw, 2.2rem);
    font-weight: bold;
    letter-spacing: -0.1rem;
}
.sub_table p {
    font-size: clamp(1.5rem, 1.0417vw, 2rem);
    font-weight: bold;
    letter-spacing: -0.1rem;
    color: #000;
    margin-top: clamp(2.5rem, 3.1250vw, 6rem);
}
.sub_table dt {
    font-size: clamp(1.5rem, 1.0417vw, 2rem);
    font-weight: 500;
    letter-spacing: -0.1rem;
    color: #515e78;
    margin-top: 2.4rem;
}
/* .sub_table dd {

} */
.sub_table span {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    letter-spacing: -0.1rem;
    color: #515e78;
    position: relative;
    display: flex;
    height: 2.5rem;
    padding-left: 2.7rem;
    align-items: center;
}
.sub_table span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../../../img/cms/sub/agree/ic_star_blue_small.webp) no-repeat center/cover;
    width: 2.5rem;
    height: 2.5rem;
}
.sub_table .sub_tit {
    font-size: clamp(1.5rem, 1.0417vw, 2rem);
    font-weight: 500;
    letter-spacing: -0.1rem;
    color: #515e78;
    margin-top: clamp(1.5rem, 1.0417vw, 2rem);
}
.ref_highlight {
    margin-top: clamp(2rem, 2.6042vw, 5rem);
    margin-bottom: clamp(0.7rem, 0.7292vw, 1.4rem);
}
.indent01 {
    text-indent: clamp(-1.3rem, -1.0417vw, -2rem);
    text-indent: -2rem;
    padding-left: clamp(1.3rem, 1.0417vw, 2rem);
}
.indent01 dl {
    padding-left: clamp(1.3rem, 1.0417vw, 2rem);
}
.indent01 dd {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    line-height: 1.5;
    color: #222;
}
dd.dot_tit {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    letter-spacing: -0.1rem;
    line-height: 1.72;
    color: #222;
    padding-left: clamp(1.5rem, 1.0417vw, 2rem);
    position: relative;
}
dd.dot_tit:not(.no_tit) {
    margin-bottom: clamp(0.7rem, 0.7292vw, 1.4rem);
}
dd.dot_tit::before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    height: 4px;
    background-color: #000;
    border-radius: 50%;
    top: 1.7rem;
    left: 0.7rem;
}
dd.dot_tit.n2 {
    margin-top: clamp(2rem, 2.6042vw, 5rem);
}
dd.dot_tit li {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    letter-spacing: -0.1rem;
    line-height: 1.72;
    color: #222;    
}
.table_layout.n1 {
    margin-top: clamp(2rem, 2.3958vw, 4.6rem);
}
.privacy_wrap .table_layout.n1 {
    margin-top: clamp(0.7rem, 0.7292vw, 1.4rem);
}
.table_layout.n1 td {
    height: 8.5rem;
}
.table_layout.n2:not(.ref) {
    margin-top: clamp(1.8rem, 1.6667vw,3.2rem);
}
.table_layout.n2 td {
    height: 10rem;
}
.sub_table dt.n1 {
    margin-bottom: clamp(0.7rem, 0.7292vw, 1.4rem);
}
span.table_ref {
    font-size: clamp(1.3rem, 0.8333vw, 1.6rem);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.1rem;
    color: #515e78;
    float: right;
    margin-right: 0.5rem;
}
span.table_ref::before {
    display: none;
}
.ref_txt {
    display: block;
    margin-top: clamp(2rem, 2.6042vw, 5rem);
}
.ref_policy .indent01 li {
    margin: 0;
}
/* 개인정보 */
.privacy_wrap .round + li:not(.table) {
    margin: clamp(1.3rem, 1.7708vw, 3.4rem) 0;
}
.privacy_wrap .round + li.no_btm {
    margin: clamp(1.3rem, 1.7708vw, 3.4rem) 0 0;
}
.no_btm {

}
.privacy_wrap .round.dropdown {
    margin-bottom: clamp(0.7rem, 0.7292vw, 1.4rem);
}
.index_num li.idx_txt:not(.type02) {
    text-indent: -2rem;
    padding-left: clamp(1.3rem, 1.0417vw, 2rem);
}
.index_num li + li {
    margin-top: clamp(1.3rem, 1.7708vw, 3.4rem);
}
.privacy_wrap .dot_tit {
    padding-left: clamp(1.3rem, 1.0417vw, 2rem);
    position: relative;
}
.privacy_wrap .dot_tit::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    top: clamp(0.7rem, 0.7292vw, 1.4rem);
    left: 5px;
}
/* .idx_txt dl {
    text-indent: -0.1%;
} */
.idx_txt dt {
    margin-top: clamp(0.7rem, 0.7292vw, 1.4rem);
    margin-bottom: 0.4rem;
}
.idx_txt dt.dt_tit {
    font-size: clamp(1.5rem, 1.0417vw, 2rem);
}
.idx_txt dd {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    line-height: 1.72;
}
.idx_txt dd.pad_txt {
    padding-left: clamp(1.3rem, 1.0417vw, 2rem);
}
.idx_sub {
    display: block;
    padding-left: clamp(1.3rem, 1.0417vw, 2rem);
}
.privacy_wrap .idx_txt.type02 .num_tit {
    font-size: clamp(1.5rem, 1.0417vw, 2rem);
    font-weight: 500;
    line-height: 1;
    margin-bottom: clamp(0.7rem, 0.7292vw, 1.4rem);
    display: inline-block;
}
.privacy_wrap .idx_txt.type02 .num_tit.n1 {
    display: inline-block;
    margin-top: clamp(1.5rem, 1.0417vw, 2rem)
}
.privacy_wrap .idx_txt.type03 {
    margin-top: 0;
}
.privacy_wrap .idx_txt.type04 {
    margin-bottom: clamp(1.5rem, 2.0833vw, 4rem);
}
.privacy_wrap .table_layout.pc_1024.n1{
    margin-top: 1.4rem;
}
/* .txt_indent {
    text-indent: clamp(-1.3rem, -1.0417vw, -2rem);
    padding-left: clamp(1.3rem, 1.0417vw, 2rem);
} */
li.round:not(.table) {
    text-indent: -2rem;
    padding-left: clamp(1.3rem, 1.0417vw, 2rem);
}
.round .dot_step dt,
.round .dot_step dd {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    line-height: 1.5;
    letter-spacing: -0.04rem;
    color: #222;
}
.round .dot_step dd {
    padding-left: 1%;
}
.round .dot_step dd:not(.step_sub) {
    padding-left: 1.5%;
    position: relative;
}
.round .dot_step dd:not(.step_sub)::before {
    content: '';
    position: absolute;
    top: 1.3rem;
    left: -0.5%;
    width: 3px;
    height: 3px;
    background-color: #222;
    border-radius: 50%;
}
.round .dot_step.n1 { 
    margin-top: clamp(1.5rem, 1.0417vw, 2rem);
}
.round .num_list {
    margin-top: clamp(1.5rem, 1.0417vw, 2rem);
}
.round .num_list li {
    text-indent: -1%;
    padding-left: 1%;
}
.privacy_wrap .round + li.type02 {
    margin: 0;
}
.grey_box {
    padding: clamp(2.5rem, 3.1250vw, 6rem);
    margin-top: clamp(1.5rem, 2.0833vw, 4rem);
    border-radius: 3rem;
    background-color: #fafafa;
}
.grey_box .grey_tit {
    font-size: clamp(1.5rem, 1.1458vw, 2.2rem);
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: -0.04rem;
    color: #616161;
}
.grey_box .grey_tit.n2 {
    margin-top: clamp(2rem, 2.6042vw, 5rem);
}
.grey_box p {
    margin-top: clamp(0.7rem, 0.7292vw, 1.4rem);
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    letter-spacing: -0.1rem;
    line-height: 2.4rem;
    color: #222;
}
.grey_box img {
    width: 2.4rem;
}
.grey_box a,
.grey_box a span {
    margin-top: 2rem;
    color: #9e9e9e;
    line-height: 1;
    letter-spacing: -0.1rem;
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem)
}
.grey_box a span {
    text-decoration: underline;
}
.idx_txt .dot_info {
    position: relative;
    padding-left: clamp(1.3rem, 1.0417vw, 2rem);
}
.idx_txt .dot_info::before {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    position: absolute;
    background-color: #000;
    border-radius: 50%;
    top: clamp(0.7rem, 0.7292vw, 1.4rem);
    left: 5px;
}
.blue_box {
    padding: clamp(1.5rem, 2.0833vw, 4rem) 0;
    border-radius: clamp(0.5rem, 0.5208vw, 1rem);
    background-color: #ebf4ff;
    margin: 0 auto;
    text-align: center;
}
.blue_tit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: clamp(1.8rem, 1.8229vw, 3.5rem);
}
.blue_tit h5 {
    font-size: clamp(1.7rem, 1.3542vw, 2.6rem);
    font-weight: bold;
    letter-spacing: -0.1rem;
    color: #000;
}
.blue_tit img {
    max-width: clamp(2.5rem, 3.1250vw, 6rem);
    margin-right: clamp(0.5rem, 0.6771vw, 1.3rem);
}
.blue_cont {
    display: flex;
    justify-content: center;
}
.blue_cont li {
    text-align: left;
}
.blue_cont li + li {
    padding-left: clamp(1.8rem, 1.8229vw, 3.5rem);
    margin-left: clamp(1.8rem, 1.8229vw, 3.5rem);
    position: relative;
}
.blue_cont li + li::before {
    content: "";
    width: 1px;
    height: clamp(1.5rem, 2.0833vw, 4rem);
    background-color: #dfe2e9;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.blue_cont h6,
.blue_cont p,
.blue_cont a {
    font-size: clamp(1.3rem, 0.8333vw, 1.6rem);
    font-weight: 500;
    letter-spacing: -0.1rem;
    color: #515e78;
}
.blue_cont h6 {
    margin-bottom: 0.5rem;
}
.blue_cont p {
    font-weight: normal;
}
.blue_cont p span {
    font-size: clamp(1.5rem, 1.0417vw, 2rem);
    font-weight: bold;
    letter-spacing: -0.04rem;
    line-height: 1.5;
    color: var(--mainColor);
}
.blue_cont a {
    font-weight: normal;
    color: #499bff;
    margin: 0;
}
.round .toggle_box {
    margin-top: 1.4rem;
}
.select02 {
    height: clamp(4rem, 3.1250vw, 6rem);
    padding: 0 clamp(1.2rem, 1.0417vw, 2rem);
}
.select02 .fake_selected {
    /* font-size: clamp(1.3rem, 1.0417vw, 2rem); */
}
.select02 .select_box .select_box_inner li a {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
}
.table_layout th, .table_layout td {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
}
td.check_txt_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: clamp(3rem, 3.3854vw, 6.5rem) 0;
}
td.check_txt_box .gray_txt_box02 {
    padding: 1rem 0 0 2.5rem;
    color: #000;
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    text-align: left;
}
.table_layout.mo .table_body tr td {
    font-weight: normal;
}
/* 개인정보처리방침 팝업 */
.pop_cont .pop_inner.type02 {
    max-width: 96rem;
    padding: 0;
}
.pop_cont .cont_header {
    padding: clamp(2rem, 2.6042vw, 5rem) 0 clamp(1.8rem, 1.8229vw, 3.5rem);
    border-bottom: 1px solid rgba(224, 224, 224, 0.3);
}
.popup_list li + li {
    margin-top: clamp(1.5rem, 2.0833vw, 3rem);
}
.pop_cont .cont_inner {
    padding: clamp(3rem, 3.1250vw, 6rem);
    padding-right: clamp(2rem, 2.0833vw, 4rem);
    padding-left: clamp(3.5rem, 5.2083vw, 10rem);
}
.pop_cont .pop_list_tit {
    font-size: clamp(1.5rem, 1.1458vw, 2.2rem);
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: -0.1rem;
    color: #222;
    margin-bottom: clamp(0.8rem, 0.625vw, 1.2rem);
}
.pop_cont p,
.pop_cont dd,
.pop_cont p a,
.pop_cont span {
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    font-weight: normal;
    letter-spacing: -0.1rem;
    line-height: 1.5;
    color: #616161;
    padding-left: 2rem;
}
.pop_cont dd:not(.num),
.pop_cont span {
    padding-left: 0;
}
.pop_cont dd.num {
    text-indent: -1.5rem;
    padding-left: 3.5rem;
}
.pop_cont a {
    display: inline;
    font-size: clamp(1.3rem, 0.9375vw, 1.8rem);
    color: var(--mainColor);
    padding-left: 0.5rem;
}
.pop_cont a.grey_form {
    color: #9e9e9e;
}
.pop_cont .scroll {
    padding-right: clamp(1.8rem, 1.6667vw,3.2rem);
}
.pop_cont .m_top20 {
    margin-top: clamp(1.3rem, 1.0417vw, 2rem);
}
p.dot {
    padding-left: 4rem;
    margin-bottom: 0.4rem;
    position: relative;
}
p.dot::before {
    content: '';
    position: absolute;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #616161;
    top: 1.1rem;
    left: 2.4rem;
}
.pop_cont .grey_box {
    padding: clamp(1.8rem, 1.8229vw, 3.5rem);
}
.pop_cont .grey_box p {
    padding-left: 0;
}
.pop_cont .table_layout th, 
.pop_cont .table_layout td {
    white-space: unset;
}
@media screen and (max-width: 768px) {
    .table_layout .table_head th {
        font-size: 1.3rem;
    }
    dd.dot_tit::before {
        width: 2px;
        height: 2px;
        top: 1rem;
    }
    .grey_box {
        border-radius: 1.5rem;
    }
    .grey_box p {
        line-height: 1.8rem;
    }
    .grey_box img {
        width: 1.8rem;
    }
    /* common */
    .select02 {
        width: 100%;
    }
    .select02 .select_box .select_box_inner li {
        padding: 0.3rem 0 0.3rem 1rem;
    }
    .privacy_wrap .dot_tit::before {
        top: 8px;
        left: -2px;
    }
    .round .dot_step dd:not(.step_sub)::before {
        top: 8px;
        left: -6px;
    }
    td.check_txt_box .gray_txt_box02 {
        padding: 0.5rem 0 0 2.5rem;
    }
    .gray_txt_box02::before {
        top: 0.1rem;
    }
    .indent01,
    li.round:not(.table),
    .index_num li.idx_txt:not(.type02) {
        text-indent: -1.4rem;
    }
    p.dot {
        margin-bottom: 0.2rem;
    }
}
@media screen and (max-width: 600px) {
    .blue_cont {
        flex-direction: column;
    }
    .blue_cont li {
        text-align: center;
    }
    .blue_cont li + li {
        padding-left: 0;
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .blue_cont li + li::before {
        display: none;
    }
    .table_layout.mo + .table_layout {
        margin-top: 2.4rem;
    }
    
}
@media screen and (max-width: 500px) {
    .table_layout th, .table_layout td {
        white-space: normal;
    }
    .gray_txt_box02::before {
        top: 1rem;
    }
    .indent01,
    li.round:not(.table),
    .index_num li.idx_txt:not(.type02) {
        text-indent: -1.3rem;
    }
}

