<!-- 230927 ver -->

<footer class="footer">        
    <div class="top f_b">
        <div class="left f_c">        
            <h2 class="logo mo"><a href="index.html"><img src="resources/img/cms/common/logo_kftc.webp" alt="금융결제원 ci"></a></h2>        
            <nav class="footer_nav">
                <ul class="f_c">                        
                    <li ><a href="#" class="f_c">오시는길<img src="resources/img/cms/common/ic_link_arrow.webp" alt="새창으로 열기"></a></li>
                    <li ><a href="#" class="f_c">이용약관</a></li>
                    <li ><a href="#" class="f_c">개인정보처리방침</a></li>
                    <li ><a href="#" class="f_c">고객서비스 현장<img src="resources/img/cms/common/ic_link_arrow.webp" alt="새창으로 열기"></a></li>
                    <li ><a href="#" class="f_c">저작권정책<img src="resources/img/cms/common/ic_link_arrow.webp" alt="새창으로 열기"></a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="etc f_c">
                <a href="#" class="security f_c">보안 프로그램</a>
                <div class="select family f_c">
                    패밀리 사이트
                    <img src="resources/img/cms/common/ic_arrow_down_gray.webp" alt="더보기" class="on">
                    <img src="resources/img/cms/common/ic_arrow_up_gray.webp" alt="더보기" class="off">
                    <div class="select_box scroll">
                        <ul class="select_box_inner scroll">
                            <li><a href="#">계좌이체 PG</a></li>
                            <li><a href="#">계좌정보통합관리</a></li>
                            <li><a href="#">금융인증센터</a></li>
                            <li><a href="#">물품대금결제</a></li>
                            <li><a href="#">오픈플랫폼(은행권)</a></li>
                            <li><a href="#">은행조회서 발급</a></li>
                            <li><a href="#">EXR(국가간ATM • 송금)</a></li>
                            <li><a href="#">어음정보센서(Knote)</a></li>
                            <li><a href="#">전자어음(U-note)</a></li>
                            <li><a href="#">비즈지로</a></li>
                            <li><a href="#">이지로</a></li>
                            <li><a href="#">인터넷지로</a></li>
                            <li><a href="#">전자수입인지</a></li>
                            <li><a href="#">카드로택스</a></li>
                            <li><a href="#">나라빌</a></li>
                            <li><a href="#">빌링원플러스</a></li>
                            <li><a href="#">지로EDI</a></li>
                            <li><a href="#">카드VAN</a></li>
                            <li><a href="#">트러스빌(전자세금계산서)</a></li>
                            <li><a href="#">현금카드</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="middle f_b">
        <h2 class="logo pc"><a href="index.html"><img src="resources/img/cms/common/logo_kftc.webp" alt="금융결제원 ci"></a></h2>
        <address class="f_b">
            <ul>
                <li class="f_fs">
                    <p class="branch">본 관</p>
                    <p class="address">(우)06220 서울특별시 강남구 논현로 432 (역삼동)</p>
                </li>
                <li class="f_fs">
                    <p class="branch">분당센터</p>
                    <p class="address">(우)13556 경기도 성남시 분당구 정자일로213번길 9 (정자동)</p>
                </li>
            </ul>
            <div class="center_box">
                <div class="f_c">
                    <p>고객센터 안내</p>
                    <a href="tel:1577-5500">1577-5500</a>
                </div>
                <p>(평일 09:00 - 17:45)</p>
            </div>
        </address>
    </div>
    <p class="copy">Copyright 2024. <br class="mo"> KFTC (Korea Financial Telecommunications & Clearings Institute) <br class="mo"> All rightsreserved.</p>
</footer>