<!-- 230927 ver -->
<header class="header f_b">
    <div class="logo f_c">
        <a href="index.html" class="f_c">
            <img src="resources/img/cms/common/logo_cms.webp" alt="금융결제원 로고">
        </a>
    </div>
    <nav class="lnb f_c">
        <ul class="depth1 f_c">
            <li>
                <a href="/resources/html/cms/sub/sub01/sub01_1_1.html">서비스 안내</a>
                <ul class="depth2 f_c">
                    <li>
                        <a href="/resources/html/cms/sub/sub01/sub01_1_1.html">CMS 안내</a>
                        <ul class="depth3">
                            <li><a href="/resources/html/cms/sub/sub01/sub01_1_1.html">CMS 알아보기</a></li>
                            <li><a href="resources/html/cms/sub/sub01/sub01_1_2_1.html">비용 알아보기</a></li>
                            <li><a href="resources/html/cms/sub/sub01/sub01_1_3_1.html">부가 서비스</a></li>
                        </ul>
                    </li>
                    <li><a href="/resources/html/cms/sub/sub01/sub01_2_1.html">CMS 체험</a></li>
                    <li><a href="/resources/html/cms/sub/sub01/sub01_3_1.html">이벤트</a></li>
                    <li><a href="/resources/html/cms/sub/sub01/sub01_4_1.html">협력사 소개</a></li>
                    <li>
                        <a href="/resources/html/cms/sub/sub01/sub01_5_1.html">기타 서비스</a>
                        <ul class="depth3">                                                                                                
                            <li><a href="/resources/html/cms/sub/sub01/sub01_2_1.html">빌링원플러스</a></li>
                            <li><a href="/resources/html/cms/sub/sub01/sub01_2_2.html">트러스빌</a></li>                                
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">서비스 신청</a>
                <ul class="depth2 f_c">
                    <li>
                        <a href="../../../../html/cms/sub/sub02/sub02_1_1_1.html">온라인 신청</a>
                    </li>
                    <li><a href="../../../../html/cms/sub/sub02/sub02_2_1">상담 신청</a></li>
                    <li>
                        <a href="../../../../html/cms/sub/sub02/sub02_3_1_1">신청 방법</a>
                        <ul class="depth3">                                        
                            <li><a href="../../../../html/cms/sub/sub02/sub02_3_1_1">신규 신청</a></li>
                            <li><a href="../../../../html/cms/sub/sub02/sub02_3_2">CMS 현금영수증</a></li>                                
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">서비스 지원</a>
                <ul class="depth2 f_c">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">자료실</a></li>
                    <li>
                        <a href="#">CMS Pro</a>
                        <ul class="depth3">
                            <li><a href="#">송수신 프로그램이란</a></li>
                            <li><a href="#">CMS Pro 설치</a></li>
                            <li><a href="#">파일송수신절차</a></li>
                            <li><a href="#">CMS Pro Tip</a></li>
                        </ul>
                    </li>           
                    <li>
                        <a href="#">민원 접수</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">마이페이지</a>
                <ul class="depth2 f_c">
                    <li>
                        <a href="#">이용기관</a>
                        <ul class="depth3">
                            <li><a href="#">이용기관 마이페이지</a></li>
                            <li><a href="../../../../html/cms/sub/sub04/sub04_1_2_1">기본정보관리</a></li>
                            <li><a href="../../../../html/cms/sub/sub04/sub04_1_3_1">승인현황조회</a></li>
                            <li><a href="../../../../html/cms/sub/sub04/sub04_1_4_1">실시간 계좌조회/등록 내역 조회</a></li>
                            <li><a href="/resources/html/cms/sub/sub04/sub04_1_5">센터 확인 불능내역 조회</a></li>
                            <li><a href="/resources/html/cms/sub/sub04/sub04_1_6_1">이용기관 정보 변경 신청</a></li>
                            <li><a href="/resources/html/cms/sub/sub04/sub04_1_7">테스트/서비스 실시 신청</a></li>
                            <li><a href="#">요금조회</a></li>
                            <li><a href="#">서비스 이용현황</a></li>
                            <li><a href="#">보증보험 가입금액 조회</a></li>
                        </ul>
                    </li>                        
                    <li>
                        <a href="#">협력사</a>
                        <ul class="depth3">                                                                                                
                            <li><a href="/resources/html/cms/sub/sub04/sub04_2_1_1">이용기관 정보 조회</a></li>
                            <li><a href="/resources/html/cms/sub/sub04/sub04_2_2_1">이용기관 정보 변경</a></li>
                            <li><a href="/resources/html/cms/sub/sub04/sub04_2_3_1">협력사 영업장려금</a></li>
                            <li><a href="/resources/html/cms/sub/sub04/sub04_2_4_1">협력사 정보 관리</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">참가기관</a>
                        <ul class="depth3">                                                                                                
                            <li><a href="../../../../html/cms/sub/sub04/sub04_3_1">회원정보수정</a></li>
                            <li><a href="#">공지사항</a></li>
                            <li><a href="#">자료실</a></li>
                            <li><a href="../../../../html/cms/sub/sub04/sub04_3_4">실무책임자연락처</a></li>
                            <li><a href="../../../../html/cms/sub/sub04/sub04_3_5">장애대응</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <a href="resources/html/cms/sub/login/login.html" class="btn_login f_c">로그인<img src="resources/img/cms/common/mo_ic_arrow_gray.webp" alt="로그인 가기"></a>        
    <a href="resources/html/cms/sub/login/login_03.html" class="btn_login f_c mo">로그인<img src="resources/img/cms/common/mo_ic_arrow_gray.webp" alt="로그인 가기"></a>
    <button type="button" class="btn_gnb" aria-label="global navigation menu button"></button>
</header>

<nav class="gnb">        
    <div class="gnb_container">
        <ul class="depth1 f_c">
            <li>
                <p class="f_c" data-tab="0">
                    <img src="../../../../img/cms/common/btn_onlinapply_orange.webp" alt="서비스 안내" class="gnb_icon">
                    서비스 안내                    
                    <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="mo open">
                    <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="mo close">
                </p>
                <div class="depth2_wrap">
                    <ul class="depth2">
                        <li>
                            <p class="f_c">
                                CMS 안내
                                <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="open">
                                <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="close">
                            </p>
                            <div class="depth3_wrap">
                                <ul class="depth3">
                                    <li><a href="../../../../html/cms/sub/sub01/sub01_1_1">CMS 알아보기</a></li>
                                    <li><a href="../../../../html/cms/sub/sub01/sub01_1_2_1">비용 알아보기</a></li>
                                    <li><a href="../../../../html/cms/sub/sub01/sub01_1_3_1">부가 서비스</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="../../../../html/cms/sub/sub01/sub01_2_1">CMS 체험</a></li>
                        <li><a href="../../../../html/cms/sub/sub01/sub01_3_1">이벤트</a></li>
                        <li><a href="../../../../html/cms/sub/sub01/sub01_4">협력사 소개</a></li>
                        <li>
                            <p class="f_c">기타 서비스
                                <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="open">
                                <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="close">
                            </p>
                            <div class="depth3_wrap">
                                <ul class="depth3">                                                                                                
                                    <li><a href="../../../../html/cms/sub/sub01/sub01_5_1">빌링원플러스</a></li>
                                    <li><a href="../../../../html/cms/sub/sub01/sub01_5_2">트러스빌</a></li>
                                    
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <p class="f_c" data-tab="1">                    
                    <img src="../../../../img/cms/common/btn_onlinapply_red.webp" alt="서비스 신청" class="gnb_icon">
                    서비스 신청
                    <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="mo open">
                    <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="mo close">
                </p>
                <div class="depth2_wrap">
                    <ul class="depth2">
                        <li>
                            <a href="../../../../html/cms/sub/sub02/sub02_1">온라인 신청</a>
                        </li>
                        <li><a href="../../../../html/cms/sub/sub02/sub02_2_1">상담 신청</a></li>
                        <li>
                            <p class="f_c">신청 방법
                                <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="open">
                                <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="close">
                            </p>
                            <div class="depth3_wrap">
                                <ul class="depth3">                                        
                                    <li><a href="../../../../html/cms/sub/sub02/sub02_3_1_1">신규 신청</a></li>
                                    <li><a href="../../../../html/cms/sub/sub02/sub02_3_2">CMS 현금영수증</a></li>                                
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <p class="f_c" data-tab="2">
                    <img src="../../../../img/cms/common/btn_onlinapply_magenta.webp" alt="서비스 지원" class="gnb_icon">
                    서비스 지원
                    <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="mo open">
                    <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="mo close">                    
                </p>
                <div class="depth2_wrap">
                    <ul class="depth2">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">자료실</a></li>
                        <li>
                            <p class="f_c">CMS Pro
                                <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="open">
                                <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="close">
                            </p>
                            <div class="depth3_wrap">
                                <ul class="depth3">
                                    <li><a href="#">송수신 프로그램이란</a></li>
                                    <li><a href="#">CMS Pro 설치</a></li>
                                    <li><a href="#">파일송수신절차</a></li>
                                    <li><a href="#">CMS Pro Tip</a></li>
                                </ul>
                            </div>
                        </li>           
                        <li>
                            <a href="#" class="f_c">민원 접수</a>                              
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <p class="f_c" data-tab="3">
                    <img src="../../../../img/cms/common/btn_onlinapply_purple.webp" alt="서비스 지원" class="gnb_icon">
                    마이페이지
                    <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="mo open">
                    <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="mo close">
                </p>                
                <div class="depth2_wrap">
                    <ul class="depth2">
                        <li>
                            <p class="f_c">이용기관
                                <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="open">
                                <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="close">
                            </p>
                            <div class="depth3_wrap">
                                <ul class="depth3">
                                    <li><a href="#">이용기관 마이페이지</a></li>
                                    <li><a href="../../../../html/cms/sub/sub04/sub04_1_2_1">기본정보관리</a></li>
                                    <li><a href="../../../../html/cms/sub/sub04/sub04_1_3_1">승인현황조회</a></li>
                                    <li><a href="../../../../html/cms/sub/sub04/sub04_1_4_1">실시간 계좌조회/등록 내역 조회</a></li>
                                    <li><a href="/resources/html/cms/sub/sub04/sub04_1_5">센터 확인 불능내역 조회</a></li>
                                    <li><a href="/resources/html/cms/sub/sub04/sub04_1_6_1">이용기관 정보 변경 신청</a></li>
                                    <li><a href="/resources/html/cms/sub/sub04/sub04_1_7">테스트/서비스 실시 신청</a></li>
                                    <li><a href="#">요금조회</a></li>
                                    <li><a href="#">보증보험 가입금액 조회</a></li>
                                    <li><a href="#">서비스 이용현황</a></li>
                                </ul>
                            </div>
                        </li>                        
                        <li>
                            <p class="f_c">협력사
                                <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="open">
                                <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="close">
                            </p>
                            <div class="depth3_wrap">
                                <ul class="depth3">                                                                                                
                                    <li><a href="/resources/html/cms/sub/sub04/sub04_2_1_1">이용기관 정보 조회</a></li>
                                    <li><a href="/resources/html/cms/sub/sub04/sub04_2_2_1">이용기관 정보 변경</a></li>
                                    <li><a href="/resources/html/cms/sub/sub04/sub04_2_3_1">협력사 영업장려금</a></li>
                                    <li><a href="/resources/html/cms/sub/sub04/sub04_2_4_1">협력사 정보 관리</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <p class="f_c">참가기관
                                <img src="../../../../img/cms/common/ic_arrow_down_black_small.webp" alt="메뉴 열기" class="open">
                                <img src="../../../../img/cms/common/ic_arrow_top_black_small.webp" alt="메뉴 닫기" class="close">
                            </p>
                            <div class="depth3_wrap">
                                <ul class="depth3">                                                                                                
                                    <li><a href="../../../../html/cms/sub/sub04/sub04_3_1">회원정보수정</a></li>
                                    <li><a href="#">공지사항</a></li>
                                    <li><a href="#">자료실</a></li>
                                    <li><a href="../../../../html/cms/sub/sub04/sub04_3_4">실무책임자연락처</a></li>
                                    <li><a href="../../../../html/cms/sub/sub04/sub04_3_5">장애대응</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</nav>