<aside class="sidebar f_c f_d_c">
    <ul class="f_c f_d_c">
        <li>
            <a href="#" class="icon_box f_c f_d_c">
                <div class="img_box">
                    <img src="resources/img/cms/common/icon_side01.webp" alt="온라인 신청" class="img_default">
                    <img src="resources/img/cms/common/icon_hover_side01.webp" alt="온라인 신청" class="img_hover pc">
                </div>
                <p class="txt">온라인 신청</p>
            </a>
        </li>
        <li>
            <a href="#" class="icon_box f_c f_d_c">
                <div class="img_box">
                    <img src="resources/img/cms/common/icon_side02.webp" alt="자료실" class="img_default">
                    <img src="resources/img/cms/common/icon_hover_side02.webp" alt="자료실" class="img_hover pc">
                </div>
                <p class="txt">자료실</p>
            </a>
        </li>
        <li>
            <a href="#" class="icon_box f_c f_d_c">
                <div class="img_box">
                    <img src="resources/img/cms/common/icon_side03.webp" alt="CMSPro 설치" class="img_default">
                    <img src="resources/img/cms/common/icon_hover_side03.webp" alt="CMSPro 설치" class="img_hover pc">
                </div>
                <p class="txt">CMSPro 설치</p>
            </a>
        </li>
        <li>
            <a href="#" class="icon_box f_c f_d_c">
                <div class="img_box">
                    <img src="resources/img/cms/common/icon_side04.webp" alt="마이페이지" class="img_default">
                    <img src="resources/img/cms/common/icon_hover_side04.webp" alt="마이페이지" class="img_hover pc">
                </div>
                <p class="txt">마이페이지</p>
            </a>                
        </li>
        <li>
            <a href="#" class="icon_box f_c f_d_c">
                <div class="img_box">
                    <img src="resources/img/cms/common/icon_side05.webp" alt="Chat" class="img_default pc">
                    <img src="resources/img/cms/common/icon_hover_side05.webp" alt="Chat" class="img_hover pc">
                    <img src="resources/img/cms/common/mo_btn_chat_light_gray.webp" alt="Chat" class="img_hover mo">
                </div>
                <p class="txt">Chat</p>
            </a>
        </li>
    </ul>
    <button type="button" class="btn_top icon_box f_c f_d_c">
        <span class="img_box">
            <img src="resources/img/cms/common/btn_top.webp" alt="탑버튼" class="img_default pc">                
            <img src="resources/img/cms/common/btn_hover_top.webp" alt="탑버튼" class="img_hover pc">                
            <img src="resources/img/cms/common/mo_btn_arrow_top_black_gray.webp" alt="탑버튼" class="img_hover mo">                
        </span>
    </button>
</aside>