/* 로그인페이지 공통 */
.input_form li + li {
    /* margin-top: 1rem; */
    margin-top: clamp(1.7rem, 1.823vw, 3.5rem);
}
.login_page .label01+.label01,
.login_page14 .label02+.label02,
.login_page02 .input_form li + li,
.login_page03 .input_form li + li,
.login_page04 .input_form li + li,
.login_page09 .input_form li + li {
    margin-top: 1rem;
}
.login_page .right .btn+.btn {
    margin-top: 1rem;
}
.white_desc{
    font-size: 1.8rem;
    color: #666;
    padding: 2rem 0 5rem;
}
.white_desc strong{
    color: #000;
}
.login_page .field_tit {
    font-size: 3.6rem;
    font-weight: bold;
    color: var(--mainColor);
    padding: 1rem 0 4.5rem;
    text-align: center;
}
.login_page .field_tit span {
    color: #000;
}
.login_page .tab_menu2 li a {
    font-size: clamp(1.5rem, 1.2500vw, 2.4rem);
    color: #616161;
}
.login_page .tab_menu2 li.on a {
    color: #000;
}
/* 벨 텍스트 박스*/
.bell_txt_box {
    padding: 2.2rem 2.8rem;
    margin: 0 auto 1.4rem;
    background-color: #f2f4f8;
    border-radius: 1rem;
}
.bell_txt_box p {
    color: #616161;
}
.bell_txt_box p::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.5rem;
    background: url(../../../../img/cms/sub/sub04/ic_bell_blue.webp) no-repeat center / cover;
}
/* 벨 텍스트 박스 스타일 2번째 */
.bell_txt_box.type02 {
    text-align: center;
}
.bell_txt_box.type02 p::before{
    display: none;
}
/* 벨 텍스트 박스 스타일 3번째 */
.bell_txt_box.type03 {
    width: fit-content;
    padding: 2.2rem 6rem;
}
.bell_info_txt_box {
    padding: 2.2rem 3rem;
    margin: 0 auto 5.6rem;
    background-color: var(--lightBlue);
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.05);
}
.bell_info_txt_box.type02 {
    margin: 0;
}
.bell_info_txt_box dd {
    color: #666;
}
.bell_info_txt_box dd:not(:last-of-type) {
    margin-bottom: 0.8rem;
}
.bell_info_txt_box dd::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: 0.5rem;
    background: url(../../../../img/cms/sub/login/ic_check_blue.webp) no-repeat center / cover;
}
/* 체크 유의사항 */
.gray_txt_box02 {
    padding: 1rem 0 0 3rem;
}
.gray_txt_box02::before {
    top: 1rem;
    left: 0;
}
.btn_box {
    margin-top: clamp(5rem, 5.2084vw, 10rem);
}

/* 로그인페이지 */
.login_page01 .page_contents ul li+li {
    margin-left: 3rem;
}

.login_page01 .page_contents ul li a {
    flex-direction: column;
    padding: 5rem 6rem;
    background-color: #fff;
    box-shadow: var(--boxShadow01);
    border-radius: 3rem;
    min-width: 40rem;
    transition: all 0.3s;
}

.login_page01 .page_contents ul li .tit {
    font-size: 3rem;
    font-weight: bold;
}

.login_page01 .page_contents ul li .img_wrap  {
    border-radius: 10%;
    padding: 3rem;
    margin: 2.5rem auto 5rem;
    background-color: #fff;
    transition: all 0.3s;
}

.login_page01 .page_contents ul li .btn {
    width: 100%;
    height: 5.5rem;
    font-size: 2.6rem;
    color: #fff;
    background-color: var(--mainColor);
    border-radius: 1rem;
}
.login_page01 .page_contents ul li:hover a{
    background-color: var(--mainColor);    
}
.login_page01 .page_contents ul li:hover .tit{
    color: #fff;
}
.login_page01 .page_contents ul li:hover .img_wrap  {
    border-radius: 50%;
}
.login_page01 .page_contents ul li:hover button{
    background-color: #fff;
    color: #515e78;
    transition: all 0.3s;
}


/* 협력사 로그인 */

.login_page .white_box {
    max-width: 111rem;
    width: 95%;
    margin: 0 auto;
    padding: 1rem 0 12rem;
    flex-direction: column;
}

.login_page .left {
    flex-direction: column;
    margin-right: 1rem;
}

.login_page02 .btn_cert {
    flex-direction: column;
}

.login_page02 fieldset+fieldset {
    margin-top: 6.5rem;
    padding-top: 6.5rem;
    border-top: 1px solid rgba(183, 183, 183, 0.5);
    ;
}

.save_box .btn_passowrd_search {
    color: #666;
}

.save_box .btn_passowrd_search img {
    margin-left: .5rem;
}

.password_label {
    position: relative;
}

.password_label .password_mouse {
    position: absolute;
    bottom:50%;
    right: 2rem;    
    transform: translateY(50%);
    margin: 0;
    padding: 0;
    z-index: 2;
    cursor: pointer;
}
.login_page10 .password_label .password_mouse {
    bottom: 30%;
}
.password_label .password_mouse img{
    max-width: none;
}
.login_page .form_error{
    color: #D8250E;
    margin-top: 1rem;
}
.login_page .form_error.active{
    display: block;
}

/* 이용기관 비밀번호 찾기 */
.login_page05 .white_box{padding-top: 5rem;}
.login_page05 .field_tit{padding: 0 0 2rem;}

.login_page05 .white_box{text-align: center;}
.login_page .save_box span{margin-left: .5rem; color: #666;}
.login_page05 .inputted_box,
.login_page05 .inputted_box ul,
.login_page05 .gray_txt_box{
    max-width: 67.5rem;
    width: 100%;    
}
.login_page05 .inputted_box ul li{
    height: 5rem;
    border-bottom: solid 1px #dfe2e9;
    text-align: left;
}
.login_page05 .inputted_box ul li + li{
    margin-top: 1.5rem;
}
.login_page05 .inputted_box ul li p,
.login_page05 .inputted_box ul li input{
    font-size: 2.2rem;
}
.login_page05 .inputted_box ul li .subject{
    color: #c0c7d5;
    width: 25rem;
}
.login_page05 .inputted_box ul li .con{
    width: calc(99.999% - 25rem);
}
.gray_txt_box{
    border-radius: 1rem;
    padding: 2.5rem 2rem 2.5rem 5rem;
    margin: 4rem auto;
    position: relative;
    background-color: #f2f4f8;
    text-align: left;
}


.login_page05 .gray_txt_box strong{font-weight: 500;}
.gray_txt_box::before{
    content: '';
    display: block;
    width: 2.4rem; height: 2.4rem;
    background: url(../../../../img/cms/sub/login/ic_check_blue.webp) no-repeat center / cover;
    position: absolute;
    top: 2.5rem;
    left: 2rem;
}

/* login06 */
.login_page06 .joint_certificate{
    width: 42rem;
    height: 15rem;
    border-radius: 1rem;
    border: 1px solid #b7b7b7;
    font-size: 2.4rem;
    font-weight: 500;
    color: #666;
}
.login_page06 .joint_certificate:hover{
    color: #000;
    border: solid 1px #000;
}
.login_page06 .joint_certificate:hover img{
    filter: brightness(0);
}
.login_page06 .btn{
    height: 7rem;
}

/* login07 */
.login_page07 .container{
    max-width: 86.5rem;
    width: 100%;
}
.login_page07 .blue_box{
    padding: 1.5rem 3rem;
    margin: 2rem auto 5rem;
    background-color: #ebf4ff;
    border-radius: 1rem;
}
.login_page07 .blue_box p{
    color: #666;
    position: relative;;
}
.login_page07 .blue_box p::before{
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .5rem;
    background: url(../../../../img/cms/sub/login/ic_bell_blue.webp) no-repeat center / cover;
}
.login_page07 .join_box > li + li{
    margin-top: 3rem;
}
.required_label > span:not(.password_mouse):before{
    content: '*';
    color: var(--mainColor);
    position: absolute;
    top: .5rem;
    left: 0;    
}
.login_page07 .label02{
    flex-direction: column;
}
.required_label > span{
    padding-left: 1.5rem;
}
.label02 > span,
span.label02 {
    position: relative;
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    color: #222;
    margin-bottom: 1rem;
}

.login_page07 .label02 span:nth-child(2) {
  padding-left: 0;
}

.login_page07 .label02 span:nth-child(2):before {
    display: none;
}
.label02 + .btn{
    margin-left: 1rem;
}

.login_page07 .gray_txt_box02{
    padding-left: 3rem;
    padding-top: 1rem;
    color: #666;
}
.login_page07 .gray_txt_box02::before{
    left:0;
    top:1rem;
 }

 .email_box .input_txt_type02{
    width: 21rem;
 }
 .email_box > span{
    padding: 0 1rem;
    font-size: clamp(1.6rem, 1.1979vw, 2.3rem);
}
 .login_page07 .select02{
    height: 6rem;
    background-color: transparent;
    border: 1px solid #000;
    justify-content: space-between;
    padding: 0 2rem;
    color: #000;
 }
 .select02{width: 490px; margin: 0;}
 .select03{width: 210px; margin-left: 1rem;}

 .login_page07 .btn_box{
    margin-top: 11rem;
 }
.login_page07 .btn03{height: 5.5rem; box-shadow: none;} 

/* login08 */
.login_page08 .white_box{padding-top: 5rem;}
.login_page08 .field_tit{padding: 0;}
.gray_txt_box02{
    padding: 1rem 0 0 3rem;
    margin: 0;
    background-color: transparent;
    color: #666;
}
.gray_txt_box02 + .gray_txt_box02{margin-top: 2rem;}
.gray_txt_box02::before{
    top: 1rem;
    left: 0;
}
.login_page08 .box a{
    padding-left: 3rem;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    font-weight: 500;
}
.login_page08 .btn{
    margin-top: 5rem;
}

/* login10 */

.login_page10 .join_box {
    margin-top: 2.8rem;
}
.login_page10 .bell_txt_box {
    min-width: 85rem;
}
.login_page12 .bell_txt_box {
    margin-bottom: 3.6rem;
}
.login_page12 .btn.btn02 {
    height: 20rem;
}
.login_page.login_page13 .field_tit {
    padding: 1rem 0;
}
.login_page13 .btn_box {
    margin-top: clamp(3rem, 2.6042vw, 5rem);
}
.login_page13 .white_box {
    padding: 6rem 0 8rem;
}
.login_page13 .txt_wrap {
    flex-direction: column;
}
.login_page13 .tel_num {
    font-weight: 500;
    margin-top: 1.6rem;
    padding-left: 3rem;
}
.login_page14 .container {
    max-width: 65rem;
}

.login_page07 .password_label .password_mouse {
    top: 50%;
    transform: translateY(0);
}
@media screen and (max-width:1024px) {
    .login_page .tab_menu2 {
        display: flex;
    }
}

@media screen and (max-width:768px) {
    .login_page .white_box{
        padding: 1.5rem 2rem 3.5rem;
        width: 100%;        
    }
    
    .login_page .white_box > img{
        max-width: 30rem;
        width: 50%;
    }
    .login_page .box{
        flex-direction: column;
        align-items: center;
    }
    .password_label .password_mouse{
        width: 2.4rem;
        height: 2.4rem;
        right: 1rem;
        bottom: 50%;
    }
    .login_page .white_box form,
    .login_page .left,
    .login_page .right{
        width: 100%;
        align-items: center;
    }
    .login_page .left{margin: 0;}
    .login_page .left label{
        width: 90%;
        margin: 0 auto;
    }
    .save_box .btn_passowrd_search{
        font-size: 1.2rem;
    }
    .save_box .btn_passowrd_search img{
        width: 1.8rem;
    }
    .login_page .save_box{
        margin: 1.5rem auto 3.5rem;
    }
    .login_page04 .save_box{width: 90%;}

    /* login05 */
    .login_page05 .white_box{padding-top: 2.3rem;}
    .login_page05 .field_tit{font-size: 1.8rem; padding-bottom: 0;}
    .login_page05 .white_desc,
    .login_page05 .gray_txt_box{
        font-size: 1.2rem;
    }
    .login_page05 .white_desc{
        padding: 0 0 3rem;
    }
    .login_page05 .inputted_box ul li{height: 3rem;}
    .login_page05 .inputted_box ul li p, 
    .login_page05 .inputted_box ul li input{
        font-size: 1.5rem;
    }
    .login_page05 .inputted_box ul li .subject{
        width: 11rem;;
    }
    .login_page05 .inputted_box ul li .con{
        width: calc(99.999% - 11rem);
    }
    .login_page05 .gray_txt_box {    
        padding: 2.5rem 2rem 2.5rem 4rem;
        margin: 3rem auto 1.5rem;
    }
    .login_page05 .gray_txt_box::before{
        width: 1.8rem;
        height: 1.8rem;
        left: 1.5rem;
    }

    .label02 > span{
        font-size: 1.4rem;
    }
    .join_box label {
        width: 100%;
    }
    .login_page10 .bell_txt_box {
        min-width: unset;
    }
    .password_label .password_mouse img {
        width: 100%;
    }
    .bell_txt_box p {
        font-size: 1.2rem;
    }
    .input_form input[type=text], 
    .input_form input[type=password] {
        width: 100%;
    }
    .login_page03 .page_contents .box ul {
        width: 90%;
    }
    .login_page.login_page12 .form_error.active {
        margin-bottom: 3.5rem;
    }
    .login_page12 .btn.btn02 {
        height: 4rem;
    }
    .login_page .field_tit {
        font-size: 1.8rem;
    }
    .login_page10 .btn_box {
        width: 100%;
    }
    .login_page10 .btn.btn03 {
        width: inherit;
    }
}
@media screen and (max-width: 500px) {
    .bell_txt_box p::before {
        content: '';
        width: 4rem;
        max-width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
    .bell_txt_box.type03 {
        padding: 2rem;
    }
    .bell_txt_box.type03 p.f_c {
        align-items: flex-start;
    }
    .gray_txt_box02 {
        padding: 0.7rem 0 0 2.2rem;
    }
    .gray_txt_box02::before {
        width: 2rem;
        height: 1rem;
    }
    .login_page13 .tel_num {
        padding-left: 2.2rem;
    }
}
