/* css 규칙 */
/* 

- 클래스 네이밍에서는 스네이크 표기법(Snake Case)을 표준으로한다 
- :root 에서 사용한 변수들만 예외로 카멜 표기법(Camel Case)을 사용한다
- 각 태그의 초기화에 관한 파일은 reset.css
- 뮤자인에서 주로 활용하는 클래스명과 사이트 공통으로 사용하는 것들은 musign.min.css
- 헤더,푸터,사이드 등 레이아웃에 관련된 것들은 layout.css
- 각 페이지에 대한 개별 css 파일을 생성한다.

*/




.main_page section {
    width: 100%;
    padding: 0 12rem 11rem;
    max-width: 192rem;
    margin: 0 auto;
}

.main_page .section01 {
    width: 100%;
    padding-left: 0;
}

.main_page .section01>.left {
    max-width: 122.5rem;
    width: 68.1%;
    margin-right: 3rem;
}

.main_page .section01 .left .pagination_box {
    position: absolute;
    left: 12rem;
    bottom: 5rem;
    width: 100%;
    max-width: 20rem;
    justify-content: flex-start;
}

.swiper-pagination {
    display: flex;
    position: static;
    transform: none;
    text-align: left;
    width: auto !important;
}

/* article_type01 */
.article_type01 {
    width: 100%;
    height: 62rem;
    /* padding: 5.5rem 2rem 2rem 11rem; */
    /* background: var(--mainColor); */
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    opacity: 0;
}

.article_type01 {
    /* background: var(--mainColor) url(../../../img/cms/main/bg_rolling_banner01_1.webp) no-repeat bottom right / cover; */
}
.article_type01 img{
    width: 100%;
    height: 100%;
}

.article_type01 .cate {
    color: #f8f8f8;
}

.article_type01 .title {
    color: var(--white);
    padding: 5rem 0 1rem;
}

.article_type01 .date {
    font-size: 2.2rem;
    color: rgba(248, 248, 248, 0.7);
}

.main_page .section01 .right {
    max-width: 54.5rem;
    width: 30.3%;
}

/* article_type02 */

.article_type02,
.article_type03 {
    width: 100%;
    height: 30rem;
    border-radius: 3rem;
    box-shadow: var(--boxShadow01);
    background-color: var(--white);
    padding: 4.5rem 6rem;
    position: relative;
}

.article_type02 {
    padding: 4.5rem 3.5rem 2.5rem;
}

.article_type02 li {
    max-width: 15rem;
    width: 31.33%;
}

.article_type02 .icon_box {
    width: 100%;
    padding: 1.6rem 0;
    border-radius: 1.5rem;
}

.article_type02 .icon_box.n1:hover {
    background-color: #0ac7cc;
}

.article_type02 .icon_box.n2:hover {
    background-color: #088ec4;
}

.article_type02 .icon_box.n3:hover {
    background-color: #776cf8;
}

.article_type02 .title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
    line-height: 1;
}

.article_type02 .title strong {
    font-size: 3rem;
    line-height: 1;
    padding-top: .5rem;
    display: block;
}

.article_type02 .img_box {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    /* background-color: var(--mainColor); */
    margin-bottom: .5rem;
}

.article_type02 .txt_box {
    text-align: center;
    color: #515e78;
}

.article_type02 .txt_box strong {
    font-size: 1.8rem;
}

.article_type02 li:hover .txt_box {
    color: #fff;
}

.article_type03 {
    background-color: #d8eaff;
    padding: 4.5rem 4.5rem 4.5rem 3rem;
}

.article_type03 .rolling_banner {
    height: 5.8rem;
    overflow: hidden;
}

.article_type03 .rolling_banner .swiper-slide {
    height: auto !important;
}

.article_type03 .rolling_banner a {
    display: block;
}

.article_type03 .left {
    align-items: center;
}

.article_type03 .title_box {
    margin-bottom: 2.5rem;
}



.article_type03 .title_box .title {
    font-size: 2rem;
    margin-left: 1rem;
}

.article_type03 .txt_box .subject {
    max-width: 32rem;
    width: 69%;
    font-weight: 500;
    position: relative;
    padding-left: 2rem;
}

.article_type03 .txt_box .subject::before {
    content: '';
    display: block;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: var(--black);
    position: absolute;
    top: 1.3rem;
    left: 0;
}

.article_type03 .txt_box .date {
    color: rgba(78, 78, 78, 0.5);
}

.main_page .section01 .right .article_type03 {
    margin-top: 2rem;
}

.main_page .section01 .right .article_type03 .pagination_box {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
}

.main_page .section01 .right .article_type03 .pagination_box .swiper-pagination-bullet {
    background-color: rgba(0, 100, 221, 0.4);
}

.main_page .section01 .right .article_type03 .pagination_box .swiper-pagination-bullet-active {
    background: var(--mainColor);
}

/* section02 */

.article_type04 {
    position: relative;
    padding-bottom: 7.3rem;
    border-radius: 2rem;
    text-align: center;
}

.article_type04 .title {
    font-weight: 500;
}

/* 
.article_type04 .con_box {
    position: absolute;
    bottom: 4rem;
    right: 4.5rem;
    text-align: right;
}

.article_type04 .con {
    font-size: 1.9rem;
    font-weight: bold;
    line-height: 1;
}

.article_type04 .con strong {
    font-size: 7rem;
}

.article_type04 .con+.con {
    margin-top: 2rem;
} */

.section02 ul {
    width: 100%;
}

.section02 .card {
    max-width: 54.5rem;
    width: 32.33%;
    border-radius: 2rem;
}

.section02 .card01 {
    background-color: #dff9f2;
}

.section02 .card01 strong {
    color: #23c197;
}

.section02 .card02 {
    background-color: #fff6db;
}

.section02 .card02 strong {
    color: #f46d19;
}

.section02 .card03 {
    background-color: #f2f4f8;
}

.section02 .card03 strong {
    color: #2614f3;
}

.section02 .btn_link {
    margin-top: 4.5rem;
}

/* line Banner */
.main_page .line_banner {
    width: 100%;
    padding: 0 0 10rem;
}

.line_banner>div {
    position: relative;
    padding-top: 5.5rem;
    width: 50%;
    height: 27rem;
}

.line_banner .left {
    padding-left: 12rem;
    background-color: #d8eaff;
}

.line_banner .right {
    padding-left: 5.5rem;
    background-color: #e5e2ff;
}

.line_banner .title {
    font-weight: bold;
}

.line_banner .desc {
    color: #666;
    padding: 1rem 0 3rem;
}

.line_banner .btn_box .btn_link {
    margin: 0;
}

.line_banner .btn_box .btn_link+.btn_link {
    margin-left: 1rem;
}

.line_banner>div>img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.line_banner .left>img {
    width: 27.188vw;
    max-width: 52rem;
}

.line_banner .right>img {
    width: 23.021vw;
    max-width: 44rem;
}

/* section03 */

.section03 .container {
    padding: 8rem 0;
    border-radius: 3rem;
    background-color: #f2f4f8;
    overflow: hidden;
}

.section03 .swiper_banner {
    margin: 0 8rem;
    overflow: hidden;
    padding-bottom: 6rem;
}

.section03 .swiper-button-prev,
.section03 .swiper-button-next {
    top: 45%;
}

.section03 .swiper-scrollbar {
    max-width: 70rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 3px;
    border-radius: 5rem;
    background-color: rgba(81, 94, 120, 0.12);
}

.service_box {
    position: relative;
    max-width: 28.5rem;
    width: 100%;
    height: 31rem;
    border-radius: 2rem;
    background-color: #fff;
    padding: 5rem 4rem;
    text-align: center;
    overflow: hidden;
    transition: all 0.5s;
}

.service_box .title {
    font-size: 2.4rem;
    font-weight: bold;
    color: #222;
    transition: all 0.5s;
}

.service_box>.img_box {
    width: 100%;
    /* height: 17rem; */
    border-radius: 50%;
    margin: 2rem auto 0;
    transition: all 0.5s;
    transform-origin: top;
}

.service_box .txt_box {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2.5rem 2rem;
    backdrop-filter: blur(8px);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

.service_box.n1 .txt_box {
    background-color: rgba(48, 34, 208, 0.49);
}

.service_box.n2 .txt_box {
    background-color: rgba(0, 76, 168, 0.5);
}

.service_box.n3 .txt_box {
    background-color: rgba(196, 79, 7, 0.5);
}

.service_box.n4 .txt_box {
    background-color: rgba(26, 155, 121, 0.5);
}

.service_box.n5 .txt_box {
    background-color: rgba(228, 173, 0, 0.5);
}

.service_box.n6 .txt_box {
    background-color: rgba(7, 171, 175, 0.5);
}

.service_box.n7 .txt_box {
    background-color: rgba(3, 126, 175, 0.5);
}
.service_box.n8 .txt_box {
    background-color: rgba(123, 25, 135, 0.49);
}
.service_box.n9 .txt_box {
    background-color: rgba(9, 16, 94, 0.5);
}
.service_box.n10 .txt_box {
    background-color: rgba(67, 77, 98, 0.5);
}


.service_box .txt_box .subject {
    color: #fff;
    font-weight: bold;
}

.service_box .txt_box .con {
    font-size: 1.4rem;
    padding-top: 1rem;
    color: #fff;
}

.service_box .txt_box .btn_link2 {
    margin-top: 2rem;
}

.service_box .txt_box .btn_link2:hover {
    background-color: #fff;
    color: #515e78;
}

.service_box .txt_box .btn_link2:hover .img_box .img_default {
    display: block;
}

/* service_box hover */
.service_box:hover {
    padding-top: 3rem;
}

.service_box:hover .title {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.5);
}

.service_box:hover>.img_box {
    transform: scale(.75);
    background-color: #fff;
    margin-top: 1rem;
}

.service_box:hover img {
    transform: scale(.7);
}

.service_box.n1:hover {
    background-color: #4c3df5;
}

.service_box.n2:hover {
    background-color: var(--mainColor);
}

.service_box.n3:hover {
    background-color: #de5c0b;
}

.service_box.n4:hover {
    background-color: #23c197;
}

.service_box.n5:hover {
    background-color: #f5ba00;
}

.service_box.n6:hover {
    background-color: #0ac7cc;
}

.service_box.n7:hover {
    background-color: #088ec4;
}
.service_box.n8:hover {
    background-color: #a336b0;
}

.service_box.n9:hover {
    background-color: #1a237e;
}

.service_box.n10:hover {
    background-color: #515e78;
}


.service_box:hover .txt_box {
    display: block;
}



/* section04 */
.section04 .container {
    height: 50rem;
}

.section04 .container>div {
    height: 100%;
    border-radius: 2rem;
}

.section04 .left {
    max-width: 97rem;
    width: 57.8%;
    padding: 6rem 4.5rem 7.5rem;
    background-color: #f2f4f8;
    align-items: flex-start;
}

.section04 .left .board_box {
    width: calc((99.999% - 9rem) / 2);
}

.section04 .left .board_box+.board_box {
    margin-left: 9rem;
}

.section04 .right {
    max-width: 68.5rem;
    width: 40.8%;
    padding: 4.5rem;
    background-color: #d8eaff;
}

/* board_box */
.board_box_wrap .title_box {
    margin-bottom: 4rem;
}

.board_box_wrap .title_box .title {
    font-weight: bold;
}


.board_box ul {
    padding-top: 6rem;
    border-top: 1px solid var(--borderColor);
}

.board_box ul li+li {
    margin-top: 2rem;
}

.board_box .subject {
    width: calc(99.999% - 10rem);
    position: relative;
}

.board_box .subject span {
    width: 85%;
    display: block;
}

.board_box .subject .new {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.4rem;
    font-weight: bold;
    width: 2.240vw;
}

.board_box .date {
    color: rgba(78, 78, 78, 0.8);
}


/* customer_center_box 고객센터 */
.customer_center_box .title_box .img_box {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #ffd55d;
}

.customer_center_box .title_box .title {
    font-weight: bold;
    padding-left: 1.5rem;
}

.customer_center_box .btn_info {
    font-size: 1.5rem;
    font-weight: 500;
    color: #515e78;
}

.customer_center_box .btn_info img {
    margin-left: .5rem;
}
.customer_center_box .btn_info img.img_hover{display: none;}
.customer_center_box .btn_info:hover img.img_default{display: none;}
.customer_center_box .btn_info:hover img.img_hover{display: block;}


.customer_center_box .middle {
    padding: 3rem 0 3.5rem;
    position: relative;
}

.customer_center_box .middle>a {
    font-size: 5rem;
    font-weight: bold;
    line-height: 1;
}

.customer_center_box .operating_hours {
    font-size: 2rem;
    padding-top: 1.5rem;
}

.customer_center_box .operating_hours img {
    padding-right: .7rem;
}

.customer_center_box .operating_hours .holiday {
    color: #616161;
    padding-left: 3rem;
}

.customer_center_box .bg_customer_center {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 13.646vw;
    max-width: 26rem;
}

.customer_center_box .bottom ul {
    height: 17rem;
}

.customer_center_box .bottom ul li {
    height: 100%;
    width: calc((99.999% - 3rem) / 3);
}

.customer_center_box .bottom ul li+li {
    margin-left: 1.5rem;
}

.customer_center_box .icon_box {
    height: 100%;
    background-color: #fff;
    border-radius: 1.5rem;
}

.customer_center_box .icon_box:hover {
    background-color: var(--mainColor);
}

.customer_center_box .icon_box .img_box {
    margin-bottom: 1rem;
}

.customer_center_box .icon_box .txt_box {
    font-weight: 500;
    margin-top: 1rem;
}

.customer_center_box .icon_box:hover .txt_box {
    color: #fff;
}

br.mo_ver {
    display: none;
}

.popup_main_slider{
    overflow: hidden;
}
.popup_main {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 54rem;
     height: auto;
     background: #f2f4f8;
     border-radius: 2rem;
     border: 3px solid #747474;
     z-index: 99;
}

.popup_main a {
    display: block;
    width: 100%;
    height: 100%;
}

.popup_main .head {
    height: 6.4rem;
    background: #f2f4f8;
    border-radius: 2rem 2rem 0 0;
    padding: 1.3rem 0 1.2rem 3rem;
}

.popup_main .head .pop_tit {
    font-size: 2.6rem;
    font-weight: 700;
}

.popup_main .pop_box {
    /* height: 3.56rem; */
}

.popup_main .btn_wrap {
    position: static;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    padding: 0 3rem;

}

.popup_main .btn_wrap label {
    position: relative;
    padding-left: 3.2rem;
}

.popup_main .btn_wrap label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid #e0e0e0;
    border-radius: 0.4rem;
}

.popup_main .btn_wrap .btn_today:checked+label::before {
    background: url(../../../img/cms/common/ic_checkbox_pc.webp);
    background-size: cover;
}

.popup_main .btn_wrap .pop_close {
    position: relative;
    padding-right: 3rem;
}

.popup_main .btn_wrap .pop_close:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 2.4rem;
    height: 2.4rem;
    background: url(../../../img/cms/main/btn_close.webp);
    background-size: cover;
}

@media all and (max-width:1440px) {

    .main_page .section01 {
        padding: 0 2rem 12rem 0;
    }

    .article_type01 {
        /* padding-left: 5rem; */
    }

    .main_page .section01 .left .pagination_box {
        left: 5rem;
    }

    /* section04 */
    .section04 .left {
        flex-direction: column;
    }

    .section04 .left .board_box {
        display: none;
    }

    .section04 .left .board_box.on {
        display: block;
    }

    .section04 .left .board_box+.board_box {
        margin-left: 0;
    }

    .section04 .tablet_l {
        display: flex;
        align-items: center;
        padding-bottom: 2rem;
    }

    .section04 .tablet_l,
    .section04 .left .board_box {
        width: 100%;
    }

    .section04 .tablet_l .title:not(.on) {
        color: rgba(0, 0, 0, 0.25);
    }

    .section04 .tablet_l .btn_more_board {
        display: none;
    }

    .section04 .tablet_l .btn_more_board.on {
        display: flex;
    }


    .section04 .board_box_wrap .board_box .title_box {
        display: none;
    }

    .section04 .board_box_wrap .tablet_l .title_box .title.n2 {
        margin-left: 2.4rem;
        padding-left: 2.4rem;
        ;
    }

    .section04 .board_box_wrap .tablet_l .title_box {
        margin-bottom: 0;
    }

    .section04 .board_box_wrap .tablet_l .title_box .title {
        position: relative;
    }

    .section04 .board_box_wrap .tablet_l .title_box .title.n2::before {
        content: '';
        position: absolute;
        top: 55%;
        left: 0;
        transform: translateY(-50%);
        width: 1px;
        height: 2.3rem;
        background-color: #b7b7b7;
    }
}



@media all and (max-width:1280px) {
    .main_page section {
        padding: 0px 5rem 11rem;
    }

    .line_banner .left,
    .line_banner .right {
        padding-left: 5rem;
    }

    /* section03 */
    .service_box {
        height: 29rem;
        padding: 3rem;
    }

    /* section04 */
    .section04 .left {
        width: 53.8%;
    }

    .section04 .right {
        width: 44.8%;
    }



}


@media all and (max-width:1024px) {
    .main_page section {
        padding: 0px 2rem 11rem;
    }

    .main_page .section01 {
        flex-direction: column;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .main_page .section01>.left,
    .main_page .section01>.right {
        width: 100%;
        max-width: none;
        margin: 0;
    }

    .article_type01 {
        border-top-right-radius: 0;
        border-bottom-left-radius: 3rem;
    }

    .main_page .section01 .right {
        padding: 3rem 2rem 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .main_page .section01 .right .article_type02,
    .main_page .section01 .right .article_type03 {
        width: 49%;
    }

    .main_page .section01 .right .article_type03 {
        margin: 0;
    }

    .line_banner>div>img {
        display: none;
    }

    .section04 .container {
        flex-direction: column;
        height: auto;
    }

    .section04 .container>div {
        max-width: none;
        width: 100%;
    }

    .section04 .right {
        margin-top: 2rem;
    }

    .customer_center_box .bottom ul li:nth-child(1){
        display: none;
    }
    .customer_center_box .bottom ul li {
        height: 100%;
        width: calc((99.999% - 1.5rem) / 2);
    }
}


@media all and (max-width:768px) {
    .popup_main {
        max-width: 27rem;
        height: auto;
        border-radius: 1rem;
        border: 1px solid #747474;
    }

    .popup_main .head {
        height: 3.2rem;
        padding: 0.6rem 0 0.6rem 1.5rem;
    }

    .popup_main .head .pop_tit {
        font-size: 1.3rem;
    }

    .popup_main .btn_wrap {
        height: 3.2rem;
        padding: 0 1.5rem;
    }

    .popup_main .btn_wrap label {
        padding-left: 1.6rem;
        font-size: 1rem;
    }

    .popup_main .btn_wrap label::before {
        top: 2px;
        width: 1.2rem;
        height: 1.2rem;
    }

    .popup_main .btn_wrap .pop_close {
        font-size: 1rem;
        padding-right: 1.5rem;
    }

    .popup_main .btn_wrap .pop_close:after {
        top: 2px;
        width: 1.2rem;
        height: 1.2rem;
    }

    .main_page .section01 {
        padding: 0 0 7.5rem;
    }

    .main_page section {
        padding: 0 2rem 7.5rem;
    }

    .article_type01 {
        height: auto;
        /* padding: 3.2rem 2rem; */
        /* height: 45rem; */
        /* background: var(--mainColor) url(../../../img/cms/main/mo_img_main_illustration.webp) no-repeat bottom -.5rem right / 88.889vw; */
    }

    .article_type01 .cate,
    .article_type01 .date {
        font-size: 1.2rem;
    }

    .article_type01 .title {
        font-size: 2.8rem;
        padding: 2.3rem 0 1rem;
    }

    .main_page .section01 .left .pagination_box {
        left: 9%;
        bottom: 10%;
    }

    .main_page .section01 .right {
        flex-direction: column;
        padding-top: 3.5rem;
    }

    .main_page .section01 .right .article_type02,
    .main_page .section01 .right .article_type03 {
        width: 100%;
        height: auto;
        min-height: 20.5rem;
    }

    .main_page .section01 .right .article_type02 {
        padding: 2.2rem 2rem 2.3rem;
    }

    .main_page .article_type02 .img_box {
        width: auto;
        height: auto;
    }

    .article_type02 .icon_box {
        padding: 0;
    }

    .article_type02 .icon_box.n1:hover,
    .article_type02 .icon_box.n2:hover,
    .article_type02 .icon_box.n3:hover {
        background-color: transparent
    }

    .article_type02 li:hover .txt_box {
        color: #515e78;
    }

    .article_type02 .title,
    .article_type02 .txt_box,
    .article_type02 .txt_box strong {
        font-size: 1.3rem;
    }

    .article_type02 .title strong {
        font-size: 1.8rem;
    }

    .main_page .article_type02 .img_box img {
        width: 5.4rem;
    }

    .main_page .section01 .right .article_type03 {
        margin-top: 1.5rem;
        padding: 2.7rem 2.3rem 2.5rem;
    }

    .main_page .article_type03 .txt_box .subject {
        max-width: 32rem;
        width: 69%;
        padding-left: 1rem;
    }

    .main_page .article_type03 .left img {
        width: 5.4rem;
    }

    .article_type03 .title_box .title {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .main_page .article_type03 .txt_box .date {
        font-size: 1.3rem;
    }

    .main_page .article_type03 .title_box {
        margin-bottom: 2rem;
    }

    .article_type03 .txt_box .subject::before {
        width: 0.3rem;
        height: 0.3rem;
        top: 0.9rem;
    }

    .main_page .section01 .right .article_type03 .pagination_box {
        position: static;
        transform: none;
        margin-top: 1rem;
    }

    /* section02 */
    .section02 ul {
        flex-direction: column;
    }

    .article_type04 {
        padding-bottom: 3.7rem;
    }

    .article_type04 .title {
        font-size: 1.7rem;
        padding-top: 1rem;
    }

    .section02 .card {
        max-width: none;
        width: 100%;
    }

    .section02 .card02 {
        margin: 1.5rem 0;
    }

    /* line_banner */
    .line_banner .left {
        width: 100%;
        height: auto;
        padding: 3rem 2.5rem;
    }

    .line_banner .right {
        display: none;
    }

    .line_banner .left>img.mo {
        display: block;
        width: 73.611vw;
        right: -2rem;
        max-width: 30rem;
    }

    .line_banner .title {
        font-size: 1.7rem;
    }

    .line_banner .desc {
        font-size: 1.2rem;
    }

    /* section03 */
    .main_page .section03 {
        padding: 0 0 7.5rem;
    }

    .section03 .container {
        padding: 6.5rem 0;
        border-radius: 0;
    }

    .section03 .swiper_banner {
        margin: 0;
        overflow: visible;
        padding-bottom: 3.5rem;
    }

    .section03 .swiper-scrollbar {
        width: 60%;
    }

    .service_box {
        max-width: none;
        height: auto;
        padding: 3rem 1rem;
        max-height: 35rem;
    }

    .service_box .title,
    .service_box:hover .title {
        font-size: 1.7rem;
    }

    .service_box:nth-child(n) .txt_box {
        display: block;
        position: static;
        background: transparent;
        padding: 0;
        backdrop-filter: unset;
    }

    .service_box .txt_box .subject,
    .service_box .txt_box .con,
    .service_box:hover .title {
        color: #000;
    }

    .service_box:nth-child(n):hover {
        background-color: #fff;
    }

    .service_box .txt_box .btn_link2 {
        margin-top: 2rem;
    }

    .service_box .txt_box .btn_link2:hover {
        background-color: var(--mainColor);
        color: #fff;
    }

    .service_box .txt_box .btn_link2:hover .img_box .img_default {
        display: none;
    }

    .service_box:hover img {
        transform: none;
    }

    .service_box:hover>.img_box {
        transform: none;
        background-color: transparent;
        margin-top: 0;
    }

    .service_box>.img_box {
        margin-top: 0;
        border-radius: unset;
        height: 13.5rem;
    }

    .service_box>.img_box img {
        width: 13.5rem;
    }

    .service_box.n5>.img_box img {
        width: 15rem;
    }

    br.mo_ver {
        display: block;
    }

    .section04 .left {
        padding: 3.5rem 2.2rem;
    }

    .board_box .date {
        font-size: 1.3rem;
    }

    .board_box_wrap .title_box .title {
        font-size: 1.9rem;
    }

    .section04 .board_box_wrap .tablet_l .title_box .title.n2 {
        margin-left: 1.2rem;
        padding-left: 1.2rem;
    }

    .section04 .board_box_wrap .tablet_l .title_box .title.n2::before {
        width: 1px;
        height: 12px;
    }

    .board_box ul {
        padding-top: 3.5rem;
    }

    .board_box ul li a {
        flex-direction: column;
        align-items: flex-start;
    }

    .board_box .subject {
        width: 100%;
    }

    .board_box .subject span {
        width: 80%;
    }

    .board_box .subject .new {
        width: auto;
        height: 100%;
    }

    .customer_center_box .title_box .img_box {
        width: 5.4rem;
        height: 5.4rem;
    }

    .customer_center_box .title_box .title {
        padding-left: 1rem;
    }

    .customer_center_box .btn_info {
        font-size: 1.2rem;
    }

    .customer_center_box .middle>a {
        font-size: 2.7rem;
    }

    .customer_center_box .operating_hours .holiday {
        font-size: 1.3rem;
    }

    .section04 .right {
        padding: 4.3rem 2.2rem;
    }

    .customer_center_box .bottom ul {
        height: auto;
    }

    .customer_center_box .bottom ul li {
        width: calc((99.999% - 1.4rem) / 2);
    }

    .customer_center_box .bottom ul li+li {
        margin-left: .7rem;
    }

    .customer_center_box .bg_customer_center {
        width: 35.972vw;
        right: -2.2rem;
        max-width: 20rem;
    }

    .customer_center_box .icon_box,
    .customer_center_box .icon_box:hover {
        background-color: #fafafa;
    }

    .customer_center_box .icon_box {
        padding: 2.1rem 0;
    }

    .customer_center_box .icon_box .txt_box {
        margin-top: 0;
    }

    .customer_center_box .icon_box:hover .txt_box {
        color: #000;
    }

    .customer_center_box .icon_box .img_box .img_default,
    .customer_center_box .icon_box:hover .img_box .img_default {
        display: none;
    }

    .customer_center_box .icon_box .img_box .img_hover.mo,
    .customer_center_box .icon_box:hover .img_box .img_hover.mo {
        display: block;
        width: 5.6rem;
    }
}